<section id="vrz-steps">
    <form action="#">
        <div class="container-wide">
            <div class="row">
                <div class="col-12">
                    <h3 class="vrz-main-title">Оформити поліс подорожуючих за кордон ОНЛАЙН</h3>

                </div>
            </div>
        </div>
        <div class="container-wide">
            <div class="row">
                <div class="col-12">

                    <div class="table-blocks">
                        <div class="table-col table-col-transp">
                            <div class="table-col-title">

                            </div>
                            <div class="table-col-td">Медичні витрати </div>
                            <div class="table-col-td">Франшиза</div>
                            <div class="table-col-td">Нещасний випадок</div>
                            <div class="table-col-td">Активний відпочинок</div>
                            <div class="table-col-td">Спорт (дайвінг/лижі/сноуборд)</div>
                            <div class="table-col-td">Додаткове медичне страхуваня в Україні</div>
                            <div class="table-col-td">Відміна/затримка рейсу понад 4 годин</div>
                        </div>
                        <div class="table-col table-col-orange">
                            <div class="table-col-title">ВІДПОЧИНОК</div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Медичне страхування страхування</div>
                                <div class="td-info">30 000 <sup class="table-currency">EUR</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Франшиза</div>
                                <div class="td-info">50 <sup class="table-currency">EUR</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Нещасний випадок</div>
                                <div class="td-info">1 000 <sup class="table-currency">грн</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Активний відпочинок</div>
                                <div class="td-info"><img src="images/acces.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Спорт (дайвінг/лижі/сноуборд)</div>
                                <div class="td-info"><img src="images/cancel.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Додаткове медичне страхуваня в Україні</div>
                                <div class="td-info"><img src="images/cancel.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Відміна/затримка рейсу понад 4 годин</div>
                                <div class="td-info"><img src="images/cancel.png" alt=""></div>
                            </div>
                            <div class="table-col-td table-col-total">

                                <div class="td-info">1 099 <sup class="table-currency">грн</sup></div>
                            </div>
                            <div class="table-col-td  table-col-btn">

                                <div class="td-info"><button class="btn btn-table" type="submit" name="third-program">
                                        Купити онлайн </button></div>
                            </div>
                        </div>
                        <div class="table-col table-col-orange">
                            <div class="table-col-title">ЕКСТРІМ</div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Медичне страхування страхування</div>
                                <div class="td-info">30 000 <sup class="table-currency">EUR</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Франшиза</div>
                                <div class="td-info">0</div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Нещасний випадок</div>
                                <div class="td-info">1 000 <sup class="table-currency">грн</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Активний відпочинок</div>
                                <div class="td-info"><img src="images/acces.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Спорт (дайвінг/лижі/сноуборд)</div>
                                <div class="td-info"><img src="images/acces.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Додаткове медичне страхуваня в Україні</div>
                                <div class="td-info">100 <sup class="table-currency">eur</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Відміна/затримка рейсу понад 4 годин</div>
                                <div class="td-info"><img src="images/cancel.png" alt=""></div>
                            </div>
                            <div class="table-col-td table-col-total">

                                <div class="td-info">3 219 <sup class="table-currency">грн</sup></div>
                            </div>
                            <div class="table-col-td  table-col-btn">

                                <div class="td-info"><button class="btn btn-table" type="submit" name="third-program">
                                        Купити онлайн </button></div>
                            </div>
                        </div>
                        <div class="table-col table-col-orange">
                            <div class="table-col-title">БІЗНЕС</div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Медичне страхування страхування</div>
                                <div class="td-info">30 000 <sup class="table-currency">EUR</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Франшиза</div>
                                <div class="td-info">0</div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Нещасний випадок</div>
                                <div class="td-info">1 000 <sup class="table-currency">грн</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Активний відпочинок</div>
                                <div class="td-info"><img src="images/acces.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Спорт (дайвінг/лижі/сноуборд)</div>
                                <div class="td-info"><img src="images/acces.png" alt=""></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Додаткове медичне страхуваня в Україні</div>
                                <div class="td-info">200 <sup class="table-currency">eur</sup></div>
                            </div>
                            <div class="table-col-td">
                                <div class="td-subtitle">Відміна/затримка рейсу понад 4 годин</div>
                                <div class="td-info">500 <sup class="table-currency">eur</sup></div>
                            </div>
                            <div class="table-col-td table-col-total">

                                <div class="td-info">5 076 <sup class="table-currency">грн</sup></div>
                            </div>
                            <div class="table-col-td  table-col-btn">

                                <div class="td-info"><button class="btn btn-table" type="submit" name="third-program">
                                        Купити онлайн </button></div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </form>
</section>
