@media screen and (max-width:1020px) {
    .covid-page .advantage-blck {
        margin-bottom: 80px;
    }
    .covid-page .icon-col {
        width: 33%;
    }
    .covid-list-pref {
        margin-top: 30px;
    }
    .covid-list-pref .advantage-blck {
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .covid-page .advantage-blck-submit {
        margin: 0 auto 10px;
    }
}

@media screen and (max-width:768px) {
    .covid-page .icon-col {
        width: 50%;
    }
    .covid-list-pref {
        margin-top: 0px;
    }
    .leadership-title {
        padding-top: 20px !important;
        margin-top: 40px;
    }
    .constructor-page .icon-img {
        margin-bottom: 10px !important;
        height: 90px !important;
    }
}

@media screen and (max-width:480px) {
    .constructor-page .icon-img {
        margin-bottom: 10px !important;
        height: 80px !important;
    }
}