/* Страница поиска */

.result-list-item {
    text-align: left;
    margin-bottom: 40px;
}

.result-list-item .item-title>h4 {
    padding-bottom: 10px;
}

.result-list-item .item-title>h4>a {
    color: #e72d2b;
}

.result-list-item .item-text {
    font-size: 18px;
    line-height: 24px;
    color: #495966;
    padding-bottom: 6px;
}

.result-list-item .item-text>em {
    color: #fff;
    background: #e72d2b;
    padding: 0 1px;
    font-style: normal;
}

.result-list-item .item-info-count {
    display: inline-block;
    width: 100%;
    max-width: 160px;
    color: #e72d2b;
    font-size: 18px;
    line-height: 24px;
}

.result-list-item .item-info-link {
    display: inline-block;
}

.result-list-item .item-info-link a {
    color: #e72d2b;
    font-size: 18px;
    line-height: 24px;
}


/* Страница ничего не найдено */

.search-result-empty h2.title {
    color: #495966;
    position: relative;
    padding-top: 20px;
    margin-bottom: 45px;
}

.search-result-empty h2.title::before {
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 25px);
    width: 50px;
    height: 3px;
    background-color: #e72d2b;
}

.search-result-empty .desc {
    margin-bottom: 60px;
}

.search-result-empty .desc p {
    color: #1c2b39;
}

.search-result-empty form {
    margin-bottom: 50px;
}

.search-result-empty form input {
    width: 100%;
    position: relative;
    padding: 15px 30px;
    max-width: 440px;
    height: 54px;
    border-radius: 26.8px;
    border: solid 2px #a1abb3;
    background-color: #ffffff;
}

.search-result-empty form .input-group {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 440px;
}

.search-result-empty form .input-group-addon {
    position: absolute;
    top: calc(50% - 14px);
    cursor: pointer;
    right: 18px;
    content: "";
    background: url(../images/page-search-empty/search.png) no-repeat center;
    height: 28px;
    width: 29px;
    transition: all 0.5s;
}

.search-result-empty form button {
    width: 220px;
    height: 54px;
    border: 0px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    background-color: #e72d2b;
    cursor: pointer;
    margin: 0 30px;
}


/* Стили для списка записей */

.post .post-title h3 a {
    color: #495966;
    text-transform: none;
}

.post .post-body p {
    color: #1c2b39;
    font-size: 18px;
}

.page .post-content .text-bermuda,
.page .post-content .text-bermuda:active,
.page .post-content .text-bermuda:hover {
    color: #e72d2b !important;
}

.post .post-body .btn-bermuda,
.post .post-body .btn-bermuda:active {
    background: #e72d2b;
    border-color: #e72d2b;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

.page .pagination-classic>li>a {
    background: #d8dcdb;
    border: 2px solid #d8dcdb;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 1.1px;
}

.page .pagination-classic>li.active>a {
    background: #e72d2b;
    border: 2px solid #e72d2b;
}

.page .pagination-classic .mdi-arrow-left-bold,
.page .pagination-classic .mdi-arrow-right-bold {
    background: transparent !important;
    border-color: transparent !important;
}

.page .pagination-classic>li>a {
    border-radius: 50%;
}

.form-search-input {
    margin-left: 0px;
    border-radius: 27px 0 0 27px;
    border: solid 1px #a1abb3;
    color: #a1abb3;
    font-size: 16px;
    line-height: 24px;
}

.form-search-submit {
    border-radius: 27px !important;
    background-color: #e72d2b !important;
    margin-left: -27px !important;
    border: 0px !important;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.33;
    letter-spacing: 1.1px;
    color: #ffffff !important;
    height: 54px;
}

.list-marked a.text-primary,
.list-marked a.text-primary:hover,
.list-marked a.text-primary:active {
    color: #e72d2b !important;
    font-size: 16px;
    line-height: 24px;
}

.list-marked.top1 li:before {
    top: 1px;
}

.list-marked li:before {
    color: #a1abb3 !important;
    top: 8px;
}

.unit-body h6 a {
    font-size: 16px;
    font-weight: 900;
    line-height: normal;
    text-align: left;
    color: #495966 !important;
}

.unit-body>ul>li {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.5;
    text-align: left;
    color: #1c2b39;
}

.unit-body ul>li>a.text-bermuda,
.unit-body ul>li>a.text-bermuda:hover,
.unit-body ul>li>a.text-bermuda:active {
    color: #e72d2b !important;
}


/* Стили для одиночной записи */

.single-post {
    color: #1c2b39;
    font-size: 18px;
    line-height: 24px;
}


/* Страница О КОМПАНИИ */

#parallax {
    color: #fff;
    height: 100%;
    margin-bottom: 60px;
}

#parallax .parallax-content,
#parallax .bg-overlay-darker {
    width: 100%;
    height: 100%;
}

#parallax .bg-overlay-darker {
    padding: 60px 0 75px;
}

#parallax h3 {
    font-weight: bold;
    margin: 20px auto;
    text-transform: uppercase;
    letter-spacing: normal;
}

#parallax p {
    font-weight: normal;
    max-width: 1024px;
    margin: auto;
}


/* Тех помощь */

section.wrap {
    margin: 60px auto 60px;
}

.faq-title {
    color: #00ae81;
    /* font-size: 40px; */
    font-weight: 600;
    line-height: 40px;
}

.faq-list .card-corporate .card-title a {
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 10px;
    background-color: #00ae81;
    border: 0px;
    overflow: hidden;
}

.faq-list .card-corporate .card-body {
    border: 0px;
    padding: 15px 44px 15px 23px;
}

.faq-list .card-corporate .collapse {
    border: 0px;
}

.faq-list .card-corporate {
    box-shadow: none;
}

.faq-list .card-corporate .card-plus {
    background: #00ae81;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    top: 0;
    bottom: -1px;
    right: -1px;
    z-index: 2;
    width: 70px;
}

.faq-list .card-corporate .card-title a .card-plus:after {
    opacity: 1;
    visibility: visible;
}

.faq-list .card-corporate .card-plus::after,
.faq-list .card-corporate .card-plus::before {
    transition: all 1s;
    content: "";
    position: absolute;
    top: 50%;
    z-index: 4;
    background: #fff;
}

.faq-list .card-corporate .card-plus::before {
    width: 20px;
    height: 2px;
    right: 28px;
}

.faq-list .card-corporate .card-plus::after {
    width: 20px;
    height: 2px;
    right: 28px;
}

.faq-list .card-corporate .card-plus::after {
    transition: all 1s;
}

.faq-list .card-corporate .collapsed .card-plus::after {
    transform: rotate(270deg);
    transition: all 1s;
}

.faq-list .card-corporate .collapsed .card-plus::before {
    transform: rotate(180deg);
    transition: all 1s;
}

.faq-list .card-body {
    color: #1c2b39;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.faq-list .card-body p {
    margin-bottom: 25px;
}

.faq-list .card-body a {
    display: inline-block;
    color: #00ae81;
    text-decoration: underline;
}

.faq-list .card-body ul li {
    position: relative;
    padding-left: 20px;
}

.faq-list .card-body ul li::before {
    content: "•";
    color: rgb(0, 174, 129);
    font-size: 35px;
    left: 0px;
    top: -5px;
    position: absolute;
}

#page-content {
    padding: 110px 0 0px 0;
}


/* Стили при цветовых отличиях */

#page-content.style-turquoise .page-info-title::before {
    background-color: #068598;
}

#page-content.style-turquoise .wrap-icons .page-icons-title,
#page-content.style-turquoise .page-info-list-title,
#page-content.style-turquoise .page-info-list ul li::before,
#page-content.style-turquoise #page-info-footer .page-info-footer-contacts a,
#page-content.style-turquoise #page-info-footer .page-info-footer-title span,
#page-content.style-turquoise #page-info-footer .page-info-footer-contacts p,
#page-content.style-turquoise .faq-title {
    color: #068598;
}

#page-content.style-turquoise .faq-list .card-corporate .card-title a,
#page-content.style-turquoise .faq-list .card-corporate .card-plus {
    background-color: #068598;
}


/* Добавочные стили в аккардеоне */

.faq-list .card-body {
    padding: 0 10px !important;
}

.tech-assistance-wrap {
    margin-top: 22px;
    background-color: #edf2f1;
    padding: 32px 32px 7px;
}

.tech-assistance-wrap .item-title {
    margin-bottom: 45px;
}

.tech-assistance-wrap .item-title .item-title-icon {
    width: 193px;
    text-align: center;
}

.tech-assistance-wrap .item-title .item-title-text {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    color: #068598;
}

.tech-assistance-wrap .item-content {
    font-size: 24px;
    line-height: 1.33;
    color: #1c2b39;
}

.tech-assistance-wrap .item-content b {
    color: #068598;
}

.tech-assistance-wrap .item-content .service-list ul {
    display: block;
}

.tech-assistance-wrap .item-content .service-list ul li::before {
    content: none !important;
}

.tech-assistance-wrap .item-content .service-list {
    margin-bottom: 25px;
}

#page-info-footer {
    text-align: center;
    padding: 20px 0 0;
}

#page-info-footer .page-info-footer-title span {
    color: #00ae81;
    font-weight: 700;
    margin-bottom: 90px;
}

#page-info-footer .page-info-footer-contacts {
    line-height: 24px;
    color: #1c2b39;
    font-weight: 400;
    max-width: 1550px;
    margin: auto;
}

#page-info-footer .page-info-footer-contacts p a {
    line-height: 32px !important;
    color: #00ae81;
    font-size: 2rem !important;
    margin: 10px auto;
    font-weight: 700;
}

#page-info-footer .page-info-footer-contacts a {
    line-height: 32px;
    color: #00ae81;
    font-size: 1.5rem;
    font-weight: 400;
}

#page-info-footer .page-info-footer-contacts-links {
    margin: 20px auto;
}

section.wrap {
    margin: 60px auto 60px;
}

.faq-title {
    color: #00ae81;
    /* font-size: 40px; */
    font-weight: 600;
    line-height: 40px;
}

.faq-list .card-corporate .card-title a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px 20px;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    line-height: 24px;
    border-radius: 10px;
    background-color: #00ae81;
    border: 0px;
    overflow: hidden;
}

.faq-list .card-corporate .card-body {
    border: 0px;
    padding: 15px 44px 15px 23px;
}

.faq-list .card-corporate .collapse {
    border: 0px;
}

.faq-list .card-corporate {
    box-shadow: none;
}

.faq-list .card-corporate .card-plus {
    background: #00ae81;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    top: 0;
    bottom: -1px;
    right: -1px;
    z-index: 2;
    width: 70px;
}

.faq-list .card-corporate .card-title a .card-plus:after {
    opacity: 1;
    visibility: visible;
}

.faq-list .card-corporate .card-plus::after,
.faq-list .card-corporate .card-plus::before {
    transition: all 1s;
    content: "";
    position: absolute;
    top: 50%;
    z-index: 4;
    background: #fff;
}

.faq-list .card-corporate .card-plus::before {
    width: 20px;
    height: 2px;
    right: 28px;
}

.faq-list .card-corporate .card-plus::after {
    width: 20px;
    height: 2px;
    right: 28px;
}

.faq-list .card-corporate .card-plus::after {
    transition: all 1s;
}

.faq-list .card-corporate .collapsed .card-plus::after {
    transform: rotate(270deg);
    transition: all 1s;
}

.faq-list .card-corporate .collapsed .card-plus::before {
    transform: rotate(180deg);
    transition: all 1s;
}

.faq-list .card-body {
    color: #1c2b39;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

.faq-list .card-body p {
    margin-bottom: 25px;
}

.faq-list .card-body a {
    display: inline-block;
    color: #00ae81;
    text-decoration: underline;
}

.advantage .advantage-blck ul li,
.faq-list .card-body ul li {
    position: relative;
    padding-left: 20px;
}

.advantage .advantage-blck ul li::before,
.faq-list .card-body ul li::before {
    content: "•";
    position: absolute;
    color: rgb(0, 174, 129);
    font-size: 35px;
    left: 0px;
    top: -5px;
    line-height: 1;
}

.advantage .advantage-blck ul li::before {}

.advantage .advantage-blck {
    padding: 50px;
    background-color: #edf2f1;
    min-height: 500px;
}

.advantage .advantage-blck .advantage-blck-title {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.advantage .advantage-blck ul li {
    font-size: 18px;
    margin-top: 15px;
}

ul#sliderMenu {
    position: relative;
}

.underline {
    width: 0;
    position: absolute;
    z-index: 10;
    bottom: -1px;
    border-bottom: 3px solid #e72d2b;
    transition: margin-left 0.5s ease-in-out, width 0.3s ease-out 0.08s;
}


/* Стили для блока - Страховые риски */

#page-content .risks {
    margin: 70px auto;
}

#page-content .risks .risks-title {
    margin-bottom: 10px;
    color: #00ae81;
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#page-content .risks .risks-subtitle {
    color: #1c2b39;
    line-height: 32px;
}

#page-content .risks .table th {
    width: 50%;
    color: #00ae81;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    border-bottom-color: #00ae81;
}

#page-content .risks .table tr:nth-child(2) td {
    border-top: 1px solid #00ae81;
}

#page-content .risks .table td {
    text-align: left;
    padding: 36px 25px 15px 15px;
    color: #1c2b39;
    line-height: 32px;
    border-top: 1px solid #73808a;
}

#page-content .risks .table td li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    line-height: 32px;
    color: #1c2b39;
}

#page-content .risks .table td li::before {
    content: "•";
    color: rgb(0, 174, 129);
    font-size: 30px;
    left: 0px;
    top: -3px;
    position: absolute;
}

#page-content .page-info-list ul li {
    text-align: left;
    margin-bottom: 15px;
    position: relative;
    padding-left: 20px;
    line-height: 32px;
    color: #1c2b39;
}

#page-content .page-info-list li::before {
    content: "•";
    color: var(--main-color);
    font-size: 30px;
    left: 0px;
    top: -3px;
    position: absolute;
}

#page-content {
    margin: 20px 0 30px;
}

#page-content h3 {
    text-transform: uppercase;
    font-weight: 600;
}

#page-content .page-info-title {
    padding-top: 20px;
    font-weight: 900;
    text-align: left;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: #495966;
}

#page-content #buy_polis_wrap .lined-header {
    position: relative;
    padding-top: 20px;
    font-weight: 800;
}

#page-content #buy_polis_wrap .lined-header::before,
#page-content .page-info-title::before {
    width: 50px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
    background-color: var(--main-color);
}

#page-content .page-info-text {
    margin-bottom: 50px;
    color: #495966;
    text-align: left;
    max-width: 1520px;
}

#page-content .page-info-text p {
    margin-bottom: 10px;
    color: #73808a;
}

#page-content .page-info-text a {
    color: #00a5b8;
    text-decoration: underline;
}

#page-content .title-b-img-blocks {
    margin-top: 35px;
}

#side-img-blck {
    margin: 60px 0;
    background: #f5f7fd;
}

h3.section-image-aside-title {
    margin-bottom: 30px;
}

.section-image-aside-text p {
    margin-bottom: 10px;
}

.section-image-aside-text {
    padding-top: 25px;
}

#side-img-blck a.btn {
    margin: 60px 0 0px;
}

#side-img-blck .section-image-aside-list {
    margin-top: 10px;
}

#side-img-blck .section-image-aside-list ul li {
    padding-left: 40px;
    position: relative;
    font-size: 18px;
    margin-top: 15px;
}

#side-img-blck .section-image-aside-list ul li::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 8px;
    color: #068598;
    background: url(../images/page-alfa_health/check.png) center center no-repeat;
    width: 24px;
    height: 16px;
}

#page-content .page-info-list-title {
    text-align: left;
    line-height: 40px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #e72d2b;
}

#page-content .page-info p {
    text-align: left;
    color: #1c2b39;
    margin-bottom: 8px;
}

#page-content .wrap-icons {
    background-color: #edf2f1;
    padding: 40px 0 40px;
    margin: 90px auto 50px;
}

#page-content .wrap-icons .page-icons-title {
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
}

#page-content .wrap-icons .page-icons-list .icon-col {
    max-width: 515px;
    padding: 0 20px;
    margin-bottom: 60px;
}

#page-content .wrap-icons .page-icons-list .icon-img {
    margin-bottom: 32px;
    position: relative;
    display: inline-block;
    height: 130px;
}

#page-content .wrap-icons .page-icons-list .page-icons-text h4 {
    color: #1c2b39;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 320px;
    min-width: 205px;
    margin: auto;
    text-transform: uppercase;
}

#page-content .wrap-icons .page-icons-list .page-icons-text {
    color: #1c2b39;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    max-width: 320px;
    margin: auto;
}

#page-content .wrap-icons .page-icons-list .page-icons-text p {
    margin-top: 5px;
}

#side-img-icons {
    margin-bottom: 100px;
    margin-top: 60px;
    background: #f5f7fd;
}

#side-img-icons .section-image-aside-title {
    font-weight: bold;
}

#side-img-icons .section-image-aside-icon-list {
    margin: 20px 0 0;
}

#side-img-icons .section-image-aside-icon-list>div {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    margin-bottom: 30px;
}

#side-img-icons .section-image-aside-icon-list>div:last-child {
    margin-bottom: 0px;
}

#side-img-icons .section-image-aside-icon-list .icon-wrap {
    width: 90px;
    height: 72px;
    text-align: center;
}

#side-img-icons .section-image-aside-icon-list .icon-wrap img {
    width: auto;
    height: 100%;
}

#side-img-icons .section-image-aside-icon-list .text-wrap {
    padding-left: 40px;
    color: #1c2b39;
    max-width: 600px;
}

#page-content.style-default .page-info-title::before {
    background-color: #00ae81;
}

#page-content.style-default h3,
#page-content.style-default h4,
#page-content.style-default .page-info-list-title,
#page-content.style-default #side-img-icons .section-image-aside-title,
#page-content .wrap-icons .page-icons-title {
    color: #00ae81;
}

.btn.btn-outline-primary,
.btn.rounded-btn {
    min-width: 220px;
    min-height: 55px;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    border-radius: 50px;
    padding: 15px 21px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    cursor: pointer;
}

.buy_polis_subtitle {
    margin: 50px 0 20px;
    font-weight: 800;
    color: #73808a;
}

.buy_polis_btns {
    margin-top: 30px;
}

.buy_polis_btns>* {
    margin-right: 30px !important;
}

.btn.rounded-btn {
    border: 0px;
    background-color: #00ae81;
    color: #ffffff;
}

.btn.btn-outline-primary {
    border-color: var(--main-color);
    color: var(--main-color);
}

.btn.btn-outline-primary:hover {
    background-color: var(--main-color);
    color: #ffffff;
}

.btn.rounded-btn:hover {
    color: #fff;
}


/*  Футер  */
.footer-logo img {
    padding: 10px;
}


/* Попап и геолокация */

#hidden-geolocation {
    background: #edf2f1;
    overflow: visible;
}

#hidden-geolocation .geolocation-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 32px;
    color: #495966;
    padding-top: 20px;
    font-weight: bold;
}

#hidden-geolocation .geolocation-title::before {
    position: absolute;
    top: 0px;
    content: "";
    left: calc(50% - 15px);
    height: 3px;
    width: 30px;
    background: #e72d2b;
}

#hidden-geolocation .geolocation-city-list {
    padding: 40px 0 40px;
}

#hidden-geolocation .geolocation-city-list ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 820px;
}

#hidden-geolocation .geolocation-city-list ul li {
    width: calc(100% / 3);
    margin-bottom: 15px;
}

#hidden-geolocation .geolocation-city-list ul li a {
    color: #495966;
    font-size: 24px;
    line-height: 28px;
}

#hidden-geolocation .fancybox-button {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    top: -25px;
    right: -25px;
    z-index: 999;
    opacity: 1;
    transition: all 0.3s;
}

#hidden-geolocation .fancybox-button:hover {
    width: 50px;
    height: 50px;
    background: #e72d2b;
    border-radius: 50%;
    top: -25px;
    right: -25px;
    z-index: 999;
    opacity: 1;
    transition: all 0.3s;
}

#hidden-geolocation .fancybox-button:hover svg path {
    fill: #fff;
}

.contact-info-bottom .another-city {
    color: #e72d2b;
    font-size: 24px;
    font-weight: 28px;
    text-decoration: underline;
    padding: 0 15px;
}

.contact-info-bottom .another-city:hover,
.contact-info-bottom .another-city:active,
.contact-info-bottom .another-city:focus {
    color: #e72d2b;
}

.contact-info-bottom .cur-city {
    color: #c6ccd0;
    font-size: 24px;
    font-weight: 28px;
}


/* Стили при цветовых отличиях */

#page-content.style-orange .page-info-title::before {
    background-color: #f26722;
}

#page-content.style-orange .wrap-icons .page-icons-title,
#page-content .page-info-list-title,
#page-content.style-orange .page-info-list ul li::before,
#page-info-footer .page-info-footer-contacts a,
#page-info-footer .page-info-footer-title span,
#page-info-footer .page-info-footer-contacts p {
    color: #f26722;
}

#page-content.style-orange .orange-text {
    color: #401e23;
    margin-bottom: 50px;
    max-width: 1400px;
    text-align: left;
    font-size: 24px;
}

#page-content .full-bg-grey {
    text-align: left;
    padding: 45px 0;
    margin: 40px 0;
    background: #edf2f1;
    color: #1c2b39;
}

#page-content .full-bg-grey .bg-grey-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: var(--main-color);
    text-transform: uppercase;
}

#page-content .full-bg-grey .insurance-icon {
    margin-right: 75px;
}

#page-content .full-bg-grey .insurance-icon img {
    max-width: 126px;
}


/* Страница досрочного расторжения */

.page-contract {
    text-align: center;
    padding: 120px 0 200px;
}

.page-contract .isotope-filters {
    width: auto;
    min-width: 100px !important;
}

.page-contract .isotope-item a {
    background-color: #f5f7fd;
    padding: 42px;
    display: block;
    width: 100%;
    height: 100%;
    color: #1c2b39;
    transition: all 0.3s;
}

.page-contract .isotope-item a:hover {
    background-color: #e92928;
    color: #ffffff;
    transition: all 0.3s;
}

.page-contract .isotope-item a .iso-contract-title {
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
}

.page-contract .isotope-item a .iso-contract-code-title {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.page-contract .isotope-item a .iso-contract-code {
    display: inline-block;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    display: inline-block;
    color: #73808a;
    transition: all 0.3s;
}

.page-contract .isotope-item a:hover .iso-contract-code {
    color: #ffffff;
    transition: all 0.3s;
}


/* Страница досрочного расторжения финал */

.page-contract-finish p {
    color: #1c2b39;
    margin-bottom: 25px;
}

.page-contract-finish p span {
    color: #73808a;
}

.page-contract-finish p a.tel-link {
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
    color: #e92928;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-contract-finish p a.tel-link img {
    margin-right: 5px;
}


/* Стили для главной страницы */


/* Анимация */

.main-title-block {
    color: #495966;
    text-align: center;
    padding-top: 32px;
    position: relative;
    text-transform: uppercase;
}

.main-title-block::before {
    background-color: #e72d2b;
    width: 50px;
    height: 3px;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 25px);
}

#anim-main {
    margin-top: 60px;
}

.anim-wrap {
    padding: 60px 0 60px;
}

#main-animation .anim-slider .slick-slide .row .col-12 {
    visibility: hidden;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12 {
    visibility: visible;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(1) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(2) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(3) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12 p:nth-child(1) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.2s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12 p:nth-child(2) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.3s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12 p:nth-child(3) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.4s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12 p:nth-child(3) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(2) p:nth-child(1) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(2) p:nth-child(2) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.6s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(2) p:nth-child(3) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.7s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(2) p:nth-child(4) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 1.8s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(3) p:nth-child(1) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(3) p:nth-child(2) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 2.1s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(3) p:nth-child(3) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 2.2s;
    animation-fill-mode: backwards;
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(3) p:nth-child(4) {
    animation-duration: 0.5s;
    animation-name: paddin;
    animation-delay: 2.3s;
    animation-fill-mode: backwards;
}

@keyframes paddin {
    from {
        opacity: 0;
        transform: translateX(50%);
        visibility: hidden;
    }
    to {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}

#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(1),
#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(2),
#main-animation .anim-slider .slick-slide.slick-current .row .col-12:nth-child(3) {
    animation-duration: 0.5s;
    animation-name: paddout;
    animation-delay: 9.7s;
    animation-fill-mode: forwards;
}

@keyframes paddout {
    from {
        opacity: 1;
        transform: translateX(0%);
    }
    to {
        opacity: 0;
        transform: translateX(-200%);
    }
}

.anim-slider .slick-arrow {
    display: none !important;
}

#main-animation .anim-slider .slick-slide .row .col-12 {
    text-align: center;
}

#main-animation .anim-slider .slick-slide .row .col-12 p:first-child {
    margin-bottom: 20px;
}

#main-animation .anim-slider .slick-slide .row .col-12 p.title {
    font-size: 48px !important;
    line-height: 56px !important;
    font-weight: bold;
    min-height: 80px;
    display: inline-block;
    vertical-align: bottom;
}

#main-animation .anim-slider .slick-slide .row .col-12 p.title span.num {
    font-size: 80px;
    line-height: 80px;
    font-weight: bold;
}

#main-animation .anim-slider .slick-slide .row .col-12 p.title span.b {
    font-size: 70px;
    line-height: 78px;
    font-weight: bold;
}

#main-animation .anim-slider .slick-slide .row .col-12 p {
    font-size: 24px !important;
    line-height: 32px !important;
    font-weight: 300;
    color: #fff;
}


/* Адаптивные настройки */

@media (max-width: 767.9px) {
    #main-animation .anim-slider .slick-slide .row .col-12 p.title {
        font-size: 24px;
        line-height: 32px;
        min-height: 48px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p.title span.num {
        font-size: 48px;
        line-height: 48px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p.title span.b {
        font-size: 32px;
        line-height: 40px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p {
        font-size: 18px;
        line-height: 26px;
    }
    #anim-main {
        margin-top: 30px;
    }
    .anim-wrap {
        padding: 30px 0 30px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p:first-child {
        margin-bottom: 10px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 {
        padding-bottom: 15px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12:last-child {
        padding-bottom: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991.9px) {
    #main-animation .anim-slider .slick-slide .row .col-12 p.title {
        font-size: 32px;
        line-height: 40px;
        min-height: 64px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p.title span.num {
        font-size: 64px;
        line-height: 64px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p.title span.b {
        font-size: 52px;
        line-height: 60px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p {
        font-size: 18px;
        line-height: 26px;
    }
    #anim-main {
        margin-top: 30px;
    }
    .anim-wrap {
        padding: 30px 0 30px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p:first-child {
        margin-bottom: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.9px) {
    #main-animation .anim-slider .slick-slide .row .col-12 p.title {
        font-size: 40px;
        line-height: 48px;
        min-height: 72px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p.title span.num {
        font-size: 72px;
        line-height: 72px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p.title span.b {
        font-size: 60px;
        line-height: 68px;
    }
    #main-animation .anim-slider .slick-slide .row .col-12 p {
        font-size: 18px;
        line-height: 26px;
    }
}

.main-page-news .news-item .news-item-info {
    padding: 30px 26px;
    text-align: left;
}

.main-page-news .news-item .news-item-header-img {
    position: relative;
    overflow: hidden;
}

.main-page-news .news-item .news-item-header-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.3s all ease;
    z-index: 1;
}

.main-page-news .news-item .news-item-header-img:hover:before {
    opacity: 1;
}

.main-page-news .news-item .news-item-header-img:hover img {
    transform: scale(1.05);
    transition: 0.3s all ease;
}

.main-page-news .news-item .news-item-header-img img {
    width: 100%;
    transition: 0.3s all ease;
}

.main-page-news .news-item .news-item-header-img a {
    display: block;
    z-index: 3;
}

.main-page-news .news-item .news-item-info .news-item-label span {
    background-color: #e72d2b;
    padding: 2px 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 900;
}

.main-page-news .news-item .news-item-info .news-item-title a {
    margin: 20px 0;
    color: #495966;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    display: block;
}

.main-page-news .news-item .news-item-info .news-item-desc {
    margin-top: 4px;
    margin-bottom: 15px;
    color: #1c2b39;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-page-news .news-item .news-item-info .news-item-data {
    margin-top: 15px;
}

.main-page-news .news-item .news-item-info .news-item-data ul li {
    color: #a2abb3;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 35px;
    min-height: 22px;
    position: relative;
}

.main-page-news .news-item .news-item-info .news-item-data ul li::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 35px;
    height: 100%;
}

.main-page-news .news-item .news-item-info .news-item-data ul li::before {
    background: url("../images/calendar-icon.png") no-repeat center left;
}

.btn-more {
    background-color: #e72d2b;
    min-height: 54px;
    margin: 33px auto 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1.08px;
    line-height: 24px;
    text-align: center;
    padding-left: 33px;
    padding-right: 33px;
}

.btn-more:hover,
.btn-more:focus {
    color: #ffffff !important;
}

.main-title-block {
    color: #495966;
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    padding-top: 32px;
    position: relative;
}

.main-title-block::before {
    background-color: #e72d2b;
    width: 50px;
    height: 3px;
    content: "";
    position: absolute;
    top: 0px;
    left: calc(50% - 25px);
}


/* Страница руководство */

.leadership-list {
    margin: 34px 0;
}

.leadership-list .leadership-list-item {
    margin-bottom: 100px;
}

.leadership-list .leadership-list-item .leadership-avatar {
    margin-bottom: 20px;
}

.leadership-list-item .leadership-info {
    text-align: left;
}

.leadership-list-item .leadership-info .leadership-title {
    color: #495966;
    font-weight: 900;
    line-height: 54px;
    position: relative;
    padding-top: 40px;
    margin-bottom: 15px;
}

.leadership-list-item .leadership-info .leadership-title::before {
    position: absolute;
    content: "";
    background-color: #e72d2b;
    width: 50px;
    height: 3px;
    top: 0px;
    left: 0;
}

.leadership-list-item .leadership-info .leadership-position {
    color: #1c2b39;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    margin: 10px 0 30px;
}

.leadership-list-item .leadership-info .leadership-desc {
    margin-top: 20px;
    margin-bottom: 5px;
}

.leadership-list-item .leadership-info .leadership-desc p {
    color: #73808a;
    font-size: 22.5px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.main-page-news .news-item {
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 3px 11px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 34px;
    overflow: hidden;
}


/* covid page */

.covid-page {
    padding: 0 !important;
    margin-top: 90px !important;
}

.covid-page .page-info-title {
    font-weight: 500;
    width: 70%;
}

.covid-page .page-info-text {
    font-size: 18px;
}

.covid-page .page-icons-text div:first-of-type {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}

.covid-page .page-icons-list {}

.covid-page .icon-col {
    padding: 0;
    width: 25%;
}

.covid-page .page-icons-text div:last-of-type {
    font-size: 24px;
    font-weight: 400;
}

.covid-page .page-icons-text:first-letter {
    text-transform: uppercase;
}

.covid-page .wrap-icons {
    margin: 90px 0 !important;
}

.covid-page .icon-img {
    margin-bottom: 15px !important;
}

.covid-page .page-info-text {
    margin: 0 !important;
}

.covid-slug {
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 1;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.covid-list-pref {
    margin-top: 70px;
}

.covid-page .card-title a {
    font-size: 24px !important;
}

.covid-page .collapse {
    padding: 20px 10px;
    font-size: 18px !important;
}

.covid-page .advantage-blck {
    position: relative;
    padding: 60px 30px 45px;
    min-height: auto;
}

.covid-list-pref .advantage-blck {
    background: none;
}

.covid-list-pref .advantage-blck-title {
    text-align: left;
}

.covid-page .advantage-blck-icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.covid-page .advantage-blck-submit  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.covid-page .advantage-blck-submit button {
    height: 55px;
    width: 220px;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    background: #00AE81 0% 0% no-repeat padding-box;
    border: 1px solid #00AE81;
    border-radius: 28px;
    margin: 80px auto 0;
    cursor: pointer;
    user-select: none;
}

.covid-advantage h4 {
    position: relative;
}

.covid-advantage h4:after {
    content: '';
    width: 40px;
    height: 3px;
    position: absolute;
    display: block;
    left: 0;
    bottom: -17px;
    right: 0;
    background-color: var(--main-color);
    margin: auto;
}

.covid-calendar-item-select {
    position: relative;
}

.covid-calendar-item-input {
    position: relative;
    width: 87%;
}

.covid-calendar-item-select input {
    height: 50px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    color: #A1ABB3;
    border: 1px solid #edf2f1;
    border-radius: 5px;
    opacity: 1;
}

.covid-calendar-item-select img {
    position: absolute;
    right: 15px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
}


/* covid-page date picker */

.covid-page input[type="date"],
.covid-page input[type="text"] {
    margin: auto !important;
    position: relative;
    border-color: #A1ABB3 !important;
    background: transparent !important;
    transition: all 0.3s;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 24px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #242424;
    min-height: 53px;
}

.covid-page input[type="date"]:focus,
.covid-page input[type="text"]:focus,
.covid-page .date-picker input:hover {
    transition: all 0.3s;
}

.covid-page .input-group .date {
    padding-bottom: 30px;
}

.covid-page .date-field {
    position: relative;
}

.covid-page .date-field label {
    margin-left: 0 !important;
    margin-bottom: 15px;
}

.covid-page .input-group {
    margin-bottom: 20px;
    width: 88%;
}

.covid-page input.w-100 {
    position: relative;
    width: 100%;
}

.covid-page .date-picker .input-group-addon {
    position: absolute;
    top: calc(50% - 14px);
    cursor: pointer;
    right: 18px;
    content: "";
    height: 28px;
    width: 29px;
    transition: all 0.5s;
}



.covid-page .date-picker .input-group-addon svg path {
    fill: #888888;
}

.covid-page .date-picker input+.input-group-addon:focus,
.covid-page .date-picker input+.input-group-addon:hover svg path {
    transition: all 0.5s;
    fill: #229fff;
}


/* // covid-page date picker */

.covid-page .add-birthday {
    position: absolute;
    right: -36px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    max-height: 25px;
}

.covid-calendar-list {}

.covid-calendar-item {
    list-style: none;
    margin-bottom: 20px;
}

.covid-calendar-item-title {
    margin-bottom: 10px;
}

.covid-page .advantage .faq-title {
    margin-bottom: 60px;
}

.covid-page .wrap {
    margin: 0 auto 30px;
}

.covid-page .covid-form {
    margin-top: 70px;
}

.covid-page .covid-form-input {
    margin-bottom: 30px;
}

.covid-page .covid-form-input .covid-form-label span {
    user-select: none;
}

.covid-page .covid-form-input .covid-form-label span:first-of-type {
    color: #1C2B39;
    font-weight: 500;
    font-size: 18px;
}

.covid-page .covid-form-input .covid-form-label span:last-of-type {
    color: var(--main-color);
    display: inline-block;
    font-weight: 800;
    font-size: 24px;
    margin-left: 20px;
}

.covid-page .date-picker input+.input-group-addon:focus, .covid-page .date-picker input+.input-group-addon:hover svg path {
    fill: #00ae81;
}

.covid-page .datepicker {
    border-color: #00ae81;
}

.covid-page .datepicker .datepicker-switch::before {
    background: #00ae81;
}

.covid-page .datepicker table .active.day span {
    background: #00ae81;
}
.covid-page .collapse-item {
    overflow: hidden;
    max-height: 0;
    transition: .6s;
}
.covid-page .collapse-item.active {
    max-height: 1000px;
}
.covid-page .collapse-item .card-body{
    padding: 20px !important;
}
.covid-page .collapse-item .card-body li{
    font-size: 18px;
}
.covid-page .collapse-item .card-body p{
    margin: 20px 0;
}
.constructor-page img {
    max-height: 100%;
    max-width: 100%;
}

.plus-minus-toggle {
	height: 21px;
	position: relative;
	width: 21px;
	float: right;
	margin-top: 1em;
    margin-right: 1em;
    margin-left: 20px;
    pointer-events: none;
}
.plus-minus-toggle:before, .plus-minus-toggle:after {
	background: #ffffff;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	width: 21px;
	transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}

.history {
    --paddingY: 45px;
}

.history .stage-wrap {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: auto;
    justify-content: center;
    padding: var(--paddingY) 0;
    margin-top: 0;
    position: relative;
    transition: all 500ms ease-in-out 100ms;
}

.history .stage-wrap b {
    color: #495966;
}

.history .stage-date {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 2rem;
    text-align: right;
    color: #a1abb3;
}

.history .stage-timeline {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    position: relative;
}

.history .stage-timeline span {
    left: 50%;
    display: block;
    position: relative;
    transform: translateX(-50%);
    height: calc(100% + var(--paddingY) * 2);
    transition-duration: 500ms;
    width: 2px;
    background-color: #d8dcdb;
}


/* .history .stage-timeline.fullHeight span {
  height: calc(100% + var(--paddingY) * 2)!important;
} */

.history .stage-timeline span::before {
    content: "";
    background-color: var(--main-color);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 10px 6px #d8dcdb;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.stage-description {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.history .stage-wrap:nth-child(even)>.stage-description {
    grid-column: 1 / 2;
    text-align: right;
}

.history .stage-wrap:nth-child(even)>.stage-date {
    grid-column: 3 / 4;
    text-align: left;
}

.history .stage-wrap:last-child>.stage-timeline span {
    height: 0!important;
}

@media (max-width: 768px) {
    .history.container {
        padding: 30px 10px;
    }
    .history .stage-wrap {
        --paddingY: 20px;
        grid-template-columns: 70px auto;
        grid-template-rows: auto auto;
        padding: var(--paddingY) 0;
    }
    .history .stage-wrap .stage-timeline {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        position: relative;
    }
    .history .stage-wrap .stage-date,
    .history .stage-wrap:nth-child(even) .stage-date {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        text-align: left;
        font-size: 1.7rem;
    }
    .history .stage-wrap .stage-description,
    .history .stage-wrap:nth-child(even)>.stage-description {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: left;
        padding-right: 30px;
    }
}

body {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat;
}

.block {
    height: 5em;
    line-height: 5em;
    width: 10em;
    background: #464646;
    color: #fdfdfd;
    text-align: center;
    margin: 1em auto;
    text-shadow: 0 0 1px #333;
    /* so one can see fadeBgColor properly */
}

.animatable {
    /* initially hide animatable objects */
    visibility: hidden;
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}


/* show objects being animated */

.animated {
    visibility: visible;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -ms-animation-play-state: running;
    -o-animation-play-state: running;
    animation-play-state: running;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInHeight {
    0% {
        height: 0;
    }
    100% {
        height: calc(100% + var(--paddingY) * 2px);
    }
}

@-moz-keyframes fadeInHeight {
    0% {
        height: 0;
    }
    100% {
        height: calc(100% + var(--paddingY) * 2px);
    }
}

@-o-keyframes fadeInHeight {
    0% {
        height: 0;
    }
    100% {
        height: calc(100% + var(--paddingY) * 2px);
    }
}

@keyframes fadeInHeight {
    0% {
        height: 0px;
    }
    100% {
        height: calc(100% + var(--paddingY) * 2px);
    }
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-2000px);
    }
    60% {
        -webkit-transform: translateX(20px);
    }
    80% {
        -webkit-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-2000px);
    }
    60% {
        -moz-transform: translateX(20px);
    }
    80% {
        -moz-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-2000px);
    }
    60% {
        opacity: 1;
        -o-transform: translateX(20px);
    }
    80% {
        -o-transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }
    60% {
        transform: translateX(20px);
    }
    80% {
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@-webkit-keyframes bounceInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(2000px);
    }
    60% {
        -webkit-transform: translateX(-20px);
    }
    80% {
        -webkit-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes bounceInRight {
    0% {
        opacity: 0;
        -moz-transform: translateX(2000px);
    }
    60% {
        -moz-transform: translateX(-20px);
    }
    80% {
        -moz-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes bounceInRight {
    0% {
        opacity: 0;
        -o-transform: translateX(2000px);
    }
    60% {
        -o-transform: translateX(-20px);
    }
    80% {
        -o-transform: translateX(5px);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}

@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }
    60% {
        transform: translateX(-20px);
    }
    80% {
        transform: translateX(5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -o-transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }
    50% {
        -webkit-transform: scale(1.05);
    }
    70% {
        -webkit-transform: scale(.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@-moz-keyframes bounceIn {
    0% {
        opacity: 0;
        -moz-transform: scale(.3);
    }
    50% {
        -moz-transform: scale(1.05);
    }
    70% {
        -moz-transform: scale(.9);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1);
    }
}

@-o-keyframes bounceIn {
    0% {
        opacity: 0;
        -o-transform: scale(.3);
    }
    50% {
        -o-transform: scale(1.05);
    }
    70% {
        -o-transform: scale(.9);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(.3);
    }
    50% {
        transform: scale(1.05);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes moveUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes moveUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes moveUp {
    0% {
        opacity: 1;
        -o-transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes moveUp {
    0% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fadeBgColor {
    0% {
        background: none;
    }
    70% {
        background: none;
    }
    100% {
        background: #464646;
    }
}

@-o-keyframes fadeBgColor {
    0% {
        background: none;
    }
    70% {
        background: none;
    }
    100% {
        background: #464646;
    }
}

@keyframes fadeBgColor {
    0% {
        background: none;
    }
    70% {
        background: none;
    }
    100% {
        background: #464646;
    }
}

.animated.animationDelay {
    animation-delay: .4s;
    -webkit-animation-delay: .4s;
}

.animated.animationDelayMed {
    animation-delay: 1.2s;
    -webkit-animation-delay: 1.2s;
}

.animated.animationDelayLong {
    animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
}

.animated.fadeBgColor {
    -webkit-animation-name: fadeBgColor;
    -moz-animation-name: fadeBgColor;
    -o-animation-name: fadeBgColor;
    animation-name: fadeBgColor;
}

.animated.bounceIn {
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-name: bounceIn;
}

.animated.bounceInRight {
    -webkit-animation-name: bounceInRight;
    -moz-animation-name: bounceInRight;
    -o-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

.animated.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    -moz-animation-name: bounceInLeft;
    -o-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

.animated.fadeIn>span::before {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.animated.fadeInHeight>span {
    -webkit-animation-name: fadeInHeight;
    -moz-animation-name: fadeInHeight;
    -o-animation-name: fadeInHeight;
    animation-name: fadeInHeight;
}

.animated.moveUp {
    -webkit-animation-name: moveUp;
    -moz-animation-name: moveUp;
    -o-animation-name: moveUp;
    animation-name: moveUp;
}