// COMPILE COMAND
// sass css\sass\style.scss css\compiled\style.css

// WATCH COMMAND
/*
 sass --watch css\sass\style.scss css\compiled\style.css
*/

// HELPERS
@import "helpers/child-spacing.scss";
// @import "helpers/media-helper.scss"; - redundant here

// COMPONENTS
@import "typography.scss";
@import "components/attention.scss";
@import "components/accordion.scss";
@import "components/containers.scss";
@import "components/dotted-list.scss";
@import "components/input-group.scss";
@import "components/price-purchase.scss";
@import "components/background-block.scss";
@import "components/forms.scss";

// PAGES
@import "pages/casco-optium.scss";

/* -- Styles -- */
// Common
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.dont-display {
  display: none;
}

.center-text {
  text-align: center;
}

a:hover,
a {
  text-decoration: none;
  color: #121212;
}

label {
  margin-bottom: 0;
}

input,
button {
  &:hover,
  &:focus {
    outline: none;
  }
}
