/* TYPOGRAPHY  */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #1C2B39;
}

// Typography elements
.paragraph {
  color: #1C2B39;
}

.colored-header {
  color: var(--main-color);
  font-weight: bold;
}

.col-header {
  text-align: center;
  font-weight: bold;
  color: #495966;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 45px;
    background-color: var(--main-color);
  }
}

p.warning {
  color: #A1ABB3;
  text-align: center;
  font-size: 1rem;
  line-height: 1.33rem;
  margin-top: 3px;
}

// Headers
.primary-header {
  color: #495966;
  padding-top: 20px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;

  &::before {
    background-color: var(--main-color);
    width: 50px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
  }
}

// adaptive
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }
  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }
  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }
  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}
