/*
 sass --watch css\sass\style.scss css\compiled\style.css
*/
.child-spacing-1 > * + * {
  margin-top: calc(var(--dimention) * 1);
}

.child-spacing-2 > * + * {
  margin-top: calc(var(--dimention) * 2);
}

.child-spacing-3 > * + * {
  margin-top: calc(var(--dimention) * 3);
}

.child-spacing-4 > * + * {
  margin-top: calc(var(--dimention) * 4);
}

.child-spacing-5 > * + * {
  margin-top: calc(var(--dimention) * 5);
}

.child-spacing-6 > * + * {
  margin-top: calc(var(--dimention) * 6);
}

.child-spacing-7 > * + * {
  margin-top: calc(var(--dimention) * 7);
}

/* TYPOGRAPHY  */
body {
  font-family: "Source Sans Pro", sans-serif;
  color: #1C2B39;
}

.paragraph {
  color: #1C2B39;
}

.colored-header {
  color: var(--main-color);
  font-weight: bold;
}

.col-header {
  text-align: center;
  font-weight: bold;
  color: #495966;
  margin-top: 60px;
  margin-bottom: 40px;
  position: relative;
}
.col-header:before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 45px;
  background-color: var(--main-color);
}

p.warning {
  color: #A1ABB3;
  text-align: center;
  font-size: 1rem;
  line-height: 1.33rem;
  margin-top: 3px;
}

.primary-header {
  color: #495966;
  padding-top: 20px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
}
.primary-header::before {
  background-color: var(--main-color);
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
label,
p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }

  button,
label,
p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }

  h3,
h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
label,
button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }

  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 120px;
  }

  h2 {
    font-size: 40px;
    line-height: 45px;
  }

  h4,
h3 {
    font-size: 32px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}
/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/
.attention {
  display: flex;
}
@media (max-width: 768px) {
  .attention {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .attention .attention_icon-container {
    display: flex;
    justify-content: center;
  }
}
.attention .attention_text-block {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
@media (max-width: 768px) {
  .attention .attention_text-block {
    margin-left: 0;
  }
}
.attention .colored-header {
  margin-bottom: 10px;
  margin-top: 0;
}

.accordion_container {
  display: flex;
  flex-direction: column;
}
.accordion_container .accordion_header {
  margin-bottom: 20px;
  width: 100%;
  min-height: 54px;
  padding: 10px 70px 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  font-weight: bold;
  font-size: 24px;
}
.accordion_container .accordion_header .show-more {
  background: transparent;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
  cursor: pointer;
}
.accordion_container .accordion_header .show-more::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
  width: 20px;
  height: 2px;
  right: 28px;
  transform: rotate(180deg);
}
.accordion_container .accordion_header .show-more::after {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
  width: 20px;
  height: 2px;
  right: 28px;
  opacity: 1;
  visibility: visible;
  transform: rotate(270deg);
}
.accordion_container .accordion_item.open .accordion_content {
  height: auto;
}
.accordion_container .accordion_item.open .show-more::after {
  transform: rotate(0deg);
}
.accordion_container .accordion_item.open .show-more::before {
  transform: rotate(0deg);
}
.accordion_container .accordion_content {
  height: 0;
  overflow: hidden;
}

/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/
.column {
  display: flex;
  flex-direction: column;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.linear-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .linear-fields {
    flex-direction: column;
    align-items: flex-start;
  }
}
.linear-fields > * {
  margin-bottom: 30px;
}

.container-wide {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 1500px) {
  .container-wide {
    max-width: 1400px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .container-wide {
    max-width: 1200px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container-wide {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container-wide {
    max-width: 960px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container-wide {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container-wide {
    max-width: 540px;
  }
}
.dotted-list {
  padding-left: 25px;
}
.dotted-list li {
  position: relative;
  list-style: none;
  padding-bottom: 10px;
}
.dotted-list li::before {
  content: "";
  height: 8px;
  width: 8px;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 0.5em;
  left: -15px;
  transform: translate(-50%, -15%);
}

/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/
label.text-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
label.text-input .label-title {
  color: #73808a;
  margin-bottom: 3px;
}
label.text-input input {
  height: 54px;
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #a1abb3;
  padding: 5px 10px 5px 15px;
  transition: all 300ms;
  font-size: 18px;
}
label.text-input input:focus, label.text-input input:hover {
  outline: none;
  border-color: var(--main-color);
}

label.invisible-input {
  display: flex;
  flex-direction: column;
}
label.invisible-input .label-title {
  color: #73808a;
  margin-bottom: 3px;
}
label.invisible-input .input-pencil-icon {
  position: relative;
  display: flex;
}
label.invisible-input .input-pencil-icon input {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 30px;
  color: #1c2b39;
  font-weight: 700;
  padding: 10px 35px 10px 5px;
  background-color: transparent;
  z-index: 2;
  border-bottom: 2px solid transparent;
}
@media (max-width: 480px) {
  label.invisible-input .input-pencil-icon input {
    font-size: 18px;
  }
}
@media (min-width: 480px) and (max-width: 890px) {
  label.invisible-input .input-pencil-icon input {
    font-size: 24px;
  }
}
label.invisible-input .input-pencil-icon input::placeholder {
  color: #1c2b39;
  font-weight: 700;
}
label.invisible-input .input-pencil-icon input:hover, label.invisible-input .input-pencil-icon input:focus {
  border-bottom: 2px solid var(--main-color);
}
label.invisible-input .input-pencil-icon input:hover ~ svg .a, label.invisible-input .input-pencil-icon input:focus ~ svg .a {
  fill: var(--main-color);
}
label.invisible-input .input-pencil-icon input:focus::placeholder {
  color: transparent;
}
label.invisible-input .input-pencil-icon svg {
  z-index: 1;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

label.checkbox-input {
  position: relative;
}
label.checkbox-input .label-title {
  padding-left: 30px;
  color: #1c2b39;
  display: block;
}
label.checkbox-input input {
  display: none;
}
label.checkbox-input span.checker {
  position: absolute;
  top: 0.5em;
  left: 0;
  transform: translate(0%, -25%);
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid #a1abb3;
}
label.checkbox-input input:checked + span.checker::before {
  content: "";
  display: block;
  position: absolute;
  left: 49%;
  top: 40%;
  height: 7px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

/*
<label for="chb1" class="checkbox-input">
  <span class="label-title">
    TEXTTEXT TEXT
  </span>
  <input type="checkbox" id="chb1">
  <span class="checker"></span>
</label>
*/
.checkbox-promo-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .checkbox-promo-input {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }
}
.checkbox-promo-input .label-title {
  padding-left: 30px;
  color: #1c2b39;
  position: relative;
}
.checkbox-promo-input input[type=checkbox] {
  display: none;
}
.checkbox-promo-input input[type=text] {
  opacity: 0;
  border: 1px solid transparent;
  height: 0px;
  border-radius: 5px;
  background-color: transparent;
  padding: 5px 10px 5px 15px;
  transition-property: height, border-color, opacity;
  transition-duration: 0.3s, 0.2s, 0.3s;
  font-size: 18px;
}
@media (max-width: 768px) {
  .checkbox-promo-input input[type=text] {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.checkbox-promo-input input[type=text]:focus, .checkbox-promo-input input[type=text]:hover {
  outline: none;
  border-color: var(--main-color);
}
.checkbox-promo-input span.checker {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0%, -45%);
  display: block;
  height: 20px;
  width: 20px;
  border: 2px solid #a1abb3;
}
.checkbox-promo-input input:checked ~ .label-title span.checker::before {
  content: "";
  display: block;
  position: absolute;
  left: 49%;
  top: 40%;
  height: 7px;
  width: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}
.checkbox-promo-input input:checked ~ input[type=text] {
  opacity: 1;
  height: 54px;
  border: 1px solid #a1abb3;
}
@media (max-width: 768px) {
  .checkbox-promo-input input:checked ~ input[type=text] {
    margin-top: 10px;
  }
}

.datepicker-label {
  width: 100%;
}
.datepicker-label .label-title {
  color: #73808a;
  padding-bottom: 3px;
}
.datepicker-label .date.date-picker {
  border-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}
.datepicker-label input {
  height: 54px;
  width: 100%;
  border-radius: 5px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: transparent;
  border: 1px solid #a1abb3;
  padding: 5px 10px 5px 15px;
  transition: all 300ms;
  font-size: 18px;
}
.datepicker-label input:focus, .datepicker-label input:hover {
  outline: none;
  border-color: var(--main-color);
}
.datepicker-label .datepicker {
  border-color: var(--main-color);
}
.datepicker-label .datepicker table .active.day span {
  background: var(--main-color);
}
.datepicker-label .datepicker .datepicker-days .table-condensed thead tr th {
  color: #1c2b39;
}
.datepicker-label .datepicker .datepicker-switch::before {
  background: var(--main-color);
}
.datepicker-label .date-picker input:focus,
.datepicker-label .date-picker input.dateisker-op-input {
  border-color: var(--main-color);
  transition: all 0.3s;
}
.datepicker-label .date-picker .input-group-addon {
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 5px;
  fill: #a1abb3;
  height: 28px;
  width: 29px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
.datepicker-label .date-picker input + .input-group-addon.datepicker-opened,
.datepicker-label .date-picker input:focus + .input-group-addon,
.datepicker-label .date-picker input + .input-group-addon:focus,
.datepicker-label .date-picker input + .input-group-addon:hover {
  fill: var(--main-color);
  transition: all 0.5s;
}
.datepicker-label .datepicker-days .table-condensed tbody tr td {
  padding: 0;
}
.datepicker-label .datepicker-days .table-condensed thead tr th {
  padding-left: 0;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.input-group label .label-title {
  display: block;
  color: #73808a;
  position: relative;
  margin-bottom: 0px;
  padding-bottom: 3px;
}

.nice-select {
  height: 54px !important;
  font-size: 1rem !important;
  display: flex;
  align-items: center;
}
.nice-select.control {
  background-color: transparent !important;
}
.nice-select .option {
  position: relative;
  font-size: 1rem !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nice-select::after {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
}
.nice-select .list {
  width: 100%;
}
.nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}
.nice-select .option.selected.focus::before,
.nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-right: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  height: 8px;
  width: 8px;
  opacity: 1;
}

/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/
.price-purhase {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
}
.price-purhase .price-value {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: var(--main-color);
}
.price-purhase .buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .price-purhase .buttons-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .price-purhase .buttons-container > button {
    margin: 10px 0;
  }
}
.price-purhase .buttons-container .back-button {
  margin-top: 10px;
  height: 55px;
  border-radius: 28px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid var(--main-color);
  color: var(--main-color);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  width: 220px;
  position: relative;
}
.price-purhase .buttons-container .back-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%) rotate(45deg);
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  height: 15px;
  width: 15px;
}
.price-purhase .buttons-container .back-button:hover {
  background-color: var(--main-color);
  color: #fff;
}
.price-purhase .buttons-container .back-button:hover::before {
  border-color: #fff;
}
.price-purhase .buttons-container .back-button.disabled {
  border-color: #a1abb3;
  background-color: #a1abb3;
  cursor: not-allowed;
}
.price-purhase.discount .price-value {
  position: absolute;
  top: 0px;
  text-decoration: line-through;
  font-weight: normal;
  line-height: 1.33rem;
  font-size: calc(1rem + 6px);
  color: #121212;
}
.price-purhase .price-discount {
  display: none;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: var(--main-color);
}
.price-purhase.discount .price-discount {
  display: block;
}
.price-purhase .purchase-button {
  margin-top: 10px;
  height: 55px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  width: 220px;
}
.price-purhase .purchase-button:hover, .price-purhase .purchase-button:focus {
  outline: none;
}
.price-purhase .purchase-button.disabled {
  border-color: #a1abb3;
  background-color: #a1abb3;
  cursor: not-allowed;
}

/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/
.backgroung-block {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.backgroung-block::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background-color: rgba(28, 43, 57, 0.6);
}
.backgroung-block > * {
  z-index: 1;
  position: relative;
}
.backgroung-block .row {
  padding-top: 1px;
  margin-top: -1px;
}
.backgroung-block .row .col {
  padding: 0;
}
.backgroung-block .background-block_title {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.backgroung-block .background-block_items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.backgroung-block .background-block_items-container .background-block_item {
  display: flex;
  flex-grow: 1;
  width: 230px;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  min-width: 230px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .backgroung-block .background-block_items-container .background-block_item {
    padding: 0 0 40px;
  }
}
.backgroung-block .background-block_items-container .background-block_item .background-block_item-icon {
  height: 100px;
  margin-bottom: 30px;
}
.backgroung-block .background-block_items-container .background-block_item .background-block_item-text {
  color: #fff;
  text-align: center;
}

/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/
.forms-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-icon-col {
  padding: 0px 15px 30px;
  margin-top: 40px;
  max-width: 500px;
}
@media (max-width: 768px) {
  .form-icon-col {
    padding: 1px 0px 30px;
  }
}
.form-icon-col .form-col-wrap {
  background-color: #edf2f1;
  position: relative;
  padding: 1px 30px 30px;
  margin: -1px auto 0 auto;
}
@media (max-width: 768px) {
  .form-icon-col .form-col-wrap {
    padding: 1px 15px 30px;
  }
}
.form-icon-col .icon {
  position: absolute;
  top: -60px;
  width: 120px;
}
.form-icon-col .icon > * {
  margin-left: -15px;
}
.form-icon-col label {
  margin-top: 15px;
}

.background-form {
  background-color: #F5F7FD;
}
.background-form .row {
  justify-content: center;
}

h3,
h4 {
  margin: 30px 0;
  font-weight: 900;
}

.oferta-conditions {
  font-weight: 900;
  display: flex;
  align-items: center;
}
.oferta-conditions img {
  margin-right: 10px;
}

/* -- Styles -- */
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.dont-display {
  display: none;
}

.center-text {
  text-align: center;
}

a:hover,
a {
  text-decoration: none;
  color: #121212;
}

label {
  margin-bottom: 0;
}

input:hover, input:focus,
button:hover,
button:focus {
  outline: none;
}

.headered-cards {
  margin-top: 128px;
  margin-bottom: 60px;
}
.headered-card {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #00000029;
  position: relative;
}
.headered-card-title {
  background-color: #00a5b8;
  height: 60px;
  line-height: 60px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.headered-card-list {
  list-style: none;
  margin-bottom: 30px;
  padding-left: 60px;
}
.headered-card-list li::before {
  content: '';
  border-bottom: 2px solid #00A5B8;
  border-right: 2px solid #00A5B8;
  display: block;
  height: 14px;
  margin-top: -11px;
  pointer-events: none;
  position: absolute;
  left: -22px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 9px;
}
.headered-card-list-item {
  position: relative;
}
.headered-card-input {
  padding: 0 35px 15px;
  z-index: 11;
  position: relative;
}
.headered-label-title {
  color: #73808a;
  font-weight: 300;
}
.headered-price-purhase {
  padding-bottom: 20px;
  position: relative;
  z-index: 2;
}
.background-form label.text-input input {
  background: white;
}
.casko-img, .osago-img {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.osago-img {
  height: 140px;
}
.casko-img {
  height: 90%;
}
.headered-card-input .nice-select:after {
  border-color: #00A5B8;
}

/*# sourceMappingURL=style.css.map */
