@media (max-width: 575.98px) {
    #vrz-steps .vrz-main-title {
        font-size: 34px;
    }

    #vrz-info-blck p {
        font-size: 19px;
    }



    #vrz-advantage-blck .h2,
    #vrz-garant-blck .h2,
    #vrz-policy-registration-blck .h2 {
        font-size: 24px;
        line-height: 30px;
    }

    #vrz-garant-blck ol li {
        font-size: 22px;
        line-height: 30px;
    }

    #vrz-policy-registration-blck .h2 {
        font-size: 22px;
        line-height: 30px;
    }

    #vrz-advantage-blck .row .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width: 767.98px) {}


@media (max-width: 767px) {
    #vrz-table-blck .table-blck table tr th {
        
        font-size: 18px;
        line-height: 24px;
    }
    
    #vrz-table-blck .table-blck table tr td {
        font-size: 18px;
        line-height: 24px;
    }
    
    #vrz-table-blck .table-blck table tr td:first-child {
        padding: 9px 10px;
        color: #495966;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
    }

    #vrz-table-blck .table-blck table tr td:nth-child(2) {
        color: #495966;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
    }
}

@media (max-width: 991.98px) {
    #vrz-steps .vrz-blck {
        margin: 80px 0px 20px;
        padding: 0 10px 20px;
    }
}


@media (max-width: 1199.98px) {
    #vrz-advantage-blck .advantage-text {
        margin: 10px auto 30px;
    }

    #vrz-policy-delivery-blck .policy-delivery-info {
        margin-bottom: 30px;
    }
    
    #vrz-steps .vrz-blck-with-icon {
        margin-right: 0;
    }
    
    .centered {
        width: 100%;
        margin: 0 auto;
    }
}



@media (min-width: 991px) and (max-width: 1199.98px) {
    #vrz-steps .vrz-blck {
        padding-left: 0px;
        padding-right: 0px;
    }

    #vrz-steps .vrz-blck .vrz-blck-inner {
        padding-left: 15px;
        padding-right: 15px;
    }

    .step_container .row,
    #vrz-advantage-blck .row {
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    #vrz-advantage-blck .row .col {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    #vrz-table-blck .col-lg-8 {
        margin-left: 0px !important;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
