/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}


.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
  text-align: center;
}

.breadcrumbs li a,
.breadcrumbs li a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

.centered {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.cropped {
  width: 80%;
}

#vrz-steps {
  margin: 130px auto 60px;
}

#vrz-steps .vrz-main-title {
  color: #495966;
  padding-top: 20px;
  font-size: 45px;
  font-weight: 900;
  position: relative;
}

#vrz-steps .vrz-main-title::before {
  background-color: var(--main-color);
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#vrz-steps .vrz-main-subtitle {
  color: #73808a;
  font-size: 24px;
  font-weight: 400 !important;
  margin-top: 30px;
  margin-bottom: 20px;
}

#vrz-steps .vrz-blck-with-icon {
  margin-top: 70px;
  margin-bottom: 30px;
}

#vrz-steps .cropped-col {
  max-width: 550px !important;
}

#vrz-steps .vrz-blck {
  padding: 80px 20px 20px;
  background-color: #edf2f1;
}

#vrz-steps .vrz-blck .vrz-blck-slim {
}

#vrz-steps .vrz-blck .vrz-blck-inner {
  margin-top: -80px;
  padding: 0 0px 20px;
  height: 100%;
}

#vrz-steps .vrz-blck .vrz-blck-icon {
  position: relative;
  height: 80px;
  max-width: 550px;
}

#vrz-steps .vrz-blck .vrz-blck-icon .icon-background {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 0px;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  background-color: #e92928;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#vrz-steps .vrz-blck .vrz-blck-icon img {
  
}

#vrz-steps .vrz-blck .vrz-blck-title {
  color: #495966;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 35px;
}

#vrz-steps .vrz-blck .vrz-blck-title::after {
  position: absolute;
  background-color: var(--main-color);
  width: 30px;
  height: 3px;
  content: "";
  bottom: 0px;
  left: calc(50% - 15px);
}

#vrz-steps form input[type="date"],
#vrz-steps form input[type="text"] {
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;

  min-height: 53px;
}

.date-picker .datepicker {
  border-top: 3px solid var(--main-color);
}

.date-picker .datepicker .datepicker-switch::before {
  background-color: var(--main-color);
}

#vrz-steps form input[type="date"]:focus,
#vrz-steps form input[type="text"]:focus,
#vrz-steps form .date-picker input:hover {
  border-color: var(--main-color);
  transition: all 0.3s;
}

#vrz-steps form .input-group .date {
  padding-bottom: 30px;
}

#vrz-steps form input.w-100 {
  width: 100%;
}

#vrz-steps form .date-picker .input-group-addon {
  position: absolute;
  top: calc(50% - 14px);
  cursor: pointer;
  right: 18px;
  content: "";
  background: url(../images/calendar-icon_gray.png) no-repeat center;
  height: 28px;
  width: 29px;
  transition: all 0.5s;
}

.datepicker table .active.day span {
  background-color: var(--main-color) !important;
}

.datepicker .datepicker-switch::before {
  background: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.datepicker {
  border-top: 3px solid var(--main-color) !important;
}

#vrz-steps form .date-picker input + .input-group-addon:focus,
#vrz-steps form .date-picker input + .input-group-addon:hover {
  /* background: url(../images/calendar-icon_Yellow.png) no-repeat center; */
  transition: all 0.5s;
}

#vrz-steps form .vrz-blck-info {
  text-align: left;
}

#vrz-steps form .vrz-blck-info > * + * {
  margin-top: 10px;
}

#vrz-steps form .vrz-blck-info label {
  font-size: 18px;
}

#vrz-steps form .vrz-blck-info .form-check label {
  margin-left: 19px;
  color: #73808a;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}

#vrz-steps form .vrz-blck-info .form-check label:last-child {
  margin-bottom: 0px;
}

#vrz-steps form label {
  font-size: 18px;
}

.form-radio .form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-radio .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-radio .form-check-label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #a1abb3;
}

.form-radio .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-radio .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--main-color);
}

.form-check {
  padding-left: 0px;
}

.form-check .form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check .form-check-label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-check .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: url(../images/check_yellow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

#vrz-steps form input.vzr_age {
  padding: 15px 5px;
}

#vrz-steps form label {
  color: #73808a;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

#vrz-steps form .travel-duration-check label {
  margin-left: 0px !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

#vrz-steps form .travel-duration-check input {
  margin-top: 9px;
}

#vrz-steps form label span {
  color: #e72d2b;
}

#travel-duration {
  display: none;
  transition: all 0.3s;
}

#travel-duration.active {
  display: block;
  transition: all 0.3s;
}

#travel-duration label {
  width: 100%;
  color: #73808a;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

#travel-duration {
  text-align: center;
}

#travel-duration .form-check-label {
  font-size: 18px !important;
}

#travel-duration .vzr-travel-duration {
  display: inline-block;
  color: #fdb514;
  font-size: 18px;
  font-weight: 900;
  line-height: 24px;
  border-width: 2px;
  border-color: #fdb515;
  border-radius: 50px;
  border-style: solid;
  padding: 6px 19px;
  transition: all 0.3s;
  cursor: pointer;
}

#travel-duration .vzr-travel-duration.active {
  background-color: #fdb515;
  color: #fdfdfd;
  transition: all 0.3s;
}

#travel-duration .vzr-travel-duration {
  margin: 15px 0 10px;
}

#travel-duration .vzr-travel-duration:nth-child(3) {
  margin: 0 15px 0;
}

#vrz-steps .vzr-offer {
  text-align: left;
  color: #73808a;
  margin-left: 20px;
  cursor: pointer;
}

.hidden-input {
  position: relative;
  width: 100%;
  top: 18%;
  z-index: 0;
  display: block;
  font-size: 18px;
}

.file-input-wrap {
  position: relative;
  height: 55px;
  margin-top: 10px;
}

.mt65 {
  margin-top: 65px;
}

.hidden {
  display: none;
}

.dark-text {
  color: #1c2b39;
}

.user-phone {
  color: #73808a;
  font-size: 1.5rem;
}

#sms-signature p {
  line-height: 1.5rem !important;
}

.send-sms-again {
  color: #00a5b8;
  text-decoration: underline;
}

input.sms-password {
  position: relative;
  width: 180px;
  height: 55px;
  border-radius: 5px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 5px;
  border: 1px solid #a1abb3;
}

#sms-signature .input-wrap {
  position: relative;
}

#sms-signature .input-wrap span::after {
  content: "";
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  right: 10px;
  display: block;
  height: 10px;
  width: 20px;
  z-index: 10;
  transform: rotate(-45deg);
  border-left: 2px solid #00ae81;
  border-bottom: 2px solid #00ae81;
}

.admit {
  background-color: var(--main-color);
  width: 180px;
  height: 55px;
  color: #ffffff;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  margin-top: 25px;
  text-align: center;
  display: inline-block;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 600px) {
  label.label-file-item {
    width: 140px;
    height: 45px;
    font-size: 16px !important;
  }
}

.label-file-item {
  position: absolute;
  left: 0;
  z-index: 2;
  color: #fff !important;
  background-color: var(--main-color);
  width: 180px;
  height: 55px;
  text-align: center;
  border-radius: 5px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-subtitle {
  color: #a1abb3;
  font-size: 14px;
  line-height: 24px;
}

.attention-block {
  font-size: 14px;
  color: #0b0c16;
  line-height: 16px;
}

.attention-block .attention-title {
  text-transform: uppercase;
  color: var(--main-color);
  font-weight: bold;
}

.textarea-input {
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #a1abb3;
}

.admit-conditions {
  margin: 20px 0px;
  display: flex;
  font-size: 18px;
  line-height: 24px;
}

.admit-conditions > span {
  margin-left: 10px;
}

.chebox-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.chebox-group label {
  position: relative;
  cursor: pointer;
}

.chebox-group label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #a1abb3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.chebox-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #e72d2b;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#vrz-steps .btn-next-step {
  background-color: var(--main-color);
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin-top: 90px;
  display: inline-block;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
}

/* Новые блоки и стили 22.02.2019 */
#vrz-info-blck {
  padding: 60px 0 10px;
  text-align: left;
  margin-bottom: 15px;
}

#vrz-info-blck .row {
  margin-top: 0px;
}

#vrz-info-blck .h2 {
  color: #495966;
  font-size: 48px;
  font-weight: 900;
  text-align: left;
  padding: 25px 0 30px;
  position: relative;
  text-transform: uppercase;
}

#vrz-info-blck .h2::before {
  background-color: #fdb515;
  width: 50px;
  height: 3px;
  top: 0px;
  left: 0px;
  position: absolute;
  content: "";
}

#vrz-info-blck p {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

#vrz-advantage-blck {
  margin: 20px 0;
  padding: 35px 0;
  background-color: #edf2f1;
  text-align: center;
}

#vrz-advantage-blck .h2 {
  color: #fdb514;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

#vrz-advantage-blck .advantage-icon {
  margin-bottom: 25px;
}

#vrz-advantage-blck .advantage-icon img {
  max-width: 120px;
}

@media (max-width: 767px) {
  #vrz-policy-delivery-blck .policy-delivery-icon img {
    max-width: 120px;
  }
}

#vrz-advantage-blck .advantage-text {
  max-width: 316px;
  color: #1c2b39;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

#vrz-advantage-blck .advantage-text small {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  display: inline-block;
  padding-top: 5px;
}

#vrz-additional-blck {
  margin: 20px 0;
}

#vrz-additional-blck .additional-title {
  color: #fdb515;
  font-size: 40px;
  margin-bottom: 10px;
}

#vrz-additional-blck ul.additional-list {
  margin-bottom: 30px;
}

#vrz-additional-blck ul.additional-list li {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  position: relative;
  margin-bottom: 25px;
  padding-left: 20px;
}

#vrz-additional-blck ul.additional-list li::before {
  content: "•";
  color: #fdb514;
  font-size: 40px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#vrz-garant-blck {
  margin: 40px 0 80px;
  text-align: left;
}

#vrz-garant-blck .row {
  margin-top: 0px;
}

#vrz-garant-blck .h2 {
  color: #fdb514;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  margin-bottom: 20px;
}

#vrz-garant-blck ol {
  counter-reset: myCounter;
  text-align: left;
  margin-bottom: 35px;
}

#vrz-garant-blck ol li {
  list-style: none;
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
}

#vrz-garant-blck ol li:before {
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  color: #fdb514;

  display: inline-block;
  text-align: left;
  margin: 0px 10px 0 0;
  line-height: 40px;
}

#vrz-garant-blck a.garant-med-info {
  color: #495966;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: underline;
  text-align: left;
}

#vrz-policy-delivery-blck {
  margin: 20px 0;
  padding: 40px 0;
  background-color: #edf2f1;
}

#vrz-policy-delivery-blck .h2 {
  color: #fdb514;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

#vrz-policy-delivery-blck .policy-delivery-icon {
  margin: 10px 0 40px;
}

#vrz-policy-delivery-blck .policy-delivery-info {
  color: #1c2b39;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  max-width: 540px;
  margin: auto;
}

#vrz-policy-registration-blck {
  margin: 90px 0 50px;
}

#vrz-policy-registration-blck .row {
  margin-top: 0px;
}

#vrz-policy-registration-blck .h2 {
  color: #fdb514;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

#vrz-policy-registration-blck p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #1c2b39;
  margin: 10px 0 15px;
}

#vrz-policy-registration-blck ul {
  text-align: left;
  max-width: 1500px;
  list-style: none;
  margin-bottom: 40px;
}

#vrz-policy-registration-blck ul li {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  position: relative;
  margin-bottom: 25px;
  padding-left: 20px;
}

#vrz-policy-registration-blck ul li::before {
  content: "•";
  color: #fdb514;
  font-size: 40px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#vrz-attention-blck {
  background: #edf2f1;
  padding: 30px 0 40px;
  text-align: left;
}

.warning-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 767.98px) {
  .warning-info {
    flex-direction: row;
    align-items: center;
  }

  #vrz-attention-blck .warning-icon {
    margin-right: 40px;
    text-align: center;
  }
}

#vrz-attention-blck .warning-icon {
  /* margin-right: 40px; */
  text-align: center;
}

#vrz-attention-blck .warning-text .title {
  font-size: 40px;
  color: #fdb515;
  margin-bottom: 10px;
}

#vrz-attention-blck .warning-text p {
  color: #1c2b39;
  font-size: 24px;
  line-height: 28px;
}

#vrz-table-blck {
  margin: 30px 0 100px;
}

#vrz-table-blck .table-title {
  margin: 40px 0 20px;
  color: #fdb514;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

#vrz-table-blck .table-blck {
  margin: 10px auto 20px;
  max-width: 1120px;
}

#vrz-table-blck .table-blck table {
  width: 100%;
  max-width: 1120px;
  margin: auto;
}

#vrz-table-blck .table-blck table tr th {
  border: 2px solid #a1abb3;
  border-bottom: 2px solid #fdb515;
  width: 50%;
  text-align: center;
  color: #73808a;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

#vrz-table-blck .table-blck table tr td {
  border: 2px solid #a1abb3;
}

#vrz-table-blck .table-blck table tr td:first-child {
  padding: 9px 20px;
  color: #495966;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  max-width: 100px;
}

#vrz-table-blck .table-blck table tr td:nth-child(2) {
  color: #495966;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  padding: 9px 0;
}

#vrz-table-blck .table-footer-info {
  margin: 20px 0;
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

#vzr-scroll-blck {
  margin: 20px 0 150px;
}

#vzr-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;

  transition: all 0.3s;
}

#vzr-scroll-blck a {
  color: #fdb515;
  font-size: 36px;
  line-height: 38px;
}

/* // Новые блоки и стили 22.02.2019 */

.vzr_age_block {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  width: 19%;
}

.vzr_age_block input {
  text-align: center;
  font-size: 24px;
}

.vzr_age_block_plus {
  display: inline-block;
  cursor: pointer;
}

.file-input-replace {
  position: relative;
  left: 0;
  cursor: pointer;
  min-height: 55px;
  min-width: 180px;
  max-width: 181px;
  background-color: red;
  color: #fff !important;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 0px;
  margin-right: 25px;
}

.file-input-replace img {
  margin-right: 3px;
  width: 15px;
  height: 15px;
}

.file-input-wrap {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 500px) {
  .file-input-wrap {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  .file-input-replace {
    margin-right: 0;
  }
  #file-controls-wrap #file-name,
  #file-controls-wrap {
    max-width: 100%;
  }
}

.file-input-wrap input {
  position: absolute;
  display: none;
}

#file-controls-wrap {
  display: flex;
  max-width: 40%;
  align-items: center;
}

#file-name {
  max-width: 40%;
  margin-left: 10px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.disabled-btn {
  background-color: #a1abb3 !important;
}

#doc-list {
  margin: 60px 0 100px;
}

#doc-list .download-link {
  color: #e92928;
  text-decoration: underline;
}

#doc-list .adress::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../images/placeholder.png);
  height: 20px;
  width: 20px;
  position: absolute;
  left: -30px;
}

#doc-list .adress {
  color: #1c2b39;
  position: relative;
  margin-left: 30px;
}

#doc-list .doc-list > li {
  margin-left: 15px;
  position: relative;
}

#doc-list .doc-list > li::before {
  background-color: var(--main-color);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  position: absolute;
  top: .5em;
  left: -15px;
  content: '';

}
  h3.main-title {
  color: #495966;
  padding-top: 20px;
  text-transform: uppercase;
  position: relative;
}

h3.main-title::before {
  background-color: var(--main-color);
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

h5.main-subtitle {
  color: #73808a;
  font-weight: 400 !important;
  margin-top: 60px;
}

#delete-file {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

#file-name,
#file-extension {
  font-size: 16px !important;
}

.outline {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
  height: 100vh;
  transform: translateY(-50%);
  background-color: rgba(100, 100, 100, 0.5);
}

.hidden-overflow {
  min-height: 100vh;
  overflow-y: hidden;
}

.modal-body {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40px;
  max-width: 90%;
  padding: 20px;
  z-index: 99999;
  background-color: #fff;
  border-radius: 5px;
}

.modal-body img {
  width: 100%;
}
