@media screen and (max-width:1020px) {
    .constructor-page .advantage-blck {
        margin-bottom: 80px;
        height: auto;
        min-height: unset;
    }
    .constructor-list-pref {
        margin-top: 30px;
    }
    .constructor-list-pref .advantage-blck {
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .constructor-page .advantage-blck-submit {
        margin: 0 auto 10px;
    }
    .parallax-content .icon-col {
        width: 33%;
    }
    .date-field:after {
        content: '';
        display: block;
        clear: both;
    }
}

@media screen and (max-width:768px) {
    .constructor-page .card-title a {
        font-size: 18px !important;
    }
    .faq-list .card-body {
        font-size: 19px;
    }
    #page-content {
        padding: 40px 0 80px 0;
    }
    .constructor-page .icon-col {
        width: 50%;
        margin-bottom: 20px;
    }
    .leadership-title {
        padding-top: 20px !important;
        margin-top: 40px;
    }
    .dms-slide-table {
        display: none;
    }
    #dms-steps {
        display: block;
    }
    #dms-scroll-to-top span {
        font-size: 20px;
    }
    .constructor-page .icon-img {
        max-height: 90px;
    }
    .constructor-page .page-icons-text {
        font-size: 18px !important;
    }
}

@media screen and (max-width:540px) {
    .page-icon {
        margin-bottom: 20px;
    }
    .constructor-page .page-icons-text div:first-of-type {
        margin-bottom: 5px;
    }
    .constructor-page .page-icons-text {
        padding: 0 10px;
    }
}

@media screen and (max-width:480px) {
    .constructor-page .icon-col {
        width: 100%;
        margin-bottom: 20px;
    }
    .constructor-page .advantage-blck {
        padding: 40px 15px 10px;
    }
    .constructor-page .page-icons-text div:last-of-type {
        font-weight: 300;
        margin-bottom: 30px;
    }
    .constructor-page .input-group-slug {
        font-size: 14px;
    }
    #page-content .wrap-icons .page-icons-list .icon-col {
        margin-bottom: 0;
    }
    .constructor-page .icon-img {
        max-height: 80px;
    }
    .constructor-page .advantage-blck-icon {
        height: 80px;
    }
}

@media (max-width: 480px) {
    .table-col-td .td-subtitle {
        font-size: 16px;
    }
    .help-prompt .help-prompt-text{
        left: -132px;
        bottom: 33px;
    }
    .parallax-content .icon-col {
        padding-bottom: 20px;
    }
    .constructor-page .page-icons-text {
        padding: 0 15px;
    }
}
@media (max-width: 767.9px) {
    .help-prompt {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: -15px;
        bottom: 5px;
    }
    .table-col-transp {
        display: none !important;
    }
    .table-col-btn .btn.btn-table {
        font-size: 24px;
    }


    .table-col.table-col-orange {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
    }

    #vrz-steps .vrz-main-title {
        font-size: 24px;
    }

    #vrz-steps {
        margin: 40px auto 150px;
    }

    .table-col-td .td-subtitle {
        width: 50%;
        display: flex;
        float: left;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        padding-right: 10px;
    }

    .table-col-orange .table-col-td {
        display: block;
        min-height: 70px;
        height: auto !important;
        padding: 12px 7px;
        position: relative;
    }

    .table-col-orange .td-info {
        padding-left: 15px;
        text-align: center;
        width: 50%;
        display: inline-block;
    }

    .table-col-total .td-info,
    .table-col-btn .td-info {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .table-col-td .td-subtitle-icon {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1199.9px) {
    .table-col-transp {
        display: none !important;
    }
    .table-col-td .td-subtitle-icon {
        display: none;
    }

    .table-col.table-col-orange {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .table-col-td .td-subtitle {
        display: block;
        width: 100%;
        text-align: center;

    }

    .table-col-orange .table-col-td {
        display: block !important;
        min-height: 70px;
        height: auto !important;
        padding: 12px 7px;
    }

    .table-col-orange .table-col-td .td-subtitle {
        line-height: 1.2 !important;
        margin-bottom: 10px;
    }

    .table-col-orange .table-col-td .td-info {
        min-height: 26px;
    }

    #vrz-steps .vrz-main-title {
        font-size: 32px;
    }

    #vrz-steps {
        margin: 40px auto 150px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .table-col-btn .btn.btn-table,
    .table-col-btn .btn.btn-table.btn-bordered {
        min-width: 90%;
        min-height: 45px;
        font-size: 24px;
    }
}


@media (min-width: 1200px) {
    .table-col-td .td-subtitle {
        display: none !important;
    }
}
