/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
    body {
      font-size: 18px;
    }

    button,
    label,
    p {
      font-size: 18px;
      line-height: 24px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
    }
    h3,
    h4 {
      font-size: 18px;
      line-height: 26px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    body {
      font-size: 18px;
    }
    button,
    label,
    p {
      font-size: 18px;
      line-height: 26px;
    }

    h2 {
      font-size: 24px;
      line-height: 40px;
    }
    h3,
    h4 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @media (min-width: 767px) and (max-width: 991px) {
    body {
      font-size: 18px;
    }

    p,
    label,
    button {
      font-size: 18px;
      line-height: 26px;
    }

    li {
      font-size: 18px;
      line-height: 26px;
    }

    h1 {
      line-height: 120;
    }

    h3 {
      font-size: 32px;
    }

    h2 {
      font-size: 24px;
      line-height: 45px;
    }
    h4 {
      font-size: 24px;
      line-height: 32px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    body {
      font-size: 18px;
    }

    label,
    p {
      font-size: 18px !important;
      line-height: 24px !important;
    }

    button {
      font-size: 24px !important;
      line-height: 26px !important;
    }
    h1 {
      font-size: 64px;
      line-height: 120px;
    }
    h2 {
      font-size: 40px;
      line-height: 45px;
    }
    h4,
    h3 {
      font-size: 32px;
      line-height: 48px;
    }
  }

  @media (min-width: 1200px) {
    button {
      font-size: 24px !important;
      line-height: 24px !important;
    }
    p {
      font-size: 18px !important;
      line-height: 24px !important;
    }

    body {
      font-size: 18px;
    }

    label {
      font-size: 18px !important;
      line-height: 26px !important;
    }

    h1 {
      font-size: 64px;
      line-height: 90px;
    }

    h2 {
      text-transform: uppercase;
      font-size: 40px;
      line-height: 48px;
    }

    h3 {
      text-transform: uppercase;
      font-size: 32px !important;
      line-height: 40px !important;
    }

    h4 {
      font-size: 32px !important;
      line-height: 40px !important;
    }
  }

  .main-bg {
    background-color: var(--main-color) !important;
  }

  .main-color {
    color: var(--main-color) !important;
    text-align: center;
  }

  .breadcrumbs li a,
  .breadcrumbs li a:first-child {
    color: #b6b6b6 !important;
    font-size: 18px;
  }

  .breadcrumbs li:last-child a {
    color: red !important;
  }

  #vrz-steps {
    margin: 130px auto 300px;
  }

  #vrz-steps .vrz-main-title {
    color: #495966;
    padding-top: 20px;
    font-weight: 900;
    text-align: left;
    position: relative;
    text-transform: uppercase;
  }

  #vrz-steps .vrz-main-title::before {
    background-color: #00AE81;
    width: 50px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
  }

  #vrz-steps .vzr-offer {
    text-align: left;
    color: #73808a;
    margin-left: 20px;
  }

  #vrz-steps .btn-next-step {
    background-color: #00AE81;
    min-width: 180px;
    min-height: 55px;
    color: #ffffff;
    font-size: 23.94px;
    font-weight: 900;
    line-height: 24px;
    border-radius: 50px;
    padding: 15px 21px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
  }

  .table-blocks {
    margin: 55px 0 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .table-col {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 100%;
  }

  .table-col-title,
  .table-col-td {
    height: 70px;
  }

  .table-col-orange .table-col-title {
    background: #00AE81;
    color: #fffdfd;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }

  .table-col-orange .table-col-td {
    padding: 5px 13px;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .table-col-orange .table-col-td:nth-child(2n) {
    background-color: #edf2f1;
  }

  .table-col-orange .table-col-td:last-child {
    background-color: transparent;
  }

  .table-col-orange .td-info {
    color: #495966;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    width: 100%;
  }

  .table-col-orange .td-info {
    height: 25px;
    position: relative;
  }

  .table-col-orange .td-info img {
    height: 100%;
  }

  .table-col-orange .td-info .table-currency {
    font-size: 16px;
    font-weight: bold;
    top: -0.7em;
  }

  .table-col-td.table-col-total {
    margin-top: 10px;
  }

  .table-col-transp .table-col-td {
    color: #73808a;
    text-align: right;
    background: #fff;
    padding: 5px 13px 5px 0px;
    line-height: 1.1;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .table-col-transp {
    background: #fff !important;
  }

  .table-col-td .td-subtitle-icon {
    margin-left: 15px;
    margin-right: 10px;
  }

  .table-col-td .td-subtitle-icon img {}

  .td-subtitle {
    position: relative;
  }

  .help-prompt {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    cursor: pointer;
    z-index: 999;
  }

  .help-prompt:hover .help-prompt-text {
    max-height: 1999px;
    padding: 10px;
    opacity: 1;
  }

  .help-prompt-icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 14px;
    color: white;
    background-color: #c6ccd0;
    padding: 6px;
  }

  .help-prompt-text {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #1c2b39;
    max-height: 0;
    width: 272px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #f5f7fd;
    color: #1c2b39;
    padding: 0;
    text-align: left;
    z-index: 1;
    opacity: 0;
    transition: .2s;
  }
  .table-col-total .td-info {
    color: #00AE81;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
  }

  .table-col-total .td-info .table-currency {
    font-size: 20px;
    font-weight: bold;

    /* top: -0.9em; */
  }

  .table-currency {
    position: unset;
  }

  .table-col-btn .btn.btn-table {
    background-color: #00AE81;
    min-width: 220px;
    min-height: 55px;
    border: 2px solid #00AE81;
    color: #ffffff;
    text-align: center;
  }

  .table-col-btn .btn.btn-table.btn-bordered {
    background-color: #fff;
    min-width: 220px;
    min-height: 55px;
    color: #00AE81;
    border: 2px solid #00AE81;
    font-size: 23.94px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
  }
