.accordion_container {
  display: flex;
  flex-direction: column;

  .accordion_header {
    margin-bottom: 20px;
    width: 100%;
    min-height: 54px;
    padding: 10px 70px 10px 20px;
    background-color: var(--main-color);
    color: #ccc;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    font-size: 24px;

    .show-more {
      background: transparent;
      position: absolute;
      top: 0;
      bottom: -1px;
      right: -1px;
      z-index: 2;
      width: 70px;
      cursor: pointer;

      &::before {
        transition: all 1s;
        content: "";
        position: absolute;
        top: 50%;
        z-index: 4;
        background: #fff;

        width: 20px;
        height: 2px;
        right: 28px;
        transform: rotate(180deg);
      }
      &::after {
        transition: all 1s;
        content: "";
        position: absolute;
        top: 50%;
        z-index: 4;
        background: #fff;

        width: 20px;
        height: 2px;
        right: 28px;

        opacity: 1;
        visibility: visible;
        transform: rotate(270deg);
      }
    }
  }
  .accordion_item.open {
    .accordion_content {
      height: auto;
    }

    .show-more {
      &::after {
        transform: rotate(0deg);
      }
      &::before {
        transform: rotate(0deg);
      }
    }
  }

  .accordion_content {
    height: 0;
    overflow: hidden;
  }
}
