@import "../helpers/media-helper.scss";

.attention {
  display: flex;

  @include for-less(tablet) {
    flex-direction: column;
  }

  .attention_icon-container {
    @include for-less(tablet) {
      display: flex;
      justify-content: center;
    }
  }
  
  .attention_text-block {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    
    @include for-less(tablet) {
      margin-left: 0;
    }
  }
  .colored-header {
    margin-bottom: 10px;
    margin-top: 0;
  }
}
