@import "../helpers/media-helper.scss";

.backgroung-block {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: rgba(28,43,57, .6);
  }
  & > * {
    z-index: 1;
    position: relative;
  }
  
  .row {
    padding-top: 1px;
    margin-top: -1px;
    
    .col {
      padding: 0;
    }
  }
  
  .background-block_title {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
  }

  .background-block_items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .background-block_item {
      display: flex; 
      flex-grow: 1;
      width: 230px;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      min-width: 230px;
      padding-bottom: 40px;

      @include for-exactly(mobile) {
        padding: 0 0 40px;
      }
      
      .background-block_item-icon {
        height: 100px;
        margin-bottom: 30px;
      }

      .background-block_item-text {
        color: #fff;
        text-align: center;
      }
    }
  }
}