@import "../helpers/media-helper.scss";

.column {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
}

.linear-fields {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }

  & > * {
    margin-bottom: 30px;
  }
}

// CONTAINERS
.container-wide {
  margin: 0 auto;
  padding: 0 30px;

  // @include for-exactly(mobile) {
  //   padding: 0 10px;
  // }
}
@media (min-width: 1500px) {
  .container-wide {
    max-width: 1400px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .container-wide {
    max-width: 1200px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container-wide {
    max-width: 1200px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container-wide {
    max-width: 960px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container-wide {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container-wide {
    max-width: 540px;
  }
}
