.dotted-list {
  padding-left: 25px;
  li {
    position: relative;
    list-style: none;
    padding-bottom: 10px;

    &::before {
      content: '';
      height: 8px; 
      width: 8px;
      background-color: var(--main-color);
      border-radius: 50%;
      position: absolute;
      top: 0.5em;
      left: -15px;
      transform: translate(-50%, -15%);
    }
  }
}