@import "../helpers/media-helper.scss";

.forms-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-icon-col {
  padding: 0px 15px 30px;
  margin-top: 40px;
  max-width: 500px;
  
  @include for-exactly(mobile) {
    padding: 1px 0px 30px;
  }

  .form-col-wrap {
    background-color: #edf2f1;
    position: relative;
    padding: 1px 30px 30px;
    margin: -1px auto 0 auto;

    @include for-exactly(mobile) {
      padding: 1px 15px 30px;
    }
  }

  .icon {
    position: absolute;
    top: -60px;
    width: 120px;

    & > * {
      margin-left: -15px;
    }
  }

  label {
    margin-top: 15px;
  }
}
