@import "../helpers/media-helper.scss";

//TEXT INPUT
label.text-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  .label-title {
    color: #73808a;
    margin-bottom: 3px;
  }

  input {
    height: 54px;
    width: 100%;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #a1abb3;
    padding: 5px 10px 5px 15px;
    transition: all 300ms;
    font-size: 18px;

    &:focus,
    &:hover {
      outline: none;
      border-color: var(--main-color);
    }
  }
}

// Invisible input
label.invisible-input {
  display: flex;
  flex-direction: column;
  // flex-grow: 1;

  .label-title {
    color: #73808a;
    margin-bottom: 3px;
  }

  .input-pencil-icon {
    position: relative;
    display: flex;

    input {
      position: relative;
      width: 100%;
      box-sizing: border-box;
      border: none;
      font-size: 30px;
      color: #1c2b39;
      font-weight: 700;
      padding: 10px 35px 10px 5px;
      background-color: transparent;
      z-index: 2;
      border-bottom: 2px solid transparent;

      @media (max-width: 480px) {
        font-size: 18px;
      }

      @media (min-width: 480px) and (max-width:890px) {
        font-size: 24px;
      }

      &::placeholder {
        color: #1c2b39;
        font-weight: 700;
      }

      &:hover,
      &:focus {
        border-bottom: 2px solid var(--main-color);

        & ~ svg .a {
          fill: var(--main-color);
        }
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }

    svg {
      z-index: 1;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// CHECKBOX
label.checkbox-input {
  position: relative;

  .label-title {
    padding-left: 30px;
    color: #1c2b39;
    display: block;
  }

  input {
    display: none;
  }

  span.checker {
    position: absolute;
    top: 0.5em;
    left: 0;
    transform: translate(-0%, -25%);
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid #a1abb3;
  }

  input:checked + span.checker::before {
    content: "";
    display: block;
    position: absolute;
    left: 49%;
    top: 40%;
    height: 7px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
}
/*
<label for="chb1" class="checkbox-input">
  <span class="label-title">
    TEXTTEXT TEXT
  </span>
  <input type="checkbox" id="chb1">
  <span class="checker"></span>
</label>
*/

// CHECKBOX PROMO
.checkbox-promo-input {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-exactly(mobile) {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: unset;
  }

  .label-title {
    padding-left: 30px;
    color: #1c2b39;
    position: relative;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="text"] {
    opacity: 0;
    border: 1px solid transparent;
    height: 0px;
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 10px 5px 15px;
    transition-property: height, border-color, opacity;
    transition-duration: 0.3s, 0.2s, 0.3s;
    font-size: 18px;

    @include for-exactly(mobile) {
      padding-top: 0;
      padding-bottom: 0;
    }

    &:focus,
    &:hover {
      outline: none;
      border-color: var(--main-color);
    }
  }

  span.checker {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-0%, -45%);
    display: block;
    height: 20px;
    width: 20px;
    border: 2px solid #a1abb3;
  }

  input:checked ~ .label-title span.checker::before {
    content: "";
    display: block;
    position: absolute;
    left: 49%;
    top: 40%;
    height: 7px;
    width: 10px;
    transform: translate(-50%, -50%) rotate(-45deg);
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
  }
  input:checked ~ input[type="text"] {
    opacity: 1;
    height: 54px;
    border: 1px solid #a1abb3;

    @include for-exactly(mobile) {
      margin-top: 10px;
    }
  }
}

// DATEPICKER
.datepicker-label {
  width: 100%;

  .label-title {
    color: #73808a;
    padding-bottom: 3px;
  }

  .date.date-picker {
    border-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
  }

  input {
    height: 54px;
    width: 100%;
    border-radius: 5px;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: transparent;
    border: 1px solid #a1abb3;
    padding: 5px 10px 5px 15px;
    transition: all 300ms;
    font-size: 18px;

    &:focus,
    &:hover {
      outline: none;
      border-color: var(--main-color);
    }
  }

  .datepicker {
    border-color: var(--main-color);
  }

  .datepicker table .active.day span {
    background: var(--main-color);
  }

  .datepicker .datepicker-days .table-condensed thead tr th {
    color: #1c2b39;
  }

  .datepicker .datepicker-switch::before {
    background: var(--main-color);
  }

  .date-picker input:focus,
  .date-picker input.dateisker-op-input {
    border-color: var(--main-color);
    transition: all 0.3s;
  }

  .date-picker .input-group-addon {
    position: absolute;
    top: 50%;
    cursor: pointer;
    right: 5px;
    fill: #a1abb3;
    height: 28px;
    width: 29px;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
  }

  .date-picker input + .input-group-addon.datepicker-opened,
  .date-picker input:focus + .input-group-addon,
  .date-picker input + .input-group-addon:focus,
  .date-picker input + .input-group-addon:hover {
    fill: var(--main-color);
    transition: all 0.5s;
  }

  .datepicker-days .table-condensed tbody tr td {
    padding: 0;
  }

  .datepicker-days .table-condensed thead tr th {
    padding-left: 0;
  }
}

// INPUT GROUP
.input-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;

  label {
    // &,
    // &.text-input {
    //   // width: 160px;
    //   // flex-grow: 1;
    // }

    .label-title {
      display: block;
      color: #73808a;
      position: relative;
      margin-bottom: 0px;
      padding-bottom: 3px;
    }
  }
}

// NICE SELECT
.nice-select {
  height: 54px !important;
  font-size: 1rem !important;
  display: flex;
  align-items: center;

  &.control {
    background-color: transparent !important;
  }
  .option {
    position: relative;
    font-size: 1rem !important;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  &::after {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 20px;
  }

  .list {
    width: 100%;
  }

  .option::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    opacity: 0;
    left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
  }

  .option:hover,
  .option.focus,
  .option.selected.focus {
    background-color: #eef2f1;
    color: #1c2b39;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
  }

  .option.selected.focus::before,
  .option:hover::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 20px;
    -webkit-transform-origin: 45% 45%;
    -ms-transform-origin: 45% 45%;
    transform-origin: 45% 45%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-right: 2px solid var(--main-color);
    border-top: 2px solid var(--main-color);
    height: 8px;
    width: 8px;
    opacity: 1;
  }
}
