@import "../helpers/media-helper.scss";

.price-purhase {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 20px;

  .price-value {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: var(--main-color);
  }

  .buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @include for-exactly(mobile) {
      display: flex;
      flex-direction: column-reverse;

      & > button {
        margin: 10px 0;
      }
    }

    .back-button {
      margin-top: 10px;
      height: 55px;
      border-radius: 28px;
      padding-left: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid var(--main-color);
      color: var(--main-color);
      font-size: 24px;
      text-transform: uppercase;
      font-weight: bold;
      width: 220px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translate(-50%, -50%) rotate(45deg);
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        height: 15px;
        width: 15px;
      }

      &:hover {
        background-color: var(--main-color);
        color: #fff;

        &::before {
          border-color: #fff;
        }
      }

      &.disabled {
        border-color: #a1abb3;
        background-color: #a1abb3;
        cursor: not-allowed;
      }
    }
  }

  &.discount .price-value {
    position: absolute;
    top: 0px;
    text-decoration: line-through;
    font-weight: normal;
    line-height: 1.33rem;
    font-size: calc(1rem + 6px);
    color: #121212;
  }

  .price-discount {
    display: none;
    text-align: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 900;
    color: var(--main-color);
  }

  &.discount .price-discount {
    display: block;
  }

  .purchase-button {
    margin-top: 10px;
    height: 55px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    width: 220px;

    &:hover,
    &:focus {
      outline: none;
    }

    &.disabled {
      border-color: #a1abb3;
      background-color: #a1abb3;
      cursor: not-allowed;
    }
  }
}
