:root {
  --purple: #8270b3;
  --violet: #f5f7fd;
  --grey: #c6ccd0;
}


.form-check {
  width: 95%;
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.pdf {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pdf a:hover {
  cursor: pointer;
}

.form-check .popover-link {
  cursor: pointer;
}

.form-check .popover-link img {
  margin-top: -15px;
}

.form-check .form-check-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-left: 0;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.label-icon {
  width: 48px;
  height: 48px;
  background-color: var(--grey);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label-icon img {
  width: 70%;
  height: 70%;
}

.form-check .form-check-label .label-text {
  min-height: 50px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50px 1fr;
}

.form-check .form-check-label .label-text span,
.form-radio .form-check-label .label-text span {
  color: #1c2b39 !important;
}

.form-check .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check .form-check-label .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 1px solid #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check .form-check-label input:checked~.checkmark:after {
  display: block;
}

.form-check .form-check-label input:checked~.label-text .label-icon {
  background-color: var(--purple);
}

.form-check .form-check-label .checkmark:after {
  width: 12px;
  height: 12px;
  background: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
}

.upper {
  text-transform: uppercase;
}

.page .bg-overlay-darker {
  background: rgba(0, 0, 0, 0.6);
}

.constructor-page .page-info-title {
  font-weight: 500;
  width: 70%;
}

.constructor-page .page-info-text {
  font-size: 18px;
}

.constructor-page .page-icons-text div:first-of-type {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

.select {
  width: 90%;
}

.advantage .advantage-blck ul li::before,
.faq-list .card-body ul li::before {
  color: var(--purple);
}

.product-details .text-block ul li::before {
  color: var(--purple);
}

.constructor-page .page-icons-list {}

.constructor-page .icon-col {
  padding: 0;
  width: 33.33%;
}

.parallax-container {
  margin-top: 60px;
}

.constructor-page .page-icons-text div:last-of-type {
  font-size: 24px;
  font-weight: 400;
}

.constructor-page .page-icons-text:first-letter {
  text-transform: uppercase;
}

.constructor-page .wrap-icons {
  margin: 90px 0 !important;
  background-color: var(--violet) !important;
}

.constructor-page .icon-img {
  margin-bottom: 15px !important;
}

.constructor-page .page-info-text {
  margin: 0 !important;
}

.constructor-slug {
  font-size: 64px;
  font-weight: 700;
  color: white;
  line-height: 1;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.constructor-list-pref {
  margin-top: 70px;
}

.constructor-page .card-title a {
  font-size: 24px !important;
  background-color: var(--purple) !important;
}

.constructor-page .collapse {
  padding: 20px 10px;
  font-size: 18px !important;
}

.constructor-page .advantage-blck {
  position: relative;
  padding: 60px 30px 45px;
  min-height: auto;
}

.constructor-list-pref .advantage-blck {
  background: none;
}

.constructor-list-pref .advantage-blck-title {
  text-align: left;
}

.constructor-page .advantage-blck-icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.constructor-page .advantage-blck-submit {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.constructor-page .advantage-blck-submit button {
  height: 55px;
  width: 220px;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  background: #00AE81 0% 0% no-repeat padding-box;
  border: 1px solid #00AE81;
  border-radius: 28px;
  margin: 80px auto 0;
  cursor: pointer;
  user-select: none;
}

.constructor-advantage h4 {
  position: relative;
}

.constructor-advantage h4:after {
  content: '';
  width: 40px;
  height: 3px;
  position: absolute;
  display: block;
  left: 0;
  bottom: -17px;
  right: 0;
  background-color: var(--main-color);
  margin: auto;
}

.constructor-calendar-item-select {
  position: relative;
}

.constructor-calendar-item-input {
  position: relative;
  width: 87%;
}

.constructor-calendar-item-select input {
  height: 50px;
  width: 100%;
  padding: 10px 60px 10px 15px;
  color: #A1ABB3;
  border: 1px solid #edf2f1;
  border-radius: 5px;
  opacity: 1;
}

.constructor-calendar-item-select img {
  position: absolute;
  right: 15px;
  height: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
}


/* constructor-page date picker */

.constructor-page input[type="date"],
.constructor-page input[type="text"] {
  margin: auto !important;
  position: relative;
  border-color: #A1ABB3 !important;
  background: transparent !important;
  transition: all 0.3s;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 24px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
  min-height: 53px;
}

.input-check,
.pdf {
  margin-left: 5%;
}

.constructor-page input[type="date"]:focus,
.constructor-page input[type="text"]:focus,
.constructor-page .date-picker input:hover {
  transition: all 0.3s;
}

.constructor-page .input-group .date {
  padding-bottom: 30px;
}

.constructor-page .date-field {
  position: relative;
}

.constructor-page .date-field label {
  margin-left: 0 !important;
  margin-bottom: 15px;
}

.constructor-page .input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.constructor-page .input-group input {
  width: 95%;
}

.constructor-page .input-group input::placeholder {
  color: #c6ccd0;
}

.constructor-page .input-group label {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.constructor-page .input-group label span {
  color: #C6CCD0;
}

.constructor-page input.w-100 {
  position: relative;
  width: 100%;
}

.constructor-page .date-picker .input-group-addon {
  position: absolute;
  top: calc(50% - 14px);
  cursor: pointer;
  right: 18px;
  content: "";
  height: 28px;
  width: 29px;
  transition: all 0.5s;
}

.constructor-page .input-group-slug {
  color: #a1abb3;
  padding: 10px 40px 0;
  text-align: center;
}

.constructor-page .date-picker .input-group-addon svg path {
  fill: #888888;
}

.constructor-page .date-picker input+.input-group-addon:focus,
.constructor-page .date-picker input+.input-group-addon:hover svg path {
  transition: all 0.5s;
  fill: #229fff;
}


/* // constructor-page date picker */

.constructor-page .add-birthday {
  position: absolute;
  right: -36px;
  height: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  max-height: 25px;
}

.constructor-calendar-list {}

.constructor-calendar-item {
  list-style: none;
  margin-bottom: 20px;
}

.constructor-calendar-item-title {
  margin-bottom: 10px;
}

.constructor-page .advantage .faq-title {
  margin-bottom: 60px;
}

.constructor-page .wrap {
  margin: 0 auto 30px;
}

.constructor-page .constructor-form {
  margin-top: 70px;
}

.constructor-page .constructor-form-input {
  margin-bottom: 30px;
}

.constructor-page .constructor-form-input .constructor-form-label span {
  user-select: none;
}

.constructor-page .constructor-form-input .constructor-form-label span:first-of-type {
  color: #1C2B39;
  font-weight: 500;
  font-size: 18px;
}

.constructor-page .constructor-form-input .constructor-form-label span:last-of-type {
  color: var(--main-color);
  display: inline-block;
  font-weight: 800;
  font-size: 24px;
  margin-left: 20px;
}

.constructor-page .date-picker input+.input-group-addon:focus,
.constructor-page .date-picker input+.input-group-addon:hover svg path {
  fill: #00ae81;
}

.constructor-page .datepicker {
  border-color: #00ae81;
}

.constructor-page .datepicker .datepicker-switch::before {
  background: #00ae81;
}

.constructor-page .datepicker table .active.day span {
  background: #00ae81;
}

.constructor-page .collapse-item {
  overflow: hidden;
  max-height: 0;
  transition: .6s;
}

.constructor-page .collapse-item.active {
  max-height: 1000px;
}

.constructor-page .collapse-item .card-body {
  padding: 20px 250px 20px 20px !important;
  font-size: 18px;
  line-height: 24px;
}

.constructor-page .collapse-item .card-body li {
  font-size: 18px;
}

.constructor-page .collapse-item .card-body p {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
}

.constructor-page .collapse-item .card-body p:last-child {
  margin-bottom: 0;
}

.form-radio {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.form-radio .form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-radio .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-radio .form-check-label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #a1abb3;
}

.form-radio .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio .form-check-label input:checked~.checkmark:after {
  display: block;
}

.form-radio .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--purple);
}


/* constructor form */
.constructor-form {
  margin-bottom: 80px;
}

.constructor-form-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.constructor-form-btns {
  text-align: center;
  padding-top: 60px;
}

.constructor-form-btn-submit {
  width: 220px;
  height: 55px;
  background: var(--purple);
  border-radius: 28px;
  color: white;
  cursor: pointer;
  text-align: center;
  font: Bold 24px/24px Source Sans Pro;
  letter-spacing: 0px;
  text-transform: uppercase;
  border: 0;
}

.constructor-form-btn-submit:disabled {
  background: var(--grey);
}

/* start slide table */
#dms-steps {
  margin: 60px auto 50px;
  display: none;
}

#dms-steps .row {
  margin-top: 0px;
}

#dms-steps .dms-main-title,
#dms-info-blck .dms-info-title {
  color: #495966;
  padding-top: 20px;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#dms-steps .dms-main-title::before,
#dms-info-blck .dms-info-title::before {
  background-color: #00ae81;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#dms-steps .dms-main-subtitle,
#dms-info-blck .dms-info-subtitle {
  color: #73808a;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  max-width: 1165px;
  margin-bottom: 20px;
}

#dms-info-blck .dms-info-subtitle {
  max-width: 100%;
}

#dms-steps .dms-main-subtitle a {
  color: #00a5b8;
}

.program-slider-item {
  transition: all 0.5s !important;
  cursor: pointer;
}

.program-slider-item img {
  transition: all 0.5s !important;
  filter: grayscale(100%);
}

.program-slider-item.swiper-slide-active {
  transition: all 0.5s !important;
}

.program-slider-item.swiper-slide-active img {
  transition: all 0.5s !important;
  filter: grayscale(0%);
}

.swiper-container {
  height: auto !important;
  background: #fff;
}

.program-slider-item,
.program-slider-item>div {
  background: #fff;
}

.program-slider-item.swiper-slide:after,
.program-slider-item.swiper-slide:before {
  background: transparent !important;
  content: none !important;
}

.program-slider-item.swiper-slide-active {
  z-index: 2;
}

.program-slider-item .slide-item-row {
  min-height: 50px;
  padding: 5px 10px;
}

.program-slider-item .slide-item-row:nth-child(even) {
  background-color: #edf1f0;
}

.program-slider-item .slide-item-row:nth-child(odd) {
  background-color: #fff;
}

.program-slider-item.swiper-slide-active .slide-item-title {
  background-color: #00ae81 !important;
}

.program-slider-item .slide-item-title {
  background-color: #00ae81 !important;
  text-align: center;
  color: #fffdfd;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding: 5px 28px;
  word-break: normal;
  white-space: normal;
}

.program-slider-item .slide-item-subtitle {
  color: #c6cdd1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-subtitle {
  font-weight: 400;
  line-height: 1;
  transition: all 0.3s;
  white-space: normal;
}

.program-slider-item .slide-item-price {
  color: #c6cdd1;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.3s;
  line-height: 24px;
}

.program-slider-item.swiper-slide-active .slide-item-price {
  color: #00ae81;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check {
  color: #1c2b39;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
  margin-top: 10px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check-franchize {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check-franchize {
  color: #00664d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-footer a {
  color: #1c2b39;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer a {
  color: #c6cdd1;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer img {
  margin-right: 8px;
}

.program-slider-container .swiper-button-prev {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-prev,
.program-slider-container .swiper-button-next {
  display: block;
}

.program-slider-container .swiper-button-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../../images/common/slider-table/slider_prev_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-next {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-next::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../../images/common/slider-table/slider_next_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-prev:hover,
.program-slider-container .swiper-button-next:hover {
  box-shadow: 0px 3px 13.65px 1.35px rgba(0, 66, 50, 0.2);
  transition: all 0.3s;
}

.program-slider-btns {
  margin: 30px auto;
}

.program-slider-btns a.program-slider-btns-offer {
  color: #1c2b39;
  font-weight: 600;
  line-height: 24px;
}

.program-slider-btns p {
  margin-bottom: 15px;
}

.program-slider-btns a.program-slider-btns-offer img {
  margin-right: 10px;
}

.program-slider-btns a.program-slider-btns-buy {
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  transform: scaleY(1.003);
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  width: 220px;
  height: 48px;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 21px;
}

#dms-info-steps {
  background-color: #edf2f1;

  padding: 20px 0 35px;
  margin: 30px auto;
}

#dms-info-steps .dms-info-steps-title {
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 40px;
  text-transform: uppercase;
}

#dms-info-steps .dms-info-steps-list .step-img {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::before {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::after {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: calc(50% - 7px);
  background: url(../../images/common/slider-table/steps_info_dot_before.png) no-repeat;
  width: 14px;
  height: 14px;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::after {
  content: "";
  position: absolute;
  left: -385px;
  top: calc(50% - 2.5px);
  background: url(../../images/common/slider-table/steps_info_dot_after.png);
  width: 355px;
  height: 5px;
}

#dms-info-steps .dms-info-steps-list .step-col {
  max-width: 515px;
  width: 515px;
}

#dms-info-steps .dms-info-step-text {
  color: #1c2b39;
  max-width: 380px;
  margin: auto;
}

#dms-info-steps .dms-info-steps-list .col-12 img::after {
  content: "";
  position: absolute;
  background: url(../../images/common/slider-table/steps_info_dot_before.png);
}

.advantages-h3 {
  margin-bottom: 30px;
}

#dms-info-clients {
  margin: 30px auto;
  font-weight: 400;
  line-height: 26px;
  color: #1c2b39;
  text-align: left;
}

#dms-info-clients h5 {
  color: #00ae81;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

#dms-info-policy {
  margin: 30px auto;
}

#dms-info-policy h5 {
  text-transform: uppercase;
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#dms-info-policy ul li {
  color: #1c2b39;
  text-align: left;
  position: relative;
  padding-left: 20px;
}

#dms-info-policy ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: 10px;
  transform: translateY(-50%);
  position: absolute;
}

#dms-advantage-blck {
  margin: 60px auto 40px;
  background-color: #edf2f1;

  padding: 20px 0 40px;
}

#dms-advantage-blck .dms-advantage-title {
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

#dms-advantage-blck .advantage-icon {
  margin-bottom: 20px;
}

#dms-advantage-blck .advantage-text {
  color: #1c2b39;
  font-weight: 400;
  margin-bottom: 50px;
}

#attention {
  margin: 50px 0;
}

#attention .warning-icon {
  margin-right: 40px;
  margin-bottom: 20px;
}

#attention .warning-text {
  text-align: left;
}

#attention .warning-text .title {
  margin-bottom: 20px;
  color: #00ae81;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

#attention .warning-text p {
  color: #1c2b39;
}

#attention .warning-text ul {
  margin: 10px 0;
}

#attention .warning-text ul li {
  color: #1c2b39;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

#attention .warning-text ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: -2px;
  position: absolute;
}

#attention .app-links {
  text-align: center;
}

#attention .qr-code>* {
  margin: 0px 10px;
}

#attention .qr-code {
  margin: 20px auto 10px;
}

#attention .app-links a {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

#dms-faq {
  margin: 60px auto 120px;
}

#dms-faq .dms-faq-title {
  color: #00ae81;
}

#dms-faq .card-corporate .card-title a {
  padding: 15px 82px 15px 23px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 34px;
  border-radius: 10px;
  background-color: #00ae81;
  border: 0px;
  overflow: hidden;
}

#dms-faq .card-corporate .card-body {
  border: 0px;
  padding: 15px 44px 15px 23px;
}

#dms-faq .card-corporate .collapse {
  border: 0px;
}

#dms-faq .card-corporate {
  box-shadow: none;
}

#dms-faq .card-corporate .card-plus {
  background: #00ae81;
  border-radius: 10px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
}

#dms-faq .card-corporate .card-title a .card-plus:after {
  opacity: 1;
  visibility: visible;
}

#dms-faq .card-corporate .card-plus::after,
#dms-faq .card-corporate .card-plus::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
}

#dms-faq .card-corporate .card-plus::before {
  width: 20px;
  height: 2px;
  right: 28px;
}

#dms-faq .card-corporate .card-plus::after {
  width: 20px;
  height: 2px;
  right: 28px;
}

#dms-faq .card-corporate .card-plus::after {
  transition: all 1s;
}

#dms-faq .card-corporate .collapsed .card-plus::after {
  transform: rotate(270deg);
  transition: all 1s;
}

#dms-faq .card-corporate .collapsed .card-plus::before {
  transform: rotate(180deg);
  transition: all 1s;
}

#dms-faq .card-body {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

#dms-faq .card-body p {
  margin-bottom: 25px;
}

#dms-faq .card-body a {
  display: inline-block;
  color: #00ae81;

  text-decoration: underline;
}

#dms-faq .card-body ul li {
  position: relative;
  padding-left: 20px;
}

#dms-faq .card-body ul li::before {
  content: "•";
  color: rgb(0, 174, 129);
  font-size: 35px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#dms-main-footer {
  padding: 40px 0;
}

#dms-main-footer .dms-main-footer-title {
  font-size: 32px;
  line-height: 40px;
  color: #1c2b39;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-title span {
  color: #00ae81;
  font-weight: 700;
  margin-bottom: 90px;
}

#dms-main-footer .dms-main-footer-contacts {
  color: #1c2b39;
  max-width: 1550px;
  margin: auto;
}

#dms-main-footer .dms-main-footer-contacts p {
  line-height: 32px;
  color: #00ae81;
  font-size: 2rem !important;
  margin: 10px auto;
  font-weight: 700;
}

#dms-main-footer .dms-main-footer-contacts a {
  line-height: 32px;
  color: #00ae81;
  font-size: 24px;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-contacts-links {
  margin: 20px auto;
}

#dms-scroll-blck {
  margin: 50px 0 150px;
}

#dms-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#dms-scroll-blck a {
  color: #00ae81;
  font-size: 2rem;
  line-height: 38px;
}

.parallax-content .icon-col {
  width: 25%;
  padding-bottom: 60px;
}

.page-section-parallax .page-icons-text div {
  font-size: 18px;
}

/* end contructor */

/* custom styles */
.text-white {
  color: white;
}

.material-parallax img {
  min-height: 120%;
}

.plus-minus-toggle:before,
.plus-minus-toggle:after {
  background: #ffffff;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
  transition: transform 500ms ease;
}

.plus-minus-toggle:after {
  transform-origin: center;
}

.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}

.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}

body {
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat;
}

.block {
  height: 5em;
  line-height: 5em;
  width: 10em;
  background: #464646;
  color: #fdfdfd;
  text-align: center;
  margin: 1em auto;
  text-shadow: 0 0 1px #333;
  /* so one can see fadeBgColor properly */
}

.animatable {
  /* initially hide animatable objects */
  visibility: hidden;
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#dms-scroll-to-top {
  margin-bottom: 30px;
}

#dms-scroll-to-top span {
  color: var(--purple);
  font-size: 24px;
  padding: 15px;
}

#dms-scroll-to-top img {
  display: block;
  margin: 15px auto;
}


.program-details {
  padding-top: 90px;
}

.program-details .icon-col {
  width: 25%;
}

.program-details .icon-col .icon-img {
  max-height: 130px;
}

.program-details .icon-col .icon-img {
  width: auto;
  height: 100%;
}
.program-details .icon-col .icon-img img {
  width: 100%;
  height: 100%;
}

.program-details .text-block {
  padding-right: 350px;
  padding-top: 90px;
}

.program-details .text-block li {
  position: relative;
  padding-left: 25px;
}

.program-details .text-block li b {
  color: #1c2b39;
}



.program-details .text-block li:before {
  position: absolute;
  content: "•";
  color: var(--purple);
  font-size: 35px;
  left: 0px;
  top: -5px;
  line-height: 1;
}

.construction-form-wrapper {
  max-width: 820px;
}

.input-check .input-group {
  width: 50%;
}

.input-check .form-check-label .checkmark {
  top: 5px;
}

.hint {
  position: relative;
  width: 10px;
  height: 10px;
}

.hint-text {
  position: absolute;
  left: 100%;
  width: auto;
  height: auto;
  min-width: 300px;
  bottom: 0;
  padding: 5px;
  color: #1c2b39;
  font-size: 10px;
  line-height: 16px;
  border-radius: 5px;
  background-color: var(--violet);
  transition: .3s all ease-in-out;
  visibility: hidden;
  opacity: 0;
  z-index: 50;
}

.hint:hover .hint-text {
  visibility: visible;
  opacity: 1;
}

.added-radio {
  display: none !important;
}

.constructor-form-fields .active-radio {
  display: block !important;
}

.input-check .insurance-input,
.input-check .promo-input {
  display: none;
  transition: .3s all ease-in-out;
}

.input-check .active-input {
  display: block;
}

.form-radio .form-radio-input {
  width: 20% !important;
}

.input-check .form-check .form-check-label {
  width: 50%;
}

.input-check .form-check .nice-select {
  margin-left: 10px;
}