
@media screen and (max-width:1440px) {
    .form-check .form-check-label .label-text {
        grid-template-columns: 40px 1fr;
      }
      
      .form-check .form-check-label .label-text span,
      .form-radio .form-check-label .label-text span {
        color: #1c2b39 !important;
        font-size: 14px;
      }
      .label-icon {
        width: 35px;
        height: 35px;
      }

      .program-details .text-block {
        padding-right: 100px;
    }

    .constructor-page .collapse-item .card-body {
        padding:  20px 100px 20px 20px !important;
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width:1020px) {
    .constructor-page .advantage-blck {
        margin-bottom: 80px;
    }

    .constructor-page .icon-col {
        width: 33%;
    }

    .constructor-list-pref {
        margin-top: 30px;
    }

    .constructor-list-pref .advantage-blck {
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .constructor-page .advantage-blck-submit {
        margin: 0 auto 10px;
    }

    .form-check,
    .form-radio {
        flex-direction: column;
        align-items: start;
    }

    .form-check .form-check-label {
        margin-bottom: 20px !important;
    }

    .form-check .input-group {
        width: 100%;
    }

    .program-details .text-block {
        padding-right: 20px;
    }

    .constructor-page .collapse-item .card-body {
        padding:  20px !important;
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width:768px) {
    .constructor-page .card-title a {
        font-size: 18px !important;
    }

    .faq-list .card-body {
        font-size: 19px;
    }

    #page-content {
        padding: 40px 0 80px 0;
    }

    .constructor-page .icon-col {
        width: 50%;
    }

    .leadership-title {
        padding-top: 20px !important;
        margin-top: 40px;
    }

    .dms-slide-table {
        display: none;
    }

    #dms-steps {
        display: block;
    }

    #dms-scroll-to-top span {
        font-size: 20px;
    }

    .program-details .text-block {
        padding-right: 0;
    }

    .constructor-page .collapse-item .card-body {
        padding: 20px !important;
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (max-width:480px) {
    .constructor-page .icon-col {
        width: 100%;
        margin-bottom: 20px;
    }

    .constructor-page .advantage-blck {
        padding: 0;
    }

    .constructor-page .page-icons-text div:last-of-type {
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .constructor-page .input-group-slug {
        font-size: 14px;
    }

    #page-content .wrap-icons .page-icons-list .icon-col {
        margin-bottom: 0;
    }


}