  /* dms-slide-table */
  .dms-slide-table {
    margin-top: 50px;
}

.dms-slide-table .swiper-wrapper {
    display: block;
}

.dms-slide-table .swiper-slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.slide-table-title {
    color: var(--green);
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.dms-slide-table .slide-item-subtitle {
    text-align: center;
    font-size: 18px;
    color: #1c2b39;
    font-weight: bold;
}

.dms-slide-table .slide-item-translation {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #C6CCD0;
}
.dms-slide-table .slide-item-translation:hover {
    color: gray;
}

.dms-slide-table .slide-item-info{
    padding: 10px;
}
.dms-slide-table .program-slider-item{
    height: 55px;
    background: #F5F7FD;
}
.dms-slide-table .program-slider-item.swiper-slide-active .slide-item-check {
    background: #F5F7FD;
}

.dms-slider-table .slide-item-subtitle {
    text-align: center;
    font-size: 18px;
    color: #1c2b39;
    font-weight: bold;
}

.dms-slider-table .slide-item-row {
    background: none;
    padding: 0;
    margin: 0;
}

.dms-slider-table .slide-item-row .slide-item-subtitle {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    font-weight: bold;
    margin: 0;
    background: white;

}

.dms-slider-table .slide-item-row .slide-item-subtitle .slide-item-subtitle-translate {
    display: inline-block;
    cursor: pointer;
    color: #C6CCD0;
    font-size: 18px;
    padding: 5px 0;
    transition: .3s;
}

.dms-slider-table .slide-item-row .slide-item-subtitle .slide-item-subtitle-translate:hover {
    color: gray;
}

.dms-slider-table .slide-item-row .slide-item-check {
    background: #F5F7FD;
    min-height: 55px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end slide table */