@media screen and (max-width:1020px) {
    .constructor-page .advantage-blck {
        margin-bottom: 80px;
    }
    .constructor-list-pref {
        margin-top: 30px;
    }
    .constructor-list-pref .advantage-blck {
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .constructor-page .advantage-blck-submit {
        margin: 0 auto 10px;
    }
}

@media screen and (max-width:768px) {
    .constructor-page .card-title a {
        font-size: 18px !important;
    }
    .faq-list .card-body {
        font-size: 19px;
    }
    #page-content {
        padding: 40px 0 80px 0;
    }
    .constructor-page .icon-col {
        width: 50%;
        margin-bottom: 20px;
    }
    .leadership-title {
        padding-top: 20px !important;
        margin-top: 40px;
    }
    .dms-slide-table {
        display: none;
    }
    #dms-steps {
        display: block;
    }
    #dms-scroll-to-top span {
        font-size: 20px;
    }
    .constructor-page .icon-img {
        max-height: 90px;
    }
    .constructor-page .page-icons-text {
        font-size: 18px !important;
    }
    .phone-call-tel {
        font-size: 24px;
    }
    .phone-call-tel span{
        font-size: 12px;
    }
    .phone-call-icon {
        height: 32px;
        width: 32px;
    }
    .phone-call-tel {
        margin-left: 10px;
    }
    .phone-call-input {
        width: 60%;
    }
}
/* dots of figures */
@media screen and (max-width:640px) {
    .check-health-siluet {
        justify-content: start;
    }
    .siluet-description {
        right: 5% !important;
        left: auto !important;
    }
    .container-siluet-radio {
        left: -80px;
    }
    .siluet-description {
        width: 45%;
        text-align: left !important;
    }
    .line-connection-dot {
        left: 0 !important;
    }
    .siluet-description-title {
        padding: 4px 10px;
    }
    .phone-call-input {
        width: 80%;
    }
    .check-health-top-title {
        font-size: 24px;
    }
}

@media screen and (max-width:480px) {
    .siluet-description-text {
        font-size: 14px;
        line-height: 1.2;
    }
    .container-siluet-radio {
        left: -140px;
    }
    .siluet-description {
        width: 40%;
    }
    .phone-call-description {
        line-height: 1.2;
    }
    .phone-call-input {
        margin: 45px auto 10px !important;
    }
    .phone-call-input {
        width: 100%;
    }
    .siluet-description {
        right: 1% !important;
    }
}
/* end dots of figures */


@media screen and (max-width:540px) {
    .page-icon {
        margin-bottom: 20px;
    }
    .constructor-page .page-icons-text div:first-of-type {
        margin-bottom: 5px;
    }
    .constructor-page .page-icons-text {
        padding: 0 10px;
    }
}

@media screen and (max-width:480px) {
    .constructor-page .icon-col {
        width: 100%;
        margin-bottom: 20px;
    }
    .constructor-page .advantage-blck {
        padding: 0;
    }
    .constructor-page .page-icons-text div:last-of-type {
        font-weight: 300;
        margin-bottom: 30px;
    }
    .constructor-page .input-group-slug {
        font-size: 14px;
    }
    #page-content .wrap-icons .page-icons-list .icon-col {
        margin-bottom: 0;
    }
    .constructor-page .icon-img {
        max-height: 80px;
    }
    .info-random-content-list, .info-random-div {
        font-size: 16px;
    }
    .info-random-content-title {
        font-size: 18px;
        text-align: center;
    }
    .info-random-content-text {
        margin-left: 0;
        width: 100%;
    }
    .info-random-content-icon {
        margin: auto;
        width: 18%;
    }
    .info-random-content {
        flex-direction: column;
    }
}