/* dms-slide-table origin styles */
.dms-slide-table {
    margin-top: 20px;
    margin-bottom: 80px;
}

.dms-slide-table .swiper-wrapper {
    display: block;
    max-width: 900px;
    margin: auto;
}

.dms-slide-table .swiper-slide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.swiper-slide {
    white-space: unset !important;
}

.slide-table-title {
    color: var(--green);
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.dms-slide-table .slide-item-subtitle {
    text-align: center;
    font-size: 18px;
    color: #1c2b39;
    font-weight: bold;
}

.dms-slide-table .slide-item-translation {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #C6CCD0;
}
.dms-slide-table .slide-item-translation:hover {
    color: gray;
}

.dms-slide-table .slide-item-info{
    padding: 10px;
}
.dms-slide-table .program-slider-item{
    height: 55px;
    background: #F5F7FD;
}
.dms-slide-table .program-slider-item.swiper-slide-active .slide-item-check {
    background: #F5F7FD;
}

.dms-slider-table .slide-item-subtitle {
    text-align: center;
    font-size: 18px;
    color: #1c2b39;
    font-weight: bold;
}

.dms-slider-table .slide-item-row {
    background: none;
    padding: 0;
    margin: 0;
}

.dms-slider-table .slide-item-row .slide-item-subtitle {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    font-weight: bold;
    margin: 0;
    background: white;

}

.dms-slider-table .slide-item-row .slide-item-subtitle .slide-item-subtitle-translate {
    display: inline-block;
    cursor: pointer;
    color: #C6CCD0;
    font-size: 18px;
    padding: 5px 0;
    transition: .3s;
}

.dms-slider-table .slide-item-row .slide-item-subtitle .slide-item-subtitle-translate:hover {
    color: gray;
}

.dms-slider-table .slide-item-row .slide-item-check {
    background: #F5F7FD;
    min-height: 55px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dms-slider-table .slide-item-row .slide-item-check-footered {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

/* end slide table origin styles */

/* slide table common styles */

.allowed {
    height: 16px;
    width: 13px;

    border-bottom: 3px solid var(--theme-color);
    border-right: 3px solid var(--theme-color);
    display: block;

    pointer-events: none;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.disallowed {

}

.allowed-text {}
.allowed-text p {}
/* end slide table common styles */