/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#dms-steps {
  margin: 130px auto 50px;
}

#dms-steps .row {
  margin-top: 0px;
}

#dms-steps .dms-main-title,
#dms-info-blck .dms-info-title {
  color: #495966;
  padding-top: 20px;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#dms-steps .dms-main-title::before,
#dms-info-blck .dms-info-title::before {
  background-color: #00ae81;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#dms-steps .dms-main-subtitle,
#dms-info-blck .dms-info-subtitle {
  color: #73808a;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  max-width: 1165px;
  margin-bottom: 20px;
}

#dms-info-blck .dms-info-subtitle {
  max-width: 100%;
}

#dms-steps .dms-main-subtitle a {
  color: #00a5b8;
}

.program-slider-item {
  transition: all 0.5s !important;
  cursor: pointer;
}

.program-slider-item img {
  transition: all 0.5s !important;
  filter: grayscale(100%);
}

.program-slider-item.swiper-slide-active {
  transition: all 0.5s !important;
}

.program-slider-item.swiper-slide-active img {
  transition: all 0.5s !important;
  filter: grayscale(0%);
}

.swiper-container {
  height: auto !important;
  background: #fff;
}

.program-slider-item,
.program-slider-item > div {
  background: #fff;
}

.program-slider-item.swiper-slide:after,
.program-slider-item.swiper-slide:before {
  background: transparent !important;
  content: none !important;
}

.program-slider-item.swiper-slide-active {
  box-shadow: 0px 0px 39.2px 0.8px rgba(90, 81, 81, 0.18);
  z-index: 2;
}

.program-slider-item .slide-item-row {
  min-height: 50px;
  padding: 5px 10px;
}

.program-slider-item .slide-item-row:nth-child(even) {
  background-color: #edf1f0;
}

.program-slider-item .slide-item-row:nth-child(odd) {
  background-color: #fff;
}

.program-slider-item.swiper-slide-active .slide-item-title {
  background-color: #00ae81 !important;
}

.program-slider-item .slide-item-title {
  background-color: #c6ccd0 !important;
  text-align: center;
  color: #fffdfd;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 28px;
  word-break: normal;
  white-space: normal;
}

.program-slider-item .slide-item-subtitle {
  color: #c6cdd1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-subtitle {
  color: #495966;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-price {
  color: #c6cdd1;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.3s;
  line-height: 24px;
}

.program-slider-item.swiper-slide-active .slide-item-price {
  color: #00ae81;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check {
  color: #1c2b39;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check-franchize {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check-franchize {
  color: #00664d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-footer a {
  color: #1c2b39;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer a {
  color: #c6cdd1;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer img {
  margin-right: 8px;
}

.program-slider-container .swiper-button-prev {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_prev_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-next {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-next::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_next_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-prev:hover,
.program-slider-container .swiper-button-next:hover {
  box-shadow: 0px 3px 13.65px 1.35px rgba(0, 66, 50, 0.2);
  transition: all 0.3s;
}

.program-slider-btns {
  margin: 30px auto;
}

.program-slider-btns a.program-slider-btns-offer {
  color: #1c2b39;
  font-weight: 600;
  line-height: 24px;
}

.program-slider-btns p {
  margin-bottom: 15px;
}

.program-slider-btns a.program-slider-btns-offer img {
  margin-right: 10px;
}

.program-slider-btns a.program-slider-btns-buy {
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  transform: scaleY(1.003);
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  width: 220px;
  height: 48px;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 21px;
}

#dms-info-steps {
  background-color: #edf2f1;

  padding: 20px 0 35px;
  margin: 30px auto;
}

#dms-info-steps .dms-info-steps-title {
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 40px;
  text-transform: uppercase;
}

#dms-info-steps .dms-info-steps-list .step-img {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::before {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::after {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: calc(50% - 7px);
  background: url(../images/steps_info_dot_before.png) no-repeat;
  width: 14px;
  height: 14px;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::after {
  content: "";
  position: absolute;
  left: -385px;
  top: calc(50% - 2.5px);
  background: url(../images/steps_info_dot_after.png);
  width: 355px;
  height: 5px;
}

#dms-info-steps .dms-info-steps-list .step-col {
  max-width: 515px;
  width: 515px;
}

#dms-info-steps .dms-info-step-text {
  color: #1c2b39;
  max-width: 380px;
  margin: auto;
}

#dms-info-steps .dms-info-steps-list .col-12 img::after {
  content: "";
  position: absolute;
  background: url(../images/steps_info_dot_before.png);
}

.advantages-h3 {
    margin-bottom: 30px;
}

#dms-info-clients {
  margin: 30px auto;
  font-weight: 400;
  line-height: 26px;
  color: #1c2b39;
  text-align: left;
}

#dms-info-clients h5 {
  color: #00ae81;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

#dms-info-policy {
  margin: 30px auto;
}

#dms-info-policy h5 {
  text-transform: uppercase;
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#dms-info-policy ul li {
  color: #1c2b39;
  text-align: left;
  position: relative;
  padding-left: 20px;
}

#dms-info-policy ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: 10px;
  transform: translateY(-50%);
  position: absolute;
}

#dms-advantage-blck {
  margin: 60px auto 40px;
  background-color: #edf2f1;

  padding: 20px 0 40px;
}

#dms-advantage-blck .dms-advantage-title {
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

#dms-advantage-blck .advantage-icon {
  margin-bottom: 20px;
}

#dms-advantage-blck .advantage-text {
  color: #1c2b39;
  font-weight: 400;
  margin-bottom: 50px;
}

#attention {
  margin: 50px 0;
}

#attention .warning-icon {
  margin-right: 40px;
  margin-bottom: 20px;
}

#attention .warning-text {
  text-align: left;
}

#attention .warning-text .title {
    margin-bottom: 20px;
  color: #00ae81;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

#attention .warning-text p {
  color: #1c2b39;
}

#attention .warning-text ul {
  margin: 10px 0;
}

#attention .warning-text ul li {
  color: #1c2b39;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

#attention .warning-text ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: -2px;
  position: absolute;
}

#attention .app-links {
  text-align: center;
}

#attention .qr-code > * {
    margin: 0px 10px;
}

#attention .qr-code {
  margin: 20px auto 10px;
}

#attention .app-links a {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

#dms-faq {
  margin: 60px auto 120px;
}

#dms-faq .dms-faq-title {
  color: #00ae81;
}

#dms-faq .card-corporate .card-title a {
  padding: 15px 82px 15px 23px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 34px;
  border-radius: 10px;
  background-color: #00ae81;
  border: 0px;
  overflow: hidden;
}

#dms-faq .card-corporate .card-body {
  border: 0px;
  padding: 15px 44px 15px 23px;
}

#dms-faq .card-corporate .collapse {
  border: 0px;
}

#dms-faq .card-corporate {
  box-shadow: none;
}

#dms-faq .card-corporate .card-plus {
  background: #00ae81;
  border-radius: 10px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
}

#dms-faq .card-corporate .card-title a .card-plus:after {
  opacity: 1;
  visibility: visible;
}

#dms-faq .card-corporate .card-plus::after,
#dms-faq .card-corporate .card-plus::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
}

#dms-faq .card-corporate .card-plus::before {
  width: 20px;
  height: 2px;
  right: 28px;
}

#dms-faq .card-corporate .card-plus::after {
  width: 20px;
  height: 2px;
  right: 28px;
}

#dms-faq .card-corporate .card-plus::after {
  transition: all 1s;
}

#dms-faq .card-corporate .collapsed .card-plus::after {
  transform: rotate(270deg);
  transition: all 1s;
}

#dms-faq .card-corporate .collapsed .card-plus::before {
  transform: rotate(180deg);
  transition: all 1s;
}

#dms-faq .card-body {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

#dms-faq .card-body p {
  margin-bottom: 25px;
}

#dms-faq .card-body a {
  display: inline-block;
  color: #00ae81;

  text-decoration: underline;
}

#dms-faq .card-body ul li {
  position: relative;
  padding-left: 20px;
}

#dms-faq .card-body ul li::before {
  content: "•";
  color: rgb(0, 174, 129);
  font-size: 35px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#dms-main-footer {
  padding: 40px 0;
}

#dms-main-footer .dms-main-footer-title {
  font-size: 32px;
  line-height: 40px;
  color: #1c2b39;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-title span {
  color: #00ae81;
  font-weight: 700;
  margin-bottom: 90px;
}

#dms-main-footer .dms-main-footer-contacts {
  color: #1c2b39;
  max-width: 1550px;
  margin: auto;
}

#dms-main-footer .dms-main-footer-contacts p {
  line-height: 32px;
  color: #00ae81;
  font-size: 2rem!important;
  margin: 10px auto;
  font-weight: 700;
}

#dms-main-footer .dms-main-footer-contacts a {
  line-height: 32px;
  color: #00ae81;
  font-size: 24px;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-contacts-links {
  margin: 20px auto;
}

#dms-scroll-blck {
  margin: 50px 0 150px;
}

#dms-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#dms-scroll-blck a {
  color: #00ae81;
  font-size: 2rem;
  line-height: 38px;
}
