@media (max-width: 575.98px) {
    #dms-steps .osago-main-title {
        font-size: 34px;
    }

    #dms-steps .program-form-fields label {
        font-size: 21px;
    }

    #dms-steps .dms-blck .dms-blck-icon img {
        width: 70px;
        height: 70px;
        top: -30px;
    }
}

@media (max-width: 575.98px) {
    #dms-steps .vrz-main-title {
        font-size: 34px;
    }


}
