@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  h2,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3 {
    font-size: 34px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px !important;
    line-height: 120px !important;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#dms-steps {
  margin: 130px auto 300px;
}

#dms-steps .row {
  margin-top: 0px;
}

#dms-steps .dms-main-title {
  color: #495966;
  padding-top: 20px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#dms-steps .dms-main-title::before {
  background-color: #00ae81;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

.security-guarantee {
    margin-top: 15px;
}

#dms-steps .dms-main-subtitle {
  color: #73808a;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  max-width: 1165px;
  margin-bottom: 20px;
}

#dms-steps .dms-main-subtitle a {
  color: #00a5b8;
}

#dms-steps .dms-blck {
  background-color: #edf2f1;
  margin: 80px 0px 20px;
  padding: 0 30px 20px;
}

#dms-steps .dms-blck .dms-blck-icon {
  position: relative;
  height: 80px;
}

#dms-steps .dms-blck .dms-blck-icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 10px;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#dms-steps .dms-blck-with-icon {
  max-width: 890px;
  margin: auto;
}

#dms-steps .program-form-title {
  position: relative;
  padding-top: 15px;
}

#dms-steps .program-form-title::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 30px;
  height: 3px;
  background-color: #00ae81;
  left: calc(50% - 15px);
}

#dms-steps .program-form-title p {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  margin-top: 15px !important;
}

#dms-steps .program-form-title p.program-name {
  font-family: "Source Sans Pro";
  color: #00ae81;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px auto 28px;
}

#dms-steps .program-form-title p.program-price {
  color: #00ae81;
  font-size: 30px;
  font-weight: 700;
  margin: 5px auto 15px;
}

#dms-steps .program-form-fields {
  max-width: 480px;
  margin: 10px auto;
}

#dms-steps .program-form-fields label {
  color: #73808a;
  margin-left: 0px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
}

#dms-steps .program-form-fields .input-group {
  margin-bottom: 22px;
}

#dms-steps .program-form-fields input {
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;
  min-height: 53px;
  width: 100%;
}
#dms-steps .program-form-fields input:focus,
#dms-steps .program-form-fields input:active {
  border-color: #00ae81;
  transition: all 0.3s;
}
#dms-steps .program-form-fields btns {
  text-align: center;
}

#dms-steps .btn-next-step {
  background-color: #00ae81;
  
  border: 1px solid #00ae81;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
}

#dms-steps .btn-prev-step {
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  min-width: 220px;
  background-color: transparent;
  border-radius: 50px;
  padding: 15px 21px 15px 32px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin: 0 12px 10px;
}

#dms-steps .btn-prev-step:before {
  content: "";
  position: absolute;
  top: calc(50% - 5.5px);
  background: url(../images/btn-prev-step-icon-turquoise.png) no-repeat center;
  margin-right: 6px;
  margin-top: 1px;
  transition: all 0.3s;
  left: 18px;
  height: 11px;
  width: 7px;
}

#dms-steps .btn-prev-step:hover::before {
  left: 15px;
  transition: all 0.3s;
}
