@media (max-width: 575.98px) {
    #casco-form {
        margin: 30px auto 30px;
    }

    #casco-form .casco-main-title,
    #casco-info .casco-main-title {
        font-size: 24px;
        line-height: 32px;
    }

    #casco-form .casco-main-subtitle,
    #casco-info .casco-main-subtitle {
        line-height: 26px;
    }

    #casco-real-advantage .casco-real-advantage-title,
    #casco-real-steps .casco-real-steps-title,
    #casco-real-attention .casco-real-attention-list .attention-list-title,
    #casco-real-icons .casco-advantage-title,
    #casco-faq .card-corporate .card-title a,
    #casco-scroll-blck a {
        font-size: 24px;
        line-height: 26px;
    }

    #casco-real-advantage ul li,
    #casco-real-steps .casco-info-step-text,
    #casco-real-attention .warning-text p,
    #casco-real-attention .casco-real-attention-list ul li,
    #casco-real-icons .advantage-text,
    #casco-faq .card-body ul li,
    #casco-main-footer .casco-main-footer-contacts {
        font-size: 18px;
        line-height: 20px;
    }

    #casco-real-attention .warning-icon {
        width: 100%;
    }

    #casco-real-icons .row .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    #casco-real-steps .casco-real-steps-list .step-img {
        max-width: 70px;
    }

    #casco-real-steps .casco-real-steps-list .step-img img {
        width: 100%;
    }

    #casco-real-steps .casco-real-steps-list .step-col::before {
        left: 43px !important;
    }

    #casco-real-steps .casco-real-steps-list .step-col::after {
        left: 20px !important;
    }

    #casco-real-steps .casco-info-step-text {
        padding-top: 0px !important;
    }
}





@media (max-width:1199.99px) {
    #casco-real-steps .casco-real-steps-list .step-col {
        width: 100%;
        padding: 15px;
    }
    
    #casco-form .casco-main-title,
    #casco-info .casco-main-title {
        font-size: 24px;
        line-height: 32px;
    }

    #casco-real-steps .casco-info-step-text {
        width: calc(100% - 130px);
        margin-left: 0px;
        text-align: left;
        font-size: 24px;
        line-height: 28px;
        display: inline-block;
        padding-top: 28px;
        max-width: 100%;
    }

    #casco-real-steps .casco-real-steps-list .step-img {
        width: 120px;
        float: left;

        margin: 0 10px 53px 0;
    }

    #casco-real-steps .casco-real-steps-list .step-col {
        max-width: 100%;
        margin-bottom: 14px;
        position: relative;
    }

    #casco-real-steps .casco-real-steps-list .step-col:last-child::before,
    #casco-real-steps .casco-real-steps-list .step-col:last-child::after {
        content: none;
    }

    #casco-real-steps .casco-real-steps-list .step-col::before {
        content: "";
        position: absolute;
        left: 67px;
        bottom: -21px;
        background: url(../images/steps_info_dot_before.png) no-repeat;
        width: 14px;
        height: 14px;
    }

    #casco-real-steps .casco-real-steps-list .step-col::after {
        content: "";
        position: absolute;
        left: 44px;
        bottom: 25px;
        background: url(../images/steps_info_dot_after.png);
        width: 60px;
        height: 5px;
        transform: rotate(90deg);
    }


    #casco-real-steps .casco-real-steps-list .step-col .step-img::before {
        content: none;
    }

    #casco-real-steps .casco-real-steps-list .step-col .step-img::after {
        content: none;
    }

}

@media (min-width:1200px) and (max-width:1546px) {
    #casco-real-steps .casco-real-steps-list .step-col {
        width: 360px;
    }

    #casco-real-steps .casco-real-steps-list .step-col .step-img::after {

        left: -224px;
        width: 200px;
    }
}
