@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  h2,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3 {
    font-size: 34px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px !important;
    line-height: 120px !important;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 10px;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#casco-form {
  margin: 90px auto 70px;
}

#casco-form .row {
  margin-top: 0px;
}

#casco-form .casco-main-title,
#casco-info .casco-main-title {
  color: #495966;
  padding-top: 20px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#casco-form .casco-main-title::before,
#casco-info .casco-main-title::before {
  background-color: #068598;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#casco-form .casco-main-subtitle,
#casco-info .casco-main-subtitle {
  color: #73808a;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 600!important;
}

#casco-form form.casco-real {
  margin: 40px auto;
  max-width: 600px;
}

#casco-form form.casco-real label {
  text-align: left;
  width: 100%;
  color: #73808a;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 0px;
}

#casco-form form.casco-real input {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  background-color: #ffffff;
  transition: all 0.3s;
  height: 52px;
  padding: 15px 19px;
  font-size: 16px;
  line-height: 1.5;
}

#casco-form form.casco-real .input-group.emptyfield input {
  border-color: red;
  transition: all 0.3s;
}

#casco-form form.casco-real .input-group.emptyfield input:focus,
#casco-form form.casco-real .input-group.emptyfield input:active {
  border-color: #068598;
  transition: all 0.3s;
}

#casco-form form.casco-real input:focus,
#casco-form form.casco-real input:active {
  border-color: #068598;
  transition: all 0.3s;
}

#casco-form form.casco-real button {
  width: 220px;
  height: 55px;
  background-color: #068598;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  transform: scaleY(1.003);
  margin: 20px auto;
  border: 0px;
  border-radius: 50px;
  cursor: pointer;
}

#casco-real-advantage {
  margin: 30px auto;
  text-align: left;
}

#casco-real-advantage .casco-real-advantage-title {
  line-height: 40px;
  color: #058598;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

#casco-real-advantage ul li {
  color: #1c2b39;
  line-height: 32px;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  padding-left: 20px;
}

#casco-real-advantage ul li::before {
  content: "•";
  color: #058598;
  font-size: 40px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#casco-real-steps {
  margin: 40px auto 60px;
  background-color: #edf2f1;

  padding: 20px 0 35px;
}

#casco-real-steps .casco-real-steps-title {
  color: #058598;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

#casco-real-steps .casco-real-steps-list .step-img {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
}

#casco-real-steps .casco-real-steps-list .step-col:first-child .step-img::before {
  content: none;
}

#casco-real-steps .casco-real-steps-list .step-col:first-child .step-img::after {
  content: none;
}

#casco-real-steps .casco-real-steps-list .step-col .step-img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: calc(50% - 7px);
  background: url(../images/steps_info_dot_before.png) no-repeat;
  width: 14px;
  height: 14px;
}

#casco-real-steps .casco-real-steps-list .step-col .step-img::after {
  content: "";
  position: absolute;
  left: -385px;
  top: calc(50% - 2.5px);
  background: url(../images/steps_info_dot_after.png);
  width: 355px;
  height: 5px;
}

#casco-real-steps .casco-real-steps-list .step-col {
  max-width: 515px;
  width: 515px;
}

#casco-real-steps .casco-info-step-text {
  color: #1c2b39;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  max-width: 380px;
  margin: auto;
}

#casco-real-steps .casco-real-steps-list .col-12 img::after {
  content: "";
  position: absolute;
  background: url(../images/steps_info_dot_before.png);
}

#casco-real-attention .casco-real-attention-list {
  text-align: left;
}

#casco-real-attention .casco-real-attention-list .attention-list-title {
  line-height: 40px;
  color: #058598;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

#casco-real-attention .casco-real-attention-list ul li {
  color: #1c2b39;
  line-height: 32px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 20px;
}

#casco-real-attention .casco-real-attention-list ul li::before {
  content: "•";
  color: #058598;
  font-size: 40px;
  left: 0px;
  top: -2px;
  position: absolute;
}

#casco-real-attention .warning-icon {
  margin-right: 40px;
}

#casco-real-attention .warning-text .title {
  font-size: 40px;
  color: #058598;
  margin-bottom: 10px;
  text-align: left;
}

#casco-real-attention .warning-text p {
  color: #1c2b39;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
}

#casco-real-icons {
  margin: 40px auto 40px;
  padding: 40px 0 30px;
  background-color: #edf2f1;
}

#casco-real-icons .casco-advantage-title {
  text-transform: uppercase;
  color: #058598;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

#casco-real-icons .advantage-icon {
  margin-bottom: 20px;
}

#casco-real-icons .advantage-icon img {
  max-height: 130px;
}

#casco-real-icons .advantage-text {
  color: #1c2b39;
  max-width: 301px;
  margin: auto;
  padding-bottom: 30px;
}

#casco-faq {
  margin: 60px auto 120px;
}

#casco-faq .casco-faq-title {
  color: #068598;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

#casco-faq .card-corporate .card-title a {
  padding: 15px 82px 15px 23px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  border-radius: 10px;
  background-color: #068598;
  border: 0px;
  overflow: hidden;
}

#casco-faq .card-corporate .card-body {
  border: 0px;
  padding: 15px 44px 15px 23px;
}

#casco-faq .card-corporate .collapse {
  border: 0px;
}

#casco-faq .card-corporate {
  box-shadow: none;
}

#casco-faq .card-corporate .card-plus {
  background: #068598;
  border-radius: 10px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
}


#casco-faq .card-corporate .card-plus::after,
#casco-faq .card-corporate .card-plus::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
}

#casco-faq .card-corporate .card-title a .card-plus:after {
  opacity: 1;
  visibility: visible;
}

#casco-faq .card-corporate .card-plus::before {
  width: 20px;
  height: 2px;
  right: 28px;
}

#casco-faq .card-corporate .card-plus::after {
  width: 20px;
  height: 2px;
  right: 28px;
}

#casco-faq .card-corporate .card-plus::after {
  transition: all 1s;
}

#casco-faq .card-corporate .collapsed .card-plus::after {
  transform: rotate(270deg);
  transition: all 1s;
}

#casco-faq .card-corporate .collapsed .card-plus::before {
  transform: rotate(180deg);
  transition: all 1s;
}

#casco-faq .card-body {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

#casco-faq .card-body p {
  margin-bottom: 25px;
}

#casco-faq .card-body a {
  display: inline-block;
  color: #068598;

  text-decoration: underline;
}

#casco-faq .card-body ul li {
  position: relative;
  padding-left: 20px;
}

#casco-faq .card-body ul li::before {
  content: "•";
  color: #068598;
  font-size: 35px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#casco-faq .card-body ol {
  counter-reset: myCounter;
}

#casco-faq .card-body ol li {
  position: relative;
  padding-left: 20px;
}

#casco-faq .card-body ol li::before {
  counter-increment: myCounter;
  content: counter(myCounter) ".";
  color: #068598;
  font-size: 24px;
  left: 0px;
  top: 0px;
  position: absolute;
}

#casco-main-footer {
  padding: 40px 0;
}

#casco-main-footer .casco-main-footer-title {
  font-size: 32px;
  line-height: 40px;
  color: #1c2b39;
  font-weight: 400;
}

#casco-main-footer .casco-main-footer-title span {
  color: #068598;
  font-weight: 700;
  margin-bottom: 90px;
}

#casco-main-footer .casco-main-footer-contacts {
  line-height: 32px;
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  max-width: 1550px;
  margin: auto;
}

#casco-main-footer .casco-main-footer-contacts p {
  line-height: 32px;
  color: #068598;
  font-size: 32px!important;
  margin: 10px auto;
  font-weight: 700;
}

#casco-main-footer .casco-main-footer-contacts a {
  line-height: 32px;
  color: #068598;
  font-size: 24px;
  font-weight: 400;
}

#casco-main-footer .casco-main-footer-contacts-links {
  margin: 20px auto;
}

#casco-scroll-blck {
  margin: 50px 0 150px;
}

#casco-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#casco-scroll-blck a {
  color: #068598;
  font-size: 2rem;
  line-height: 38px;
}
