h1 {
    font-size: 64px;
    line-height: 120px;
}

h2 {
    font-size: 40px;
    line-height: 48px;
}

h3, h4 {
    font-size: 32px;
    line-height: 40px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.breadcrumbs .breadcrumb {
    font-size: 18px;
    line-height: 24px;
    color: #a1abb3;
    background-color: transparent;
}

.breadcrumbs .breadcrumb a {
    font-size: 18px;
    line-height: 24px;
    color: #a1abb3;
}

.breadcrumb:last-child, 
.breadcrumb:last-child a {
    font-size: 18px;
    line-height: 24px;
    color: #e72d2b;
}