$spaceamounts: (1, 2,3,4,5,6,7); // Adjust this to include the pixel amounts you need.

@each $space in $spaceamounts {
  .child-spacing-#{$space} {
    & > * + * {
      margin-top: calc(var(--dimention) * #{$space});
    }
  }
}