// CONTAINERS
$desktop2k: 2560px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;

/* EXAMPLE OF USING

  @include for-exactly(mobile) {
    margin-bottom: 10px;
  }
*/

@mixin for-size($size) {
  @if $size == desktop2k {
    @media (min-width: $desktop2k) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  }
}

@mixin for-more($size) {
  @if $size == desktop2k {
    @media (min-width: $desktop2k) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: $desktop) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: $tablet) {
      @content;
    }
  } @else if $size == mobile {
    @media (min-width: $mobile) {
      @content;
    }
  }
}

@mixin for-less($size) {
  @if $size == desktop2k {
    @media (max-width: $desktop2k) {
      @content;
    }
  } @else if $size == desktop {
    @media (max-width: $desktop) {
      @content;
    }
  } @else if $size == tablet {
    @media (max-width: $tablet) {
      @content;
    }
  } @else if $size == mobile {
    @media (max-width: $mobile) {
      @content;
    }
  }
}

@mixin for-exactly($size) {
  @if $size == desktop2k {
    @media (min-width: $desktop2k) {
      @content;
    }
  } @else if $size == desktop {
    @media (min-width: $desktop) and (max-width: $desktop2k) {
      @content;
    }
  } @else if $size == tablet {
    @media (min-width: $tablet) and (max-width: $desktop) {
      @content;
    }
  } @else if $size == mobile {
    @media (max-width: $tablet) {
      @content;
    }
  }
}
