@media (max-width: 575.98px) {
  #osago-steps .osago-main-title {
    font-size: 34px;
  }

  #osago-steps .osago_auto_info {
    margin-bottom: 20px;
  }

  #osago-steps .nice-select {
    font-size: 18px;
  }

  #osago-steps .osago_franchise_blck a {
    margin-bottom: 20px;
  }

  #osago-main-att .warning-text .title {
    font-size: 32px;
  }
  #osago-main-footer .osago-main-footer-title {
    margin-bottom: 30px;
    line-height: 26px;
  }
  #osago-scroll-blck a {
    font-size: 28px;
  }
}

@media (max-width: 575.98px) {
  #vrz-steps .vrz-main-title {
    font-size: 34px;
  }

  #vrz-info-blck p {
    font-size: 19px;
  }

  #vrz-advantage-blck .h2,
  #vrz-garant-blck .h2,
  #vrz-policy-registration-blck .h2 {
    font-size: 24px;
    line-height: 30px;
  }

  #vrz-garant-blck ol li {
    font-size: 22px;
    line-height: 30px;
  }

  #vrz-policy-registration-blck .h2 {
    font-size: 22px;
    line-height: 30px;
  }

  #vrz-advantage-blck .row .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767.98px) {
  #osago-main-steps .row .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  #osago-main-policy .row .col {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }

  #osago-main-policy .policy-text {
    width: 100%;
    max-width: 800px;
  }
}

@media (max-width: 991.98px) {
  #vrz-steps .vrz-blck {
    margin: 80px 0px 20px;
    padding: 0 10px 20px;
  }
}

@media (max-width: 1199.98px) {
  #vrz-advantage-blck .advantage-text {
    margin: 10px auto 30px;
  }

  #vrz-policy-delivery-blck .policy-delivery-info {
    margin-bottom: 30px;
  }
}

@media (min-width: 991px) and (max-width: 1199.98px) {
  #osago-main-steps .row {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  #osago-main-steps .row .col {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  #osago-main-policy .row .col {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}
