/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}



@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

.warning-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

#osago-steps {
  margin: 130px auto 300px;
}

#osago-steps .row {
  margin-top: 0px;
}

#osago-steps .osago-main-title {
  color: #495966;
  padding-top: 20px;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#osago-steps .osago-main-title::before {
  background-color: #068598;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#osago-steps .osago-main-subtitle {
  color: #73808a;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  max-width: 1165px;
  margin-bottom: 20px;
}

#osago-steps .osago-main-subtitle a {
  color: #00a5b8;
}

#osago-steps .osago-blck {
  background-color: #edf2f1;
  margin: 80px 0px 20px;
  padding: 0 30px 20px;
}

#osago-steps .osago-blck .osago-blck-icon {
  position: relative;
  height: 80px;
}

#osago-steps .osago-blck .osago-blck-icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 10px;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#osago-steps .osago-blck .osago-blck-title {
  color: #495966;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 35px;
}

#osago-steps .osago-blck .osago-blck-title::after {
  position: absolute;
  background-color: #068598;
  width: 30px;
  height: 3px;
  content: "";
  bottom: 0px;
  left: calc(50% - 15px);
}

#osago-steps .osago-datepicker-blck {
  margin: 30px 0 40px;
  text-align: left;
}

#osago-steps .osago-datepicker-blck .osago-datepicker-blck-title {
  color: #495966;
  font-size: 39.96px;
  font-weight: 900;
  line-height: 44px;
  margin-bottom: 10px;
  position: relative;
}

#osago-steps .osago-datepicker-blck .osago-datepicker-blck-title span.tooltip-icon {
  border-radius: 50%;
  background-color: #c6ccd0;
  width: 14px;
  height: 14px;
  line-height: 14px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 3px;
  padding-bottom: 10px;
  position: absolute;
  top: 10px;
}

#osago-steps .osago-datepicker-blck .input-group {
  max-width: 457px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#osago-steps .osago-datepicker-blck input[type="text"] {
  margin-left: 0px !important;
}

#osago-steps form input[type="date"],
#osago-steps form input[type="text"] {
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;

  min-height: 53px;
}

#osago-steps form .input-group {
  margin-bottom: 10px;
  min-height: 53px;
}

#osago-steps form .error-msg {
  color: #00a5b8;
  font-size: 17.97px;
  font-weight: 400;
  line-height: 24px;
}

#osago-steps form input.w-100 {
  width: 100%;
}

#osago-steps form input.w-20 {
  width: 20%;
  float: left;
}

#osago-steps form input.w-75 {
  width: 75%;
  float: left;
}

#osago-steps form input.mr-l-5 {
  margin-left: 5% !important;
}

#osago-steps form .date-picker::after {
  position: absolute;
  top: calc(50% - 14px);
  right: 18px;
  content: "";
  background: url(images/calendar-icon_blue.png) no-repeat center;
  height: 29px;
  width: 29px;
}

#osago-steps form .osago-blck-info {
  text-align: left;
}

#osago-steps form label {
  color: #73808a;
  margin-left: 0px;
  font-size: 17.97px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
}

#osago-steps form label span {
  color: #e72d2b;
}

#osago-steps form label span.tooltip-icon {
  border-radius: 50%;
  background-color: #c6ccd0;
  width: 12px;
  height: 12px;
  line-height: 12px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 3px;
  padding-bottom: 10px;
}

#osago-steps .btn-next-step {
  background-color: #068598;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
  position: relative;
}
#osago-steps .btn-next-step.disallow {
  background-color: #a1abb3;
  pointer-events: none;
}

#osago-steps .btn-prev-step {
  border-width: 2px;
  border-color: #068598;
  border-style: solid;
  min-width: 220px;
  min-height: 55px;
  border-radius: 50px;
  padding: 15px 21px 15px 32px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  color: #068598;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step:before {
  content: "";
  position: absolute;
  top: calc(50% - 5.5px);
  background: url(images/btn-prev-step-icon-blue.png) no-repeat center;
  margin-right: 6px;
  margin-top: 1px;
  transition: all 0.3s;
  left: 18px;
  height: 11px;
  width: 7px;
}

#osago-steps .btn-prev-step:hover::before {
  left: 15px;
  transition: all 0.3s;
}

#osago-steps .osago_auto_blck {
  padding-top: 40px;
  padding-bottom: 40px;
}

#osago-steps .osago_auto_blck .row .osago_auto_info {
    min-width: 370px;
}

#osago-steps .osago_auto_blck  select {
  border-radius: 5px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  background-color: #ffffff;
  min-height: 52px;
}

#osago-steps .osago_auto_blck .osago_auto_info label.text-strong {
  font-weight: bold;
  color: #058598;
}

#osago-steps .osago_franchise_blck {
  padding-top: 70px;
  padding-bottom: 40px;
}

#osago-steps .osago_franchise_blck label {
  padding-left: 20px;
}

#osago-steps .osago_franchise_blck a {
  border-width: 2px;
  border-color: #068598;
  border-style: solid;
  width: 100%;
  min-height: 55px;
  border-radius: 27.5px;
  display: inline-block;
  color: #058598;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.44px;
  line-height: 45px;
  text-align: center;
}

#osago-steps .osago_franchise_blck a.active {
  background-color: #068598;
  color: #fff;
}

#osago-steps .osago-result-price {
  padding-top: 70px;
  padding-bottom: 20px;
  color: #058598;
  font-size: 39.89px;
  font-weight: 900;
  letter-spacing: 2.393px;
  line-height: 24px;
  text-align: center;
}

#osago-steps .nice-select .list {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 3px solid #068598;
  margin-top: 0px;
}

#osago-steps .nice-select .list li {
  color: #058598;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 50px;
  position: relative;
}

#osago-steps .nice-select:after {
  border-bottom: 2px solid #068598;
  border-right: 2px solid #068598;
  content: "";
  display: block;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;

  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
}

#osago-steps .nice-select .option:hover,
#osago-steps .nice-select .option.focus,
#osago-steps .nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

#osago-steps .nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

#osago-steps .nice-select .option.selected.focus::before,
#osago-steps .nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  border-right: 2px solid #068598;
  border-top: 2px solid #068598;
  height: 8px;
  width: 8px;
  opacity: 1;
}

.form-check {
  padding-left: 0px;
}

.form-check .form-check-label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check .form-check-label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-check .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: url(../images/check_osago.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

#osago-main-info {
  margin: 135px auto 20px;
}

#osago-main-info .osago-main-subtitle {
  max-width: 100%;
}

#osago-main-steps {
  background-color: #edf2f1;
  padding: 30px 0 40px;
  margin: 20px 0;
}

#osago-main-steps h4 {
  color: #058598;
  margin-bottom: 60px;
  text-transform: uppercase;
}

h4 {
  color: var(--main-color);
}

#osago-main-steps .advantage-icon {
  margin-bottom: 25px;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  min-height: 125px;
}

#osago-main-steps .advantage-text {
  max-width: 316px;
  color: #1c2b39;
  font-weight: 400;
  margin: 20px auto 10px;
}

#osago-main-att {
  margin: 45px auto;
  text-align: left;
}

#osago-main-att .warning-text {
  max-width: 600px;
  margin-left: 40px;
}
#osago-main-att .warning-text .title {
  margin-bottom: 10px;
  color: #058598;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

#osago-main-att .warning-text p {
  color: #1c2b39;
}

#osago-main-list {
  margin: 45px auto;
}

#osago-main-list .h2 {
  line-height: 40px;
  color: #058598;
  font-size: 32px;
  text-align: left;
  max-width: 1200px;
  font-weight: 700;
  margin-bottom: 30px;
}

#osago-main-list ul {
  text-align: left;
}

#osago-main-list ul li {
  color: #1c2b39;
  text-align: left;
  position: relative;
  padding-left: 20px;
}

#osago-main-list ul li::before {
  content: "•";
  color: #058598;
  font-size: 40px;
  left: 0px;
  top: 10px;
  transform: translateY(-50%);
  position: absolute;
}

#osago-main-policy {
  background-color: #edf2f1;
  padding: 45px 0;
}

#osago-main-policy h4 {
  color: #058598;
  margin-bottom: 60px;
  text-transform: uppercase;
}

#osago-main-policy .policy-icon {
  margin-bottom: 25px;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  min-height: 145px;
}

#osago-main-policy .policy-text {
  max-width: 355px;
  margin: auto;
  color: #1c2b39;
}

#osago-main-footer {
  padding: 40px 0;
}

#osago-main-footer .osago-main-footer-title {
  margin-bottom: 30px;
  font-size: 1.5rem;
  color: #1c2b39;
  font-weight: 400;
}

#osago-main-footer .osago-main-footer-title span {
  color: #058598;
  font-weight: 700;
  margin-bottom: 90px;
}

#osago-main-footer .osago-main-footer-contacts {
  color: #1c2b39;
  max-width: 1550px;
  margin: auto;
}

#osago-main-footer .osago-main-footer-contacts p {
  line-height: 32px;
  color: #058598;
  font-size: 2.3rem !important;
  margin: 10px auto;
  font-weight: 700;
}

#osago-main-footer .osago-main-footer-contacts a {
  line-height: 32px;
  color: #058598;
  font-size: 24px;
  font-weight: 400;
}

#osago-main-footer .osago-main-footer-contacts-links {
  margin: 20px auto;
}

#osago-scroll-blck {
  margin: 50px 0 150px;
}

#osago-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#osago-scroll-blck a {
  color: #058598;
  font-size: 36px;
  line-height: 38px;
}
