@media (max-width: 575.98px) {


    #dms-steps {
        margin-top: 30px;
    }


}

@media (min-width:576px) and (max-width: 990.98px) {
    #dms-info-steps .dms-info-steps-list img {
        float: left;
    }

    #dms-info-steps .dms-info-steps-list {
        text-align: left;
    }

    #dms-info-steps .dms-info-step-text {
        margin-bottom: 70px;
        margin-left: 140px;
        max-width: 100%;
    }

    #dms-info-policy h5,
    #dms-advantage-blck .dms-advantage-title {
        font-size: 32px;
    }

    #dms-info-policy .container-wide,
    #dms-info-clients .container-wide {
        max-width: 100%;
    }


}


/* Настройки положения стрелок навигации слайдера в зависимости от разрешения и количества колонок */


@media (max-width:990px) {
    .program-slider-container .swiper-button-next {
        right: 10px;
    }

    .program-slider-container .swiper-button-prev {
        left: 10px;
    }

    .swiper-container.program-slider-container {
        margin-left: 30px;
        margin-right: 30px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block !important;
    }
}

@media (min-width:991px) and (max-width:1360.99px) {
    .program-slider-container .swiper-button-next {
        right: calc(50% - (100% / 3) + 10%);
    }

    .program-slider-container .swiper-button-prev {
        left: calc(50% - (100% / 3) + 10%);
    }
}

@media (min-width:1361px) {
    .program-slider-container .swiper-button-next {
        right: calc(50% - (100% / 6) + 80px);
    }

    .program-slider-container .swiper-button-prev {
        left: calc(50% - (100% / 6) + 80px);
    }
}

/* Положение и ширина колонок блока dms-info-steps */
@media (max-width:1199.99px) {
    #dms-info-steps .dms-info-steps-list .step-col {
        width: 100%;
        padding: 15px;
    }

    #dms-info-steps .dms-info-step-text {
        width: calc(100% - 130px);
        margin-left: 0px;
        text-align: left;
        font-size: 24px;
        line-height: 28px;
        display: inline-block;
        padding-top: 18px;
        max-width: 100%;
    }

    #dms-info-steps .dms-info-steps-list .step-img {
        width: 120px;
        float: left;

        margin: 0 10px 53px 0;
    }

    #dms-info-steps .dms-info-steps-list .step-col {
        max-width: 100%;
        margin-bottom: 14px;
        position: relative;
    }

    #dms-info-steps .dms-info-steps-list .step-col:last-child::before,
    #dms-info-steps .dms-info-steps-list .step-col:last-child::after {
        content: none;
    }

    #dms-info-steps .dms-info-steps-list .step-col::before {
        content: "";
        position: absolute;
        left: 67px;
        bottom: -21px;
        background: url(../images/steps_info_dot_before.png) no-repeat;
        width: 14px;
        height: 14px;
    }

    #dms-info-steps .dms-info-steps-list .step-col::after {
        content: "";
        position: absolute;
        left: 44px;
        bottom: 25px;
        background: url(../images/steps_info_dot_after.png);
        width: 60px;
        height: 5px;
        transform: rotate(90deg);
    }


    #dms-info-steps .dms-info-steps-list .step-col .step-img::before {
        content: none;
    }

    #dms-info-steps .dms-info-steps-list .step-col .step-img::after {
        content: none;
    }

}

@media (min-width:1200px) and (max-width:1546px) {
    #dms-info-steps .dms-info-steps-list .step-col {
        width: 360px;
    }

    #dms-info-steps .dms-info-steps-list .step-col .step-img::after {

        left: -224px;
        width: 200px;
    }
}
