/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  button,
  label {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600 !important;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

.breadcrumbs li:last-child a {
  color: red;
}

.pszh-text-block {
  padding-top: 30px;
  margin-top: 0;
  text-align: left !important;
}

.pszh-form {
  padding-top: 60px;
  width: 50%;
  margin: 0 auto;
}

#pszh-form .pszh-main-title {
  color: #495966;
  padding-top: 20px;
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#pszh-form .pszh-main-title::before {
  background-color: #00ae81;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

.pszh-form .program-form-fields {
  width: 100%;
  margin: 10px auto;
}

.pszh-form .program-form-fields label {
  color: #73808a;
  margin-left: 0px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
}

.pszh-form .program-form-fields .input-group {
  margin-bottom: 22px;
}

.pszh-form .program-form-fields input {
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;
  min-height: 53px;
  width: 100%;
}
.pszh-form .program-form-fields input:focus,
.pszh-form .program-form-fields input:active {
  border-color: #00ae81;
  transition: all 0.3s;
}
.pszh-form .program-form-fields btns {
  text-align: center;
}

.pszh-form select {
  width: 100%;
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;
  min-height: 53px;
}

.pszh-form .btn-next-step {
  background-color: #00ae81;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
}

.pszh-form .btn-prev-step {
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  min-width: 220px;
  min-height: 55px;
  border-radius: 50px;
  padding: 15px 21px 15px 32px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin: 0 12px 10px;
}

.pszh-form .btn-prev-step:before {
  content: "";
  position: absolute;
  top: calc(50% - 5.5px);
  background: url(../images/btn-prev-step-icon-turquoise.png) no-repeat center;
  margin-right: 6px;
  margin-top: 1px;
  transition: all 0.3s;
  left: 18px;
  height: 11px;
  width: 7px;
}

.pszh-form .btn-prev-step:hover::before {
  left: 15px;
  transition: all 0.3s;
}

#dms-steps {
  margin: 60px auto 50px;
}

#dms-steps .row {
  margin-top: 0px;
}

#dms-steps .pszh-main-title,
#dms-info-blck .dms-info-title {
  color: #495966;
  padding-top: 20px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#dms-steps .pszh-main-title::before,
#dms-info-blck .dms-info-title::before {
  background-color: #00ae81;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#dms-steps .pszh-main-subtitle,
#dms-info-blck .dms-info-subtitle {
  color: #73808a;
  font-size: 24px;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  max-width: 1165px;
  margin-bottom: 20px;
}

#dms-info-blck .dms-info-subtitle {
  max-width: 100%;
}

#dms-steps .pszh-main-subtitle a {
  color: #00a5b8;
}

.program-slider-item {
  transition: all 0.5s !important;

  cursor: pointer;
}

.program-slider-item img {
  transition: all 0.5s !important;
  filter: grayscale(100%);
}

.program-slider-item.swiper-slide-active {
  transition: all 0.5s !important;
}

.program-slider-item.swiper-slide-active img {
  transition: all 0.5s !important;
  filter: grayscale(0%);
}

.swiper-container {
  height: auto !important;
  background: #fff;
}

.program-slider-item,
.program-slider-item > div {
  background: #fff;
}

.program-slider-item.swiper-slide:after,
.program-slider-item.swiper-slide:before {
  background: transparent !important;
  content: none !important;
}

.program-slider-item.swiper-slide-active {
  box-shadow: 0px 0px 39.2px 0.8px rgba(90, 81, 81, 0.18);
  z-index: 2;
}

.program-slider-item .slide-item-row {
  min-height: 50px;
  padding: 5px 10px;
}

.program-slider-item .slide-item-row:nth-child(even) {
  background-color: #edf1f0;
}

.program-slider-item .slide-item-row:nth-child(odd) {
  background-color: #fff;
}

.program-slider-item.swiper-slide-active .slide-item-title {
  background-color: #00ae81 !important;
}

.program-slider-item .slide-item-title {
  background-color: #c6ccd0 !important;
  text-align: center;
  color: #fffdfd;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 28px;
  word-break: normal;
  white-space: normal;
}

.program-slider-item .slide-item-subtitle {
  color: #c6cdd1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-subtitle {
  color: #495966;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-price {
  color: #c6cdd1;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.3s;
  line-height: 24px;
}

.program-slider-item.swiper-slide-active .slide-item-price {
  color: #00ae81;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check {
  color: #1c2b39;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check-franchize {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check-franchize {
  color: #00664d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-footer a {
  color: #1c2b39;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer a {
  color: #c6cdd1;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer img {
  margin-right: 8px;
}

.program-slider-container .swiper-button-prev {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_prev_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-next {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-next::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_next_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-prev:hover,
.program-slider-container .swiper-button-next:hover {
  box-shadow: 0px 3px 13.65px 1.35px rgba(0, 66, 50, 0.2);
  transition: all 0.3s;
}

.program-slider-btns {
  margin: 30px auto;
}

.program-slider-btns a.program-slider-btns-offer {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.program-slider-btns p {
  margin-bottom: 15px;
}

.program-slider-btns a.program-slider-btns-offer img {
  margin-right: 10px;
}

.program-slider-btns a.program-slider-btns-buy {
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  transform: scaleY(1.003);
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  width: 220px;
  height: 48px;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 21px;
}

#dms-info-steps {
  background-color: #edf2f1;

  padding: 20px 0 35px;
  margin: 30px auto;
}

#dms-info-steps .dms-info-steps-title {
  color: #00ae81;
  text-transform: uppercase;
}

#dms-info-steps .dms-info-steps-list .step-img {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::before {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::after {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: calc(50% - 7px);
  background: url(../images/steps_info_dot_before.png) no-repeat;
  width: 14px;
  height: 14px;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::after {
  content: "";
  position: absolute;
  left: -385px;
  top: calc(50% - 2.5px);
  background: url(../images/steps_info_dot_after.png);
  width: 355px;
  height: 5px;
}

#dms-info-steps .dms-info-steps-list .step-col {
  max-width: 515px;
  width: 515px;
}

#dms-info-steps .dms-info-step-text {
  color: #1c2b39;
  max-width: 380px;
  margin: auto;
}

#dms-info-steps .dms-info-steps-list .col-12 img::after {
  content: "";
  position: absolute;
  background: url(../images/steps_info_dot_before.png);
}

#dms-info-clients {
  margin: 30px auto;
  font-weight: 400;
  line-height: 26px;
  color: #1c2b39;
  font-size: 24px;
  text-align: left;
}

#dms-info-clients h5 {
  color: #00ae81;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

#dms-info-policy {
  margin: 30px auto;
}

#dms-info-policy h5 {
  text-transform: uppercase;
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#dms-info-policy ul li {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  padding-left: 20px;
}

#dms-info-policy ul li::before {
  content: "•";
  color: #00ae81;
  left: 0px;
  top: -5px;
  position: absolute;
}

.pszh-advantage-blck,
.pszh-services {
  margin-top: 30px;
  background-color: #f5f7fd;
  padding-top: 30px;
}

#pszh-medical::after,
.pszh-count-blck::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(65, 61, 82, 0.5);
}

@media (min-width: 801px) {
  .pszh-count-blck {
    background: url("../images/rergret-large.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 40px;
  }
}
@media (max-width: 800px) {
  .pszh-count-blck {
    background: url("../images/small-regret.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 40px;
  }
}

@media (min-width: 801px) {
  #pszh-medical {
    background-image: url(../images/1358.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
}
@media (max-width: 800px) {
  #pszh-medical {
    background-image: url(../images/clinic-small.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
}

.pszh-count-blck .row {
  position: relative;
  z-index: 10;
}

#pszh-medical > * {
  position: relative;
  z-index: 99;
  color: #fff;
}

.pszh-medical {
  padding-top: 40px;
  background-color: #ccc;
}

.pszh-count-blck .row,
.pszh-medical .row {
  margin-top: 0;
}

.pszh-advantage-blck .pszh-advantage-title,
.pszh-services .pszh-advantage-title,
.pszh-medical .pszh-advantage-title {
  color: #00ae81;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.row {
  margin-top: 30px;
}

#clinics .clinics-country + ul {
  text-align: left;
}

.main-color {
  color: var(--main-color) !important;
}

#excuses .excuses-content ul li,
#clinics .clinics-country + ul > li {
  margin-left: 30px;
  padding-bottom: 5px;
  position: relative;
}

#excuses .excuses-content ul li::before,
#clinics .clinics-country + ul > li::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0.5em;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: var(--main-color);
}

#clinics .clinics-country {
  color: var(--main-color);
  padding-bottom: 20px;
}

#excuses .excuses-content {
  text-align: left;
}

#excuses .excuses-content > * + * {
  margin-top: 20px;
}

.pszh-advantage-blck .advantage-icon,
.pszh-servoces .advantage-icon {
  margin-bottom: 20px;
}

.pszh-advantage-blck .advantage-icon img {
  height: 75px;
  width: auto;
}

.pszh-services .advantage-icon {
  height: 95px;
  width: 100px;
  margin: 0 auto;
}

.pszh-services .advantage-icon img {
  max-height: 95px;
  width: 100%;
}

.pszh-count-blck .count-number {
  color: #fff;
  font-size: 3rem;
  line-height: 3rem;
}

.pszh-count-blck .count-text {
  padding: 10px 0 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

.pszh-advantage-blck .advantage-text {
  color: #1c2b39;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 65px;
}

.pszh-count-blck .advantage-text {
  color: #fff;
  margin-bottom: 30px;
}

form > * + * {
  margin-top: 30px;
}

.input-group label,
.input-group .form-control {
  margin-left: 0;
  border-color: #aaa;
}

.input-group .subtitle-inpet {
  text-align: center;
  margin-top: 5px;
  font-size: 1rem !important;
}

.input-group.buttons {
  display: flex;
  justify-content: center;
}

.input-group.buttons > * {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 55px;
  width: 185px;
  padding: 5px;
}

@media (max-width: 600px) {
  .input-group.buttons {
    flex-direction: column-reverse;
    align-items: center;
  }

  .input-group.buttons > * + * {
    margin-bottom: 30px;
    margin-left: 0px !important;
  }
}

.input-group.buttons .back {
  background-color: #fff;
  color: var(--main-color);
  border-color: var(--main-color);
  position: relative;
}

.input-group.buttons .back:hover {
  background-color: var(--main-color);
  color: #fff;
}

.input-group.buttons .back:hover::after {
  border-color: #fff;
}

.input-group.buttons .back::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 10px;
  width: 10px;
  border-radius: 2px;
  border-left: 3px solid var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.input-group.buttons > * + * {
  margin-left: 20px;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.pszh-services .advantage-text {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #00ae81;
  line-height: 40px;
  font-weight: bold;
}

.pszh-services .advantage-caption {
  color: #c6ccd0;
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin-bottom: 15px;
}

.pszh-services .advantage-list {
  text-align: left;
  margin-bottom: 65px;
}

.pszh-services .advantage-list .list-item {
  position: relative;
  padding: 0 0 5px 20px;
}

.pszh-services .advantage-list .list-item:before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #00ae81;
}

.pszh-info {
  margin-bottom: 90px;
}

.pszh-info .pszh-text-block:last-child {
  padding-top: 0;
}

.pszh-info .pszh-text-block a {
  color: #00a5b8;
  font-weight: 700;
}

.pszh-info .pszh-text-block a:hover {
  text-decoration: underline;
}

.pszh-medical .pszh-advantage-title {
  color: #fff;
}

.pszh-medical .pszh-advantage-subtitle {
  padding: 30px 0 0px;
  color: #fff;
  margin: 0 auto;
}

#pszh-medical .info-block {
  padding: 30px 20px;
}

#pszh-medical .info-block .count-text {
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1.3rem;
  padding: 8px;
}

#attention {
  margin: 90px 0;
}

#attention .attention-info {
  text-align: center;
}

#attention .warning-icon {
  margin-right: 40px;
}

@media (max-width: 998px) {
  #attention .warning-icon {
    margin-right: 0 !important;
  }
}

@media (min-width: 1200px) {
  #attention .warning-text {
    max-width: 70%;
  }
}

#attention .warning-text {
  text-align: left;
}

#attention .warning-text .title {
  color: #00ae81;
  text-transform: capitalize !important;
}

/* #price-table */

#price-table {
  padding-top: 80px;
  overflow-x: auto;
}

#price-table::-webkit-scrollbar {
  display: none;
}

#price-table .table-title {
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
  font-weight: 400 !important;
}

#price-table table .purchase-row td,
#price-table table .purchase-row th {
  background-color: transparent;
}

form .input-group .btn,
#price-table table .purchase-row td .btn {
  color: #fff;
  min-width: 100%;
  max-width: 220px;
  min-height: 55px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.CFL {
  text-transform: capitalize;
}

table .bold {
  font-weight: 900;
}

table .with-cash {
  position: relative;
}

table .with-cash .cash-unit {
  position: relative;
  top: -3px;
  left: 5px;
  font-size: 0.8em;
}

table .extra-info {
  padding-left: 12px;
  cursor: pointer;
  position: relative;
}

table .extra-info.opened::before,
table .extra-info.opened::after {
  display: block;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 5px 1px #999;
  bottom: 30px;
}

table .extra-info.opened::before {
  content: "";
  height: 30px;
  width: 30px;
  left: 4px;
  transform: rotate(45deg);
}

table .extra-info.opened::after {
  content: attr(data-content);
  border-radius: 5px;
  font-weight: 400;
  line-height: 1.2rem;
  font-size: 0.9rem;
  min-width: 200px;
  left: -50%;
  min-height: 50px;
  max-height: 300px;
  padding: 10px;
  z-index: 30;
}

table .times,
table .check {
  position: relative;
}

table .times::before,
table .times::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3px;
  width: 25px;
  background-color: #73808a;
  border-radius: 1px;
}

table .times::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}
table .times::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

table .check::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 13px;
  width: 20px;
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transform: translate(-50%, -50%) rotate(-45deg);
}

#attention {
  margin-bottom: 0;
}

#attention .warning-text p {
  color: #1c2b39;
  margin-top: 20px;
}

#attention .warning-text ul {
  margin: 10px 0;
}

#attention .warning-text ul li {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

#attention .warning-text ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: -2px;
  position: absolute;
}

#attention .app-links {
  text-align: center;
}

#attention .qr-code {
  margin: 20px auto 10px;
}

#attention .app-links a {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

#dms-faq {
  margin: 30px auto 20px;
}

#dms-faq .dms-faq-title {
  color: #00ae81;
}

#dms-faq .card-corporate .card-title a {
  padding: 15px 82px 15px 23px;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: #00ae81;
  border: 0px;
  overflow: hidden;
}

#dms-faq .card-corporate .card-body {
  border: 0px;
  padding: 15px 44px 0px 23px;
}

#dms-faq .card-corporate .gates {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: 0;
}

#dms-faq .card-corporate {
  box-shadow: none;
}

.card-corporate .card-plus {
  background: var(--main-color);
  border-radius: 10px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
}

.card-corporate .card-title a .card-plus:after {
  opacity: 1;
  visibility: visible;
}

.card-corporate .card-plus::after,
.card-corporate .card-plus::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
}

.card-corporate .card-plus::before {
  width: 20px;
  height: 2px;
  right: 28px;
}

.card-corporate .card-plus::after {
  width: 20px;
  height: 2px;
  right: 28px;
}

.card-corporate .card-plus::after {
  transition: all 1s;
}

.card-corporate .close.card-plus::after {
  transform: rotate(270deg);
  transition: all 1s;
}

.card-corporate .close.card-plus::before {
  transform: rotate(180deg);
  transition: all 1s;
}

#dms-faq .card-body {
  color: #1c2b39;
}

#dms-faq .card-body a {
  display: inline-block;
  color: #00ae81;

  text-decoration: underline;
}

#dms-faq .card-body ul li {
  position: relative;
  padding-left: 20px;
}

#dms-faq .card-body ul li::before {
  content: "•";
  color: rgb(0, 174, 129);
  font-size: 35px;
  left: 0px;
  transform: translateY(-50%);
  top: 0.5rem;
  position: absolute;
}

#dms-main-footer {
  padding: 20px 0 0;
}

#dms-main-footer .dms-main-footer-title {
  font-size: 32px;
  line-height: 40px;
  color: #1c2b39;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-title span {
  color: #00ae81;
  font-weight: 700;
  margin-bottom: 90px;
}

#dms-main-footer .dms-main-footer-contacts {
  color: #1c2b39;
}

#dms-main-footer .dms-main-footer-contacts p {
  line-height: 32px;
  color: #00ae81;
  font-size: 2rem !important;
  margin: 10px auto;
  font-weight: 700;
}

#dms-main-footer .dms-main-footer-contacts a {
  line-height: 32px;
  color: #00ae81;
  font-size: 24px;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-contacts-links {
  margin: 20px auto;
}

#dms-scroll-blck {
  margin: 0px 0 50px;
}

#dms-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#dms-scroll-blck a {
  color: #00ae81;
  font-size: 1.5rem;
  line-height: 38px;
}

form .datepicker {
  border-color: #00ae81;
}

form .datepicker table .active.day span {
  background: #00ae81;
}

form .datepicker .datepicker-days .table-condensed thead tr th {
  color: #1c2b39;
}

form .datepicker .datepicker-switch::before {
  background: #00ae81;
}

form .date-picker input:focus,
form .date-picker input.dateisker-op-input {
  border-color: #00ae81;
  transition: all 0.3s;
}

.field label {
  margin-left: 0;
}
.field .input-group {
  margin-top: 0;
}
.field {
  padding: 15px 0 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .field {
    padding: 0px;
    padding-top: 15px;
  }

  .form-fields .form-radio {
    padding: 10px;
  }

  .form-fields .form-radio label {
    font-size: 18px;
    line-height: 24px;
  }
}

.field label {
  color: #73808a;
  text-align: left;
}

.field .control {
  padding: 12px 20px;
  border: 1px solid #a1abb3;
  border-radius: 5px;
  background-color: transparent;
  color: #1c2b39;
  font-size: 24px;
  line-height: 32px;
}

.field .control:focus {
  border-color: #00ae81;
}

form .date-picker .input-group-addon {
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 5px;
  fill: #a1abb3;
  height: 28px;
  width: 29px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

form .date-picker input + .input-group-addon.datepicker-opened,
form .date-picker input:focus + .input-group-addon,
form .date-picker input + .input-group-addon:focus,
form .date-picker input + .input-group-addon:hover {
  fill: var(--main-color);
  transition: all 0.5s;
}

.form-columns {
  background-color: #edf2f1;
  padding: 0 30px 30px;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.input-block label {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
}

.input-group input,
.input-block input {
  width: 100%;
  border-radius: 5px;
  margin: auto !important;
  padding-left: 15px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: transparent;
  transition: all 0.3s;
  min-height: 53px;
}

.input-group input:focus,
.input-block input:focus {
  background-color: #fff;
  border-color: var(--main-color);
}

.form-columns {
  padding-top: 100px;
  position: relative;
}
/* 
h4 .subtext {
  font-size: 1rem;
  font-weight: normal;
  position: absolute;
  bottom: -15px;
  left: 50%; 
  transform: translate(-50%, -50%);
} */

h4.form-title {
  color: #495966;
  font-weight: bold;
  margin-bottom: 45px;
  position: absolute;
  width: 100%;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

h4.form-title.chiba:before {
  content: "до 18 років";
  position: absolute;
  font-size: 1rem;
  font-weight: normal;
  bottom: -27px;
  left: 50%;
  width: 100px;
  transform: translateX(-50%);
}
h4.form-title.buba:before {
  content: "від 18 років";
  position: absolute;
  font-size: 1rem;
  font-weight: normal;
  width: 100px;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
}
h4.form-title:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #00ae81;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.input-group {
  display: flex;
  flex-wrap: nowrap;
}

.input-group label {
  margin-top: 15px;
  display: flex;
  text-align-last: left;
  flex-direction: column;
}

.input-group > label + label {
  margin-left: 30px;
}

.input-group.bla > label {
  flex-grow: 1;
  width: 40%;
}
.input-group > label {
  flex-grow: 1;
}

.attention-blck {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}

.nice-select.control {
  background-color: transparent !important;
}

.nice-select .option {
  position: relative;
  font-size: 1rem !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input-group .nice-select:after {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
}

.nice-select .list {
  width: 100%;
}

.nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

.input-group .nice-select {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.nice-select .option.selected.focus::before,
.nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-right: 2px solid #00ae81;
  border-top: 2px solid #00ae81;
  height: 8px;
  width: 8px;
  opacity: 1;
}

.form-radio .form-check-label {
  display: block;
  text-align: left;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-radio .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-radio .form-check-label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #a1abb3;
}

.form-radio .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-radio .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ae81;
}

.form-check {
  padding-left: 0;
}

.form-check .form-check-label {
  display: block;
  position: relative;
  text-align: left;
  padding-left: 30px;
  min-height: auto!important;
  margin-left: 0;
  margin-bottom: 8px;
  cursor: pointer;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check .form-check-label.disabled {
  cursor: not-allowed;
}

.form-check .form-check-label .checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 2px solid #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-check .form-check-label input:disabled ~ .checkmark:after {
  display: block;
  border-color: #a1abb3;
}

.promo {
  display: flex;
  align-items: center;
  height: 55px;
  margin-top: 15px;
}

.promo label {
  flex-grow: 1;
}

.input-wrap {
  min-height: auto!important;
}

.promo-input {
  flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: transparent;
  transition: all 0.3s;
  min-height: 53px;
}

.buy-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
  height: 144px;
}

.promomo .discount {
  font-weight: 700;
  font-size: 1rem;
  text-decoration: line-through;
  color: #000;
}
.discount {
  font-size: 1rem;
  font-size: 1.8rem;
}

.price-buy {
  color: var(--main-color);
}
.promomo .price-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.promomo .lower-price {
  font-size: 1.8rem;
  visibility: visible;
}
.lower-price {
  visibility: hidden;
}

.extraDocs:hover {
  color: #00a5b8 !important;
  text-decoration: none;
}

.extraDocs {
  font-weight: 700;
  color: #00a5b8;
}

.buy-btn button {
  margin-top: 10px;
}

@media (max-width: 500px) {
  .promo.form-check .form-check-label {
    align-self: flex-start;
    max-width: 100%;
  }
  .input-wrap  {
    max-width: 100%;
    margin-top: 10px;
  }

}

.form-check .form-check-label .checkmark:after {
  left: 3px;
  top: 1px;
  width: 5px;
  height: 7px;
  border: solid #00ae81;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form-buttons {
  padding: 10px 0 70px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.overtext {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 500px) {
  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gla {
    display: flex;
    align-items: stretch;
    flex-direction: column;
  }
  .gla label {
    width: 100% !important;
    margin-left: 0 !important;
  }
}

.btn-prev-step,
.btn-next-step {
  cursor: pointer;
  width: 220px;
  height: 55px;
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 24px;
  border: 2px solid #00ae81;
  border-radius: 28px;
}

.btn-prev-step {
  position: relative;
  margin-right: 30px;
  color: #00ae81;
  background-color: #fff;
}

.disabled button {
  background-color: #a1abb3 !important;
  border: #a1abb3 !important;
  cursor: not-allowed !important;
}

.disabled .discount,
.disabled .price-buy {
  visibility: hidden;
}

.btn-prev-step img {
  margin-right: 8px;
  transition: 0.3s all ease-in-out;
}

.btn-prev-step:hover img {
  margin-right: 15px;
}

.btn-next-step {
  color: #fff;
  background-color: #00ae81;
}

@media (max-width: 480px) {
  .btn-prev-step {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 500px) {
  .form-columns {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
  }
  .form-buttons {
    flex-direction: column-reverse;
  }
  .form-buttons > *:first-child {
    margin-top: 15px;
  }
  .promo {
    flex-direction: column;
    padding-bottom: 130px;
  }
}

.radio-block img {
  position: relative;
  top: 10px;
  margin: 0 15px;
}

.child-row,
.adult-row {
  display: flex;
  justify-content: center;
}

.adult-row.row,
.child-row.row {
  margin-top: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100, 100, 100, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  position: relative;
  max-width: 700px;
  max-height: 500px;
}

.modal-title:after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: var(--main-color);
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.modal-title {
  padding-bottom: 40px;
  position: relative;
}

.close-modal {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--main-color);
}

.close-modal:before,
.close-modal:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 2px;
  width: 25px;
}
.close-modal:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-modal:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-body {
  overflow-y: scroll;
  max-height: 350px;
  text-align: left;
  padding: 10px 10px 10px 0px;
}

.modal-body::-webkit-scrollbar {
  width: 6px;
}
.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(147, 146, 146, 0.6);
  border-radius: 3px;
}
.modal-body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  outline: 1px solid slategrey;
  border-radius: 3px;
}

.child-form,
.adult-form {
  margin-top: 60px;
}

.radio-block input {
  display: none;
}

.input-block .nice-select {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.vh {
  visibility: hidden;
  min-height: 10px !important;
  height: 10px !important;
  border-color: transparent;
  padding: 0;
}

.hide {
  display: none;
}

#start {
  display: none;
}

.radio-block input:checked + .checkmark:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.radio-block label:first-child {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  #buy-polise .radio-block label {
    width: 100%;
    margin-left: 20%;
    justify-content: flex-start;
  }
}

.radio-block label {
  margin-left: 0;
  width: auto;
  display: flex;
  align-items: flex-end;
}

.radio-block .checkmark {
  display: block;
  position: relative;
  border: 1px solid #a1abb3;
  background-color: transparent;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.mvmax {
  max-width: 500px !important;
}
