/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3,
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

  .main-bg {
    background-color: var(--main-color) !important;
  }
  
  .main-color {
    color: var(--main-color) !important;
    text-align: center;
  }
  
  .breadcrumbs li a,
  .breadcrumbs li a:first-child {
    color: #b6b6b6 !important;
    font-size: 18px;
  }
  
  .breadcrumbs li:last-child a {
    color: red !important;
  }
  

#vrz-steps {
    margin: 130px auto 300px;
}

#vrz-steps .row {
    margin-top: 0px;
}

#vrz-steps .vrz-main-title {
    color: #495966;
    padding-top: 20px;
    text-align: left;
    position: relative;
}

#vrz-steps .vrz-main-title::before {
    background-color: #fdb515;
    width: 50px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
}

#vrz-steps .vrz-main-subtitle {
    color: #73808a;
    font-size: 24px;
    font-weight: 400 !important;
    text-align: left;
    margin-top: 30px;
    max-width: 975px;
    margin-bottom: 20px;
}

#vrz-steps .vrz-blck-with-icon {
    margin-top: 70px;
    margin-bottom: 30px;
    max-width: 500px;
}

#vrz-steps .vrz-blck {

    padding: 80px 20px 20px;
    height: 100%;
    background-color: #edf2f1;
}

#vrz-steps .vrz-blck .vrz-blck-inner {
    margin-top: -80px;

    padding: 0 30px 20px;
    height: 100%;
}

#vrz-steps .vrz-blck .vrz-blck-icon {
    position: relative;
    height: 80px;
}

#vrz-steps .vrz-blck .vrz-blck-icon img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0px;
    box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

#vrz-steps .vrz-blck .vrz-blck-title {
    color: #495966;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 35px;


}

#vrz-steps .vrz-blck .vrz-blck-title::after {
    position: absolute;
    background-color: #fdb515;
    width: 30px;
    height: 3px;
    content: "";
    bottom: 0px;
    left: calc(50% - 15px);
}

    {
    min-height:
}

#vrz-steps form input[type="date"],
#vrz-steps form input[type="text"],
#vrz-steps form select {
    border-radius: 5px;
    margin: auto !important;
    border-width: 1px;
    font-size: 1rem;
    border-color: #a1abb3;
    border-style: solid;
    position: relative;
    background-color: #ffffff;
    transition: all 0.3s;

    min-height: 53px;
}

#vrz-steps form input[type="date"]:focus,
#vrz-steps form input[type="text"]:focus,
#vrz-steps form .date-picker input:hover {
    border-color: #fdb514;
    transition: all 0.3s;
}


#vrz-steps form .input-group {
    margin-bottom: 30px;
    min-height: 80px;
}

#vrz-steps .vrz-blck-info .insurer-info {
    margin-top: -25px;
    font-size: 14px;
    line-height: 14px;
    text-align: left;
}

#vrz-steps .vrz-blck-info .insurer-info span {
    color: #fdb515;
    text-transform: uppercase;

}

#vrz-steps form input.w-100 {
    width: 100%;
}

#vrz-steps .btn-next-step {
    background-color: #fdb515;
    min-width: 180px;
    min-height: 55px;
    color: #ffffff;
    font-size: 23.94px;
    font-weight: 900;
    line-height: 24px;
    border-radius: 50px;
    padding: 15px 21px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    margin: 0 12px 10px;

}

#vrz-steps form label {
    color: #73808a;
    margin-left: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 100%;
}

#vrz-steps .input-group select.w-30,
#vrz-steps .input-group .nice-select.w-30 {
    width: 28%;
    margin-right: 2%;
    clear: none;
}

#vrz-steps .input-group select.w-45,
#vrz-steps .input-group .nice-select.w-45 {
    width: 43%;
    margin-right: 2%;
    clear: none;
}

#vrz-steps .input-group select.w-25,
#vrz-steps .input-group .nice-select.w-25 {
    width: 25%;
    clear: none;
}

#vrz-steps .btn-prev-step {
    border-width: 2px;
    border-color: #fdb515;
    border-style: solid;
    min-width: 220px;
    min-height: 55px;
    border-radius: 50px;
    padding: 15px 21px 15px 32px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    color: #fdb515;
    font-size: 23.94px;
    font-weight: 900;
    line-height: 24px;
    text-align: center;
    position: relative;
    text-transform: uppercase;
    margin: 0 12px 10px;
}

#vrz-steps .btn-prev-step:before {
    content: "";
    position: absolute;
    top: calc(50% - 5.5px);
    background: url(images/btn-prev-step-icon.png) no-repeat center;
    margin-right: 6px;
    margin-top: 1px;
    transition: all 0.3s;
    left: 18px;
    height: 11px;
    width: 7px;
}

#vrz-steps .btn-prev-step:hover::before {
    left: 15px;
    transition: all 0.3s;
}


/* NICE SELECT FOR VZR */
#vrz-steps .nice-select {
    font-size: 1rem!important;
}

#vrz-steps .nice-select .list {
    width: 100%;
    border-radius: 0 0 5px 5px;
    border-top: 3px solid #fdb515;
    margin-top: 0px;
    max-height: 200px;
    overflow-y: auto;
}

#vrz-steps .nice-select .list li {
    color: #aaa;
    font-size: 18px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 50px;
    position: relative;

}

#vrz-steps .nice-select:after {
    border-bottom: 2px solid #fdb515;
    border-right: 2px solid #fdb515;
    content: '';
    display: block;
    height: 8px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;

    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 8px;
}

#vrz-steps .nice-select .option:hover,
#vrz-steps .nice-select .option.focus,
#vrz-steps .nice-select .option.selected.focus {
    background-color: #eef2f1;
    color: #1c2b39;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
}

#vrz-steps .nice-select .option::before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    opacity: 0;
    left: 20px;
    -webkit-transition: all 0.3s ease-in-out;
}

#vrz-steps .nice-select .option.selected.focus::before,
#vrz-steps .nice-select .option:hover::before {
    content: "";
    position: absolute;
    left: 30px;
    -webkit-transform-origin: 45% 45%;
    -ms-transform-origin: 45% 45%;
    transform-origin: 45% 45%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease-in-out;
    border-right: 2px solid #fdb515;
    border-top: 2px solid #fdb515;
    height: 8px;
    width: 8px;
    opacity: 1;
}
