/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3,
  h4 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
  text-align: center;
}

.breadcrumbs li a,
.breadcrumbs li a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#vrz-steps {
  margin: 130px auto 300px;
}

#vrz-steps .vrz-main-title {
  color: #495966;
  padding-top: 20px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#vrz-steps .vrz-main-title::before {
  background-color: #fdb515;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#vrz-steps .vzr-offer {
  text-align: left;
  color: #73808a;
  margin-left: 20px;
}

#vrz-steps .btn-next-step {
  background-color: #fdb515;
  min-width: 180px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
}

.table-blocks {
  margin: 55px 0 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.table-col {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
}

.table-col.table-col-orange {
  -ms-flex: 0 0 26.6666667%;
  flex: 0 0 26.6666667%;
  max-width: 26.6666667%;
}

.table-col-title,
.table-col-td {
  height: 70px;
}

.table-col-orange .table-col-title {
  background: #fdb515;
  color: #fffdfd;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-col-orange .table-col-td {
  padding: 5px 13px;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.table-col-orange .table-col-td:nth-child(2n) {
  background-color: #edf2f1;
}

.table-col-orange .table-col-td:last-child {
  background-color: transparent;
}

.table-col-orange .td-info {
  color: #495966;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  width: 100%;
}

.table-col-orange .td-info .table-currency {
  font-size: 16px;
  font-weight: bold;
  top: -0.7em;
}

.table-col-transp .table-col-td {
  color: #73808a;
  text-align: right;
  background: #fff;
  padding: 5px 13px 5px 0px;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.table-col-total .td-info {
  color: #fdb515;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

.table-col-total .td-info .table-currency {
  font-size: 20px;
  font-weight: bold;

  top: -0.9em;
}

.table-col-btn .btn.btn-table {
  background-color: #fdb515;
  min-width: 220px;
  min-height: 55px;
  border: 2px solid #fdb515;
  color: #ffffff;
  text-align: center;
}

.table-col-btn .btn.btn-table.btn-bordered {
  background-color: #fff;
  min-width: 220px;
  min-height: 55px;
  color: #fdb515;
  border: 2px solid #fdb515;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
}
