@media (max-width: 575.98px) {
    #osago-steps .osago-main-title {
        font-size: 34px;
    }

    #osago-steps .osago-datepicker-blck .osago-datepicker-blck-title {
        font-size: 22px;
        line-height: 30px;
    }

    #osago-steps .osago-blck
}


@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {}


@media (max-width: 1199.98px) {
    #osago-steps .osago-blck {
        margin: 80px auto 20px;
        padding: 0 10px 20px;
		max-width:500px;
    }
	#osago-steps .osago-datepicker-blck .input-group
	{
	margin: 0px auto!important;
	}
	#osago-steps .osago-datepicker-blck .osago-datepicker-blck-title
	{
	text-align:center!important;}
	}
