/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#osago-steps {
  margin: 130px auto 300px;
}

#osago-steps .row {
  margin-top: 0px;
}

#osago-steps .osago-main-title {
  color: #495966;
  padding-top: 20px;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#osago-steps .osago-main-title::before {
  background-color: #068598;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#osago-steps .osago-main-subtitle {
  color: #73808a;
  font-size: 24px;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  max-width: 975px;
  margin-bottom: 20px;
}

#osago-steps .osago-blck {
  background-color: #edf2f1;
  margin: 80px 0px 20px;
  padding: 0 30px 20px;
}

#osago-steps .osago-blck .osago-blck-icon {
  position: relative;
  height: 80px;
}

#osago-steps .osago-blck .osago-blck-icon img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: 10px;
  box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.date-picker .datepicker td, .datepicker th {
  max-width: 20px;
}

@media (max-width: 500px) {
  .date-picker .datepicker td, .datepicker th {
    padding: 0;
  }
  .date-picker .datepicker .prev,
  .date-picker .datepicker .next,
  .date-picker .datepicker .datepicker-switch {
    padding-bottom: 15px;
  }
}


#osago-steps .osago-blck .osago-blck-title {
  color: #495966;
  text-align: center;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 35px;
}

.adress-block {
  padding: 0px 10px;
}
.adress-block > div {
  padding: 0px 5px;
}

.text-no-overflow {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#osago-steps .osago-blck .osago-blck-title::after {
  position: absolute;
  background-color: #068598;
  width: 30px;
  height: 3px;
  content: "";
  bottom: 0px;
  left: calc(50% - 15px);
}

#osago-steps .osago-datepicker-blck {
  margin: 30px 0 40px;
  text-align: left;
}

#osago-steps .osago-datepicker-blck .osago-datepicker-blck-title {
  color: #495966;
  margin-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  font-size: 1.5rem;
  font-weight: bold;
}

#osago-steps form .date-picker .input-group-addon {
  position: absolute;
  top: calc(50% - 14px);
  cursor: pointer;
  right: 18px;
  content: "";
  background: url(../images/calendar-icon_gray.png) no-repeat center;
  height: 28px;
  width: 29px;
  transition: all 0.5s;
}

#osago-steps form .date-picker input + .input-group-addon:focus,
#osago-steps form .date-picker input + .input-group-addon:hover {
  background: url(../images/calendar-icon_blue.png) no-repeat center;
  transition: all 0.5s;
}

#osago-steps .osago-datepicker-blck .input-group {
  max-width: 457px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#osago-steps .osago-datepicker-blck input[type="text"] {
  margin-left: 0px !important;
}

#osago-steps form input {
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;
  min-height: 53px;
}

#osago-steps form input:focus,
#osago-steps form .date-picker input:hover {
  border-color: #068598;
  transition: all 0.3s;
}

#osago-steps form .input-group {
  margin-bottom: 10px;
}

#osago-steps form .error-msg {
  color: #00a5b8;
  font-size: 17.97px;
  font-weight: 400;
  line-height: 24px;
}

#osago-steps form input.w-100 {
  width: 100%;
  padding: 10px;
}

#osago-steps form input.w-20 {
  width: 20%;
  float: left;
}

#osago-steps form input.w-75 {
  width: 75%;
  float: left;
}

#osago-steps form input.mr-l-5 {
  margin-left: 5% !important;
}

#osago-steps form .osago-blck-info {
  text-align: left;
}

#osago-steps form label {
  color: #73808a;
  margin-left: 0px;
  font-size: 17.97px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
}

#osago-steps form label span {
  color: #e72d2b;
}

#osago-steps form label span.tooltip-icon {
  border-radius: 50%;
  background-color: #c6ccd0;
  width: 12px;
  height: 12px;
  line-height: 12px;
  display: inline-block;
  font-size: 12px;
  color: #fff;
  text-align: center;
  margin: 0 3px;
  padding-bottom: 10px;
}

#osago-steps .btn-next-step {
  background-color: #068598;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step {
  border-width: 2px;
  border-color: #068598;
  border-style: solid;
  min-width: 220px;
  min-height: 55px;
  border-radius: 50px;
  padding: 15px 21px 15px 32px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  color: #068598;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step:before {
  content: "";
  position: absolute;
  top: calc(50% - 5.5px);
  background: url(../images/btn-prev-step-icon-blue.png) no-repeat center;
  margin-right: 6px;
  margin-top: 1px;
  transition: all 0.3s;
  left: 18px;
  height: 11px;
  width: 7px;
}

#osago-steps .btn-prev-step:hover::before {
  left: 15px;
  transition: all 0.3s;
}

/* OSAGO DATEPIKER STYLE */
.osago-datepicker-blck .datepicker {
  border-top: 3px solid #068598;
}

.osago-datepicker-blck .datepicker .datepicker-switch::before {
  background: #068598;
}

.osago-datepicker-blck .datepicker table .active.day span {
  background: #068598;
}

/* NICE SELECT FOR VZR */
#osago-steps .nice-select {
  font-size: 21px;
}

#osago-steps .nice-select .list {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 3px solid #068598;
  margin-top: 0px;
  max-height: 200px;
  overflow-y: auto;
}

#osago-steps .nice-select .list li {
  color: #aaa;
  font-size: 18px;
  /* ÐŸÑ€Ð¸Ð±Ð»Ð¸Ð¶ÐµÐ½Ð¸Ðµ Ð¸Ð·-Ð·Ð° Ð¿Ð¾Ð´ÑÑ‚Ð°Ð½Ð¾Ð²ÐºÐ¸ ÑˆÑ€Ð¸Ñ„Ñ‚Ð¾Ð² */
  font-weight: 400;
  line-height: 50px;
  position: relative;
}

#osago-steps .nice-select:after {
  border-bottom: 2px solid #068598;
  border-right: 2px solid #068598;
  content: "";
  display: block;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;

  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
}

#osago-steps .nice-select .option:hover,
#osago-steps .nice-select .option.focus,
#osago-steps .nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

#osago-steps .nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

#osago-steps .nice-select .option.selected.focus::before,
#osago-steps .nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  border-right: 2px solid #068598;
  border-top: 2px solid #068598;
  height: 8px;
  width: 8px;
  opacity: 1;
}

#osago-steps .input-group select.w-30,
#osago-steps .input-group .nice-select.w-30 {
  width: 28%;
  margin-right: 2%;
  clear: none;
}

#osago-steps .input-group select.w-45,
#osago-steps .input-group .nice-select.w-45 {
  width: 43%;
  margin-right: 2%;
  clear: none;
}

#osago-steps .input-group select.w-25,
#osago-steps .input-group .nice-select.w-25 {
  width: 25%;
  clear: none;
}

.osago-blck-info .col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
