@media (max-width: 575.98px) {
    #vrz-info-blck p {
        font-size: 19px;
    }

    #vrz-advantage-blck .h2,
    #vrz-garant-blck .h2,
    #vrz-policy-registration-blck .h2 {
        font-size  : 24px;
        line-height: 30px;
    }


    #vrz-policy-registration-blck .h2 {
        font-size  : 22px;
        line-height: 30px;
    }

    #vrz-advantage-blck .row .col {
        flex     : 0 0 100%;
        max-width: 100%;
    }
}


@media (max-width: 767.98px) {}


@media (max-width: 767px) {
    #vrz-table-blck .table-blck table tr th {

        font-size  : 18px;
        line-height: 24px;
    }

    #vrz-table-blck .table-blck table tr td {
        font-size  : 18px;
        line-height: 24px;
    }

    #vrz-table-blck .table-blck table tr td:first-child {
        padding    : 9px 10px;
        color      : #495966;
        font-size  : 18px;
        font-weight: 400;
        line-height: 24px;
        text-align : left;
    }

    #vrz-table-blck .table-blck table tr td:nth-child(2) {
        color      : #495966;
        font-size  : 18px;
        font-weight: 700;
        line-height: 24px;
        text-align : center;
    }
}

@media (max-width: 991.98px) {
    #vrz-steps .vrz-blck {
        margin : 80px 0px 20px;
        padding: 0 10px 20px;
    }
}


@media (max-width: 1199.98px) {
    #vrz-advantage-blck .advantage-text {
        margin: 10px auto 30px;
    }

    #vrz-policy-delivery-blck .policy-delivery-info {
        margin-bottom: 30px;
    }
}

@media (min-width: 991px) and (max-width: 1199.98px) {
    #vrz-steps .vrz-blck {
        padding-left : 0px;
        padding-right: 0px;
    }

    #vrz-steps .vrz-blck .vrz-blck-inner {
        padding-left : 15px;
        padding-right: 15px;
    }

    .vrz-blck-with-icon {
        flex     : 0 0 50%;
        max-width: 33.33%;

    }

    .step_container .row,
    #vrz-advantage-blck .row {
        -ms-flex-pack  : center !important;
        justify-content: center !important;
    }

    #vrz-advantage-blck .row .col {
        flex     : 0 0 33.333333%;
        max-width: 33.333333%;
    }

    #vrz-table-blck .col-lg-8 {
        margin-left: 0px !important;
        flex       : 0 0 100%;
        max-width  : 100%;
    }
}

@media screen and (max-width: 1200px) {
    .radio:after {
        left : 60%;
        width: 45%;
    }
}


@media screen and (max-width: 991px) {

    .container {
        width    : 100%;
        max-width: 100%;
    }

    .tab-button {
        font-size  : 14px !important;
        line-height: 20px;
    }

    #vrz-steps .vrz-main-title {
        padding-left: 0;
    }

    .tab {
        padding: 20px 10px 10px 10px;
    }

    .date-information,
    .tourist-information {
        flex-direction: column;
    }

    .date-field,
    .term-field,
    .tourists,
    .tourist-age {
        width: 100%;
    }

    .date-field label,
    .term-field label,
    .tourists label,
    .tourist-age label {
        font-size: 18px !important;
    }

    .tourist-age label {
        margin-top: 10px;
        width     : 100%;
    }

    .bonus {
        padding-top    : 20px;
        justify-content: center;
    }

    .stepper {
        flex-direction: column;
    }

    .step-group {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
        padding-bottom: 20px;
    }

    .step-group .radio {
        width : 25%;
        height: auto;
    }

    .step-group .radio:after {
        left : 60%;
        width: 40%;
        top  : 15px;
    }

    .table-col {
        font-size: 16px;
    }

    .table-top .table-col {
        font-size: 16px;
    }

    .program-table {
        padding-top: 0;
    }

    .buttons {
        padding-top: 90px;
    }

    .price-button-back {
        order: 2;
        margin-top: 20px;
    }

    .price {
        font-size: 24px;
        left     : 55%;
        top      : 20px;
    }
}

@media screen and (max-width: 768px) {

    .table-col-big {
        width: 33.33%
    }

    .table-row .option {
        display: none;
      }

    .table-top .table-row,
    .table-row {
        height: auto;
        padding: 10px;
        justify-content: start;
    }

    .table-top .table-col {
        font-size: 14px;
    }

    .table-col {
        font-size: 16px;
        width: 50%;
    }

    .table-col-divider {
        width: 100%;
    }
    .step-group .radio:after {
        left : 70px;
        width: 55%;
        top  : 8px;
    }

    .step-group .radio label {
        padding-left: 20px;
        font-size   : 18px !important;
        line-height : 22px !important;
    }

    .step-group .radio label:before {
        width : 20px;
        height: 20px;
    }

    .step-group .radio label:after {
        width : 10px;
        height: 10px;
        left  : 5px;
        top   : 5px;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
   
    .price-button-back {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media screen and (max-width: 480px) {
    .table-top .table-col {
        /* font-size: 10px; */
    }

    .table-col {
        /* font-size: 10px; */
    }

    .step-group .radio:after {
        left : 60px;
        width: 45%;
        top  : 8px;
    }

    .step-group .radio label {
        padding-left: 20px;
        font-size   : 14px !important;
        line-height : 16px !important;
    }

    .step-group .radio label:before {
        width : 15px;
        height: 15px;
    }

    .step-group .radio label:after {
        width : 5px;
        height: 5px;
        left  : 5px;
        top   : 5px;
    }
}

@media screen and (max-width: 375px) {
    .step-group .radio:after {
        left : 60px;
        width: 25%;
        top  : 8px;
    }
}

