/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size  : 18px;
    line-height: 24px;
  }

  h2 {
    font-size  : 24px;
    line-height: 32px;
  }

  h3 {
    font-size  : 24px;
    line-height: 32px;
  }

  h4 {
    font-size  : 18px;
    line-height: 26px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size  : 18px;
    line-height: 26px;
  }

  h2 {
    font-size  : 24px;
    line-height: 40px;
  }

  h3,
  h4 {
    font-size  : 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size  : 18px;
    line-height: 26px;
  }

  li {
    font-size  : 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size  : 24px;
    line-height: 45px;
  }

  h4 {
    font-size  : 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size  : 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size  : 24px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size  : 64px;
    line-height: 120px;
  }

  h2 {
    font-size  : 40px;
    line-height: 45px;
  }

  h4,
  h3 {
    font-size  : 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size  : 24px !important;
    line-height: 24px !important;
  }

  p {
    font-size  : 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size  : 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size  : 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size     : 40px;
    line-height   : 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size     : 32px !important;
    line-height   : 40px !important;
  }

  h4 {
    font-size  : 32px !important;
    line-height: 40px !important;
  }
}


.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color     : var(--main-color) !important;
  text-align: center;
}

.breadcrumbs li a,
.breadcrumbs li a:first-child {
  color    : #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#vrz-steps {
  margin: 130px auto 60px;
}

#vrz-steps .vrz-main-title {
  color      : #242424;
  padding-top: 20px;

  padding-left  : 30px;
  font-weight   : 900;
  text-transform: none;
  text-align    : left;
  position      : relative;
  font-family   : "MuseoSansCyrl", sans-serif;
}

h2 {
  color      : #495966;
  padding    : 20px 0;
  font-weight: 900;
  text-align : left;
  position   : relative;
}

h3 {
  color: var(--main-color);
}

h2::before,
#vrz-steps .vrz-main-title::before {
  /* background-color: #fdb515; */
  background-color   : transparent;
  width              : 50px;
  height             : 3px;
  position           : absolute;
  top                : 0px;
  left               : 0px;
  content            : "";
}

#vrz-steps .vrz-main-subtitle {
  color        : #73808a;
  text-align   : left;
  margin-top   : 30px;
  max-width    : 975px;
  margin-bottom: 20px;
}

#vrz-steps .vrz-blck-with-icon {
  margin-top   : 70px;
  margin-bottom: 30px;
}

#vrz-steps .vrz-blck {
  padding         : 80px 20px 20px;
  height          : 100%;
  background-color: #edf2f1;
}

#vrz-steps .vrz-blck .vrz-blck-inner {
  margin-top: -80px;
  padding   : 0 10px 20px;
  height    : 100%;
}

#vrz-steps .vrz-blck .vrz-blck-icon {
  position: relative;
  height  : 80px;
}

#vrz-steps .vrz-blck .vrz-blck-icon img {
  width        : 100px;
  height       : 100px;
  position     : absolute;
  top          : -50px;
  left         : 0px;
  box-shadow   : 0px 8px 21px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

#vrz-steps .vrz-blck .vrz-blck-title {
  color         : #495966;
  font-weight   : 900;
  text-align    : center;
  position      : relative;
  padding-bottom: 15px;
  margin-bottom : 35px;
}

#vrz-steps .vrz-blck .vrz-blck-title::after {
  position        : absolute;
  background-color: #fdb515;
  width           : 30px;
  height          : 3px;
  content         : "";
  bottom          : 0px;
  left            : calc(50% - 15px);
}

#vrz-steps form input[type="date"],
#vrz-steps form input[type="text"] {
  /* border-radius   : 5px; */
  border-radius: 0 !important;
  margin          : auto !important;
  border: 1px solid #eeeeee !important;
  position        : relative;
  background-color: #eeeeee;
  transition      : all 0.3s;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 24px !important;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
  min-height: 53px;
}

#vrz-steps form input[type="date"]:focus,
#vrz-steps form input[type="text"]:focus,
#vrz-steps form .date-picker input:hover {
  border-color: #fdb514;
  transition  : all 0.3s;
}

#vrz-steps form .input-group .date {
  padding-bottom: 30px;
}

#vrz-steps form .input-group#date-wrap {
  margin-bottom: 20px;
  width: 100%;
}

#vrz-steps form input.w-100 {
  width: 100%;
}

#vrz-steps form .date-picker .input-group-addon {
  position  : absolute;
  top       : calc(50% - 14px);
  cursor    : pointer;
  right     : 18px;
  content   : "";
  background: url(../images/calendar-icon_gray.png) no-repeat center;
  height    : 28px;
  width     : 29px;
  transition: all 0.5s;
}

#vrz-steps form .date-picker input+.input-group-addon:focus,
#vrz-steps form .date-picker input+.input-group-addon:hover {
  background: url(../images/calendar-icon_Yellow.png) no-repeat center;
  transition: all 0.5s;
}

#vrz-steps form .vrz-blck-info {
  text-align: left;
}

#vrz-steps form .vrz-blck-info label {
  font-size: 18px;
}

#vrz-steps form .vrz-blck-info .form-check label {
  margin-left  : 19px;
  color        : #73808a;
  font-size    : 18px;
  font-weight  : 400;
  line-height  : 30px;
  margin-bottom: 30px;
}

#vrz-steps form .vrz-blck-info .form-check label:last-child {
  margin-bottom: 0px;
}

#vrz-steps form label {
  font-size: 18px;
}

.form-radio .form-check-label {
  display            : block;
  position           : relative;
  padding-left       : 35px;
  margin-bottom      : 12px;
  cursor             : pointer;
  font-size          : 22px;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.form-radio .form-check-label input {
  position: absolute;
  opacity : 0;
  cursor  : pointer;
}

.form-radio .form-check-label .checkmark {
  position        : absolute;
  top             : 3px;
  left            : 0;
  height          : 22px;
  width           : 22px;
  background-color: transparent;
  border-radius   : 50%;
  border          : 1px solid #a1abb3;
}

.form-radio .form-check-label .checkmark:after {
  content : "";
  position: absolute;
  display : none;
}

.form-radio .form-check-label input:checked~.checkmark:after {
  display: block;
}

.form-radio .form-check-label .checkmark:after {
  top          : calc(50% - 4px);
  left         : calc(50% - 4px);
  width        : 8px;
  height       : 8px;
  border-radius: 50%;
  background   : #fdb515;
}

.form-check {
  padding-left: 0px;
}

.form-check .form-check-label {
  display            : block;
  position           : relative;
  padding-left       : 35px;
  margin-bottom      : 12px;
  cursor             : pointer;
  font-size          : 22px;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

.form-check .form-check-label input {
  position: absolute;
  opacity : 0;
  cursor  : pointer;
}

.form-check .form-check-label .checkmark {
  position        : absolute;
  top             : 3px;
  left            : 0;
  height          : 22px;
  width           : 22px;
  background-color: transparent;
  border          : 1px solid #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  content : "";
  position: absolute;
  display : none;
}

.form-check .form-check-label input:checked~.checkmark:after {
  display: block;
}

.form-check .form-check-label .checkmark:after {
  top                : calc(50% - 4px);
  left               : calc(50% - 4px);
  width              : 8px;
  height             : 8px;
  background         : url(../images/check_yellow.png);
  background-repeat  : no-repeat;
  background-position: center;
  background-size    : 8px;
}

#vrz-steps form input.vzr_age {
  padding: 15px 5px;
}

#vrz-steps form label {
  color      : #73808a;
  margin-left: 0px;
  font-size  : 18px;
  font-weight: 400;
  line-height: 26px;
  text-align : left;
}

#vrz-steps form .travel-duration-check label {
  margin-left  : 0px !important;
  margin-bottom: 10px !important;
  margin-top   : 10px !important;
}

#vrz-steps form .travel-duration-check input {
  margin-top: 9px;
}

#vrz-steps form label span {
  color: #e72d2b;
}

#travel-duration {
  display   : none;
  transition: all 0.3s;
}

#travel-duration.active {
  display   : block;
  transition: all 0.3s;
}

#travel-duration label {
  width      : 100%;
  color      : #73808a;
  font-size  : 18px;
  font-weight: 400;
  line-height: 24px;
  text-align : left;
}

#travel-duration {
  text-align: center;
}

#travel-duration .form-check-label {
  font-size: 18px !important;
}

#travel-duration .vzr-travel-duration {
  display      : inline-block;
  color        : #fdb514;
  font-size    : 18px;
  font-weight  : 900;
  line-height  : 24px;
  border-width : 2px;
  border-color : #fdb515;
  border-radius: 50px;
  border-style : solid;
  padding      : 6px 19px;
  transition   : all 0.3s;
  cursor       : pointer;
}

#travel-duration .vzr-travel-duration.active {
  background-color: #fdb515;
  color           : #fdfdfd;
  transition      : all 0.3s;
}

#travel-duration .vzr-travel-duration {
  margin: 15px 0 10px;
}

#travel-duration .vzr-travel-duration:nth-child(3) {
  margin: 0 15px 0;
}

#vrz-steps .vzr-offer {
  text-align : left;
  color      : #73808a;
  margin-left: 20px;
  cursor     : pointer;
}

#vrz-steps .btn-next-step {
  background-color: #fdb515;
  min-width       : 220px;
  min-height      : 55px;
  color           : #ffffff;
  font-size       : 23.94px;
  font-weight     : 900;
  line-height     : 24px;
  border-radius   : 50px;
  padding         : 15px 21px;
  text-align      : center;
  margin-top      : 90px;
  display         : inline-block;
  border          : 0px;
  cursor          : pointer;
  text-transform  : uppercase;
}

/* Новые блоки и стили 22.02.2019 */
#vrz-info-blck {
  padding      : 60px 0 10px;
  text-align   : left;
  margin-bottom: 15px;
}

#vrz-info-blck .row {
  margin-top: 0px;
}

#vrz-info-blck .h2 {
  color         : #495966;
  font-size     : 48px;
  font-weight   : 900;
  text-align    : left;
  padding       : 25px 0 30px;
  position      : relative;
  text-transform: uppercase;
}

#vrz-info-blck .h2::before {
  background-color: #fdb515;
  width           : 50px;
  height          : 3px;
  top             : 0px;
  left            : 0px;
  position        : absolute;
  content         : "";
}

#vrz-info-blck p {
  color     : #1c2b39;
  text-align: left;
}

#vrz-advantage-blck {
  margin          : 20px 0;
  padding         : 35px 0;
  background-color: #edf2f1;
  text-align      : center;
}

#vrz-advantage-blck .h2 {
  color      : #fdb514;
  font-size  : 40px;
  font-weight: 600;
  line-height: 40px;
}

#vrz-advantage-blck .advantage-icon {
  margin-bottom: 25px;
}

#vrz-advantage-blck .advantage-icon img {
  max-width: 120px;
}

@media (max-width: 767px) {
  #vrz-policy-delivery-blck .policy-delivery-icon img {
    max-width: 120px;
  }
}

#vrz-advantage-blck .advantage-text {
  max-width  : 316px;
  color      : #1c2b39;
  font-weight: 400;
  line-height: 20px;
}

#vrz-advantage-blck .advantage-text small {
  font-size  : 16px;
  font-weight: 400;
  line-height: 18px;
  display    : inline-block;
  padding-top: 5px;
}

#vrz-additional-blck {
  margin: 20px 0;
}

#vrz-additional-blck .additional-title {
  color        : #fdb515;
  margin-bottom: 10px;
}

#vrz-additional-blck ul.additional-list {
  margin-bottom: 30px;
}

#vrz-additional-blck ul.additional-list li {
  display     : inline-block;
  width       : 100%;
  text-align  : left;
  color       : #1c2b39;
  font-weight : 400;
  text-align  : left;
  position    : relative;
  padding-left: 20px;
}

#vrz-additional-blck ul.additional-list li::before {
  content  : "•";
  color    : #fdb514;
  font-size: 40px;
  left     : 0px;
  top      : 10px;
  transform: translateY(-50%);
  position : absolute;
}

#vrz-garant-blck {
  margin    : 0px 0 80px;
  text-align: left;
}

#vrz-garant-blck .row {
  margin-top: 0px;
}

#vrz-garant-blck .h2 {
  color        : #fdb514;
  font-size    : 32px;
  font-weight  : 700;
  line-height  : 40px;
  text-align   : left;
  margin-bottom: 20px;
}

#vrz-garant-blck ol {
  counter-reset: myCounter;
  text-align   : left;
  margin-bottom: 35px;
}

#vrz-garant-blck ol li {
  list-style : none;
  color      : #1c2b39;
  font-weight: 400;
}

#vrz-garant-blck ol li:before {
  counter-increment: myCounter;
  content          : counter(myCounter) ".";
  color            : #fdb514;

  display    : inline-block;
  text-align : left;
  margin     : 0px 10px 0 0;
  line-height: 40px;
}

#vrz-garant-blck a.garant-med-info {
  color          : #495966;
  font-weight    : 400;
  line-height    : 32px;
  text-decoration: underline;
  text-align     : left;
}

#vrz-policy-delivery-blck {
  margin          : 20px 0;
  padding         : 40px 0;
  background-color: #edf2f1;
}

#vrz-policy-delivery-blck .h2 {
  color      : #fdb514;
  font-size  : 40px;
  font-weight: 600;
  line-height: 40px;
}

#vrz-policy-delivery-blck .policy-delivery-icon {
  margin: 10px 0 40px;
}

#vrz-policy-delivery-blck .policy-delivery-info {
  color      : #1c2b39;
  font-weight: 400;
  max-width  : 540px;
  margin     : auto;
}

#vrz-policy-registration-blck {
  margin: 30px 0 50px;
}

#vrz-policy-registration-blck .row {
  margin-top: 0px;
}

#vrz-policy-registration-blck .h2 {
  color      : #fdb514;
  font-size  : 32px;
  font-weight: 700;
  line-height: 40px;
  text-align : left;
}

#vrz-policy-registration-blck p {
  text-align: left;
  color     : #1c2b39;
  margin    : 10px 0 15px;
}

#vrz-policy-registration-blck ul {
  text-align   : left;
  max-width    : 1500px;
  list-style   : none;
  margin-bottom: 40px;
}

#vrz-policy-registration-blck ul li {
  color       : #1c2b39;
  font-weight : 400;
  text-align  : left;
  position    : relative;
  padding-left: 20px;
}

#vrz-policy-registration-blck ul li::before {
  content  : "•";
  color    : #fdb514;
  font-size: 40px;
  left     : 0px;
  top      : 10px;
  transform: translateY(-50%);
  position : absolute;
}

#vrz-attention-blck {
  background: #edf2f1;
  padding   : 30px 0 40px;
  text-align: left;
}

.warning-info {
  display        : flex;
  flex-direction : column;
  justify-content: center;
}

@media (min-width: 767.98px) {
  .warning-info {
    flex-direction: row;
    align-items   : center;
  }

  #vrz-attention-blck .warning-icon {
    margin-right: 40px;
    text-align  : center;
  }
}

#vrz-attention-blck .warning-icon {
  /* margin-right: 40px; */
  text-align     : center;
}

#vrz-attention-blck .warning-text .title {
  font-size    : 40px;
  color        : #fdb515;
  margin-bottom: 10px;
}

#vrz-attention-blck .warning-text p {
  color      : #1c2b39;
  font-size  : 1rem;
  line-height: 1.5rem;
}

#vrz-table-blck .table-title {
  margin: 30px 0;
  color : #fdb514;
}

#vrz-table-blck .table-blck {
  margin   : 10px auto 20px;
  max-width: 1120px;
}

#vrz-table-blck .table-blck table {
  width    : 100%;
  max-width: 1120px;
  margin   : auto;
}

#vrz-table-blck .table-blck table tr th {
  border        : 2px solid #a1abb3;
  border-bottom : 2px solid #fdb515;
  width         : 50%;
  text-align    : center;
  color         : #73808a;
  font-size     : 1.5rem;
  font-weight   : 700;
  line-height   : 24px;
  text-transform: uppercase;
}

#vrz-table-blck .table-blck table tr td {
  border: 2px solid #a1abb3;
}

#vrz-table-blck .table-blck table tr td:first-child {
  padding    : 9px 20px;
  color      : #495966;
  font-weight: 400;
  text-align : left;
  max-width  : 100px;
}

#vrz-table-blck .table-blck table tr td:nth-child(2) {
  color      : #495966;
  font-size  : 1.5rem;
  font-weight: 700;
  line-height: 32px;
  text-align : center;
  padding    : 9px 0;
}

#vrz-table-blck .table-footer-info {
  margin     : 20px 0;
  color      : #1c2b39;
  font-weight: 400;
  text-align : left;
}

#vzr-scroll-blck {
  margin: 20px 0 150px;
}

#vzr-scroll-blck img {
  margin-top   : 5px;
  margin-bottom: 20px;
  margin-left  : auto;
  margin-right : auto;
  display      : block;

  transition: all 0.3s;
}

#vzr-scroll-blck a {
  color      : #fdb515;
  font-size  : 2rem;
  line-height: 38px;
}

/* // Новые блоки и стили 22.02.2019 */

.vzr_age_block {
  display      : inline-block;
  margin-right : 15px;
  margin-bottom: 10px;
  width        : 19%;
}

.vzr_age_block input {
  text-align: center;
  font-size : 24px;
}

.vzr_age_block_plus {
  display: inline-block;
  cursor : pointer;
}

.tabs {
  width           : 100%;
  background-color: #eeeeee;
}

.tab-buttons {
  padding       : 0 30px;
  display       : flex;
  flex-direction: row;
}

.button-wrapper {
  height       : 60px;
  margin-right : 60px;
  border-bottom: 6px solid transparent;
}

.button-wrapper .tab-button {
  color           : #888888;
  width           : 100%;
  height          : 100%;
  background-color: transparent;
  border          : 0;
  outline         : 0;
  font-family     : "MuseoSansCyrl", sans-serif;
  font-size       : 32px;
  font-weight     : bold;
  font-stretch    : normal;
  font-style      : normal;
  line-height     : 1.25;
  letter-spacing  : normal;
  text-align      : left;
}

.tab-buttons .active {
  border-color: #229fff;
}

.tab-buttons .active button {
  color: #242424;
}

@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: initial;
  src        : url("../../font/MuseoSansCyrl_300.otf") format("otf"),
}

body {
  font-family: "MuseoSansCyrl", sans-serif !important;
}

.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.step-group {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.stepper .small {
  width: auto;
}

.stepper .small:after {
  display: none;
}

.radio {
  position: relative;
  width: 25%;
  height: 35px;
  font-family: "MuseoSansCyrl", sans-serif !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.radio:after {
  content: "";
  position: absolute;
  width: 55%;
  top: 15px;
  left: 50%;
  height: 1px;
  background-color: #888888;
}

.radio input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.radio label {
  height: 100%;
  font-size: 24px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}

.stepper .price-button {
  visibility: hidden;
}

.price-button {
  display: block;
  border-radius: 3px;
  background-color: #fdda24;
  border: 0;
  width: 284px;
  height: 60px;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #242424;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-button-back {
  margin-right: 30px;
  background-color: transparent;
  border: 1px solid #242424;
  border-radius: 3px;
}

.price-button:hover, 
.price-button:focus {
  color: #ffffff !important;
  background-color: #229fff;
}

.price-button-back:hover, 
.price-button-back:focus {
  color: #242424 !important;
  background-color: transparent;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #888888;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:before{
  border: 1px solid #229fff;
  background: #229fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.program-table {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.table-row {
  padding: 0 30px;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-row:nth-child(even) {
  background-color: #eeeeee;
}

.table-top {
  background-color: #229fff;
  
}

.table-top .table-col {
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.table-top .table-col-big {
  text-align: left;
}

.table-col {
  width: 25%;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  text-align: center;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #242424;
}

.table-col-big {
  width: 50%;
  text-align: left;
}

.table-col-divider {
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #229fff;
}

.table-sub-col svg {
  margin-right: 5px;
}

.buttons {
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price {
  position: absolute;
  top: 65px;
  left: 65%;
  transform: translateX(-65%);
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}

.price-col {
  position: relative;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #888888;
}

.currency {
  position: absolute;
  top: 0;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
