@media (max-width: 575.98px) {


    #page-content {
        margin-top: 30px;
    }

    #page-content .page-info-title,
    #page-content .page-info-list-title,
    #page-info-footer .page-info-footer-contacts p,
    #page-content .wrap-icons .page-icons-title {
        font-size: 24px;
    }


    #page-content .page-info-text,
    #page-content.style-orange .orange-text,
    #page-content .page-info-list ul li,
    #page-content .page-info p,
    #page-info-footer .page-info-footer-contacts {
        font-size: 18px;
        line-height: 22px;
    }

    #page-content.style-orange .orange-text {
        margin-bottom: 20px;
    }

    * + .row {
        margin-top: 20px;
    }

    #page-content .wrap-icons .page-icons-title,
    #page-content .wrap-icons .page-icons-list .icon-col,
    #page-content .wrap-icons .page-icons-list .page-icons-text {
        width: 100%;
        max-width: 100%;
    }

    #page-content .wrap-icons .page-icons-list .page-icons-text {
        font-size: 22px;
        line-height: 24px;
    }

    #page-scroll-top a {
        font-size: 24px;
        line-height: 28px;
    }

    #page-attention .page-attention-icon {
        margin-right: 0px;
        margin-bottom: 40px;
    }
}

@media (max-width: 767.9px) {
    #full-img-bg {
        margin: 35px auto 35px;
        padding: 90px 0 130px;
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 1199.9px) {
    #full-img-bg {
        margin: 45px auto 45px;
        padding: 110px 0 150px;
        font-size: 32px;
        line-height: 38px;
    }
}
