@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  h2,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3 {
    font-size: 34px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px !important;
    line-height: 120px !important;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#page-content {
  margin: 120px 0 150px;
}

#page-content .page-info-title {
  color: #495966;
  padding-top: 20px;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}

#page-content .page-info-title::before {
  background-color: #8270b3;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#page-content .page-info-text {
  margin-bottom: 50px;
  color: #73808a;
  text-align: left;
  font-size: 24px;
}

#page-content .wrap-icons {
  background-color: #edf2f1;
  padding: 40px 0 40px;
  margin: 50px auto 50px;
}

#page-content .wrap-icons .page-icons-title {
  color: #8270b3;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

#page-content .wrap-icons .page-icons-list .icon-col {
  max-width: 515px;
  padding: 0 20px;
  margin-bottom: 60px;
}

#page-content .wrap-icons .page-icons-list .icon-img {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
  height: 130px;
}

#page-content .wrap-icons .page-icons-list .icon-img img {
  height: 130px;
  width: 100%;
}

#page-content .wrap-icons .page-icons-list .page-icons-text {
  color: #1c2b39;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  max-width: 320px;
  margin: auto;
}

#page-content .page-info-list-title {
  text-align: left;
  line-height: 40px;
  color: #8270b3;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

#page-content .page-info-list ul li {
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  padding-left: 20px;
  line-height: 32px;
  font-size: 24px;
  color: #1c2b39;
}

#page-content .page-info-list ul li::before {
  content: "•";
  color: rgb(0, 174, 129);
  font-size: 30px;
  left: 0px;
  top: -3px;
  position: absolute;
}

#page-content .page-info p {
  text-align: left;
  line-height: 32px;
  font-size: 24px;
  color: #1c2b39;
  margin-bottom: 8px;
}

#full-img-bg {
  margin: 55px auto 65px;
  padding: 130px 0 170px;
  font-size: 38px;
  line-height: 48px;
  font-weight: bold;
  position: relative;
  color: #fff;
  background: url(../images/full-img-bg.jpg) no-repeat center 90%;
  background-size: cover;
}

#full-img-bg::before {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#page-attention {
  margin: 55px auto 80px;
}

#page-attention .page-attention-icon {
  margin-right: 30px;
}

#page-attention .page-attention-text {
  text-align: left;
}

#page-attention .page-attention-text .page-attention-title {
  color: #8270b3;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

#page-attention .page-attention-text p {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 935px;
}

#page-info-footer {
  padding: 40px 0;
  margin-bottom: 140px;
  margin-top: 90px;
}

#page-info-footer .page-info-footer-title {
  font-size: 32px;
  line-height: 40px;
  color: #1c2b39;
  font-weight: 400;
}

#page-info-footer .page-info-footer-title span {
  color: #8270b3;
  font-weight: 700;
  margin-bottom: 90px;
}

#page-info-footer .page-info-footer-contacts {
  line-height: 32px;
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  max-width: 1550px;
  margin: auto;
}

#page-info-footer .page-info-footer-contacts p {
  line-height: 32px;
  color: #8270b3;
  font-size: 32px!important;
  margin: 10px auto;
  font-weight: 700;
}

.input-group .input-height {
    height: 52px;
    border-radius: 5px;
}

#page-info-footer .page-info-footer-contacts a {
  line-height: 32px;
  color: #8270b3;
  font-size: 24px;
  font-weight: 400;
}

#page-info-footer .page-info-footer-contacts-links {
  margin: 20px auto;
}

#page-scroll-top {
  margin: 50px 0 150px;
}

#page-scroll-top a {
  color: #8270b3;
  font-size: 36px;
  line-height: 38px;
}

#page-scroll-top img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#page-content form.property-form {
  max-width: 600px;
  width: 100%;
  margin: 0 auto 50px;
}

#page-content form.property-form label {
  color: #73808a;
  margin-left: 0px;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  width: 100%;
}

#page-content form.property-form .input-group {
  margin-bottom: 22px;
}

#page-content form.property-form input {
  border-radius: 5px;
  margin: auto !important;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: #ffffff;
  transition: all 0.3s;
  min-height: 53px;
  width: 100%;
}

#page-content form.property-form input:focus,
#page-content form.property-form input:active {
  border-color: #8270b3;
  transition: all 0.3s;
}

#page-content form.property-form .btns {
  text-align: center;
}

#page-content form.property-form .btn-next {
  background-color: #8270b3;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
  margin-top: 20px;
  margin-bottom: 50px;
}

#page-content form.property-form .list {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 3px solid #8270b3;
  margin-top: 0px;
}

#page-content form.property-form .list li {
  color: #8270b3;
  font-size: 18px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 50px;
  position: relative;
}

#page-content form.property-form .nice-select:after {
  border-bottom: 2px solid #8270b3;
  border-right: 2px solid #8270b3;
  content: "";
  display: block;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;

  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
}

#page-content form.property-form .nice-select .option:hover,
#page-content form.property-form .nice-select .option.focus,
#page-content form.property-form .nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

#page-content form.property-form .nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

#page-content form.property-form .nice-select .option.selected.focus::before,
#page-content form.property-form .nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  border-right: 2px solid #8270b3;
  border-top: 2px solid #8270b3;
  height: 8px;
  width: 8px;
  opacity: 1;
}
