h1, h2, h3, h4, h5, h6 {
	/*color: black;*/
	font-weight: 900 !important;
}

.top-phone-number {
	background: url("../images/phone.png") no-repeat 10px 10px;
}

.top-address-company {
	background: url("../images/placeholder.png") no-repeat 10px 10px;
}

.lang_selector {
	height: 35px;
}

div.lang_selector span.current_lang {
	color: #495966;
	font-size: 13px;
	background: url('../images/hover_lang.png') no-repeat 0 0;
	background-size: 21px;
	padding: 3px;
}

div.lang_selector a.lang_to_choose {
	color: #495966;
	font-size: 14px;
}

.swiper-aside-right span.sprite img {
	width: 50px;
	height: 50px;
}

.list-inline-dash-info span {
	font-size: 18px;
	color: #1c2b39;
	margin-top: 10px;
	font-weight: 900;
}

.main-title-block {
	color: #1c2b39;
}

.list-inline-dashed-lg div {
	margin-right: 2%;
}

.contacts-google-maps {
	width: 100%;
	text-align: center;
}

.contacts-sortable-filter {
	list-style: none;
}

.contacts-sortable-filter li {
	float: left;
	width: 20%;
}

.main-products .align-items-sm-center {
	width: 120%;
	margin-left: 7%;
}

.calc_sum .btn-primary {
	border-radius: 30px;
}

.text-up {
	text-transform: uppercase;
}

.module-category-text h3 {
	color: #495966;
}

.payment-sum {
	background-color: white;
	border: 2px;
	border-color: #068598;
	border-radius: 28px;
}

/*.payment-sum-active {*/
/*background-color: #068598;*/
/*font-size: 24px;*/
/*color: white;*/
/*}*/

.osago-info-block {
	background-color: #edf2f1;
}

.osago-icon-block {
	position: absolute;
	top: -2%;
	left: 10%;
	display: block;
	width: 50px;
	height: 50px;
	/*margin: 1em auto;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-border-radius: 99em;
	-moz-border-radius: 99em;
	border-radius: 99em;
	border: 0;
	box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.osago-icon-info-block {
	position: absolute;
	top: -2%;
	left: 10%;
	display: block;
	width: 50px;
	height: 50px;
	/*margin: 1em auto;*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/*-webkit-border-radius: 99em;*/
	/*-moz-border-radius: 99em;*/
	/*border-radius: 99em;*/
	/*border: 0;*/
	/*box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);*/
}

.osago-heda-info-block {
	font-size: 20px;
	font-weight: bold;
}

label {
	margin-left: 5%;
	margin-bottom: 0;
}

/*.section-image-aside img {*/
/*width: 100%;*/
/*}*/
.personal-face {
	width: 100%;
}

.pagination {
	margin-top: 3%;
}

.pagination li {
	background-color: #b6b6b6;
	width: 45px;
	height: 45px;
	padding: 4px 2px;
	border-radius: 50px;
	font-size: 18pt;
	margin: 2px;
}

.pagination li a {
	color: white;
}

.pagination li a:hover {
	color: white !important;
}

.pagination li.active {
	background-color: #e72d2b;
	width: 45px;
	height: 45px;
	padding: 4px 2px;
	border-radius: 50px;
	font-size: 18pt;
	margin: 2px;
}

.pagination .previous .disabled {
	color: #a1abb3;
}

.pagination .previous {
	color: #a1abb3;
}

.page .text-bermuda, .text-fountain-blue {
	color: #e72d2b !important;
}

.page a.text-fountain-blue, .page a.text-fountain-blue {
	color: #e72d2b !important;
}

.btn {
	border-radius: 50px;
	
}

.container-wide-custom h3 {
	text-transform: uppercase;
}

.error {
	margin-left: 5%;
	color: red;
}

/*ul.list {*/
/*text-align: left !important;*/
/*}*/

.news-text-bermuda {
	font-style: initial !important;
}

.section-mb-50 {
	margin-bottom: 50px !important;
}

.section-mb-mt-50 {
	margin-bottom: 50px !important;
	margin-top: 50px !important;
}

.news-btn {
	border-radius: 50px;
	background-color: #e72d2b !important;
	border-color: #e72d2b !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;;
}

.page .page-footer a.text-bermuda:hover, .page-footer .page a.text-bermuda:focus {
	color: #e72d2b !important;
}

.contact-info {
	font-size: 24px !important;
}

.contact-info-bottom {
	font-size: 16px !important;
}

/*btn red*/
.btn-red-no-hover {
	border-radius: 50px;
	background-color: #e72d2b !important;
	border-color: #e72d2b !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: white !important;
}

.btn-red-no-hover:focus, .btn-red-no-hover:hover {
	border-radius: 50px;
	background-color: #e72d2b !important;
	border-color: #e72d2b !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: white;
}

.btn-red-inverse {
	border-radius: 50px;
	background-color: white !important;
	border-color: #e72d2b !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: #e72d2b !important;
}

.btn-red-inverse:focus, .btn-red-inverse:hover {
	border-radius: 50px;
	background-color: white !important;
	border-color: #e72d2b !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: #e72d2b !important;
}

/*btn red*/
/*btn yellow*/
.btn-yellow-no-hover {
	border-radius: 50px;
	background-color: #fdb515 !important;
	border-color: #fdb515 !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: white !important;
}

.btn-yellow-no-hover:focus, .btn-yellow-no-hover:hover {
	border-radius: 50px;
	background-color: #fdb515 !important;
	border-color: #fdb515 !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: white !important;
}

.btn-yellow-inverse {
	border-radius: 50px;
	background-color: white !important;
	border-color: #fdb515 !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: #fdb515 !important;
}

.btn-yellow-inverse:focus, .btn-yellow-inverse:hover {
	border-radius: 50px;
	background-color: white !important;
	border-color: #fdb515 !important;
	font-size: 16px !important;
	height: 45px !important;;
	padding-top: 8px !important;
	color: #fdb515 !important;
}

/*btn yellow*/

.page-footer .list-marked li {
	float: left;
	margin-top: 15px;
	margin-left: 15px
}

.list > li + li {
	/*margin: 0 10px 0 0;*/
}

.nav-first-item {
	font-weight: bold;
	color: black;
	padding: 15px 30px;
}

.rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
	left: 0;
	width: 100%;
}

.rd-navbar-static .rd-navbar-megamenu li a, .rd-navbar-fullwidth .rd-navbar-megamenu li a {
	color: #a1abb3;
}

.rd-navbar-static .rd-navbar-megamenu li a:hover, .rd-navbar-fullwidth .rd-navbar-megamenu li a:hover {
	color: #e72d2b !important;
}

.rd-navbar--has-megamenu a:hover {
	color: #1c2b39;
	
}

.pdf-file {
	padding: 1px 1px 1px 25px;
	background: url("../images/pdf_yellow.png") no-repeat left center;
}

.pdf-file-ks {
	padding: 1px 1px 1px 25px;
	background: url("../images/pdf_ks.png") no-repeat left center;
}

a.vzr-offer:active, a.vzr-offer:visited {
	color: #7d7d7d;
}

/*.vzr-daysButton {*/
/*    color: #fdb515;*/
/*    font-size: 20px;*/
/*    width: 100px;*/
/*    height: 55px;*/
/*    border: 1px solid #fdb515;*/
/*    background-color: #fff;*/
/*    margin-left: 5%;*/
/*    padding: 12px;*/
/*    border-radius: 50px;*/
/*    float: left;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/

/*}*/

/*.vzr-daysButton:hover, .vzr-daysButton:focus {*/
/*width: 54px;*/
/*height: 54px;*/
/*border: 1px solid #a1abb3;*/
/*background-color: #fff;*/
/*margin-left: 5%;*/
/*padding: 15px;*/
/*border-radius: 5px;*/
/*float: left;*/
/*font-weight: bold;*/
/*cursor: pointer;*/
/*}*/

#travelTypeMulti div.active {
	border: 1px solid #fdb515;
	background-color: #fdb515;
	color: #ffffff;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.leadership-title {
		padding-top: 20px !important;
		margin-top: 40px;
	}
}

.leadership-list {
	margin: 34px 0;
}

.leadership-list .leadership-list-item {
	margin-bottom: 100px;
}

.leadership-list .leadership-list-item .leadership-avatar {
	margin-bottom: 20px;
}

.leadership-list-item .leadership-info {
	text-align: left;
}

.leadership-list-item .leadership-info .leadership-title {
	color: #495966;
	font-size: 50px;
	font-weight: 900;
	line-height: 54px;
	position: relative;
	padding-top: 40px;
	margin-bottom: 15px;
}

.leadership-list-item .leadership-info .leadership-title::before {
	position: absolute;
	content: "";
	background-color: #e72d2b;
	width: 50px;
	height: 3px;
	top: 0px;
	left: 0;
}

.leadership-list-item .leadership-info .leadership-position {
	color: #1c2b39;
	font-size: 30px;
	font-weight: 600;
	line-height: 32px;
	margin: 10px 0 30px;
}

.leadership-list-item .leadership-info .leadership-desc {
	margin-top: 20px;
	margin-bottom: 5px;
}

.leadership-list-item .leadership-info .leadership-desc p {
	color: #73808a;
	font-size: 22.5px;
	font-weight: 400;
	line-height: 24px;
	margin-bottom: 20px;
}

/* Меняем настройки слайдера на главной */
.page .list-background-minsk li a.bg-accent {
	transition: .3s all ease;
	background-color: rgba(73, 89, 102, 0.4);
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
}

.page .list-background-minsk li a.bg-accent span.text-white {
	padding: 15px;
}

.swiper-container-wrap .text-big-84 {
	color: #ffffff;
	font-size: 80.01px;
	font-weight: 900;
	line-height: 86px;
}

.swiper-container-wrap .btn.btn-slider {
	color: #ffffff;
	font-size: 24px;
	font-weight: 900 !important;
	letter-spacing: 1.44px;
	line-height: 24px;
	min-width: 168px;
	margin-top: 30px;
	text-transform: uppercase;
}

/* Меняем настройки боковой панели на слайдере */
@media (min-width: 1200px) {
	.swiper-container-wrap .swiper-aside-right .list li, .swiper-container-wrap .swiper-aside-right .list .box-sm {
		height: calc(798px / 4);
		
	}
	
	.swiper-container-wrap .swiper-aside-right .list .box-sm {
		width: 160px;
		padding-left: 23px;
		padding-right: 23px;
	}
	
	.page .list-background-minsk li a.bg-accent span.text-white {
		padding: 20px 0 0 0;
	}
	
	.swiper-container {
		height: 798px !important;
	}
	
}

.rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
	margin-top: 0px;
}

.rd-navbar-static .rd-navbar-megamenu, .rd-navbar-fullwidth .rd-navbar-megamenu {
	background-color: rgba(255, 255, 255, 0.95);
}

.rd-navbar-static .rd-navbar-megamenu li a, .rd-navbar-fullwidth .rd-navbar-megamenu li a {
	color: #1c2b39;
	
}

.rd-navbar-static .rd-navbar-megamenu li a:hover, .rd-navbar-fullwidth .rd-navbar-megamenu li a:hover {
	background: transparent;
}

.rd-navbar-nav .nav-first-item {
	color: #1c2b39;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.nav-first-item:after {
	position: absolute;
	content: "";
	bottom: 0px;
	left: 30px;
	background-color: #73808a;
	width: 36px;
	height: 2px;
}

.rd-navbar-static .rd-navbar-nav > li > .rd-navbar-dropdown, .rd-navbar-fullwidth .rd-navbar-nav > li > .rd-navbar-dropdown {
	margin-top: 28px;
	background-color: rgba(255, 255, 255, 0.6);
}

.rd-navbar-static .rd-navbar-dropdown > li > a, .rd-navbar-fullwidth .rd-navbar-dropdown > li > a {
	color: #1c2b39;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	position: relative;
}

.main-page-news .news-item {
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 3px 11px 5px rgba(0, 0, 0, 0.05);
	margin-bottom: 34px;
	overflow: hidden;
}

.main-page-news .news-item .news-item-info {
	padding: 30px 26px;
	text-align: left;
}

.main-page-news .news-item .news-item-header-img {
	position: relative;
	overflow: hidden;
}

.main-page-news .news-item .news-item-header-img::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	opacity: 0;
	transition: .3s all ease;
	z-index: 1;
	
}

.main-page-news .news-item .news-item-header-img:hover:before {
	opacity: 1;
}

.main-page-news .news-item .news-item-header-img:hover img {
	transform: scale(1.05);
	transition: .3s all ease;
}

.main-page-news .news-item .news-item-header-img img {
	width: 100%;
	transition: .3s all ease;
}

.main-page-news .news-item .news-item-header-img a {
	display: block;
	z-index: 3;
}

.main-page-news .news-item .news-item-info .news-item-label span {
	background-color: #e72d2b;
	padding: 2px 15px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 900;
}

.main-page-news .news-item .news-item-info .news-item-title a {
	margin: 20px 0;
	color: #495966;
	font-size: 24px;
	line-height: 28px;
	font-weight: 900;
	display: block;
}

.main-page-news .news-item .news-item-info .news-item-desc {
	margin-top: 4px;
	margin-bottom: 15px;
	color: #1c2b39;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	
}

.main-page-news .news-item .news-item-info .news-item-data {
	margin-top: 15px;
}

.main-page-news .news-item .news-item-info .news-item-data ul li {
	color: #a2abb3;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 35px;
	min-height: 22px;
	position: relative;
}

.main-page-news .news-item .news-item-info .news-item-data ul li::before {
	content: "";
	position: absolute;
	left: 0px;
	width: 35px;
	height: 100%;
}

.main-page-news .news-item .news-item-info .news-item-data ul li::before {
	background: url("../images/calendar-icon.png") no-repeat center left;
}

.btn-more {
	background-color: #e72d2b;
	min-height: 54px;
	margin: 33px auto 20px;
	color: #ffffff;
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 1.08px;
	line-height: 24px;
	text-align: center;
	padding-left: 33px;
	padding-right: 33px;
}

.btn-more:hover, .btn-more:focus {
	color: #ffffff !important;
}

.main-title-block {
	color: #495966;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	padding-top: 32px;
	position: relative;
}

.main-title-block::before {
	background-color: #e72d2b;
	width: 50px;
	height: 3px;
	content: "";
	position: absolute;
	top: 0px;
	left: calc(50% - 25px);
}

.page-footer .list-marked li {
	width: 100%;
}

.page-footer .list-marked li:first-child {
	padding-top: 0px;
	margin-top: 0px;
}