        <!-- START FORM -->
        <section class="constructor-form">
          <h2 class="titles-gallery"><u>form dms</u></h2>
          <div class="container-wide">
            <div class="row d-flex justify-content-center">
              <div class="col-12 col-md-8">
                <form action="#">
                  <div class="constructor-form-title">
                    <h4 class="constructor-name main-color security-guarantee">
                      ОФормити поліс медичного страхування <br />
                      для нерезидентів
                    </h4>
                  </div>
                  <div class="constructor-form-fields">
                    <div class="input-group">
                      <label>Прізвище та Ім’я Страхувальника /
                        <span>Full name </span></label>
                      <input type="text" name="name" class="form-control" />
                    </div>
                    <div class="input-group">
                      <label>Телефон / <span>Telephone </span></label>
                      <input type="text" name="tel" class="form-control" />
                    </div>
                    <div class="input-group">
                      <label>Пошта / <span>Email </span></label>
                      <input type="text" name="email" class="form-control" />
                      <p class="input-group-slug">
                        УВАГА! При замовленні та купівлі полісу просимо
                        використовувати e-mail адресу, створену на українських
                        або міжнародних серверах (наприклад, ukr.net, i.ua,
                        email.ua, gmail.com, yahoo.com тощо).
                      </p>
                    </div>
                    <div class="input-group">
                      <label>Місто проживання / <span>Address </span></label>
                      <input type="text" name="city" class="form-control" />
                    </div>
                    <div class="input-group">
                      <label>Вік застрахованих осіб (через кому) /
                        <span>Age of insured persons (comma separated)
                        </span></label>
                      <input type="text" name="age" class="form-control" />
                    </div>
                  </div>
                  <div class="constructor-form-btns">
                    <input class="constructor-form-btn-submit" type="submit" value="оформити" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- END DMS FORM -->