.help-prompt {
    display: inline-block;
    cursor: pointer;
    z-index: 999;
}

.prompt-icon {}

.help-prompt:hover .help-prompt-text {
    max-height: 1999px;
    padding: 10px;
    opacity: 1;
}

.help-prompt-icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
    font-size: 14px;
    color: white;
    background-color: #c6ccd0;
    padding: 6px;
}

.help-prompt-text {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #1c2b39;
    max-height: 0;
    width: 272px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
    border-radius: 8px;

    color: #1c2b39;
    padding: 0;
    text-align: left;
    z-index: 1;
    opacity: 0;
    transition: .2s;
}