.modal {
    background: #FFFFFF;
    border-radius: 10px;
    height: fit-content;
    max-width: 660px;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    outline: none !important;
    box-shadow: 3px 5px 11px rgba(0, 0, 0, 0.05);
}

.modal-overlay {
    position: fixed;
    z-index: 999;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: #000;
    display: none;
    will-change: opacity;
}

.modal .modal-content {
    padding: 0;
}

@media (max-width: 480px) {
    .modal {
        width: 90%;
    }
}

.modal-content {
    position: relative;
}

.modal-btn-close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

@media (max-width: 768px) {
    .modal-btn-close {
        padding: 18px;
    }
}

.modal-btn-close:before,
.modal-btn-close:after {
    background: #e72d2b;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 21px;
    transition: transform 500ms ease;
}

.modal-btn-close:after {
    transform-origin: center;
}

.modal-btn-close:after {
    transform: rotate(45deg);
}

.modal-btn-close:before {
    transform: rotate(130deg);
}

.modal-btn-close:hover:before,
.modal-btn-close:hover:after {
    background: #DE1E1C;
}

