@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {
    #vrz-steps .vrz-blck {
        margin : 80px 0px 20px;
        padding: 0 10px 20px;
    }
}


@media (max-width: 1199.98px) {}

@media (max-width: 575.98px) {

    #vrz-steps form .vrz-blck-info label {
        margin-top: 10px;
        font-size : 15px;
    }

    #vrz-steps form .vrz-blck-info .w-20,
    #vrz-steps form .vrz-blck-info .w-75 {
        width        : 100% !important;
        margin-bottom: 5px !important;
    }

    #vrz-steps form input.mr-l-5 {
        margin-left: 0% !important;
    }

}


@media screen and (max-width: 1200px) {
    .radio:after {
        left : 75%;
        top  : 12px;
        width: 40%;
    }

    .three-forms .vrz-blck-with-icon {
        width: 50%;
    }
}


@media screen and (max-width: 991px) {
    .tab-button {
        font-size  : 14px !important;
        line-height: 20px;
    }

    .vrz-main-title {
        padding-left: 0;
        font-size   : 23px !important;
    }

    .tab {
        padding: 20px 10px 10px 10px;
    }

    .date-information,
    .tourist-information {
        flex-direction: column;
    }

    .date-field,
    .term-field,
    .tourists,
    .tourist-age {
        width: 100%;
    }

    .date-field label,
    .term-field label,
    .tourists label,
    .tourist-age label {
        font-size: 18px !important;
    }

    .tourist-age label {
        margin-top: 10px;
        width     : 100%;
    }

    .bonus {
        padding-top    : 20px;
        justify-content: center;
    }

    .stepper {
        flex-direction: column;
    }

    .step-group {
        width         : 100%;
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
        padding-bottom: 20px;
    }

    .step-group .radio {
        width : 25%;
        height: auto;
    }

    .step-group .radio:after {
        left : 60%;
        width: 40%;
        top  : 15px;
    }

    .vrz-blck-with-icon {
        background-color: #eeeeee;
        max-width       : 90% !important;
    }


    .vrz-blck-with-icon .vrz-blck {
        background-color: transparent !important;
    }

    .three-forms .vrz-blck-with-icon {
        width: 100%;

        margin-right: 0;
    }
}

@media screen and (max-width: 768px) {

    .table-top .table-col {
        font-size: 14px;
    }

    .table-col {
        font-size: 14px;
    }

    .step-group .radio:after {
        left : 88px;
        width: 35%;
        top  : 10px;
    }

    .step-group .radio label {
        padding-left: 20px;
        font-size   : 18px !important;
        line-height : 22px !important;
    }

    .step-group .radio label:before {
        width : 20px;
        height: 20px;
    }

    .step-group .radio label:after {
        width : 10px;
        height: 10px;
        left  : 5px;
        top   : 5px;
    }

    .stepper .price-button {
        display: none;
    }

    .price-button {
        font-size: 18px;
    }

    .price {
        font-size: 20px;
    }

    #vrz-steps .vrz-blck .vrz-blck-icon {
        width : 75px;
        height: 75px;
    }

    #vrz-steps .vrz-blck .vrz-blck-icon svg {
        left: 8px;
    }

    #vrz-steps .vrz-blck-info .insurer-info,
    .message {
        font-size: 14px;
    }

    .buttons {
        flex-direction: column;
        align-items   : center;
    }

    .price {
        right: 40%;
    }

    .price-button-back {
        margin-bottom: 20px;
        order        : 2;
        margin-top   : 20px;
        margin-right : 0;
    }

    .three-forms .vrz-blck-with-icon {
        padding: 0 15px;
    }
}

@media screen and (max-width: 480px) {

    #vrz-steps .vrz-blck .vrz-blck-title {
        margin-bottom: 15px;
        font-size    : 24px;
    }

    .subtitle {
        font-size: 16px;
    }



    #vrz-steps form label {
        font-size: 14px !important;
    }

    .table-top .table-col {
        font-size: 10px;
    }

    .table-col {
        font-size: 10px;
    }

    .step-group .radio:after {
        left : 60px;
        width: 45%;
        top  : 8px;
    }

    .step-group .radio label {
        padding-left: 20px;
        font-size   : 14px !important;
        line-height : 16px !important;
    }

    .step-group .radio label:before {
        width : 15px;
        height: 15px;
    }

    .step-group .radio label:after {
        width : 5px;
        height: 5px;
        left  : 5px;
        top   : 5px;
    }
}

@media screen and (max-width: 375px) {
    .step-group .radio:after {
        left : 60px;
        width: 25%;
        top  : 8px;
    }
}