@media (max-width: 575.98px) {}

@media (max-width: 767.98px) {
    .payment-step-section .payment-step-btn img {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
}


@media (max-width: 991.98px) {
    .payment-step-section {
        margin: 0px;
    }

    .payment-step-section .payment-step-btn.payment-step-btn-privat,
    .payment-step-section .payment-step-btn.payment-step-btn-alfa {
        min-width: 100% !important;
    }
}


@media (max-width: 1199.98px) {}
