.payment-step-section {
    margin: 0px;
}

.payment-step-section h3 {
    position: relative;
    font-size: 53px;
    line-height: 55px;
    color: #495966;
    margin-bottom: 20px;
    padding-top: 40px;
    text-transform: none;
}

.payment-step-section h3:before {
    position: absolute;
    content: "";
    background-color: #e72d2b;
    width: 50px;
    height: 3px;
    top: 0px;
    left: 0;
}

.payment-step-section.text-right h3:before {
    right: 0px !important;
    left: auto;
}

.payment-step-section p {
    margin-top: 60px;
    font-size: 30px;
    line-height: 34px;
    color: #73808a;
    margin-bottom: 60px;
}

.payment-step-section .payment-step-btn-blck {
    margin-bottom: 100px;
}

.payment-step-section .payment-step-btn {
    background-color: #e72d2b;
    min-width: 180px;
    min-height: 55px;
    color: #ffffff;
    font-size: 23.94px;
    font-weight: 900;
    line-height: 24px;
    border-radius: 50px;
    padding: 15px 21px;
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    text-transform: uppercase;
}

.payment-step-section .payment-step-btn.payment-step-btn-privat {
    background-color: #75af26;
}

.payment-step-section .payment-step-btn.payment-step-btn-privat,
.payment-step-section .payment-step-btn.payment-step-btn-alfa {
    min-width: 430px;
}

.payment-step-section .payment-step-btn:hover {
    color: #ffffff;
    text-decoration: none;
}

.payment-step-section .payment-step-btn img {
    max-height: 23px;
    margin-right: 8px;
}

.payment-step-section ul {
    margin-top: 30px;
    margin-bottom: 100px;
}

.payment-step-section ul.bank-list li {
    margin-bottom: 10px;
}

.payment-step-section ul.bank-list li a {
    color: #00a5b8;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}
