.qr-container {
    width: 1200px;
    margin: auto;
}
.qr-title {
    color: #495966;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
    font-weight: bold;
}
.qr-list {
    display: grid;
    gap: 30px 65px;
    grid-template-columns: 1fr 1fr;
}
.qr-item {
    display: flex;
    align-items: center;
    background-color: #f5f7fd;
    padding: 25px 35px;
}
.qr-code {
    width: 160px;
}
.qr-code img {
    width: 100%;
}
.qr-content {
    margin-left: 60px;
    width: calc(100% - 160px);
}
.qr-content-head {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.qr-icon {

}
.qr-icon img {
    height: 100%;
}
.qr-content-title {
    font-size: 32px;
    color: #495966;
    margin-left: 10px;
    font-weight: bold;
}
.qr-content-text {
    font-size: 18px;
    color: #1c2b39;
}
.qr-content-text a {
    color: #00A5B8;
}
.services {
    margin-top: 30px;
}
.services-title {
    color: #e72d2b;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 24px;
}
.services-list {
    list-style: none;
    margin-bottom: 80px;
}
.services-item {
    color: #1c2b39;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 25px;
}
.services-item:before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}



@media screen and (max-width:1020px) {
    .qr-item {
        flex-direction: column;
    }
    .qr-content {
        margin-left: auto;
        width: auto;
    }
    .qr-content-head {
        margin-top: 30px;
    }
}
@media screen and (max-width:768px) {
    .qr-list {
        gap: 5vw;
    }
    .qr-item {
        padding: 25px;
    }
    .services-title {
        font-size: 24px;
    }
}
@media screen and (max-width:560px) {
    .qr-list{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width:480px) {
    .qr-title {
        font-size: 18px;
    }
    .qr-content-title {
        font-size: 24px;
    }
}