  @media (max-width:816px) {
      .video-bg {
          height: 100%;
          align-items: center !important;
          display: flex;
      }

      .property-done {
          position: relative;
          bottom: 0;
      }


  }

  @media (max-width:500px) {
      .property-done .property-done-subtitle {
          font-size: 29px;
      }

  }
