@media (max-width: 767.98px) {
    #osago-steps .vrz-main-title {
        font-size: 24px;
    }


    #osago-steps.osago-steps-result .vrz-main-subtitle {
        font-size: 18px;
        line-height: 22px;
    }

    #osago-steps .result-info-row-title .info-title-icon {
        width: 46px;
    }

    #osago-steps .result-info-row-title .info-title-icon img {
        max-height: 28px;
    }

    #osago-steps .result-info-row-title .info-title {
        font-size: 18px;
    }

    #osago-steps .result-info-row-data {
        padding-left: 46px;
    }

    #osago-steps .result-info-row-data p.result-col-title {
        font-size: 18px;
    }

    #osago-steps .result-info-row-data p.result-col-subtitle {
        font-size: 14px;
    }

    #osago-steps .result-info-row-data .result-col-20 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }
}


@media (max-width: 991.98px) {
    #osago-steps .result-info-row-data .result-col-50 {
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        max-width: 70%;
        position: relative;
        width: 100%;
    }

    #osago-steps .result-info-row-data .result-col-80 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }

    #osago-steps .result-info-row-data .result-col-80 {
        margin-bottom: -30px;
    }

    #osago-steps .result-info-row-data .result-col-20 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }
}


@media (max-width: 1199.98px) {
    #osago-steps .result-info-row-data .result-col-mb-100 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }

    #osago-steps .result-info-row-data .result-col-mb-50 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
        width: 100%;
    }
}
