@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  h2,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3 {
    font-size: 34px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px !important;
    line-height: 120px !important;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#osago-steps {
  margin: 130px auto 300px;
}

#osago-steps .row {
  margin-top: 0px;
}

#osago-steps.osago-steps-result .result-row {
  margin-bottom: 57px;
}

#osago-steps .osago-main-title {
  color: #495966;
  padding-top: 20px;
  text-align: left;
  position: relative;
}

#osago-steps .osago-main-title::before {
  background-color: #058598;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#osago-steps.osago-steps-result .osago-main-subtitle {
  color: #73808a;
  font-size: 24px;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

#osago-steps .result-info {
  max-width: 864px;
  width: 100%;
  margin: 80px auto;
}

#osago-steps .result-info-row-title {
  border-radius: 3px;
  background-color: #edf2f1;
  min-height: 60px;
  color: #495966;
  font-weight: 900;
  line-height: 24px;
  width: 100%;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#osago-steps .result-info-row-title .info-title-icon {
  width: 96px;
  text-align: center;
}

#osago-steps .result-info-row-title .info-title-icon img {
  max-height: 42px;
}

#osago-steps .result-info-row-data {
  text-align: left;
  padding-left: 96px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#osago-steps .result-info-row-data .result-col-100 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-80 {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-20 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-30 {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-40 {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-50 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data p.result-col-title {
  color: #068598;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

#osago-steps .result-info-row-data p:first-child {
  padding-top: 26px;
}

#osago-steps .result-info-row-data p.result-col-subtitle {
  color: #a2abb3;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

#osago-steps .result-info-row-data p:last-child {
  padding-bottom: 25px;
}

#osago-steps .btn-next-step {
  background-color: #068598;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step {
  border-width: 2px;
  border-color: #068598;
  border-style: solid;
  min-width: 220px;
  min-height: 55px;
  border-radius: 50px;
  padding: 15px 21px 15px 32px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  color: #068598;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step:before {
  content: "";
  position: absolute;
  top: calc(50% - 5.5px);
  background: url(../images/btn-prev-step-icon-blue.png) no-repeat center;
  margin-right: 6px;
  margin-top: 1px;
  transition: all 0.3s;
  left: 18px;
  height: 11px;
  width: 7px;
}

#osago-steps .btn-prev-step:hover::before {
  left: 15px;
  transition: all 0.3s;
}
