/* example to use */


/* <label class="checkbox wrap">
<div class="label">
    <span>text</span>
    <span>text</span>
</div>
<input type="radio" checked="checked" name="check_value" value="1"/>
<span class="checkmark"></span>
</label> */

.checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0;
}


/* Hide the browser's default radio button */

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom radio button */

.checkmark {
    position: absolute;
    top: 7px;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border: 2px solid #A1ABB3;
    border-radius: 50%;
}


/* On mouse-over, add a grey background color */

.checkbox:hover input~.checkmark {
    background-color: #ccc;
}


/* When the radio button is checked, add a blue background */

.checkbox input:checked~.checkmark {
    background-color: white;
}


/* Create the indicator (the dot/circle - hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.checkbox input:checked~.checkmark:after {
    display: block;
}


/* Style the indicator (dot/circle) */

.checkbox .checkmark:after {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--main-color);
    transform: translate(35%, 35%);
    transition: .4s;
}