@media (max-width: 575.98px) {
  #page-content {
    margin-top: 30px;
  }
}

@media (max-width: 767.9px) {
  #traveler-actions .action-text {
    font-size: 18px;
    line-height: 22px;
  }

  #traveler-actions .actions-title,
  #traveler-contacts .contacts-title,
  #savitar-contacts .savitar-title,
  #parallax {
    font-size: 24px;
    line-height: 28px;
  }

  #traveler-contacts {
    margin: 10px 0 10px;
  }

  #parallax p {
    max-width: 80%;
  }

  #page-content .page-info-text {
    font-size: 18px;
  }

  #traveler-contacts .contacts-info {
    font-size: 18px;
  }

  #traveler-contacts .contacts-blcks .contacts-blck .contact-country {
    font-size: 18px;
  }

  #traveler-contacts .contacts-blcks .contacts-blck .contact-number {
    font-size: 18px;
  }

  #savitar-contacts .savitar-contacts-item a {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (max-width: 1199.9px) {
  #savitar-contacts .savitar-contacts-item {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 10px;
  }

  #savitar-contacts .savitar-contacts-item a,
  #savitar-contacts .savitar-contacts-item .fax-item {
    text-align: center;
  }
}

@media (min-width: 1200px) and (max-width: 1800px) {
  #savitar-contacts .savitar-contacts-item {
    flex: 0 0 33.333333333%;
    max-width: 33.333333333%;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  #traveler-contacts .contacts-blcks .contacts-blck:nth-child(2) {
    margin: 0 30px;
  }
}

@media (max-width: 1199.9px) {
  #traveler-contacts .contacts-blcks .contacts-blck:nth-child(2) {
    margin: 0px;
    padding: 0px 20px;
  }

  #traveler-contacts .contacts-blcks {
    max-width: 470px;
    margin: 0 auto;
  }

  #traveler-contacts .contacts-blcks .contacts-blck {
    padding: 20px 20px 20px;
    margin: 0px;
  }

  #traveler-contacts .contacts-blcks .contacts-blck .contact-row:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  #savitar-contacts .savitar-contacts-item {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }

  #savitar-contacts .savitar-contacts-item a,
  #savitar-contacts .savitar-contacts-item .fax-item {
    text-align: center;
  }

  #traveler-actions .action-text-blck {
    margin-bottom: 70px;
  }
}

/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  .parallax-content h2 {
    font-size: 64px;
  }
  h2,
  h4 {
    font-size: 24px;
    line-height: 32px !important;
  }
  h3 {
    font-size: 32px;
    line-height: 40px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 120px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }
  .parallax-content h2 {
    font-size: 84px;
    line-height: 92px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}
