.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
  text-align: center;
}

.breadcrumbs li a,
.breadcrumbs li a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}



#page-content {
  margin: 120px 0 150px;
}

#page-content .page-info-title {
  color: #495966;
  padding-top: 20px;
  font-weight: 900;
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}

#page-content .page-info-title::before {
  background-color: #e72d2b;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#page-content .page-info-text {
  margin-bottom: 50px;
  color: #495966;
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  max-width: 1520px;
}

#page-content .page-info-text a {
  color: #00a5b8;
  text-decoration: underline;
}

#parallax {
  height: 250px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
}

#parallax .parallax-content,
#parallax .bg-overlay-darker {
  width: 100%;
  height: 100%;
}

#traveler-actions {
  padding: 115px 0 30px;
}

#traveler-actions .actions-title {
  color: #e72d2b;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}

#traveler-actions .actions-blcks {
  width: 100%;
}

#traveler-actions .action-text-blck {
  background-color: #edf2f1;
  padding: 70px 40px 50px;
  max-width: 760px;
  margin: 0 15px;
  text-align: left;
  position: relative;
}

#traveler-actions .action-text-blck-icon {
  position: absolute;
  top: -43px;
}

#traveler-actions .action-text-blck-icon img {
  width: 100px;
  height: 100px;
}

#traveler-actions .action-text {
  color: #495966;
  font-size: 24px;
  line-height: 32px;
}

#traveler-actions .action-text-blck ul {
  margin-top: 30px;
}

#traveler-actions .action-text-blck ul li {
}

#traveler-actions .action-text-blck ul li:before {
  color: red;
  content: "•";
  padding-right: 10px;
}

#traveler-contacts {
  margin: 60px 0 30px;
}

#traveler-contacts .contacts-title {
  color: #e72d2b;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}

#traveler-contacts .contacts-info {
  max-width: 830px;
  margin: 20px auto;
  font-size: 24px;
  line-height: 32px;
  color: #495966;
}

#traveler-contacts .contacts-info a {
  display: block;
  color: #e72d2b;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin: 10px auto 40px;
}

#traveler-contacts .contacts-footer-info {
  color: #a1abb3;
  font-size: 18px;
  line-height: 24px;
  max-width: 894px;
  margin: 10px auto;
}

#traveler-contacts .contacts-blcks {
  margin-top: 30px;
}

#traveler-contacts .contacts-blcks .contacts-blck {
  background-color: #edf2f1;
  max-width: 470px;
  width: 100%;
  padding: 40px 20px 40px;
}

#traveler-contacts .contacts-blcks .contacts-blck:nth-child(2) {
  margin: 0 70px;
}

#traveler-contacts .contacts-blcks .contacts-blck .contact-country {
    text-align: right;
    width: 45%;
    color: #495966;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    padding-right: 20px;
}

#traveler-contacts .contacts-blcks .contacts-blck .contact-number a,
#traveler-contacts .contacts-blcks .contacts-blck .contact-number p {
    font-size: 24px;
    color: #495966;
    display: block;
}

#traveler-contacts .contacts-blcks .contacts-blck .contact-number {
  width: 55%;
  text-align: left;
  color: #495966;
  font-size: 24px;
  line-height: 32px;
}

#traveler-contacts .contacts-blcks .contacts-blck .contact-row {
  display: flex;
  margin-bottom: 30px;
}

#savitar-contacts .savitar-title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #e72d2b;
  text-transform: uppercase;
  margin: 20px;
}

#savitar-contacts .savitar-contacts-list {
  flex-wrap: wrap;
}

#savitar-contacts .savitar-contacts-item {
  padding: 20px 30px;
  width: 100%;
  margin-bottom: 25px;
  flex: 0 0 20%;
  max-width: 20%;
}

#savitar-contacts .savitar-contacts-item a,
#savitar-contacts .savitar-contacts-item .fax-item {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #1c2b39;
  transition: all 0.3s;
}

#savitar-contacts .savitar-contacts-item svg {
  max-width: 40px;
  max-height: 40px;
  margin-right: 15px;
  fill: #a1abb3;
  transition: all 0.3s;
}

#savitar-contacts .savitar-contacts-item svg path {
  fill: #a1abb3;
  transition: all 0.3s;
}

#savitar-contacts .savitar-contacts-item a:hover,
#savitar-contacts .savitar-contacts-item .fax-item:hover {
  font-size: 24px;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #a1abb3;
  transition: all 0.3s;
}

#savitar-contacts .savitar-contacts-item a:hover svg path,
#savitar-contacts .savitar-contacts-item .fax-item:hover svg path {
  fill: #e72d2b;
  transition: all 0.3s;
}
