/* // constructor-page date picker */

.constructor-page .add-birthday {
    position: absolute;
    right: -36px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    max-height: 25px;
}

.constructor-calendar-list {}

.constructor-calendar-item {
    list-style: none;
    margin-bottom: 20px;
}

.constructor-calendar-item-title {
    margin-bottom: 10px;
}

.constructor-page .advantage .faq-title {
    margin-bottom: 60px;
}

.constructor-page .wrap {
    margin: 0 auto 30px;
}

.constructor-page .constructor-form {
    margin-top: 70px;
}

.constructor-page .constructor-form-input {
    margin-bottom: 30px;
}

.constructor-page .constructor-form-input .constructor-form-label span {
    user-select: none;
}

.constructor-page .constructor-form-input .constructor-form-label span:first-of-type {
    color: #1C2B39;
    font-weight: 500;
    font-size: 18px;
}

.constructor-page .constructor-form-input .constructor-form-label span:last-of-type {
    color: var(--main-color);
    display: inline-block;
    font-weight: 800;
    font-size: 24px;
    margin-left: 20px;
}

.constructor-page .date-picker input+.input-group-addon:focus, .constructor-page .date-picker input+.input-group-addon:hover svg path {
    fill: #00ae81;
}

.constructor-page .datepicker {
    border-color: #00ae81;
}

.constructor-page .datepicker .datepicker-switch::before {
    background: #00ae81;
}

.constructor-page .datepicker table .active.day span {
    background: #00ae81;
}
.constructor-page .collapse-item {
    overflow: hidden;
    max-height: 0;
    transition: .6s;
}
.constructor-page .collapse-item.active {
    max-height: 1000px;
}
.constructor-page .collapse-item .card-body{
    padding: 25px 10px !important;
}
.constructor-page .collapse-item .card-body li{
    font-size: 18px;
}
.constructor-page .collapse-item .card-body p{
    margin-bottom: 0;
    font-size: 18px;
}