
/* constructor form */
.constructor-form {
    margin-bottom: 80px;
}
.constructor-form-title {
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
}
.constructor-form-btns {
    text-align: center;
}
.constructor-form-btn-submit {
    width: 220px;
    height: 55px;
    background: var(--green);
    border-radius: 28px;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
    font: Bold 24px/24px Source Sans Pro;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.constructor-page input[type="date"],
.constructor-page input[type="text"] {
    margin: auto !important;
    position: relative;
    border-color: #A1ABB3 !important;
    background: transparent !important;
    transition: all 0.3s;
    font-family: "MuseoSansCyrl", sans-serif;
    font-size: 24px !important;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #242424;
    min-height: 53px;
}

.constructor-page input[type="date"]:focus,
.constructor-page input[type="text"]:focus,
.constructor-page .date-picker input:hover {
    transition: all 0.3s;
}

.constructor-page .input-group .date {
    padding-bottom: 30px;
}

.constructor-page .date-field {
    position: relative;
}

.constructor-page .date-field label {
    margin-left: 0 !important;
    margin-bottom: 15px;
}

.constructor-page .input-group {
    margin-bottom: 20px;
}

.constructor-page .input-group label {
    margin-bottom: 5px;
}

.constructor-page .input-group label span {
    color: #C6CCD0;
}
.constructor-page input.w-100 {
    position: relative;
    width: 100%;
}

.constructor-page .date-picker .input-group-addon {
    position: absolute;
    top: calc(50% - 14px);
    cursor: pointer;
    right: 18px;
    content: "";
    height: 28px;
    width: 29px;
    transition: all 0.5s;
}

.constructor-page .input-group-slug {
    color: #a1abb3;
    padding: 10px 40px 0;
    text-align: center;
}

.constructor-page .date-picker .input-group-addon svg path {
    fill: #888888;
}

.constructor-page .date-picker input+.input-group-addon:focus,
.constructor-page .date-picker input+.input-group-addon:hover svg path {
    transition: all 0.5s;
    fill: #229fff;
}
