:root {
    --green: #00ae81;
}

.constructor-page .page-info-title {
    font-weight: 500;
    width: 70%;
}

.constructor-page .page-info-text {
    font-size: 18px;
}

.constructor-page .page-icons-text {
  font-size: 24px !important;
}

.constructor-page .page-icons-text div:first-of-type {
    font-size: inherit;
    font-weight: 800;
    margin-bottom: 7px;
}

.constructor-page .page-icons-text div:last-of-type {
    font-size: inherit;
    font-weight: 400;
}

.constructor-page .page-icons-list {
  justify-content: space-around;
}

.constructor-page .icon-col {
    padding: 0;
    width: 25%;
}


.constructor-page .page-icons-text:first-letter {
    text-transform: uppercase;
}

.constructor-page .wrap-icons {
    margin: 90px 0 !important;
}

.constructor-page .icon-img {
    margin-bottom: 7px !important;
}

.constructor-page .page-info-text {
    margin: 0 !important;
}

.constructor-slug {
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height: 1;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.constructor-list-pref {
    margin-top: 70px;
}

.constructor-page .card-title a {
    font-size: 24px !important;
}

.constructor-page .collapse {
    padding: 20px 10px;
    font-size: 18px !important;
}

.constructor-page .advantage-blck {
    position: relative;
    padding: 60px 30px 45px;
    min-height: auto;
}

.constructor-list-pref .advantage-blck {
    background: none;
}

.constructor-list-pref .advantage-blck-title {
    text-align: left;
}

.constructor-page .advantage-blck-icon {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.constructor-page .advantage-blck-submit  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.constructor-page .advantage-blck-submit button {
    height: 55px;
    width: 220px;
    font-size: 24px;
    text-transform: uppercase;
    color: white;
    background: #00AE81 0% 0% no-repeat padding-box;
    border: 1px solid #00AE81;
    border-radius: 28px;
    margin: 80px auto 0;
    cursor: pointer;
    user-select: none;
}

.constructor-advantage h4 {
    position: relative;
}

.constructor-advantage h4:after {
    content: '';
    width: 40px;
    height: 3px;
    position: absolute;
    display: block;
    left: 0;
    bottom: -17px;
    right: 0;
    background-color: var(--main-color);
    margin: auto;
}

.constructor-calendar-item-select {
    position: relative;
}

.constructor-calendar-item-input {
    position: relative;
    width: 87%;
}

.constructor-calendar-item-select input {
    height: 50px;
    width: 100%;
    padding: 10px 60px 10px 15px;
    color: #A1ABB3;
    border: 1px solid #edf2f1;
    border-radius: 5px;
    opacity: 1;
}

.constructor-calendar-item-select img {
    position: absolute;
    right: 15px;
    height: 28px;
    top: 0;
    bottom: 0;
    margin: auto;
}
/* eeee */

  #dms-advantage-blck {
    margin: 60px auto 40px;
    background-color: #edf2f1;

    padding: 20px 0 40px;
  }

  #dms-advantage-blck .dms-advantage-title {
    color: #00ae81;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
  }

  #dms-advantage-blck .advantage-icon {
    margin-bottom: 20px;
  }

  #dms-advantage-blck .advantage-text {
    color: #1c2b39;
    font-weight: 400;
    margin-bottom: 50px;
  }

  #attention {
    margin: 50px 0;
  }

  #attention .warning-icon {
    margin-right: 40px;
    margin-bottom: 20px;
  }

  #attention .warning-text {
    text-align: left;
  }

  #attention .warning-text .title {
      margin-bottom: 20px;
    color: #00ae81;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
  }

  #attention .warning-text p {
    color: #1c2b39;
  }

  #attention .warning-text ul {
    margin: 10px 0;
  }

  #attention .warning-text ul li {
    color: #1c2b39;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
  }

  #attention .warning-text ul li::before {
    content: "•";
    color: #00ae81;
    font-size: 40px;
    left: 0px;
    top: -2px;
    position: absolute;
  }

  #attention .app-links {
    text-align: center;
  }

  #attention .qr-code > * {
      margin: 0px 10px;
  }

  #attention .qr-code {
    margin: 20px auto 10px;
  }

  #attention .app-links a {
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
  }

  #dms-faq {
    margin: 60px auto 120px;
  }

  #dms-faq .dms-faq-title {
    color: #00ae81;
  }

  #dms-faq .card-corporate .card-title a {
    padding: 15px 82px 15px 23px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 34px;
    border-radius: 10px;
    background-color: #00ae81;
    border: 0px;
    overflow: hidden;
  }

  #dms-faq .card-corporate .card-body {
    border: 0px;
    padding: 15px 44px 15px 23px;
  }

  #dms-faq .card-corporate .collapse {
    border: 0px;
  }

  #dms-faq .card-corporate {
    box-shadow: none;
  }

  #dms-faq .card-corporate .card-plus {
    background: #00ae81;
    border-radius: 10px;
    border: 0px;
    position: absolute;
    top: 0;
    bottom: -1px;
    right: -1px;
    z-index: 2;
    width: 70px;
  }

  #dms-faq .card-corporate .card-title a .card-plus:after {
    opacity: 1;
    visibility: visible;
  }

  #dms-faq .card-corporate .card-plus::after,
  #dms-faq .card-corporate .card-plus::before {
    transition: all 1s;
    content: "";
    position: absolute;
    top: 50%;
    z-index: 4;
    background: #fff;
  }

  #dms-faq .card-corporate .card-plus::before {
    width: 20px;
    height: 2px;
    right: 28px;
  }

  #dms-faq .card-corporate .card-plus::after {
    width: 20px;
    height: 2px;
    right: 28px;
  }

  #dms-faq .card-corporate .card-plus::after {
    transition: all 1s;
  }

  #dms-faq .card-corporate .collapsed .card-plus::after {
    transform: rotate(270deg);
    transition: all 1s;
  }

  #dms-faq .card-corporate .collapsed .card-plus::before {
    transform: rotate(180deg);
    transition: all 1s;
  }

  #dms-faq .card-body {
    color: #1c2b39;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }

  #dms-faq .card-body p {
    margin-bottom: 25px;
  }

  #dms-faq .card-body a {
    display: inline-block;
    color: #00ae81;

    text-decoration: underline;
  }

  #dms-faq .card-body ul li {
    position: relative;
    padding-left: 20px;
  }

  #dms-faq .card-body ul li::before {
    content: "•";
    color: rgb(0, 174, 129);
    font-size: 35px;
    left: 0px;
    top: -5px;
    position: absolute;
  }

  #dms-main-footer {
    padding: 40px 0;
  }

  #dms-main-footer .dms-main-footer-title {
    font-size: 32px;
    line-height: 40px;
    color: #1c2b39;
    font-weight: 400;
  }

  #dms-main-footer .dms-main-footer-title span {
    color: #00ae81;
    font-weight: 700;
    margin-bottom: 90px;
  }

  #dms-main-footer .dms-main-footer-contacts {
    color: #1c2b39;
    max-width: 1550px;
    margin: auto;
  }

  #dms-main-footer .dms-main-footer-contacts p {
    line-height: 32px;
    color: #00ae81;
    font-size: 2rem!important;
    margin: 10px auto;
    font-weight: 700;
  }

  #dms-main-footer .dms-main-footer-contacts a {
    line-height: 32px;
    color: #00ae81;
    font-size: 24px;
    font-weight: 400;
  }

  #dms-main-footer .dms-main-footer-contacts-links {
    margin: 20px auto;
  }

  #dms-scroll-blck {
    margin: 50px 0 150px;
  }

  #dms-scroll-blck img {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: all 0.3s;
  }

  #dms-scroll-blck a {
    color: #00ae81;
    font-size: 2rem;
    line-height: 38px;
  }

.page-section-parallax .page-icons-text div{
    font-size: 18px;
}

/* end contructor */

/* custom styles */
.text-white {
    color: white;
}

.material-parallax img {
    min-height: 120%;
}

.plus-minus-toggle {
	height: 21px;
	position: relative;
	width: 21px;
	float: right;
	margin-top: 1em;
  margin-right: 1em;
  pointer-events: none;
  margin-left: 20px;
}
.plus-minus-toggle:before, .plus-minus-toggle:after {
	background: #ffffff;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	top: 0;
	width: 21px;
	transition: transform 500ms ease;
}
.plus-minus-toggle:after {
  transform-origin: center;
}
.plus-minus-toggle.collapsed:after {
  transform: rotate(90deg);
}
.plus-minus-toggle.collapsed:before {
  transform: rotate(180deg);
}

body {
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgAQMAAABJtOi3AAAABlBMVEX4+Pj09PQf/c7fAAAAGklEQVR4Xq3MIQEAAADDIPqX/kvMIMEWEm8O7b0/wewc/NcAAAAASUVORK5CYII=) repeat;
}

.block {
    height: 5em;
    line-height: 5em;
    width: 10em;
    background: #464646;
    color: #fdfdfd;
    text-align: center;
    margin: 1em auto;
    text-shadow: 0 0 1px #333;
    /* so one can see fadeBgColor properly */
}

.animatable {
    /* initially hide animatable objects */
    visibility: hidden;
    /* initially pause animatable objects their animations */
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -ms-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

#dms-scroll-to-top {
    margin-bottom: 30px;
}

#dms-scroll-to-top span {
    color: var(--green);
    font-size: 24px;
    padding: 15px;
}

#dms-scroll-to-top img {
    display: block;
    margin: 15px auto;
}

.constructor-page .advantage-blck-title {
  text-transform: unset !important;
}

.constructor-page .constructor-name {
  text-transform: uppercase;
}