#dms-info-steps {
    background-color: #edf2f1;

    padding: 20px 0 35px;
    margin: 30px auto;
  }

  #dms-info-steps .dms-info-steps-title {
    color: #00ae81;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 40px;
    text-transform: uppercase;
  }

  #dms-info-steps .dms-info-steps-list .step-img {
    margin-bottom: 32px;
    position: relative;
    display: inline-block;
  }

  #dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::before {
    content: none;
  }

  #dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::after {
    content: none;
  }

  #dms-info-steps .dms-info-steps-list .step-col .step-img::before {
    content: "";
    position: absolute;
    left: -20px;
    top: calc(50% - 7px);
    background: url(../../images/common/slider-table/steps_info_dot_before.png) no-repeat;
    width: 14px;
    height: 14px;
  }

  #dms-info-steps .dms-info-steps-list .step-col .step-img::after {
    content: "";
    position: absolute;
    left: -385px;
    top: calc(50% - 2.5px);
    background: url(../../images/common/slider-table/steps_info_dot_after.png);
    width: 355px;
    height: 5px;
  }

  #dms-info-steps .dms-info-steps-list .step-col {
    max-width: 515px;
    width: 515px;
  }

  #dms-info-steps .dms-info-step-text {
    color: #1c2b39;
    max-width: 380px;
    margin: auto;
  }

  #dms-info-steps .dms-info-steps-list .col-12 img::after {
    content: "";
    position: absolute;
    background: url(../../images/common/slider-table/steps_info_dot_before.png);
  }

  .advantages-h3 {
      margin-bottom: 30px;
  }

  #dms-info-clients {
    margin: 30px auto;
    font-weight: 400;
    line-height: 26px;
    color: #1c2b39;
    text-align: left;
  }

  #dms-info-clients h5 {
    color: #00ae81;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
  }

  #dms-info-policy {
    margin: 30px auto;
  }

  #dms-info-policy h5 {
    text-transform: uppercase;
    color: #00ae81;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 20px;
  }

  #dms-info-policy ul li {
    color: #1c2b39;
    text-align: left;
    position: relative;
    padding-left: 20px;
  }

  #dms-info-policy ul li::before {
    content: "•";
    color: #00ae81;
    font-size: 40px;
    left: 0px;
    top: 10px;
    transform: translateY(-50%);
    position: absolute;
  }
