@media screen and (max-width:1020px) {
    .constructor-page .advantage-blck {
        margin-bottom: 80px;
    }
    .constructor-list-pref {
        margin-top: 30px;
    }
    .constructor-list-pref .advantage-blck {
        padding-top: 20px;
        margin-bottom: 50px;
    }
    .constructor-page .advantage-blck-submit {
        margin: 0 auto 10px;
    }
}

@media screen and (max-width:768px) {
    .constructor-page .card-title a {
        font-size: 18px !important;
    }
    .faq-list .card-body {
        font-size: 19px;
    }
    #page-content {
        padding: 40px 0 80px 0;
    }
    .constructor-page .icon-col {
        width: 50%;
        margin-bottom: 20px;
    }
    .leadership-title {
        padding-top: 20px !important;
        margin-top: 40px;
    }
    .dms-slide-table {
        display: none;
    }
    #dms-steps {
        display: block;
    }
    #dms-scroll-to-top span {
        font-size: 20px;
    }
    .constructor-page .icon-img {
        max-height: 90px;
    }
    .constructor-page .page-icons-text {
        font-size: 18px !important;
    }
}

@media screen and (max-width:540px) {
    .page-icon {
        margin-bottom: 20px;
    }
    .constructor-page .page-icons-text div:first-of-type {
        margin-bottom: 5px;
    }
    .constructor-page .page-icons-text {
        padding: 0 10px;
    }
}

@media screen and (max-width:480px) {
    .constructor-page .icon-col {
        width: 100%;
        margin-bottom: 20px;
    }
    .constructor-page .advantage-blck {
        padding: 0;
    }
    .constructor-page .page-icons-text div:last-of-type {
        font-weight: 300;
        margin-bottom: 30px;
    }
    .constructor-page .input-group-slug {
        font-size: 14px;
    }
    #page-content .wrap-icons .page-icons-list .icon-col {
        margin-bottom: 0;
    }
    .constructor-page .icon-img {
        max-height: 80px;
    }
}