/* dms-slide-table */
.dms-slide-table {
    margin-top: 50px;
}

.dms-slide-table .swiper-wrapper {
    display: block;
}

.dms-slide-table .swiper-slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.swiper-slide {
    white-space: unset !important;
}

.slide-table-title {
    color: var(--green);
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.dms-slide-table .slide-item-subtitle {
    text-align: center;
    font-size: 18px;
    color: #1c2b39;
    font-weight: bold;
}

.dms-slide-table .slide-item-translation {
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    color: #C6CCD0;
}
.dms-slide-table .slide-item-translation:hover {
    color: gray;
}

.dms-slide-table .slide-item-info{
    padding: 10px;
}
.dms-slide-table .program-slider-item{
    height: 55px;
    background: #F5F7FD;
}
.dms-slide-table .program-slider-item.swiper-slide-active .slide-item-check {
    background: #F5F7FD;
}

.dms-slider-table .slide-item-subtitle {
    text-align: center;
    font-size: 18px;
    color: #1c2b39;
    font-weight: bold;
}

.dms-slider-table .slide-item-row {
    background: none;
    padding: 0;
    margin: 0;
}

.dms-slider-table .slide-item-row .slide-item-subtitle {
    display: flex;
    padding: 8px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    font-weight: bold;
    margin: 0;
    background: white;

}

.dms-slider-table .slide-item-row .slide-item-subtitle .slide-item-subtitle-translate {
    display: inline-block;
    cursor: pointer;
    color: #C6CCD0;
    font-size: 18px;
    padding: 5px 0;
    transition: .3s;
}

.dms-slider-table .slide-item-row .slide-item-subtitle .slide-item-subtitle-translate:hover {
    color: gray;
}

.dms-slider-table .slide-item-row .slide-item-check {
    background: #F5F7FD;
    min-height: 55px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end slide table */

/* start flexible slide table */
#dms-steps {
    margin: 60px auto 50px;
    display: none;
  }

  #dms-steps .row {
    margin-top: 0px;
  }

  #dms-steps .dms-main-title,
  #dms-info-blck .dms-info-title {
    color: #495966;
    padding-top: 20px;
    font-size: 45px;
    font-weight: 900;
    text-align: left;
    position: relative;
    text-transform: uppercase;
  }

  #dms-steps .dms-main-title::before,
  #dms-info-blck .dms-info-title::before {
    background-color: #00ae81;
    width: 50px;
    height: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
    content: "";
  }

  #dms-steps .dms-main-subtitle,
  #dms-info-blck .dms-info-subtitle {
    color: #73808a;
    font-weight: 400 !important;
    text-align: left;
    margin-top: 30px;
    max-width: 1165px;
    margin-bottom: 20px;
  }

  #dms-info-blck .dms-info-subtitle {
    max-width: 100%;
  }

  #dms-steps .dms-main-subtitle a {
    color: #00a5b8;
  }

  .program-slider-item {
    transition: all 0.5s !important;
    cursor: pointer;
  }

  .program-slider-item img {
    transition: all 0.5s !important;
    filter: grayscale(100%);
  }

  .program-slider-item.swiper-slide-active {
    transition: all 0.5s !important;
  }

  .program-slider-item.swiper-slide-active img {
    transition: all 0.5s !important;
    filter: grayscale(0%);
  }

  .swiper-container {
    height: auto !important;
    background: #fff;
  }

  .program-slider-item,
  .program-slider-item > div {
    background: #fff;
  }

  .program-slider-item.swiper-slide:after,
  .program-slider-item.swiper-slide:before {
    background: transparent !important;
    content: none !important;
  }

  .program-slider-item.swiper-slide-active {
    z-index: 2;
  }

  .program-slider-item .slide-item-row {
    min-height: 50px;
    padding: 5px 10px;
  }

  .program-slider-item .slide-item-row:nth-child(even) {
    background-color: #edf1f0;
  }

  .program-slider-item .slide-item-row:nth-child(odd) {
    background-color: #fff;
  }

  .program-slider-item.swiper-slide-active .slide-item-title {
    background-color: #00ae81 !important;
  }

  .program-slider-item .slide-item-title {
    background-color: #00ae81 !important;
    text-align: center;
    color: #fffdfd;
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    padding: 5px 28px;
    word-break: normal;
    white-space: normal;
  }

  .program-slider-item .slide-item-subtitle {
    color: #c6cdd1;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s;
  }

  .program-slider-item.swiper-slide-active .slide-item-subtitle {
    font-weight: 400;
    line-height: 24px;
    transition: all 0.3s;
    white-space: normal;
  }

  .program-slider-item .slide-item-price {
    color: #c6cdd1;
    font-size: 24px;
    font-weight: 900;
    transition: all 0.3s;
    line-height: 24px;
  }

  .program-slider-item.swiper-slide-active .slide-item-price {
    color: #00ae81;
    transition: all 0.3s;
  }

  .program-slider-item .slide-item-check {
    color: #c6cdd1;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.3s;
  }

  .program-slider-item.swiper-slide-active .slide-item-check {
    color: #1c2b39;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    margin-top: 10px;
    transition: all 0.3s;
  }

  .program-slider-item .slide-item-check-franchize {
    color: #c6cdd1;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.3s;
  }

  .program-slider-item.swiper-slide-active .slide-item-check-franchize {
    color: #00664d;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    transition: all 0.3s;
  }

  .program-slider-item.swiper-slide-active .slide-item-footer a {
    color: #1c2b39;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    text-decoration: underline;
    transition: all 0.3s;
  }

  .program-slider-item .slide-item-footer a {
    color: #c6cdd1;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    text-decoration: underline;
    transition: all 0.3s;
  }

  .program-slider-item .slide-item-footer img {
    margin-right: 8px;
  }

  .program-slider-container .swiper-button-prev {
    background-color: #00ae81;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    opacity: 1;
    background-image: none;
  }

  .program-slider-container .swiper-button-prev, .program-slider-container .swiper-button-next {
      display: block;
  }
  .program-slider-container .swiper-button-prev::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(../../images/common/slider-table/slider_prev_btn.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .program-slider-container .swiper-button-next {
    background-color: #00ae81;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: all 0.3s;
    opacity: 1;
    background-image: none;
  }

  .program-slider-container .swiper-button-next::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url(../../images/common/slider-table/slider_next_btn.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .program-slider-container .swiper-button-prev:hover,
  .program-slider-container .swiper-button-next:hover {
    box-shadow: 0px 3px 13.65px 1.35px rgba(0, 66, 50, 0.2);
    transition: all 0.3s;
  }

  .program-slider-btns {
    margin: 30px auto;
  }

  .program-slider-btns a.program-slider-btns-offer {
    color: #1c2b39;
    font-weight: 600;
    line-height: 24px;
  }

  .program-slider-btns p {
    margin-bottom: 15px;
  }

  .program-slider-btns a.program-slider-btns-offer img {
    margin-right: 10px;
  }

  .program-slider-btns a.program-slider-btns-buy {
    color: #00ae81;
    font-size: 23.94px;
    font-weight: 900;
    line-height: 24px;
    transform: scaleY(1.003);
    border-width: 2px;
    border-color: #00ae81;
    border-style: solid;
    width: 220px;
    height: 48px;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 21px;
  }
