#app {
  font-family: "Source Sans Pro", sans-serif;
}

.section-title {
  text-transform: uppercase;
  color: var(--main-color);
  text-align: center;
  padding: 30px 0 0;
  margin-bottom: 0;
}

.row {
  margin-top: 15px;
}

.card {
  padding: 30px 0 0px;
}

.card.ambulance {
  margin-bottom: 50px;
}

.card a {
  color: #00a5b8;
}

.card-title {
  font-size: 18px;
  font-weight: bolder;
}

.card-subtitle {
  margin-top: 10px;
}

/* HANDMADE SLIDER */

.RangeSlider {
  padding-top: 30px;
  padding-bottom: 40px;
}

.RangeSlider_ClickArea {
  position: relative;
  padding: 20px 0 20px 0;
  margin-top: -10px;
  user-select: none;
}

.RangeSlider_ParticipantName {
  font-size: 12px;
  color: #ddd;
  text-align: center;
  height: 49px;
  line-height: 49px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RangeSlider_Track {
  border-radius: 3.5px;
  background-color: #c6ccd0;
  position: relative;
  top: 50%;
  width: calc(100% - 10px);
  transform: translateY(-50%);
  transition: all 0.3s;
  height: 7px;
}

.RangeSlider_TrackFill {
  border-radius: 3.5px;
  position: relative;
  width: 0%;
  height: 7px;
  background-color: #00ae81;
  /* transition: width .4s cubic-bezier(0,1,.5,1.25); */
  transition: width 0.1s ease-in;
}

/* when thumb is being dragged, remove the transition */
.RangeSlider_TrackFill.RangeSlider_TrackFill-stopAnimation {
  transition: none;
}

.RangeSlider_Thumb {
  position: absolute;
  top: -5px;
  height: 40px;
  width: 40px;
  right: 0;
  cursor: pointer;
  transform: translate(50%, -33.33%);
}

/* when thumb is being dragged, increase the size so the cursor can come outside of it slightly */
.RangeSlider_TrackFill-stopAnimation .RangeSlider_Thumb:before {
  content: "";
  display: block;
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -500px;
  left: -500px;
  border-radius: 50%;
  /* background: rgba(255,255,255,0.1); */
}

.RangeSlider_Points {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 7px;
  transform: translateY(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0;
}

.Point_label {
  position: absolute;
  top: 30px;
}

.RangeSlider_Point:nth-child(1) .Point_label {
  text-align: left;
}
.RangeSlider_Point:nth-child(2) .Point_label {
  transform: translateX(-50%);
}
.RangeSlider_Point:nth-child(3) .Point_label {
  transform: translateX(-50%);
}
.RangeSlider_Point:nth-child(4) .Point_label {
  transform: translateX(-90%);
  text-align: right;
}

.RangeSlider_Point {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  border: 7px solid #fff;
  background-color: #c6ccd0;
  text-align: center;
  transition: all 300ms ease-out;
}

.RangeSlider_Point:nth-child(1) {
  left: 0%;
}
.RangeSlider_Point:nth-child(2) {
  left: 33.333333%;
}
.RangeSlider_Point:nth-child(3) {
  left: 66.666666%;
}
.RangeSlider_Point:nth-child(4) {
  left: 100%;
}

.RangeSlider_Point.RangeSlider_PointActive {
  background-color: transparent;
  border-color: transparent;
}

@media (max-width: 768px) {
  .selects {
    flex-direction: column;
  }
  .row .selects > label {
    justify-content: space-between;
  }
  .row .selects > label + label {
    margin-top: 15px;
    margin-left: 0;
  }
  .row .selects label .nice-select {
    max-width: 260px;
  }
  .Point_label {
    height: 0px;
    overflow: hidden;
  }
  .RangeSlider_Point.RangeSlider_PointActive .Point_label {
    height: auto;
  }
  .decrease {
    height: 0px !important;
    width: 0px !important;
    border-width: 0px !important;
  }
  .RangeSlider_Point {
    height: 15px;
    width: 15px;
    border-width: 6px;
  }
}

@media (min-width: 768px) {
  .decrease .Point_label {
    height: 0px !important;
    overflow: hidden;
  }

  .decrease {
    height: 0px !important;
    width: 0px !important;
    border-width: 0px !important;
  }
}

@media (max-width: 710px) {
  span.label-title {
    width: 340px;
  }
}
@media (max-width: 600px) {
  .promo-block {
    flex-direction: column;
  }
  div .promo-input {
    max-width: 100%;
  }
}

/* MODAL  */

.modal-title {
  text-align: center;
  margin: 0px;
}

.modal-title:after {
  content: "";
  height: 3px;
  width: 30px;
  background-color: var(--main-color);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.modal-title .text-primary {
  font-size: 24px;
  color: var(--main-color);
  text-transform: uppercase;
  padding: 0px 0px 10px;
}
.modal-title .text-secondary {
  font-size: 24px;
  font-weight: 400;
  padding: 10px 0px;
  line-height: 32px;
  color: #495966;
}
.modal-title .text-tertinary {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0px 10px;
}

/* END HANDMADE SLIDER */

.v-slider__track-fill {
  border-radius: 4px;
}
.card .v-slider__thumb:before {
  display: none;
}

.card .v-slider__thumb.primary {
  border-radius: 0px !important;
  width: 40px;
  left: -5px;
  top: -5px;
  height: 38px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background-color: transparent !important;
  background-repeat: no-repeat;
}

.clinics.card .RangeSlider_Thumb {
  background-repeat: no-repeat;
  background-image: url(./images/clinic_icon.svg) !important;
}
.pills.card .RangeSlider_Thumb {
  background-repeat: no-repeat;
  background-image: url(./images/pills_icon.svg) !important;
}
.ambulance.card .RangeSlider_Thumb {
  background-repeat: no-repeat;
  background-image: url(./images/ambulance_icon.svg) !important;
}

.card .left {
  transform: translate(100%, -33.333%);
}

.card .right {
  transform: translate(20%, -33.333%);
}

.recommended .slide-item-row.slide-item-title {
  background-color: #00896a !important;
}

button:focus {
  outline: none;
}

.hide {
  display: none !important;
}

.owl-nav {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
}

.owl-dots {
  display: none;
}

.owl-nav .owl-next span,
.owl-nav .owl-prev span {
  display: none;
}

.owl-nav .owl-next::before {
  transform: translate(-70%, -50%) rotate(-135deg);
}
.owl-nav .owl-prev::before {
  transform: translate(-30%, -50%) rotate(45deg);
}
.owl-nav .owl-next::before,
.owl-nav .owl-prev::before {
  content: "";
  height: 10px;
  width: 10px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}

.owl-nav .owl-next:focus,
.owl-nav .owl-prev:focus {
  outline: none;
}

.owl-nav .owl-next:hover,
.owl-nav .owl-prev:hover {
  box-shadow: 0 0 10px #999;
}

.owl-nav .owl-next,
.owl-nav .owl-prev {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--main-color) !important;
  color: #fff;
  margin: 10px;
}

.nice-select ul.list {
  max-height: 350px;
  overflow-y: auto !important;
}

span.required {
  display: none;
}

.nice-select.control {
  background-color: transparent !important;
  display: flex;
  align-items: center;
}

.nice-select .option {
  position: relative;
  font-size: 1rem !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input-group .nice-select:after {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 20px;
}

.nice-select span.current {
  font-size: 18px !important;
  line-height: 24px;
  transform: translateY(1px);
}

.nice-select .list {
  width: 100%;
}

.nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

.input-group .nice-select {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.nice-select .option.selected.focus::before,
.nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-right: 2px solid #00ae81;
  border-top: 2px solid #00ae81;
  height: 8px;
  width: 8px;
  opacity: 1;
}

.selects {
  display: flex;
  width: 100%;
}

.selects .label-title {
  font-weight: bolder;
}

.selects label {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.selects > label + label {
  margin-left: 30px;
}

.selects label .nice-select {
  margin-left: 30px;
  flex-grow: 1;
  height: 50px;
}

.form-check-label {
  display: flex;
  align-items: center;
  position: relative;
  text-align: left;
  padding-left: 30px;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 8px;
  min-height: 53px;
  cursor: pointer;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check-label .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  height: 15px;
  width: 15px;
  transform: translateY(-50%);
  background-color: transparent;
  border: 2px solid #a1abb3;
}
.form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.promo {
  display: flex;
  align-items: center;
  height: 55px;
  margin-top: 15px;
}

.promo label {
  flex-grow: 1;
  margin-right: 30px;
}

.promo-input:focus,
.promo-input:hover {
  outline: none;
}

.promo-input {
  flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 1px;
  max-width: 250px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: transparent;
  transition: all 0.3s;
  height: 50px;
}
.form-check-label .checkmark:after {
  left: 3px;
  top: 1px;
  width: 5px;
  height: 7px;
  border: solid #00ae81;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hidden {
  display: none;
}
.container-wide {
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: 1500px) {
  .container-wide {
    max-width: 1400px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .container-wide {
    max-width: 1200px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container-wide {
    max-width: 1200px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container-wide {
    max-width: 960px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container-wide {
    max-width: 720px;
  }
}
@media (max-width: 576px) {
  .container-wide {
    max-width: 540px;
  }
}

.program-slider-wrapper {
  display: flex;
}

.program-slider-item {
  transition: all 0.5s !important;
  width: auto;
  cursor: pointer;
}

.program-slider-item img {
  transition: all 0.5s !important;
  /* filter: grayscale(100%); */
  width: 17px !important;
}

.program-slider-item.swiper-slide-active {
  transition: all 0.5s !important;
}

.program-slider-item.swiper-slide-active img {
  transition: all 0.5s !important;
  /* filter: grayscale(0%); */
}

.swiper-container {
  height: auto !important;
  background: #fff;
}

.program-slider-item,
.program-slider-item > div {
  text-align: center;
}

.program-slider-item.swiper-slide:after,
.program-slider-item.swiper-slide:before {
  background: transparent !important;
  content: none !important;
}

.program-slider-item.swiper-slide-active {
  box-shadow: 0px 0px 39.2px 0.8px rgba(90, 81, 81, 0.18);
  z-index: 2;
}

.program-slider-item .slide-item-row {
  padding: 5px 10px 8px;
}

.program-slider-item .slide-item-row:nth-child(even) {
  background-color: #edf1f0;
}

.program-slider-item .slide-item-row:nth-child(odd) {
  background-color: #fff;
}

.program-slider-item.swiper-slide-active .slide-item-title {
  background-color: #00ae81 !important;
}

.program-slider-item .slide-item-title {
  background-color: var(--main-color) !important;
  text-align: center;
  color: #fffdfd;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 28px;
  word-break: normal;
  white-space: normal;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.program-slider-item .slide-item-subtitle {
  color: #495966;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-subtitle {
  color: #495966;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-price {
  color: var(--main-color);
  font-size: 24px;
  font-weight: 900;
  transition: all 0.3s;
  line-height: 24px;
}

.program-slider-item.swiper-slide-active .slide-item-price {
  color: #00ae81;
  transition: all 0.3s;
}
.slide-item-footer a {
  display: flex;
  align-items: center;
}

.slide-item-footer a img {
  height: 22px;
  width: 16px;
}
.program-slider-item > * + * {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.noBro,
.yea {
  position: relative;
  height: 1px;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}
.noBro {
  height: 16px;
  width: 16px;
  background: url(./images/no.png);
}

.slide-item-check-franchize,
.like-link {
  margin-bottom: 10px;
}

.slide-item-row.slide-item-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-item-price {
  margin-bottom: 10px;
}
.yea {
  height: 16px;
  width: 24px;
  background: url(./images/alowed.png);
}
/* 
.yea::after {
  content: "";
  display: block;
  height: 100%;
  width: 4px;
  background-color: var(--main-color);
  left: 0%;
  top: 50%;
  transform: translate(-50%, -50%) ;
}

.yea::before {
  content: "";
  background-color: var(--main-color);
  height: 4px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translate(-50%, -50%);
} */

/* .noBro::after,
.noBro::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 20px;
  background-color: #495966;
}

.noBro::after {
  transform: translate(-50%, -50%) rotate(45deg);
}
.noBro::before {
  transform: translate(-50%, -50%) rotate(-45deg);
} */

.like-link {
  font-weight: bolder;
  text-decoration: underline;
  color: #1c2b39;
}

.program-slider-item .slide-item-check {
  color: #1c2b39;
  font-size: 18px;
  flex-grow: 1;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check {
  color: #1c2b39;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check-franchize {
  color: #1c2b39;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check-franchize {
  color: #00664d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-footer a {
  color: #1c2b39;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer a {
  color: #1c2b39;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer img {
  margin-right: 8px;
}

.program-slider-container .swiper-button-prev {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_prev_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-next {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-next::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_next_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-prev:hover,
.program-slider-container .swiper-button-next:hover {
  box-shadow: 0px 3px 13.65px 1.35px rgba(0, 66, 50, 0.2);
  transition: all 0.3s;
}

.program-slider-btns {
  margin: 30px auto;
}

.program-slider-btns a.program-slider-btns-offer {
  color: #1c2b39;
  font-weight: 600;
  line-height: 24px;
}

.program-slider-btns p {
  margin-bottom: 15px;
}

.program-slider-btns a.program-slider-btns-offer img {
  margin-right: 10px;
}

.program-slider-btns a.program-slider-btns-buy {
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  transform: scaleY(1.003);
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  width: 220px;
  height: 48px;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 21px;
}

.item .purchase {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.b-btn,
.oform-btn,
.purchase-btn {
  cursor: pointer;
  max-width: 220px;
  flex-grow: 1;
  height: 55px;
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 24px;
  background-color: var(--main-color);
  color: #fff;
  border: 2px solid #00ae81;
  border-radius: 28px;
}

.input-block {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.input-block label {
  display: flex;
  text-align: left;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
}
.input-block label .label-text {
  color: #73808a;
  margin-bottom: 5px;
}

.input-group input,
.input-block input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  margin: auto !important;
  padding-left: 15px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  position: relative;
  background-color: transparent;
  transition: all 0.3s;
  min-height: 53px;
}

.input-group input:focus,
.input-block input:focus {
  background-color: #fff;
  border-color: var(--main-color);
  outline: none;
}

.price-block {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  position: relative;
}

.discount .price-value {
  text-decoration: line-through;
  font-size: 1rem;
  color: #000;
  position: absolute;
  top: 3px;
}

.discount .discount-value {
  display: inline;
}

.discount-value {
  display: none;
}

.discount-value,
.price-value {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: bolder;
}

.owl-stage > .owl-item + .owl-item .swiper-slide {
  border-left: 1px solid #fff;
}

.promo-block {
  display: flex;
}

a.oferta-conditions {
  display: flex;
  align-items: center;
  color: #1c2b39;
  text-decoration: none;
  font-weight: bolder;
  margin-bottom: 20px;
}

.oferta-conditions img {
  height: 22px;
  width: 16px;
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(100, 100, 100, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@media (max-width: 500px) {
  div.modal-container {
    max-width: 80%;
    max-height: 80%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal-title div.text-secondary {
    font-size: 18px;
    line-height: 24px;
  }
  .modal-title div.text-tertinary {
    line-height: 24px;
    padding-top: 0;
  }
  .modal-container span.close-modal::after,
  .modal-container span.close-modal::before {
    width: 15px;
  }
  .modal-container span.close-modal {
    height: 30px;
    width: 30px;
    top: -15px;
    right: -15px;
  }
  .modal-body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 400px;
  }
  .modal-body::-webkit-scrollbar {
    display: none;
  }
  .modal-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(147, 146, 146, 0.6);
    border-radius: 3px;
  }
  .modal-body::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    outline: 1px solid slategrey;
    border-radius: 3px;
  }
  .modal-container .form-check-label {
    font-size: 16px;
    line-height: 20px;
    margin-right: 0;
  }
}

.item .purchase {
  padding: 0 10px;
}

.modal-title {
  position: relative;
}

.close-modal {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--main-color);
}

.close-modal:hover {
  background-color: rgb(5, 128, 95);
}

.close-modal:before,
.close-modal:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 2px;
  width: 25px;
}
.close-modal:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close-modal:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-body .subtext {
  text-align: center;
  color: #a1abb3;
  margin: 0;
}

.modal-body {
  text-align: left;
  padding: 10px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
}

.modal-title .text-tertinary {
  line-height: 1.3em;
}

.oform-modal .modal-container {
  max-width: 500px;
}
.modal-container {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  max-width: 700px;
  max-height: 600px;
}
.modal-body {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  overflow: -moz-scrollbars-none; 
}
.modal-body::-webkit-scrollbar {
  display: none;
}

.modal-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(147, 146, 146, 0.6);
  border-radius: 3px;
}
.modal-body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  outline: 1px solid slategrey;
  border-radius: 3px;
}

.datepicker-days .table-condensed tbody tr td {
  padding: 0;
}

.datepicker-days .table-condensed thead tr th {
  padding-left: 0;
}

.modal-body .form-check-label .checkmark {
  height: 11px;
  width: 11px;
  border-radius: 1px;
}

.modal-body .form-check-label .checkmark:after {
  width: 3px;
  height: 5px;
}

.extra-link {
  color: #00a5b8;
  font-weight: 900;
  text-decoration: none;
}

.disabled {
  background-color: #a1abb3;
  color: #fff;
  cursor: not-allowed;
  border: none;
}

.modal-body .purchase {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 10px;
}

.datepicker {
  border-color: #00ae81;
  background-color: #fff;
  position: absolute;
}

.date-picker .datepicker {
  border-top: 3px solid var(--main-color);
}

.date-picker .datepicker table .active.day span,
.date-picker .datepicker .datepicker-switch::before {
  background-color: var(--main-color);
}

.date-picker {
  position: relative;
  display: flex;
}

.ckeckbow-wrap {
  margin-top: 20px;
}

.ckeckbow-wrap + .ckeckbow-wrap {
  margin-top: 0;
}

.modal-body .form-check-label {
  height: auto;
  min-height: 40px;
  margin-bottom: 0;
}

.datepicker table .active.day span {
  background: #00ae81;
}

.datepicker-label {
  color: #73808a;
  display: block;
  margin-bottom: 5px;
}

.datepicker .datepicker-days .table-condensed thead tr th {
  color: #1c2b39;
}

.datepicker .datepicker-switch::before {
  background: #00ae81;
}

.date-picker input + .input-group-addon:hover {
  fill: var(--main-color);
  transition: all 0.5s;
}

.date-picker input:focus,
.date-picker input.dateisker-op-input {
  border-color: #00ae81;
  transition: all 0.3s;
  outline: none;
}

input.form-control {
  flex-grow: 1;
  max-height: 54px;
  padding: 15px 19px;
  line-height: 1.5;
  border: 1px solid #a1abb3;
  color: #474749;
  border-radius: 6px;
}

.date-picker .input-group-addon {
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 5px;
  fill: #a1abb3;
  height: 28px;
  width: 29px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}
@media (max-width: 678px) {
  .container-wide.container-carousel {
    padding: 0;
  }
}
body {
  margin: 0;
}
#app {
  margin-bottom: 30px;
  overflow: hidden;
}
