@media (max-width: 480px) {
    .table-col-td .td-subtitle {
        font-size: 16px;
    }
    .help-prompt .help-prompt-text{
        left: -132px;
        bottom: 33px;
    }
}
@media (max-width: 767.9px) {
    .help-prompt {
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: -15px;
        bottom: 5px;
    }
    .table-col-transp {
        display: none !important;
    }
    .table-col-btn .btn.btn-table {
        font-size: 24px;
    }


    .table-col.table-col-orange {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 60px;
    }

    #vrz-steps .vrz-main-title {
        font-size: 24px;
    }

    #vrz-steps {
        margin: 40px auto 150px;
    }

    .table-col-td .td-subtitle {
        width: 50%;
        display: flex;
        float: left;
        align-items: center;
        justify-content: flex-end;
        text-align: right;
        padding-right: 10px;
    }

    .table-col-orange .table-col-td {
        display: block;
        min-height: 70px;
        height: auto !important;
        padding: 12px 7px;
        position: relative;
    }

    .table-col-orange .td-info {
        padding-left: 15px;
        text-align: center;
        width: 50%;
        display: inline-block;
    }

    .table-col-total .td-info,
    .table-col-btn .td-info {
        width: 100%;
        text-align: center;
        padding-left: 0px;
    }
    .table-col-td .td-subtitle-icon {
        display: none;
    }
}


@media (min-width: 768px) and (max-width: 1199.9px) {
    .table-col-transp {
        display: none !important;
    }
    .table-col-td .td-subtitle-icon {
        display: none;
    }

    .table-col.table-col-orange {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .table-col-td .td-subtitle {
        display: block;
        width: 100%;
        text-align: center;

    }

    .table-col-orange .table-col-td {
        display: block !important;
        min-height: 70px;
        height: auto !important;
        padding: 12px 7px;
    }

    .table-col-orange .table-col-td .td-subtitle {
        line-height: 1.2 !important;
        margin-bottom: 10px;
    }

    .table-col-orange .table-col-td .td-info {
        min-height: 26px;
    }

    #vrz-steps .vrz-main-title {
        font-size: 32px;
    }

    #vrz-steps {
        margin: 40px auto 150px;
    }
}

@media (min-width: 768px) and (max-width: 1000px) {

    .table-col-btn .btn.btn-table,
    .table-col-btn .btn.btn-table.btn-bordered {
        min-width: 90%;
        min-height: 45px;
        font-size: 24px;
    }
}


@media (min-width: 1200px) {
    .table-col-td .td-subtitle {
        display: none !important;
    }
}
