
.container-wide {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.video-bg {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

.video-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video-bg section {
    position: relative;
    z-index: 2;
    height: 100%;
}

.video-bg .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 1;
}

.video-bg .error-blck {
    position: absolute;
    bottom: 10vh;

}

.vzr-done {
    position: absolute;
    bottom: 5vh;
}

.vzr-done .vzr-done-title {
    color: #fefefe;
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.vzr-done .vzr-done-subtitle {
    color: #ffffff;
    font-size: 40px;
    font-weight: 900;
    max-width: 765px;
    padding-bottom: 20px;
    position: relative;
    margin-bottom: 30px;
}

.vzr-done .vzr-done-subtitle::after {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    background-color: #fdb515;
    width: 50px;
    height: 3px;
}

.vzr-done .vzr-done-info {
    margin-bottom: 30px;
}

.vzr-done .vzr-done-info p {
    color: #c6cdd1;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 0px;
}

.vzr-done .vzr-done-info p span,
.vzr-done .vzr-done-info p a {
    color: #fdb514;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}

.vzr-done .vzr-done-desire {
    margin: 30px 0 30px;
    color: #c6ccd0;
    font-size: 30px;
    font-weight: 600;
}

.vzr-done .vzr-done-return {
    color: #fdb514;
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
    margin-top: 70px;
    display: inline-block;
}
