        @media (max-width:816px) {
            .video-bg {
                text-align: center;
            }

            .vzr-done .vzr-done-subtitle::after {
                left: calc(50% - 25px);
            }

            .vzr-done {
                position: relative;
                bottom: 0;
            }

            .vzr-done .vzr-done-title {
                font-size: 55px;
                font-weight: 900;
                line-height: 55px;
                margin-bottom: 25px;
            }

            .vzr-done .vzr-done-subtitle {
                color: #ffffff;
                font-size: 30px;
                font-weight: 900;
                max-width: 765px;
                padding-bottom: 20px;
                position: relative;
                margin-bottom: 10px;
            }

            .video-bg section {

                display: flex !important;
                align-items: center !important;
            }
        }

        @media (max-width:520px) {
            .video-bg {
                padding: 20px 0;
            }

            .vzr-done .vzr-done-return {
                margin-top: 30px;
            }

            .vzr-done .vzr-done-title {
                font-size: 35px;
                font-weight: 900;
                line-height: 35px;
                margin-bottom: 25px;
            }

            .vzr-done .vzr-done-subtitle {
                color: #ffffff;
                font-size: 20px;
                font-weight: 900;
                max-width: 765px;
                padding-bottom: 20px;
                position: relative;
                margin-bottom: 10px;
            }
        }

        @media (max-width:500px) {
            .vzr-done .vzr-done-subtitle {
                font-size: 29px;
            }
        }
