  @media (max-width:816px) {
      .video-bg {
          height: 100%;
      }

      .dms-done {
          position: relative;
          bottom: 0;
      }


  }

  @media (max-width:500px) {
      .dms-done .osago-done-subtitle {
          font-size: 29px;
      }

  }
