  @media (max-width:816px) {
      .video-bg {
          height: 100%;
      }

      .casco-done {
          position: relative;
          bottom: 0;
      }


  }

  @media (max-width:500px) {
      .casco-done .casco-done-subtitle {
          font-size: 29px;
      }
  }
