/* .rd-navbar-static .rd-navbar-dropdown li a:hover:before, 
.rd-navbar-static .rd-navbar-megamenu li a:hover:before, 
.rd-navbar-fullwidth .rd-navbar-dropdown li a:hover:before, 
.rd-navbar-fullwidth .rd-navbar-megamenu li.nav-first-item a:hover:before {
    opacity: 0 !important;
} */

.nav-first-item a {
    padding: 15px 0 !important;
}

.nav-first-item a:hover {
    padding-left: 30px !important;
}

.nav-first-item a:hover:before {
    opacity: 0 !important;
}

.nav-first-item a:hover:after {
    left: 0 !important;
}

.col-logo {
    width: 70%;
}

.logo-list,
.sto-list {
    display: grid;
    grid-gap: 30px;
    opacity: 0;
    grid-template-columns: repeat(4, [col] 25%);
    grid-template-rows: auto;
    transition: all 0.6s ease;
}

.sto-list {
    padding-top: 20px;
    grid-template-rows: auto;
}

.tab-content .active .container-wide .logo-list,
.tab-content .active .container-wide .sto-list {
    opacity: 1;
}

.bank-logo,
.sto-logo {
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.sto-logo > .front,
.sto-logo > .back,
.bank-logo > .front,
.bank-logo > .back {
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.sto-logo {
    height: 150px;
}

.bank-logo:hover > .front,
.sto-logo:hover > .front {
    transform: rotateY(180deg);
}
.bank-logo:hover > .back,
.sto-logo:hover > .back {
    transform: rotateY(360deg);
}

@keyframes colorIt {
    from {
        padding-top: 40px;
    }
    to 25%,
    50%,
    75%,
    99% {}
    25% {
        padding-top: 35px;
    }
    50% {
        padding-top: 30px;
    }
    75% {
        padding-top: 25px;
    }
    99% {
        padding-top: 20px;
    }
}

.bank-logo:hover,
.sto-logo:hover .back .logo-title {
    padding-top: 20px;
    animation: 0.5s linear .1s colorIt;
}

.bank-logo .front,
.back,
.sto-logo .front,
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f7fd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-perspective: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    visibility:visible;
    backface-visibility: hidden;
}

.sto-logo .front {
    padding-top: 35px;
    padding-bottom: 10px;
    justify-content: space-between;
}

.sto-logo .back .logo-title {
    color: white;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.sto-logo .back .logo-label {
    margin-top: 25px;
    color: white;
}

.sto-logo .front .logo-title {
    color: #73808a;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

.bank-logo .back,
.sto-logo .back {
    background: #e72d2b;
    transform: rotateY(180deg);
}

.sto-logo .back {
    padding-bottom: 30px;
}

.sto-logo .back .logo-title {
    padding-top: 40px;
}

.bank-logo .back a {
    cursor: pointer;
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.bank-logo .back a:hover,
.sto-logo .back a:hover {
    color: white;
    text-decoration: underline;
}

.sto-logo .back a {
    cursor: pointer;
    color: white;
    font-size: 18px;
    line-height: 24px;
}

.bank-logo img {
    max-width: 60%;
    max-height: 55%;
    height: auto;
}

.bank-logo .logo-label,
.sto-logo .logo-label {
    color: #73808a;
    font-size: 18px;
    line-height: 24px;
}


#reinsurrance .front .logo-label {
    position: absolute;
    bottom: 10px;
}

#map-info {
    margin-bottom: 100px;
}

.filter {
    width: 30%;
}

.nice-select:after {
    border-color: #e72d2b !important;
    height: 10px !important;
    width: 10px !important;
}


/* adaptive styles 991-1199 */

@media (max-width:1199px) {
    .col-logo {
        width: 100%;
    }
    .logo-list,
    .sto-list {
        display: grid;
        grid-gap: 30px;
        opacity: 0;
        grid-template-columns: repeat(3, [col] 31%);
        grid-template-rows: auto;
        transition: all 0.6s ease;
    }
}


/* adaptive styles 768-990 */

@media (max-width:990px) {
    .col-logo {
        width: 100%;
    }
    .logo-list,
    .sto-list {
        display: grid;
        grid-gap: 20px;
        opacity: 0;
        grid-template-columns: repeat(2, [col] 48%);
        grid-template-rows: auto;
        transition: all 0.6s ease;
    }
}


/* adaptive styles 479-767 */

@media (max-width:767px) {
    .col-logo {
        width: 100%;
    }
    .logo-list,
    .sto-list {
        display: grid;
        grid-gap: 10px;
        opacity: 0;
        grid-template-columns: repeat(2, [col] 48%);
        grid-template-rows: auto;
        transition: all 0.6s ease;
    }
    #map-info-navs.contact-map-tabs ul li a {
        font-size: 14px !important;
        padding: 5px !important;
    }
    .bank-logo,
    .sto-logo {
        height: 150px;
    }
    .filter {
        width: 100%;
    }
    .sto-logo .front .logo-title {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .front .logo-label {
        font-size: 14px;
        line-height: 24px;
    }
    .bank-logo .front .logo-label {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .back .logo-title {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .back .logo-label {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .back a {
        font-size: 10px;
        line-height: 18px;
    }
    .bank-logo .back a {
        font-size: 12px;
        line-height: 24px;
    }
}


/* adaptive styles 320-479 */

@media (max-width:479px) {
    .col-logo {
        width: 100%;
    }
    .logo-list,
    .sto-list {
        display: grid;
        grid-gap: 10px;
        opacity: 0;
        grid-template-columns: repeat(2, [col] 48%);
        grid-template-rows: auto;
        transition: all 0.6s ease;
    }
    #map-info-navs.contact-map-tabs ul li a {
        font-size: 14px !important;
        padding: 5px !important;
    }
    .bank-logo,
    .sto-logo {
        height: 150px;
    }
    .filter {
        width: 100%;
    }
    .sto-logo .front .logo-title {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .front .logo-label {
        font-size: 14px;
        line-height: 24px;
    }
    .bank-logo .front .logo-label {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .back .logo-title {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .back .logo-label {
        font-size: 14px;
        line-height: 24px;
    }
    .sto-logo .back a {
        font-size: 10px;
        line-height: 18px;
    }
    .bank-logo .back a {
        font-size: 12px;
        line-height: 24px;
    }
}