@media (max-width: 990.9px) {
  .map-info-list-item-addres,
  .map-info-list-item-tel,
  .map-info-list-item-work-time {
    margin-bottom: 25px;
  }

  .map-city-list {
    padding: 0 40px;
  }

  #map-info-list .card .card-header a.collapsed,
  #map-info-list .card .card-header a {
    font-size: 18px;
  }

  .map-params {
    margin-left: 15px;
  }

  .contact-address-list .contact-phone,
  .contact-address-list .contact-work-time,
  .contact-address-list .contact-adress,
  .contact-address-list .contact-mail,
  .contact-address-list .contact-adress a,
  .contact-address-list .contact-mail a {
    font-size: 18px;
  }

  .contact-address-list .contact-address-list-title {
    font-size: 32px;
  }

  .contact-address-list .contact-phone svg,
  .contact-address-list .contact-work-time svg,
  .contact-address-list .contact-adress svg,
  .contact-address-list .contact-mail svg {
    max-height: 20px;
    max-width: 20px;
    margin-top: 7px;
  }

  .map-params-title,
  .map-city-list .nice-select,
  .map-params-list .form-radio-label,
  .map-params-list-clinics > div,
  .map-params-list .form-check-label {
    font-size: 18px;
  }
}
@media (min-width: 995px) {
  .d-xl-none.d-lg-inline-block.toggle-original {
    top: 50%;
    transform: translate(0, -50%);
  }
  .rd-navbar 
  .rd-navbar-classic 
  .rd-navbar-original 
  .rd-navbar-static {
      position: relative;
  }
  .rd-navbar-static .rd-navbar-right-side,
  .rd-navbar-fullwidth .rd-navbar-right-side {
    margin-right: 40px;
  }
}
