@font-face {
    font-family: Montserrat;
    src: url(./../../assets/core/fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Montserrat;
    src: url(./../../assets/core/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Montserrat;
    src: url(./../../assets/core/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Montserrat;
    src: url(./../../assets/core/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}