html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  color: #333;
}

@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
}

.form-modal-close {
  margin-top: unset !important;
  top: 25px;
  right: 30px;
  position: absolute;
}

.container {
  width: 1088px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 560px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 40px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 17px;
  }
}

.icon {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 30px;
  width: 30px;
}

.icon svg,
.icon img {
  height: 100%;
  width: 100%;
}

.sprites {
  display: none;
}

.nav-extended {
  background: #e72d2b;
}

.init {
  margin-bottom: 155px;
}
.init {
  margin-top: 235px;
  display: flex;
  gap: 10%;
  position: relative;
}

@media (max-width: 768px) {
  .init {
    margin-top: 108px;
    margin-bottom: 45px !important;
  }
  .init-list-item {
    margin-bottom: 22px !important;
  }
}

@media (max-width: 480px) {
  .init {
    margin-top: 68px;
    margin-bottom: 104px;
  }
  .init-btn {
    width: 100%;
  }
}

.init-title {
  margin-top: 9px;
  margin-bottom: 0;
  text-align: left;
}

.init-list {
  margin: 14px 0 34px;
}
@media (max-width: 480px) {
  .init-list {
    margin: 22px 0 34px;
  }
}
.init-list-item {
  padding-left: 35px;
  position: relative;
  margin-bottom: 3px;
}

.init-list-item::before {
  content: url('../img/check.svg');
  display: inline-block;
  font-size: 22px;
  position: absolute;
  left: 6px;
  color: #e72d2b;
  margin-right: 10px;
}
.options-tabs-items {
  border-bottom: none !important;
}
/*
.init-list-item::before {
  content: '^';
  display: inline-block;
  font-size: 22px;
  position: absolute;
  left: 6px;
  color: #e72d2b;
  margin-right: 10px;
  transform: rotate(180deg) skew(-8deg, -25deg) scale(1.3, 0.8);
} */

.init-info .ui-btn {
  margin: unset;
}

.init-info,
.init-img {
  width: 49%;
}
.init-info {
  width: 51%;
}
.init-img {
  transform: translate(37px, -41px);
}

@media (max-width: 768px) {
  .init-info,
  .init-img {
    width: auto;
  }
}

@media (max-width: 768px) {
  .init-img {
    display: none;
  }
}

.init-img img {
  width: 100%;
  height: auto;
}

.form .btn {
  margin-top: 40px;
}

@media (max-width: 480px) {
  .form .btn {
    width: 100%;
  }
}

.form-title {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  color: #495966;
  margin-bottom: 8px;
}

.form-input,
.date-picker-input {
  padding: 12px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: inset 0px 2px 3px 1px rgba(209, 222, 249, 0.5);
  border-radius: 5px;
  width: 100%;
}
.date-picker-input {
  height: auto;
}

.form-forked-items {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 24px 0;
}

.form-forked-items .form-item {
  width: 45%;
}

@media (max-width: 768px) {
  .form-forked-items {
    flex-direction: column;
  }

  .form-forked-items .form-item {
    width: auto;
  }
}

.form-description {
  font-weight: 500;
  font-size: 12px;
  color: #495966;
}

.steam-list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .steam-list {
    flex-direction: column;
  }
}

.steam-item {
  width: 31.3%;
}

@media (max-width: 768px) {
  .steam-item {
    width: 95% !important;
    margin-bottom: 32px;
  }
  .steam-item .tx {
    font-size: 15px;
  }
  .steam-item:last-of-type {
    margin-bottom: 0;
  }
}

.steam-item-img {
  height: 48px;
}
.option-tab-table {
  margin: auto;
  width: 83%;
}
.option-tab-table td {
  padding: 5px;
}
.steam-item-text {
  padding-right: 10%;
}

.options-col-left-item {
  min-width: 240px;
  max-width: 360px;
  width: 360px;
  padding-right: 40px;
}
.steam-item-img img {
  height: 100%;
  width: auto;
}

.steam-item-title {
  margin: 15px 0 12px;
}
@media (max-width: 768px) {
  .steam-item-title {
    margin: 5px 0 7px;
  }
}

.steam-title {
  text-align: center;
}

.obey {
  background: rgba(231, 45, 43, 0.05);
  padding: 72px 80px 70px;
  text-align: center;
  margin-top: 111px;
  border-radius: 32px;
}
.obey a {
  margin-top: 41px;
}

@media (max-width: 768px) {
  .obey {
    padding: 40px 16px;
  }
}


@media (max-width: 768px) {
  .options .desktop-table {
    display: none;
  }
}

.options .laptop-table {
  display: none;
}

@media (max-width: 768px) {
  .options .laptop-table {
    display: block;
  }
}

.options-title {
  text-align: center;
}

.options-tabs-items {
  display: flex;
  margin: auto;
  height: 56px;
  width: fit-content;
  padding: 4px;
  border-radius: 8px;
  background: rgba(231, 45, 43, 0.05);
  margin-bottom: 43px;
}

.options-tabs-item a.active {
  background: white;
  box-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.25);
}

.options-tabs-items a.active {
  color: #E72D2B;
}

.options-tabs-item a{
  line-height: 48px;
  height: 48px;
  width: inherit;
  border-radius: 8px;
  text-align: center;
  padding: 0 20px;
  font-size: 17px;
  font-weight: 600;
  color: rgba(231, 45, 43, 0.5);
  cursor: pointer;
}

.options-tabs-item.active {
  background: white;
  padding: 0 16px;
  color: #E72D2B;
}

.options-col-title {
  margin-bottom: 40px;
}

.options-item-final-decis,
.options-item-final {
  font-weight: 900;
}

@media (max-width: 992px) {
  .options-col-left-item {
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
  .options-col-left-item {
    padding-right: 30px;
  }
}

.options-col-right,
.options-item-right-final {
  width: 250px;
  line-height: 75px;
  text-align: center;
  background: #F7F7F7 !important;
  border-radius: 8px;
}

@media (max-width: 992px) {
  .options-col-right,
  .options-item-right-final {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .options-col-right,
  .options-item-right-final {
    width: 100px;
  }
}

.options-item-right-final {
  background: white !important;
  font-size: 18px;
  font-weight: 900;
  color: #e72d2b;
}

.options-item-final-decis {
  color: gray;
}

.collapsible-table {
  background: #FFFFFF;
  box-shadow: 0px 6px 20px -6px rgba(231, 45, 43, 0.25);
  border-radius: 8px;
}

.laptop-table-body .tx {
  margin-bottom: 8px;
}

.laptop-table-body .tls {
  margin-bottom: 16px;
}

.laptop-table-body .options-col-right {
  font-size: 15px;
  width: auto;
}

.laptop-body-item {
  margin-bottom: 16px;
  padding: 5px 0;
}

@media (max-width: 768px) {
  .laptop-body-item {
    padding: 0;
  }
  .laptop-body-item-title {
    margin: 13px 0 !important;
  }
  .options-col-right, .options-item-right-final {
    width: 120px;
    margin: 0 16px 0 0;
    line-height: 55px;
  }
  .laptop-body-item {
    margin-bottom: 35px;
  }
}
.laptop-body-item .tls {
  margin-bottom: 12px;
}
.laptop-body-item .tls:last-of-type {
  margin-bottom: 0;
}
.contact {
  display: flex;
  gap: 10%;
  position: relative;
  margin-bottom: 60px;
}

.contact-list {
  margin: 16px 0 32px;
}

.contact-list-item {
  padding-left: 15px;
}

.contact-list-item::before {
  content: '^';
  display: inline-block;
  color: #e72d2b;
  margin-right: 10px;
  font-size: 16px;
  transform: rotate(180deg) skew(-8deg, -25deg) scale(1.3, 0.8);
}

.contact-info{
  width: 54%;
}
.contact-img {
  width: 46%;
}
.contact-info .txs {
  line-height: 1.6;
}
.contact-info .br {
  display: block;
  height: 20px;
}

@media (max-width: 768px) {

  .contact-info,
  .contact-img {
    width: auto;
  }
}

@media (max-width: 768px) {
  .contact-img {
    display: none;
  }
}

.contact-img img {
  width: 100%;
  height: auto;
}