* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

input {
    outline: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

button {
    display: block;
    background: none;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    outline: none;
}

i {
    font-style: normal;
}

img,
a {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img,
a,
span {
    display: inline-block;
    vertical-align: middle;
}

p {
    display: inline-block;
    vertical-align: middle;
}

*:hover {
    transition: .2s ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
a:hover {
    text-decoration: none !important;
}