@media (max-width: 575.98px) {
    #casco-form {
        margin: 30px auto 30px;
    }

    #casco-form .casco-main-title,
    #casco-info .casco-main-title {
        font-size: 32px;
        line-height: 34px;
    }

    #casco-form .casco-main-subtitle,
    #casco-info .casco-main-subtitle {
        font-size: 24px;
        line-height: 26px;
    }

    #casco-real-advantage .casco-real-advantage-title,
    #casco-real-steps .casco-real-steps-title,
    #casco-real-attention .casco-real-attention-list .attention-list-title,
    #casco-real-icons .casco-advantage-title,
    #casco-faq .card-corporate .card-title a,
    #casco-conditions .casco-condition-title,
    #casco-scroll-blck a {
        font-size: 24px;
        line-height: 26px;
    }

    #casco-real-advantage ul li,
    #casco-real-steps .casco-info-step-text,
    #casco-real-attention .warning-text p,
    #casco-real-attention .casco-real-attention-list ul li,
    #casco-real-icons .advantage-text,
    #casco-faq .card-body ul li,
    #casco-main-footer .casco-main-footer-contacts,
    #casco-conditions .condition-text {
        font-size: 18px;
        line-height: 20px;
    }

    #casco-real-attention .warning-icon {
        width: 100%;
    }

    #casco-real-icons .row .col {
        flex: 0 0 100%;
        max-width: 100%;
    }


}

@media (max-width: 575.98px) {
    #casco-conditions .row .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px) and (max-width:1199.9px) {
    #casco-conditions .row .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
