/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body,
  html {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  button,
  label {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600 !important;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body,
  html {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body,
  html {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body,
  html {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body,
  html {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#dms-steps {
  margin: 60px auto 50px;
}

#dms-steps .row {
  margin-top: 0px;
}

form label {
  margin-left: 0;
}

#dms-steps .dms-main-title,
#dms-info-blck .dms-info-title {
  color: #495966;
  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 900;
  text-align: left;
  position: relative;
  text-transform: uppercase;
}

#dms-steps .dms-main-title::before,
#dms-info-blck .dms-info-title::before {
  background-color: #00ae81;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

#dms-steps .dms-main-subtitle,
#dms-info-blck .dms-info-subtitle {
  color: #73808a;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 10px;
  max-width: 1165px;
  margin-bottom: 20px;
}

#dms-info-blck .dms-info-subtitle {
  max-width: 100%;
}

#dms-steps .dms-main-subtitle a {
  color: #00a5b8;
}

.program-slider-item {
  transition: all 0.5s !important;
  cursor: pointer;
}

.program-slider-item img {
  transition: all 0.5s !important;
  filter: grayscale(100%);
}

.program-slider-item.swiper-slide-active {
  transition: all 0.5s !important;
}

.program-slider-item.swiper-slide-active img {
  transition: all 0.5s !important;
  filter: grayscale(0%);
}

.swiper-container {
  height: auto !important;
  background: #fff;
}

.program-slider-item,
.program-slider-item > div {
  background: #fff;
}

.program-slider-item.swiper-slide:after,
.program-slider-item.swiper-slide:before {
  background: transparent !important;
  content: none !important;
}

.program-slider-item.swiper-slide-active {
  box-shadow: 0px 0px 39.2px 0.8px rgba(90, 81, 81, 0.18);
  z-index: 2;
}

.program-slider-item .slide-item-row {
  min-height: 50px;
  padding: 5px 10px;
}

.program-slider-item .slide-item-row:nth-child(even) {
  background-color: #edf1f0;
}

.program-slider-item .slide-item-row:nth-child(odd) {
  background-color: #fff;
}

.program-slider-item.swiper-slide-active .slide-item-title {
  background-color: #00ae81 !important;
}

.program-slider-item .slide-item-title {
  background-color: #c6ccd0 !important;
  text-align: center;
  color: #fffdfd;
  font-size: 18px;
  line-height: 20px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 5px 28px;
  word-break: normal;
  white-space: normal;
}

.program-slider-item .slide-item-subtitle {
  color: #c6cdd1;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-subtitle {
  color: #495966;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-price {
  color: #c6cdd1;
  font-size: 24px;
  font-weight: 900;
  transition: all 0.3s;
  line-height: 24px;
}

.program-slider-item.swiper-slide-active .slide-item-price {
  color: #00ae81;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check {
  color: #1c2b39;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item .slide-item-check-franchize {
  color: #c6cdd1;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-check-franchize {
  color: #00664d;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  transition: all 0.3s;
}

.program-slider-item.swiper-slide-active .slide-item-footer a {
  color: #1c2b39;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer a {
  color: #c6cdd1;
  font-size: 18px;
  line-height: 50px;
  font-weight: 600;
  text-decoration: underline;
  transition: all 0.3s;
}

.program-slider-item .slide-item-footer img {
  margin-right: 8px;
}

.program-slider-container .swiper-button-prev {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_prev_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-next {
  background-color: #00ae81;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  opacity: 1;
  background-image: none;
}

.program-slider-container .swiper-button-next::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../images/slider_next_btn.png);
  background-position: center;
  background-repeat: no-repeat;
}

.program-slider-container .swiper-button-prev:hover,
.program-slider-container .swiper-button-next:hover {
  box-shadow: 0px 3px 13.65px 1.35px rgba(0, 66, 50, 0.2);
  transition: all 0.3s;
}

.program-slider-btns {
  margin: 30px auto;
}

.program-slider-btns a.program-slider-btns-offer {
  color: #1c2b39;
  font-weight: 600;
  line-height: 24px;
}

.program-slider-btns p {
  margin-bottom: 15px;
}

.program-slider-btns a.program-slider-btns-offer img {
  margin-right: 10px;
}

.program-slider-btns a.program-slider-btns-buy {
  color: #00ae81;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  transform: scaleY(1.003);
  border-width: 2px;
  border-color: #00ae81;
  border-style: solid;
  width: 220px;
  height: 48px;
  display: inline-block;
  border-radius: 50px;
  padding: 10px 21px;
}

#dms-info-steps {
  background-color: #edf2f1;
  padding: 20px 0 35px;
  margin: 30px auto;
}

#dms-info-steps .dms-info-steps-title {
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 40px;
  text-transform: uppercase;
}

#dms-info-steps .dms-info-steps-list .step-img {
  margin-bottom: 32px;
  position: relative;
  display: inline-block;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::before {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col:first-child .step-img::after {
  content: none;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::before {
  content: "";
  position: absolute;
  left: -20px;
  top: calc(50% - 7px);
  background: url(../images/steps_info_dot_before.png) no-repeat;
  width: 14px;
  height: 14px;
}

#dms-info-steps .dms-info-steps-list .step-col .step-img::after {
  content: "";
  position: absolute;
  left: -385px;
  top: calc(50% - 2.5px);
  background: url(../images/steps_info_dot_after.png);
  width: 355px;
  height: 5px;
}

#dms-info-steps .dms-info-steps-list .step-col {
  max-width: 515px;
  width: 515px;
}

#dms-info-steps .dms-info-step-text {
  color: #1c2b39;
  max-width: 380px;
  margin: auto;
}

#dms-info-steps .dms-info-steps-list .col-12 img::after {
  content: "";
  position: absolute;
  background: url(../images/steps_info_dot_before.png);
}

.advantages-h3 {
  margin-bottom: 30px;
}

#dms-info-clients {
  margin: 30px auto;
  font-weight: 400;
  line-height: 26px;
  color: #1c2b39;
  text-align: left;
}

#dms-info-clients h5 {
  color: #00ae81;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}

#dms-info-policy {
  margin: 30px auto;
}

#dms-info-policy h5 {
  text-transform: uppercase;
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
}

#dms-info-policy ul li {
  color: #1c2b39;
  text-align: left;
  position: relative;
  padding-left: 20px;
}

#dms-info-policy ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: 10px;
  transform: translateY(-50%);
  position: absolute;
}

#dms-advantage-blck {
  margin: 60px auto 40px;
  background-color: #edf2f1;
  padding: 20px 0 40px;
}

#dms-advantage-blck .dms-advantage-title {
  color: #00ae81;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
  text-transform: uppercase;
}

#dms-advantage-blck .advantage-icon {
  margin-bottom: 20px;
}

#dms-advantage-blck .advantage-text {
  color: #1c2b39;
  font-weight: 400;
  margin-bottom: 50px;
}

#attention {
  margin: 50px 0;
}

#attention .warning-icon {
  margin-right: 40px;
  margin-bottom: 20px;
}

#attention .warning-text {
  text-align: left;
}

#attention .warning-text .title {
  margin-bottom: 20px;
  color: #00ae81;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
}

#attention .warning-text p {
  color: #1c2b39;
}

#attention .warning-text ul {
  margin: 10px 0;
}

#attention .warning-text ul li {
  color: #1c2b39;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
}

#attention .warning-text ul li::before {
  content: "•";
  color: #00ae81;
  font-size: 40px;
  left: 0px;
  top: -2px;
  position: absolute;
}

#attention .app-links {
  text-align: center;
}

#attention .qr-code > * {
  margin: 0px 10px;
}

#attention .qr-code {
  margin: 20px auto 10px;
}

#attention .app-links a {
  margin-top: 20px;
  margin-bottom: 10px;
  display: inline-block;
}

#dms-faq {
  margin: 60px auto 120px;
}

#dms-faq .dms-faq-title {
  color: #00ae81;
}

#dms-faq .card-corporate .card-title a {
  padding: 15px 82px 15px 23px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 34px;
  border-radius: 10px;
  background-color: #00ae81;
  border: 0px;
  overflow: hidden;
}

#dms-faq .card-corporate .card-body {
  border: 0px;
  padding: 15px 44px 15px 23px;
}

#dms-faq .card-corporate .collapse {
  border: 0px;
}

#dms-faq .card-corporate {
  box-shadow: none;
}

#dms-faq .card-corporate .card-plus {
  background: #00ae81;
  border-radius: 10px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
}

#dms-faq .card-corporate .card-title a .card-plus:after {
  opacity: 1;
  visibility: visible;
}

#dms-faq .card-corporate .card-plus::after,
#dms-faq .card-corporate .card-plus::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
}

#dms-faq .card-corporate .card-plus::before {
  width: 20px;
  height: 2px;
  right: 28px;
}

#dms-faq .card-corporate .card-plus::after {
  width: 20px;
  height: 2px;
  right: 28px;
}

#dms-faq .card-corporate .card-plus::after {
  transition: all 1s;
}

#dms-faq .card-corporate .collapsed .card-plus::after {
  transform: rotate(270deg);
  transition: all 1s;
}

#dms-faq .card-corporate .collapsed .card-plus::before {
  transform: rotate(180deg);
  transition: all 1s;
}

#dms-faq .card-body {
  color: #1c2b39;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

#dms-faq .card-body p {
  margin-bottom: 25px;
}

#dms-faq .card-body a {
  display: inline-block;
  color: #00ae81;
  text-decoration: underline;
}

#dms-faq .card-body ul li {
  position: relative;
  padding-left: 20px;
}

#dms-faq .card-body ul li::before {
  content: "•";
  color: rgb(0, 174, 129);
  font-size: 35px;
  left: 0px;
  top: -5px;
  position: absolute;
}

#dms-main-footer {
  padding: 40px 0;
}

#dms-main-footer .dms-main-footer-title {
  font-size: 32px;
  line-height: 40px;
  color: #1c2b39;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-title span {
  color: #00ae81;
  font-weight: 700;
  margin-bottom: 90px;
}

#dms-main-footer .dms-main-footer-contacts {
  color: #1c2b39;
  max-width: 1550px;
  margin: auto;
}

#dms-main-footer .dms-main-footer-contacts p {
  line-height: 32px;
  color: #00ae81;
  font-size: 2rem !important;
  margin: 10px auto;
  font-weight: 700;
}

#dms-main-footer .dms-main-footer-contacts a {
  line-height: 32px;
  color: #00ae81;
  font-size: 24px;
  font-weight: 400;
}

#dms-main-footer .dms-main-footer-contacts-links {
  margin: 20px auto;
}

#dms-scroll-blck {
  margin: 50px 0 150px;
}

#dms-scroll-blck img {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.3s;
}

#dms-scroll-blck a {
  color: #00ae81;
  font-size: 2rem;
  line-height: 38px;
}

/*

accident start styles


*/

.start-blocks {
  padding-top: 30px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.start-block {
  position: relative;
  margin: 0 15px;
  width: 550px;
  height: 400px;
  margin: 0 25px;
}

.check-list {
  padding: 0 30px;
  margin-left: 30px;
}

.start-block > img {
  width: 100%;
  height: 100%;
}

.link {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.link .title {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 10%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s all ease-in-out;
}

.link:hover .title {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.link:hover .overlay {
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 10%;
  height: 10%;
  opacity: 0;
  visibility: hidden;
  background-color: #00ae81;
  transition: 0.5s all ease-in-out;
}

/* .link .title img {
  width: 35px;
  height: 100px;
} */

.block-title {
  text-transform: uppercase;
  color: #fff;
  padding-top: 10px;
  font-size: .5rem;
  line-height: 40px;
  transition: 0.5s all ease-in-out;
}

.link:hover .block-title {
  font-size: 2rem;
}

.accident-form-wrapper {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 480px) {
  .accident-form-wrapper {
    padding: 0 10px;
    width: 100%;
    max-width: 100%;
  }

  .accident-form {
    width: 100%;
  }
}

.accident-form form .background {
  margin-bottom: 30px;
  padding: 30px 0;
  background-color: #edf2f1;
  max-width: 600px;
}

.form-top {
  padding: 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 480px) {
  .form-top {
    padding: 0 10px;
  }
}

.form-top:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #00ae81;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.form-top .title {
  color: #495966;
  font-weight: bold;
}

@media (max-width: 480px) {
  .form-top .title {
    font-size: 24px;
    line-height: 32px;
  }
  div.form-fields {
    padding-top: 30px;
  }
}

.form-fields {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
}

.field {
  padding: 0 30px 20px 30px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .field {
    padding: 10px;
  }

  .form-fields .form-radio {
    padding: 10px;
  }

  .form-fields .form-radio label {
    font-size: 18px;
    line-height: 24px;
  }
}

.field label {
  color: #73808a;
  text-align: left;
}

.field .control {
  padding: 12px 20px;
  border: 1px solid #a1abb3;
  border-radius: 5px;
  background-color: transparent;
  color: #1c2b39;
  font-size: 24px;
  line-height: 32px;
}

.field .control:focus {
  border-color: #00ae81;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group .field {
  width: 50%;
}

.form-group .field + .field {
  padding-left: 0;
}

.caption {
  padding: 0 30px 30px 30px;
  font-size: 18px;
  line-height: 24px;
  color: #a1abb3;
}

.form-buttons {
  padding: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 480px) {
  .form-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.btn-prev-step,
.btn-next-step {
  cursor: pointer;
  width: 220px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  line-height: 24px;
  border: 2px solid #00ae81;
  border-radius: 28px;
}

.btn-prev-step {
  position: relative;
  margin-right: 30px;
  color: #00ae81;
  background-color: #fff;
}

.btn-prev-step img {
  margin-right: 8px;
  transition: 0.3s all ease-in-out;
}

.btn-prev-step:hover img {
  margin-right: 15px;
}

.btn-next-step {
  color: #fff;
  background-color: #00ae81;
}

@media (max-width: 480px) {
  .btn-prev-step {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.form-radio {
  padding: 0 30px;
}

.form-radio .form-check-label {
  display: block;
  text-align: left;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-radio .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-radio .form-check-label .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid #a1abb3;
}

.form-radio .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-radio .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-radio .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #00ae81;
}

.form-check {
  padding: 0 30px;
}

.form-check .form-check-label {
  display: block;
  position: relative;
  text-align: left;
  padding-left: 35px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form-check .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.form-check .form-check-label.disabled {
  cursor: not-allowed;
}

.form-check .form-check-label .checkmark {
  position: absolute;
  top: -1px;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.form-check .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.form-check .form-check-label input:disabled ~ .checkmark:after {
  display: block;
  border-color: #a1abb3;
}

.form-check .form-check-label .checkmark:after {
  left: 5px;
  top: 5px;
  width: 8px;
  height: 10px;
  border: solid #00ae81;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-group {
  padding-top: 20px;
}

.check-title {
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
  color: #00ae81;
}

.check-item {
  padding-left: 20px;
  left: -20px;
  position: relative;
  list-style: none;
  text-align: left;
  color: #1c2b39;
}

.check-item:before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  top: 0.5em;
  left: 0;
  border-radius: 50%;
  background-color: #00ae81;
}

.promo .field {
  padding: 0;
}

.promo .field label {
  color: #00ae81;
  font-weight: bold;
}

.promo .download-link {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  color: #1c2b39;
  font-weight: bold;
}

.promo .download-link img {
  margin-right: 15px;
}

.filter .nice-select .option {
  position: relative;
  font-size: 1rem !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.filter .nice-select:after {
  width: 10px;
  height: 10px;
}

.filter .nice-select .list {
  width: 100%;
}

.filter .nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

.filter .nice-select .option:hover,
.filter .nice-select .option.focus,
.filter .nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

.input-group .nice-select {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.filter .nice-select .option.selected.focus::before,
.filter .nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 20px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-right: 2px solid #00ae81;
  border-top: 2px solid #00ae81;
  height: 8px;
  width: 8px;
  opacity: 1;
}

form .datepicker {
  border-color: #00ae81;
}

form .datepicker table .active.day span {
  background: #00ae81;
}

form .datepicker .datepicker-days .table-condensed thead tr th {
  color: #1c2b39;
}

form .datepicker .datepicker-switch::before {
  background: #00ae81;
}

form .date-picker input:focus,
form .date-picker input.dateisker-op-input {
  border-color: #00ae81;
  transition: all 0.3s;
}

form .form-control {
  margin-left: 0;
  background-color: transparent;
  border-color: #a1abb3;
}

form input.w-100 {
  width: 100%;
}

form .date-picker .input-group-addon {
  position: absolute;
  top: 50%;
  cursor: pointer;
  right: 5px;
  fill: #a1abb3;
  height: 28px;
  width: 29px;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
}

form .date-picker input + .input-group-addon.datepicker-opened,
form .date-picker input:focus + .input-group-addon,
form .date-picker input + .input-group-addon:focus,
form .date-picker input + .input-group-addon:hover {
  fill: var(--main-color);
  transition: all 0.5s;
}

.result-table {
  padding-top: 30px;
  margin: 0 auto;
  max-width: 50%;
}

.result-table .caption {
  padding: 0;
}

.result-table .caption a {
  color: #00a5b8;
}

.table-header {
  padding: 10px 15px;
  background-color: #edf2f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.table-block-title {
  padding-left: 20px;
  font-size: 1.33rem;
  line-height: 24px;
  font-weight: bold;
  color: #495966;
}

.table-header .table-block-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.table-header .table-block-icon img {
  width: 100%;
  height: 100%;
}

.table-data {
  padding: 0 95px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .table-header {
    padding-left: 15px;
  }
  .table-block-title {
    padding-left: 15px;
  }
  .table-data {
    padding: 20px 20px 20px 70px!important;
    flex-direction: column;
  }
  .table-data > .data-item:first-child {
    padding: 0px 0 10px;
  }
  .table-data > .data-item + .data-item {
    padding: 0 0 20px;
  }
    .table-data > .data-item:last-child {
      padding-bottom: 0;
    }
    .table-block .many-items .data-item {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .table-block-title {
    padding-left: 15px;
  }
}

.table-data .check-list .check-item {
  color: #a1abb3;
}

.table-data.special > * + * {
  width: 30%;
}

.many-items {
  flex-wrap: wrap;
}

.many-items .data-item {
  width: 30%;
}

.table-block .table-data {
  padding: 30px 75px;
}

.table-block > .table-data + * {
  padding-top: 0!important;
  padding-bottom: 30px;
}

.data-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.data-value {
  font-size: 1.33rem;
  line-height: 24px;
  font-weight: bold;
  color: #00ae81;
  text-align: left;
}

.data-title {
  color: #a1abb3;
  text-align: left;
}
