@media (max-width: 767.98px) {
    #osago-steps .vrz-main-title {
        font-size: 24px;
    }


    #osago-steps.osago-steps-result .vrz-main-subtitle {
        font-size  : 18px;
        line-height: 22px;
    }

    #osago-steps .result-info-row-title .info-title-icon {
        width: 46px;
    }

    #osago-steps .result-info-row-title .info-title-icon img {
        max-height: 28px;
    }

    #osago-steps .result-info-row-title .info-title {
        font-size: 18px;
    }

    #osago-steps .result-info-row-data {
        padding-left: 46px;
    }

    #osago-steps .result-info-row-data p.result-col-title {
        font-size: 18px;
    }

    #osago-steps .result-info-row-data p.result-col-subtitle {
        font-size: 14px;
    }

    #osago-steps .result-info-row-data .result-col-20 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
        position : relative;
        width    : 100%;
    }
}


@media (max-width: 991.98px) {
    #osago-steps .result-info-row-data .result-col-50 {
        -ms-flex : 0 0 70%;
        flex     : 0 0 70%;
        max-width: 70%;
        position : relative;
        width    : 100%;
    }

    #osago-steps .result-info-row-data .result-col-80 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
        position : relative;
        width    : 100%;
    }

    #osago-steps .result-info-row-data .result-col-80 {
        margin-bottom: -30px;
    }

    #osago-steps .result-info-row-data .result-col-20 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
        position : relative;
        width    : 100%;
    }
}


@media (max-width: 1199.98px) {
    #osago-steps .result-info-row-data .result-col-mb-100 {
        -ms-flex : 0 0 100%;
        flex     : 0 0 100%;
        max-width: 100%;
        position : relative;
        width    : 100%;
    }

    #osago-steps .result-info-row-data .result-col-mb-50 {
        -ms-flex : 0 0 50%;
        flex     : 0 0 50%;
        max-width: 50%;
        position : relative;
        width    : 100%;
    }
}

@media screen and (max-width: 1200px) {
    .step-group .radio {
        width: 25%;
    }
    .step-group .radio:after {
        left : 65%;
        width: 45%;
    }
}


@media screen and (max-width: 991px) {

    .content {
        padding: 0;
    }

    #osago-steps .result-info-row-data {
        padding-left: 0;
        padding: 0 10px;
    }

    #osago-steps .result-info-row-title .info-title-icon {
        width       : 40px;
        height      : auto;
        margin-right: 15px;
        margin-left : 15px;
    }
    #osago-steps .result-info-row-data p.result-col-title {
        font-size: 18px !important;
    }

    .buttons {
        padding-top: 90px;
        flex-direction: column;
        align-items: center;
    }
    
    .price-button-back {
        margin-bottom: 20px;
        order        : 2;
        margin-top   : 20px;
        margin-right : 0;
      }

    .price {
        font-size: 24px;
        left     : 55%;
        top      : 20px;
    }

    .stepper {
        flex-direction: column;
    }

    .stepper .small {
        min-width: 45px;
    }

    .step-group {
        width            : 100%;
        display          : flex;
        flex-direction   : row;
        /* flex-wrap     : wrap; */
        padding-bottom   : 20px;
    }

    .step-group .radio {
        width : 25%;
        height: auto;
    }

    .step-group .radio:after {
        left : 65%;
        width: 40%;
        top  : 13px;
    }
}

@media screen and (max-width: 768px) {

    .table-top .table-col {
        font-size: 14px;
    }

    .table-col {
        font-size: 14px;
    }

    .step-group .radio:after {
        left : 75px;
        width: 50%;
        top  : 8px;
    }

    .step-group .radio label {
        padding-left: 20px;
        font-size   : 18px !important;
        line-height : 22px !important;
    }

    .step-group .radio label:before {
        width : 20px;
        height: 20px;
    }

    .step-group .radio label:after {
        width : 10px;
        height: 10px;
        left  : 5px;
        top   : 5px;
    }

    #osago-steps .result-info-row-data .result-col-50 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .table-top .table-col {
        font-size: 10px;
    }

    .table-col {
        font-size: 10px;
    }

    .step-group .radio {
        width: 25%;
    }

    .step-group .radio:after {
        left : 60px;
        width: 45%;
        top  : 8px;
    }

    .step-group .small {
        max-width: 20%;
    }

    .step-group .radio label {
        padding-left: 20px;
        font-size   : 14px !important;
        line-height : 16px !important;
    }

    .step-group .radio label:before {
        width : 15px;
        height: 15px;
    }

    .step-group .radio label:after {
        width : 5px;
        height: 5px;
        left  : 5px;
        top   : 5px;
    }
}

@media screen and (max-width: 375px) {
    .step-group .radio:after {
        left : 60px;
        width: 25%;
        top  : 8px;
    }
}