@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  h2,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3 {
    font-size: 34px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px !important;
    line-height: 120px !important;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#osago-steps {
  margin: 130px auto 300px;
}

#osago-steps .row {
  margin-top: 0px;
}

#osago-steps.osago-steps-result .result-row {
  margin-bottom: 57px;
}

#vrz-steps .vrz-main-title {
  color      : #242424 !important;
  padding-top: 20px;
  padding-left  : 30px;
  font-weight   : 900;
  text-transform: none;
  text-align    : left;
  position      : relative;
  font-family   : "MuseoSansCyrl", sans-serif;
}

h2 {
  color      : #242424;
  padding    : 20px 0;
  font-weight: 900;
  text-align : left;
  text-transform: none;
  position   : relative;
}

h3 {
  color: var(--main-color);
}

h2::before,
#vrz-steps .vrz-main-title::before {
  /* background-color: #fdb515; */
  background-color   : transparent;
  width              : 50px;
  height             : 3px;
  position           : absolute;
  top                : 0px;
  left               : 0px;
  content            : "";
}

#osago-steps.osago-steps-result .osago-main-subtitle {
  color: #73808a;
  font-size: 24px;
  font-weight: 400 !important;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
}

#osago-steps .result-info {
  max-width: 864px;
  width: 100%;
}

#osago-steps .result-info-row-title {
  border-radius: 3px;
  background-color: #edf2f1;
  min-height: 60px;
  color: #242424;
  font-weight: 900;
  line-height: 24px;
  line-height: 32px;
  width: 100%;
  -ms-flex-align: center !important;
  align-items: center !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

#osago-steps .result-info-row-title .info-title-icon {
  margin: 3px 10px;
  width: 40px;
  text-align: center;
}

#osago-steps .result-info-row-title .info-title-icon img {
  max-height: 42px;
}

#osago-steps .result-info-row-data {
  text-align: left;
  padding-left: 96px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#osago-steps .result-info-row-data .result-col-100 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-80 {
  -ms-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-20 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-30 {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-40 {
  -ms-flex: 0 0 40%;
  flex: 0 0 40%;
  max-width: 40%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data .result-col-50 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
}

#osago-steps .result-info-row-data p.result-col-title {
  color: #229fff;
  font-size: 24px !important;
  font-weight: 600;
  line-height: 24px;
}

#osago-steps .result-info-row-data p:first-child {
  padding-top: 26px;
}

#osago-steps .result-info-row-data p.result-col-subtitle {
  color: #a2abb3;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

#osago-steps .result-info-row-data p:last-child {
  padding-bottom: 25px;
}

#osago-steps .btn-next-step {
  background-color: #068598;
  min-width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step {
  border-width: 2px;
  border-color: #068598;
  border-style: solid;
  min-width: 220px;
  min-height: 55px;
  border-radius: 50px;
  padding: 15px 21px 15px 32px;
  text-align: center;
  margin: 20px auto;
  display: inline-block;
  color: #068598;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  margin: 0 12px 10px;
}

#osago-steps .btn-prev-step:before {
  content: "";
  position: absolute;
  top: calc(50% - 5.5px);
  background: url(../images/btn-prev-step-icon-blue.png) no-repeat center;
  margin-right: 6px;
  margin-top: 1px;
  transition: all 0.3s;
  left: 18px;
  height: 11px;
  width: 7px;
}

#osago-steps .btn-prev-step:hover::before {
  left: 15px;
  transition: all 0.3s;
}


@font-face {
  font-family: "MuseoSansCyrl";
  font-weight: initial;
  src        : url("../../font/MuseoSansCyrl_300.otf") format("otf"),
}

body {
  font-family: "MuseoSansCyrl", sans-serif !important;
}

.stepper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stepper .small {
  width: auto;
  min-width: 140px;
}

.step-group {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.stepper .small:after {
  display: none;
}

.radio {
  position: relative;
  width: 20%;
  height: 35px;
  font-family: "MuseoSansCyrl", sans-serif !important;
  font-size: 24px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
  display: flex;
  flex-direction: row;
  align-items: center;
}


.radio:after {
  content: "";
  position: absolute;
  width: 55%;
  top: 15px;
  left: 60%;
  height: 1px;
  background-color: #888888;
}

.radio input {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.radio label {
  height: 100%;
  font-size: 24px !important;
  font-weight: 500 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}

.stepper .price-button {
  visibility: hidden;
}

.price-button {
  display: block;
  border-radius: 3px;
  background-color: #fdda24;
  border: 0;
  width: 284px;
  height: 60px;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #242424;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.price-button-back {
  margin-right: 30px;
  background-color: transparent;
  border: 1px solid #242424;
  border-radius: 3px;
}

.price-button:hover, 
.price-button:focus {
  color: #ffffff !important;
  background-color: #229fff;
}

.price-button-back:hover, 
.price-button-back:focus {
  color: #242424 !important;
  background-color: transparent;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #888888;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:before{
  border: 1px solid #229fff;
  background: #229fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #fff;
    position: absolute;
    top: 9px;
    left: 9px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.program-table {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.table-row {
  padding: 0 30px;
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table-row:nth-child(even) {
  background-color: #eeeeee;
}

.table-top {
  background-color: #229fff;
  
}

.table-top .table-col {
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.table-top .table-col-big {
  text-align: left;
}

.table-col {
  width: 25%;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  text-align: center;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #242424;
}

.table-col-big {
  width: 50%;
  text-align: left;
}

.table-col-divider {
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #229fff;
}

.table-sub-col svg {
  margin-right: 5px;
}

.buttons {
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price {
  position: absolute;
  top: 65px;
  left: 65%;
  transform: translateX(-65%);
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #242424;
}

.price-col {
  position: relative;
  font-family: "MuseoSansCyrl", sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #888888;
}

.currency {
  position: absolute;
  top: 0;
  margin-left: 5px;
  text-transform: uppercase;
  font-size: 12px;
}