/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

@media (max-width: 991px) {
  #insurance_case_wrap .product:hover .thumbnail-rayen figure,
    #insurance_case_wrap .product:hover .thumbnail-rayen::before {
    display: none;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#insurance_case_wrap {
  padding: 60px 0;
}

#insurance_case_wrap h3 {
  color: #495966;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 60px;
}

[data-isotope-layout] .row {
  margin-bottom: 0;
}

#insurance_case_wrap .isotope-filters-list > li > a {
  white-space: normal !important;
  color: #73808a;
  font-weight: 400;
  line-height: 24px;
}

#insurance_case_wrap .isotope-filters-list > li > a.active {
  color: #e72d2b;
}

#insurance_case_wrap .isotope-filters.isotope-filters-vertical .isotope-filters-list > li > a:after {
  background: transparent;
}

#insurance_case_wrap .isotope-filters.isotope-filters-vertical .isotope-filters-list > li > a.active:after {
  width: 3px;
  background: #e72d2b;
  right: -3px;
}

#insurance_case_wrap .isotope-wrap.isotope-wrap-vertical-border-left .isotope:before {
  width: 3px;
  background-color: #dddddd;
  min-height: 468px;
}

#insurance_case_wrap .isotope-filters-vertical,
#insurance_case_wrap .isotope-filters-vertical .section-relative {
  width: 100%;
}

#insurance_case_wrap .insurance_btn {
  border: 0px;
  cursor: pointer;
  color: #495966;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
}

#insurance_case_wrap .insurance_btn.active {
  background: transparent;
}

#insurance_case_wrap .insurance_btn svg {
  margin-right: 20px;
  width: 36px;
  height: 35px;
  transition: all 0.3s;
  fill: #a1abb3;
}

#insurance_case_wrap .insurance_btn:hover svg path {
  fill: #e72d2b;
  transition: all 0.3s;
}

#insurance_case_wrap .product {
  min-height: 250px;
}

#insurance_case_wrap .product a {
  width: 100%;
}

#insurance_case_wrap .product a .thumbnail-rayen {
  background-position: center center;
  background-size: cover;
  width: 100%;
  text-align: center;
}

#insurance_case_wrap .product .thumbnail-rayen figure {
  position: relative !important;
}

@media (max-width: 991px) {
  #insurance_case_wrap .product a .thumbnail-rayen {
    background-position: center center;
    background-size: cover;
    width: 100%;
  }
}

#insurance_case_wrap .product-horizontal .product-body {
  background-color: #f5f7fd;
  padding: 50px 28px;
  text-align: left;
}

#insurance_case_wrap .product-horizontal .product-body .product-title {
  text-align: left;
  color: #495966;
  font-size: 18px;
  letter-spacing: 1px;
  width: 100%;
  font-weight: 900;
  min-height: 80px;
  line-height: 20px;
  text-transform: uppercase;
}

#insurance_case_wrap .product-horizontal .product-body .product-btn-wrap div {
  background-color: #e72d2b;
  border: 0px;
}

#insurance_case_wrap .product:hover .thumbnail-rayen::before {
  transition: all 0.3s;
  opacity: 1;
  background-color: rgba(73, 89, 102, 0.7);
}

#insurance_case_wrap .product .thumbnail-rayen::before {
  transition: all 0.3s;
  background-color: rgba(73, 89, 102, 0);
}

#insurance_case_wrap .product:hover .thumbnail-rayen figure {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

#insurance_case_wrap .product .thumbnail-rayen figure {
  position: relative !important;
  left: 50%;
  top: 50%;
  width: 130px;
  color: #fff;
  opacity: 0;
  transform: translate(-50%, 100%) scale(0);
  transition: 0.35s all ease;
  z-index: 2;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

#insurance_case_wrap .insurance_case_form {
  margin: 50px auto;
  max-width: 600px;
}

#insurance_case_wrap .insurance_case_form .insurance_case_form_title {
  color: #495966;
  font-size: 32px;
  font-weight: 900;
  line-height: 28px;
  margin: 10px auto 20px;
  text-align: center;
}

#insurance_case_wrap .insurance_case_form .insurance_case_form_subtitle {
  color: #73808a;
  font-weight: 400;
  max-width: 464px;
  margin: 0px auto 20px;
}

#insurance_case_wrap .insurance_case_form form {
  text-align: left;
}

#insurance_case_wrap .insurance_case_form label {
  width: 100%;
  color: #73808a;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 0px;
}

#insurance_case_wrap .insurance_case_form input {
  width: 100%;
  margin-bottom: 22px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  background-color: #ffffff;
  height: 52px;
  padding: 15px 19px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #a1abb3;
  color: #474749;
  transition: all 0.3s;
}

#insurance_case_wrap .insurance_case_form input:hover,
#insurance_case_wrap .insurance_case_form input:focus,
#insurance_case_wrap .insurance_case_form textarea:hover,
#insurance_case_wrap .insurance_case_form textarea:focus {
  border-color: #e72d2b;
  transition: all 0.3s;
}

#insurance_case_wrap .insurance_case_form textarea {
  width: 100%;
  margin-bottom: 22px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #a1abb3;
  border-style: solid;
  background-color: #ffffff;
  height: 148px;
  overflow-y: auto;
  padding: 15px 19px;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #a1abb3;
  color: #474749;
  transition: all 0.3s;
}

#insurance_case_wrap .insurance_case_form form button {
  background-color: #e72d2b;
  border: 0px;
  cursor: pointer;
  margin: auto;
  width: 220px;
  min-height: 55px;
  color: #ffffff;
  font-size: 23.94px;
  font-weight: 900;
  line-height: 24px;
  border-radius: 50px;
  padding: 15px 21px;
  text-align: center;
  display: block;
}
