@media (max-width:1600px) {
    .map-params-list-line .form-radio-label {
        margin-left: 5%;
    }
    .map-params-list-line .map-params-list-offices {
        padding-left: 5%;
    } 
    .map-params-list-line-clinics > div {
        margin-right: 0;
    }
}

@media (max-width:1360px) {
    .map-params-list-line .form-radio-label,
    .map-params-list .form-check-label {
        font-size: 20px;
    }
    .map-params-list-line .form-radio-label {
        padding-top: 0;
    }
    .map-params-list-line .form-radio-label .checkmark {
        position: absolute;
        top: 2px;
    }
    .map-params-list-line .map-params-list-offices {
        margin-right: 0;
        padding-left: 5%;
    }
}



@media (max-width:1100px) {

     .map-info-list-item-addres,
     .map-info-list-item-tel,
     .map-info-list-item-work-time {
         margin-bottom: 25px;
     }

     .map-city-list {
         padding: 0 40px;
     }

     #map-info-list .card .card-header a.collapsed,
     #map-info-list .card .card-header a {
         font-size: 18px;
     }

     .map-params {
         margin-left: 15px;
     }

     .contact-address-list .contact-phone,
     .contact-address-list .contact-work-time,
     .contact-address-list .contact-adress,
     .contact-address-list .contact-mail,
     .contact-address-list .contact-adress a,
     .contact-address-list .contact-mail a {
         font-size: 18px;
     }

     .contact-address-list .contact-address-list-title {
         font-size: 32px;
     }

     .contact-address-list .contact-phone svg,
     .contact-address-list .contact-work-time svg,
     .contact-address-list .contact-adress svg,
     .contact-address-list .contact-mail svg {
         max-height: 20px;
         max-width: 20px;
         margin-top: 7px;
     }

     .map-params-title,
     .map-city-list .nice-select,
     .map-params-list .form-radio-label,
     .map-params-list-clinics > div,
     .map-params-list .form-check-label {
         font-size: 18px;
     }
     .map-params-list-line .form-radio-label {
        padding-top: 0;
        margin-left: 3%;
    }
    .map-params-list-line .form-radio-label .checkmark {
        position: absolute;
        top: 2px;
    }
    .map-params-list-line-clinics {
        padding-left: 5%;
        margin-right: 5%;
        float: none;
    }
    .map-params-list-line .map-params-list-offices {
       margin-right: 0;
       margin-left: 0;
       padding-left: 0;
    }
}
