/* 
-----------------------------------------------------
  Stylesheet Guide
-----------------------------------------------------
  
    1. Список контактов и адресов

    2. Блок фильтрации

    3. Стили для макркера на карте

    4. Стили для выпалающего с городами

    5. Стили для заголовков табов
    
    6. Стили для блоков аккардеонов в списке адресов

*/

/* ------------------------------------------------

    1. Список контактов и адресов

------------------------------------------------ */
.contact-address-list {
  margin: 60px 0 60px;
  width: 100%;
  text-align: left;
}

.contact-address-list .contact-address-list-title {
  color: #495966;
  padding-top: 20px;
  font-size: 45px;
  font-weight: 900;
  text-align: left;
  position: relative;
  margin-bottom: 50px;
}

.contact-address-list .contact-address-list-title::before {
  background-color: #e72d2b;
  width: 50px;
  height: 3px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
}

.contact-address-list .contact-adress {
  position: relative;
}

.contact-address-list .contact-adress a,
.contact-address-list .contact-mail a {
  color: #1c2b39;
  line-height: 32x;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s;
}


@media (min-width: 994px) {
    .contact-address-list .contact-mail span,
    .contact-address-list .contact-phone span {
        margin-top: 5px;
    }
}

.contact-address-list .contact-adress a:hover,
.contact-address-list .contact-phone a:hover,
.contact-address-list .contact-mail a:hover {
  color: #a1abb3;
  transition: all 0.3s;
}

.contact-address-list .contact-phone a {
  color: #1c2b39;
  transition: all 0.3s;
}

.contact-address-list .contact-phone,
.contact-address-list .contact-work-time,
.contact-address-list .contact-adress,
.contact-address-list .contact-mail {
  color: #1c2b39;
  line-height: 32px;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 20px;
}

.contact-address-list .contact-phone svg,
.contact-address-list .contact-work-time svg,
.contact-address-list .contact-adress svg,
.contact-address-list .contact-mail svg {
  max-height: 30px;
  max-width: 30px;
  vertical-align: top;
  margin-right: 10px;
  margin-top: 7px;
}

.contact-address-list .contact-adress svg path {
  fill: #e72d2b;
}

.contact-address-list .contact-phone svg path,
.contact-address-list .contact-adress svg path,
.contact-address-list .contact-work-time svg path,
.contact-address-list .contact-mail svg path {
  transition: all 0.3s;
}

.contact-address-list .contact-phone:hover svg path,
.contact-address-list .contact-adress:hover svg path,
.contact-address-list .contact-work-time:hover svg path,
.contact-address-list .contact-mail:hover svg path {
  transition: all 0.3s;
  fill: #e72d2b;
}

.contact-address-list .contact-adress span,
.contact-address-list .contact-work-time span,
.contact-address-list .contact-mail span,
.contact-address-list .contact-phone span {
  display: inline-block;
  width: calc(100% - 60px);
}

/* ------------------------------------------------

    2. Блок фильтрации

------------------------------------------------ */

.single-contact-wrap {
  position: relative;
}

.map-params {
  display: none;
}

.map-params.active {
  position: relative;
  margin-left: 50px;
  display: block;
}

.map-params-title {
  color: #1c2b39;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  padding: 15px;
  max-width: 320px;
}

.map-params-title svg {
  margin-right: 20px;
  width: 36px;
  height: 35px;

  fill: #a1abb3;
  transition: all 0.3s;
}

.map-params-title svg path {
  transition: all 0.3s;
}

.map-params-title:hover svg path {
  fill: #e72d2b;
  transition: all 0.3s;
}

.map-params-list {
  box-shadow: 0px 10px 27px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  max-width: 320px;
  min-width: 290px;
  height: auto;
  padding: 45px 15px 15px;
  text-align: left;
  display: none;
  position: absolute;
  opacity: 0;
  transition: all 0.3;
}

.map-params-list.active {
  display: block;
  transition: all 0.3;
  opacity: 1;
  z-index: 9;
}

.map-params-list .form-check-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-params-list .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.map-params-list .form-check-label .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 2px solid #a1abb3;
}

.map-params-list .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.map-params-list .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.map-params-list .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: url(../contact-icons/check_red.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

.map-params-list .form-radio-label {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-params-list .form-radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.map-params-list .form-radio-label .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 2px solid #a1abb3;
  border-radius: 50%;
}

.map-params-list .form-radio-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.map-params-list .form-radio-label input:checked ~ .checkmark:after {
  display: block;
}

.map-params-list .form-radio-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: #e92928;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.map-params-list-clinics {
  padding: 10px 0;
  position: relative;
}

.map-params-list-clinics > div {
  border-bottom: 1px solid #1c2b39;
  color: #1c2b39;
  font-size: 24px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.map-params-list-clinics > div::after {
  border-bottom: 2px solid #1c2b39;
  border-right: 2px solid #1c2b39;
  content: "";
  display: block;
  height: 10px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 10px;
  transform: rotate(45deg);
}

.map-params-list-clinics.active > div::after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.map-params-list-clinics > ul {
  display: none;
}

.map-params-list-clinics.active > ul {
  display: block;
}

.map-params-btn {
  text-align: center;
  width: 100%;
  margin: 30px auto 0px;
}

.map-params-btn button {
  background: #e72d2b;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 32px;
  border-radius: 24px;
  display: inline-block;
  border: 0px;
  cursor: pointer;
}

.map-params-btn button:hover {
  color: #fff;
}

/* Фильтр в линию */

.rowFilters {
  display: none;
}

.single-contact-wrap {
  position: relative;
}

.map-params-line {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.map-params-list-line.active {
  transition: all 0.3;
  opacity: 1;
  z-index: 9;
}

.map-params-list-line {
  display: flex;
  box-sizing: border-box;
}

.map-params-list-line-offices {
  width: 70%;
  padding: 0 0 0 3%;
  text-align: left;
}

.map-params-list-line .form-check-label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-params-list-line .form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.map-params-list-line .form-check-label .checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 2px solid #a1abb3;
}

.map-params-list-line .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.map-params-list-line .form-check-label input:checked ~ .checkmark:after {
  display: block;
}

.map-params-list-line .form-check-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: url(../contact-icons/check_red.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px;
}

.map-params-list-line .form-radio-label {
  position: relative;
  padding-left: 25px;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-left: 7%;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
  color: #1c2b39;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-params-list-line .form-radio-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.map-params-list-line .form-radio-label .checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: transparent;
  border: 2px solid #a1abb3;
  border-radius: 50%;
}

.map-params-list-line .form-radio-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.map-params-list-line .form-radio-label input:checked ~ .checkmark:after {
  display: block;
}

.map-params-list-line .form-radio-label .checkmark:after {
  top: calc(50% - 4px);
  left: calc(50% - 4px);
  width: 8px;
  height: 8px;
  background: #e92928;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.map-params-list-line-clinics {
  position: relative;
  display: block;
  /* width: 30%; */
  float: right;
  text-align: left;
}

.mtn {
    margin-top: 0px;
}

.map-params-list-line-clinics > div {
  border-bottom: 1px solid #1c2b39;
  color: #1c2b39;
  cursor: pointer;
  width: 200px;
  font-size: 18px;
  line-height: 24px;
  /* margin-right: 20%; */
  position: relative;
}

.map-params-list-line-clinics > div::after {
  border-bottom: 2px solid #1c2b39;
  border-right: 2px solid #1c2b39;
  content: "";
  display: block;
  height: 10px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 10px;
  transform: rotate(45deg);
}

.map-params-list-line-clinics.active > div::after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.map-params-list-line-clinics > ul {
  display: none;
  box-shadow: 0px 10px 27px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  width: 200px;
  height: auto;
  padding: 8.5px 15px 5px 15px;
  text-align: left;
  display: none;
  position: absolute;
  opacity: 0;
  transition: all 0.3;
}

.map-params-list-line-clinics.active > ul {
  display: block;
  transition: all 0.3;
  opacity: 1;
  z-index: 9;
}

.map-params-btn {
  text-align: center;
  width: 100%;
  margin: 30px auto 0px;
}

.map-params-btn button {
  background: #e72d2b;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  padding: 12px 32px;
  border-radius: 24px;
  display: inline-block;
  border: 0px;
  cursor: pointer;
}

.map-params-btn button:hover {
  color: #fff;
}

.rowLineFilters {
  margin-top: 30px;
}

.rowLineFilters.hidden {
  display: none;
}

/* ------------------------------------------------

    3. Стили для макркера на карте

------------------------------------------------ */
.marker-info {
  position: absolute;
  top: 60%;
  left: calc(50% - 150px);
  /* Не нужные параметры, удалить при выводе на карте */
  z-index: 9;
  border-radius: 10px;
  box-shadow: 0px 10px 27px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  padding: 20px 15px;
  text-align: left;
  min-width: 300px;
}

.marker-info-item {
  margin-bottom: 15px;
}

.marker-info::before {
  content: " ";
  position: absolute;
  width: 0;
  height: 0;
  left: calc(50% - 7.5px);
  bottom: -30px;
  border: 15px solid;
  border-color: #fff transparent transparent transparent;
}

.marker-info .marker-title {
  font-weight: bold;
  color: #e72d2b;
  font-size: 16px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.marker-info .marker-address {
  color: #1c2b39;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 5px;
}

.marker-info .marker-phone,
.marker-info .marker-work-time {
  font-size: 12px;
  line-height: 1.33;
  color: #1c2b39;
  padding-left: 25px;
  margin-bottom: 5px;
  position: relative;
}

.marker-info .marker-phone a {
  font-size: 12px;
  line-height: 1.33;
  color: #1c2b39;
}

.marker-info .marker-phone::before {
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  top: 1px;
  content: "";
  background: url(../contact-icons/call.png) no-repeat center;
  background-size: contain;
}

.marker-info .marker-work-time::before {
  position: absolute;
  left: 0px;
  width: 12px;
  height: 12px;
  top: 1px;
  content: "";
  background: url(../contact-icons/time.png) no-repeat center;
  background-size: contain;
}

/* ------------------------------------------------

    4. Стили для выпадающего списка с городами

------------------------------------------------ */
.map-city-list {
  margin-top: 10px;
}

.map-city-list .nice-select .list {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border-top: 3px solid #e72d2b;
  margin-top: 0px;
}

.map-city-list .nice-select .list li {
  color: #0b0c16;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  position: relative;
}

.map-city-list .nice-select:after {
  border-bottom: 2px solid #e72d2b;
  border-right: 2px solid #e72d2b;
  content: "";
  display: block;
  height: 8px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;

  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 8px;
}

.map-city-list .nice-select .option:hover,
.map-city-list .nice-select .option.focus,
.map-city-list .nice-select .option.selected.focus {
  background-color: #eef2f1;
  color: #1c2b39;
  height: 50px;
  line-height: 50px;
  padding-left: 50px;
}

.map-city-list .nice-select .option::before {
  content: "";
  position: absolute;
  top: calc(50% - 4px);
  opacity: 0;
  left: 20px;
  -webkit-transition: all 0.3s ease-in-out;
}

.map-city-list .nice-select .option.selected.focus::before,
.map-city-list .nice-select .option:hover::before {
  content: "";
  position: absolute;
  left: 30px;
  -webkit-transform-origin: 45% 45%;
  -ms-transform-origin: 45% 45%;
  transform-origin: 45% 45%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  border-right: 2px solid #e72d2b;
  border-top: 2px solid #e72d2b;
  height: 8px;
  width: 8px;
  opacity: 1;
}

/* ------------------------------------------------

    5. Стили для заголовков табов

------------------------------------------------ */
#map-info-navs {
  margin-top: 5px;
}

#map-info-navs.contact-map-tabs ul {
  text-align: left;
  border-bottom: 0px;
}

#map-info-navs.contact-map-tabs ul li a {
  border: 0px;
  font-size: 24px;
  color: #73808a;
  border-bottom: 2px solid #73808a;
}

#map-info-navs.contact-map-tabs ul li a.active {
  border: 0px;
  font-size: 24px;
  color: #1c2b39;
  border-bottom: 2px solid #e72d2b;
}

#map-info .tab-content {
  padding: 15px 0 0;
}

/* ------------------------------------------------

    6. Стили для блоков аккардеонов в списке адресов

------------------------------------------------ */

#map-info-list .card {
  margin-bottom: 20px;
  box-shadow: 0px;
  border: 0px;
}

#map-info-list .card .card-header {
  background: transparent;
  padding: 0px;
  border: 0px;
}

#map-info-list .card-title {
  margin-bottom: 0px;
}

#map-info-list .card .card-header a {
  border: 0px;
  color: #e72d2b;
  font-size: 24px;
  border-bottom: 1px solid #e72d2b;
  display: block;

  transition: all 0.3s;
  position: relative;
  font-weight: normal;
}

#map-info-list .card .card-header a.collapsed:after {
  border-bottom: 2px solid #1c2b39;
  border-right: 2px solid #1c2b39;
  content: "";
  display: block;
  height: 15px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 15px;
  transform: rotate(45deg);
}

#map-info-list .card .card-header a::after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border-bottom: 2px solid #e72d2b;
  border-right: 2px solid #e72d2b;
  content: "";
  display: block;
  height: 15px;
  margin-top: -6px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 15px;
}

#map-info-list .card .card-header a.collapsed {
  border: 0px;
  color: #73808a;
  font-size: 24px;
  border-bottom: 1px solid #73808a;
  display: block;
  transition: all 0.3s;
  position: relative;
  font-weight: normal;
}

#map-info-list .map-info-list-item-title {
  margin-bottom: 20px;
}

#map-info-list .map-info-list-item-title a {
  font-size: 24px;
  color: #e72d2b;
  line-height: 32px;
  font-weight: bold;
}

.map-info-list-item-row {
  margin-bottom: 20px;
}

#map-info-list .map-info-list-item-addres a {
  color: #1c2b39;
  line-height: 32px;
}

#map-info-list .map-info-list-item-addres a:hover {
  font-size: 24px;
  color: #a1abb3;
  line-height: 32px;
}

#map-info-list .map-info-list-item-tel {
  padding-left: 30px;
  position: relative;
  text-align: center;
}

#map-info-list .map-info-list-item-tel::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 16px;
  height: 16px;
  background: url(../contact-icons/call.png);
  background-size: 16px;
  background-repeat: no-repeat;
}

#map-info-list .map-info-list-item-tel a {
  width: 100%;
  color: #1c2b39;
  line-height: 32px;
  display: block;
}

#map-info-list .map-info-list-item-work-time {
  padding-left: 30px;
  width: 100%;
  color: #1c2b39;
  line-height: 32px;
  display: block;
  position: relative;
}

#map-info-list .map-info-list-item-work-time::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0px;
  width: 16px;
  height: 16px;
  background: url(../contact-icons/time.png);
  background-size: 16px;
  background-repeat: no-repeat;
}

#map-info-list .map-info-list-item-cat {
  color: #73808a;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

@media (max-width: 575.98px) {
  .map-params-list-line {
    flex-direction: column-reverse;
  }
  
  .map-params-list-line-clinics {
    margin: 25px 0px;
  }

  .mtn > li {
    display: flex;
    flex-direction: column;
  }

  body {
    font-size: 16px;
  }

  p {
    font-size: 16px !important;
    line-height: 22px !important;
  }

  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3,
  h4 {
    font-size: 18px !important;
    line-height: 26px !important;
  }
}

@media (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 991.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h2,
  h3,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}

@media (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  label,
  button {
    font-size: 18px !important;
    line-height: 26px !important;
  }
  h2,
  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  h3 {
    font-size: 34px !important;
    line-height: 40px !important;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 24px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px !important;
    line-height: 120px !important;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px !important;
    line-height: 48px !important;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 530px) {
  .snm {
    margin: 0 !important;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}
