@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {
    #vrz-steps .vrz-blck {
        margin: 80px 0px 20px;
        padding: 0 10px 20px;
    }
}


@media (max-width: 1199.98px) {}

@media (max-width: 575.98px) {

    #vrz-steps form .vrz-blck-info label {
        margin-top: 10px;
        font-size: 15px;
    }

    #vrz-steps form .vrz-blck-info .w-20,
    #vrz-steps form .vrz-blck-info .w-75 {
        width: 100% !important;
        margin-bottom: 5px !important;
    }

    #vrz-steps form input.mr-l-5 {
        margin-left: 0% !important;
    }

}
