.background-form {
  background-color: #F5F7FD;
  
  .row {
    justify-content: center;  
  }
}

h3,
h4 {
  margin: 30px 0;
  font-weight: 900;
}

.oferta-conditions {
  font-weight: 900;
  display: flex;
  align-items: center;

  img {
    margin-right: 10px;
  }
}