@media (max-width: 767.99px) {
    #insurance_case_wrap .product-horizontal .product-body {
        padding: 20px 20px;
    }

    #insurance_case_wrap .product-horizontal .product-body .product-title {
        min-height: 20px;
        height: auto;
        line-height: 26px;
    }

    #isotope-acc .card-corporate .card-title a {
    	font-size: 18px;
    	line-height: 19px;
    }


    #isotope-acc .card-body{
    	font-size: 18px;
    	line-height: 19px;
    }

    #isotope-acc .card-body ol li {
    	font-size: 18px;
    	line-height: 19px;
    }
}

@media (max-width: 991px) {


    #insurance_case_wrap .thumbnail-rayen {
        display: block !important;
        opacity: 1 !important;
        min-height: 260px;
    }

    #insurance_case_wrap h3 {
        color: #495966;
        font-size: 32px;
        font-weight: 900;

    }

}

@media (min-width: 1002px) and (max-width:1799.99px) {
    #insurance_case_wrap .isotope-wrap.isotope-wrap-vertical-border-left .isotope:before {
        left: -30px;
        top: 0;
        height: 100%;
    }
}

@media (min-width: 1800px) {
    #insurance_case_wrap .isotope-filters.isotope-filters-vertical {
        width: 100%;
        right: 6px;
    }
}

@media (max-width: 1199.99px) {

    #insurance_case_wrap .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) .isotope-filters-list {
        display: none !important;
        position: absolute !important;
        top: 100%;
        left: 50% !important;
        transform: translateX(-50%) !important;
        padding: 5px 0 !important;
        margin: 5px 0;
        z-index: 10;
        float: left !important;
        min-width: 130px;
        font-size: 16px;
        text-align: left;
        background-color: #fff !important;
        border-radius: 5px !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    }

    #insurance_case_wrap .isotope-filters-horizontal:not(.isotope-filter-collapse-lg) .isotope-filters-toggle,
    #insurance_case_wrap .isotope-filters-vertical:not(.isotope-filter-collapse-lg) .isotope-filters-toggle {
        display: block !important;
        width: 100%;
        text-align: left;
    }

    #insurance_case_wrap .isotope-filters-vertical {
    	justify-content: space-between;
    	align-items: center;
    }

    html .page .offset-top-20 {
    	margin-top: 0;
    }




    #insurance_case_wrap .isotope-filters-list {
        display: none !important;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 0;
        margin: 5px 0;
        z-index: 10;
        float: left;
        min-width: 130px;
        font-size: 16px;
        text-align: left;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    }

    #insurance_case_wrap .isotope-filters-list.active {
        display: block !important;
        width: 100%;
    }

    #insurance_case_wrap .isotope-filters-list > li > a {
        font-size: 18px;
        line-height: 24px;
    }

    #insurance_case_wrap .isotope-filters-list > li > a.active {
        color: #73808a;
        background-color: #b6b6b6;
    }

    .isotope-filters-vertical:not(.isotope-filter-collapse-lg) .isotope-filters-list > li + li {
        margin-left: 0px;
    }

    #insurance_case_wrap .isotope-filters-list > li {
        width: 100%;
    }

    #insurance_case_wrap .isotope-filters-list > li > a {
        width: 100%;
        padding: 5px 20px;
    }

    #insurance_case_wrap .isotope-filters-list > li > a::after {
        content: none;
    }
}

 #incurance_case_wrap .isotope-wrap .isotope-wrap-vertical-border-left .isotope:before {
    	height: 100% !important;
    	top: 0;
    }

@media (min-width: 1200px) {
    #insurance_case_wrap .isotope-filters.isotope-filters-vertical .col-10.col-xl-12 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 5px;
    }


}
