/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 18px;
  }

  button,
  label,
  p {
    font-size: 18px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 32px !important;
    line-height: 40px !important;
  }
}

@media (max-width: 500px) {
  .snm {
    margin: 0 !important;
  }
  .isotope-filters.isotope-filters-vertical.d-flex.d-xl-block {
    flex-direction: column;
  }
  .isotope-filters.isotope-filters-vertical.d-flex.d-xl-block > *:first-child {
    margin-bottom: 10px;
  }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

#insurance_case_wrap {
  padding: 60px 0;
}

#insurance_case_wrap h3 {
  color: #495966;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 60px;
}

#insurance_case_wrap .isotope {
  padding-top: 1px;
}

#insurance_case_wrap .isotope-back-btn {
  text-align: left;
  padding: 0 30px;
}

#insurance_case_wrap .isotope-filters-list > li > a {
  white-space: normal !important;
  color: #73808a;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

#insurance_case_wrap .isotope-filters-list > li > a.active {
  color: #e72d2b;
}

#insurance_case_wrap .isotope-filters.isotope-filters-vertical .isotope-filters-list > li > a:after {
  background: transparent;
}

#insurance_case_wrap .isotope-filters.isotope-filters-vertical .isotope-filters-list > li > a.active:after {
  width: 3px;
  background: #e72d2b;
  right: -3px;
}

#insurance_case_wrap .isotope-wrap.isotope-wrap-vertical-border-left .isotope:before {
  width: 3px;
  height: calc(100% + 25px) !important;
  background-color: #dddddd;
  top: -23px !important;
}

#insurance_case_wrap .isotope-filters-vertical,
#insurance_case_wrap .isotope-filters-vertical .section-relative {
  width: 100%;
}

#insurance_case_wrap .insurance_btn {
  border: 0px;
  cursor: pointer;
  color: #495966;
  font-size: 18px;
  font-weight: 400;
  background: transparent;
}

#insurance_case_wrap .insurance_btn svg {
  margin-right: 20px;
  width: 36px;
  height: 35px;
  transition: all 0.3s;
  fill: #a1abb3;
}

#insurance_case_wrap .insurance_btn:hover svg path {
  fill: #e72d2b;
  transition: all 0.3s;
}

#isotope-acc .card-corporate .card-title a {
  padding: 15px 82px 15px 23px;
  color: #ffffff;
  font-weight: 600;
  line-height: 28px;
  border-radius: 10px;
  background-color: #e72d2b;
  border: 0px;
  overflow: hidden;
}

#isotope-acc .card-corporate .card-body {
  border: 0px;
  padding: 15px 44px 15px 23px;
}

#isotope-acc .card-corporate .collapse {
  border: 0px;
}

#isotope-acc .card-corporate {
  box-shadow: none;
}

#isotope-acc .card-corporate .card-plus {
  background: #e72d2b;
  border-radius: 10px;
  border: 0px;
  position: absolute;
  top: 0;
  bottom: -1px;
  right: -1px;
  z-index: 2;
  width: 70px;
}

#isotope-acc .card-corporate .card-title a .card-plus:after {
  opacity: 1;
  visibility: visible;
}

#isotope-acc .card-corporate .card-plus::after,
#isotope-acc .card-corporate .card-plus::before {
  transition: all 1s;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 4;
  background: #fff;
}

#isotope-acc .card-corporate .card-plus::before {
  width: 20px;
  height: 2px;
  right: 28px;
}

#isotope-acc .card-corporate .card-plus::after {
  width: 20px;
  height: 2px;
  right: 28px;
}

#isotope-acc .card-corporate .card-plus::after {
  transition: all 1s;
}

#isotope-acc .card-corporate .collapsed .card-plus::after {
  transform: rotate(270deg);
  transition: all 1s;
}

#isotope-acc .card-corporate .collapsed .card-plus::before {
  transform: rotate(180deg);
  transition: all 1s;
}

#isotope-acc .card-body {
  color: #1c2b39;
  font-weight: 400;
}

[data-isotope-layout] .row {
  margin-top: 0;
  margin-bottom: 0;
}

#isotope-acc .card-body p {
  margin-bottom: 25px;
}

#isotope-acc .card-body a {
  display: inline-block;
  color: #e72d2b;

  text-decoration: underline;
}

#isotope-acc .card-body ul li,
#isotope-acc .card-body ol li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 15px;
}

#isotope-acc .card-body ol li {
  padding-left: 30px;
}

#isotope-acc .card-body ol {
  counter-reset: section;
}

#isotope-acc .card-body ul li::before {
  content: "•";
  color: #e72d2b;
  font-size: 35px;
  line-height: 35px;
  left: 0px;
  top: -3px;
  position: absolute;
}

@media (max-width: 990px) {
  #isotope-acc .card-body ul li::before {
    top: -6px;
  }
}

#isotope-acc .card-body ol > li::before {
  counter-increment: section;
  content: counters(section, ".");
  color: #fff;
  font-size: 16px;
  left: 0px;
  line-height: 22px;
  width: 24px;
  top: 5px;

  height: 24px;
  border-radius: 50%;
  background: #e72d2b;
  position: absolute;
  text-align: center;
}

#isotope-acc .card-body ol li ul {
  margin-top: 10px;
}

#insurance_case_wrap .isotope .isotope-item {
  overflow: hidden;
}

#insurance_case_wrap .isotope-acc-contacts .contacts-icon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  float: left;
}

#insurance_case_wrap .isotope-acc-contacts .contacts-text {
  display: inline-block;
  padding-top: 3px;
}

#insurance_case_wrap .isotope-acc-contacts .contacts-text p {
  margin-bottom: 10px;
}

#insurance_case_wrap .isotope-acc-contacts .contacts-text p.color-text {
  color: #00a5b8;
  font-size: 40px;
  font-weight: bold;
}

#insurance_case_wrap .isotope-acc-contacts .contacts-text p.sub-text {
  font-size: 18px;
}

#insurance_case_wrap .isotope-acc-contacts .contacts-item {
  margin-bottom: 20px;
  display: flex;
}

#insurance_case_wrap .card-body .popover-link {
  cursor: pointer;
}

#insurance_case_wrap .card-body .popover-link img {
  margin-top: -15px;
}
