@media (max-width: 1199px) {
    .diagram-branch-title,
    .diagram-branch-info {
        font-size: 15px;
    }
}

@media (max-width: 1020px) {
    .diagram {
        display: flex;
        flex-direction: row;
    }
    .diagram-container {
        padding: 0 40px 0 0;
        flex-direction: column;
        justify-content: space-between;
        border-right: var(--border);
        border-bottom: none;
    }
    .diagram-container:last-of-type {
        padding: 0 0 0 70px;
        justify-content: center;
        border: none;
    }
    .diagram-container:last-of-type {
        height: fit-content;
        margin: auto;
    }
    .diagram-branch {
        max-width: unset;
        font-size: 18px;
    }
    .diagram-branch-title,
    .diagram-branch-info {
        font-size: 15px;
    }
    .diagram-container .diagram-branch {
        width: unset;
        margin-bottom: 60px;
    }
    .diagram-container .diagram-branch:last-of-type {
        margin-bottom: 0px;
    }
    .diagram-container:last-of-type .diagram-branch {
        width: unset;
    }
    .diagram-container:first-of-type .diagram-branch:before {
        left: auto;
        right: -20px;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .diagram-container:first-of-type .diagram-branch:first-of-type:before {
        left: auto;
    }
    .diagram-container:first-of-type .diagram-branch:after {
        width: 20px;
        right: -43px;
        height: unset;
        left: auto;
        top: 0%;
        bottom: 50%;
        border-left: none;
        border-bottom: var(--border);
    }
    .diagram-container:first-of-type .diagram-branch:first-of-type:after {
        border-right: var(--border-none);
    }
    .diagram-container:first-of-type .diagram-branch:last-of-type:after {
        border-right: var(--border-none);
        bottom: 0;
        top: 50%;
        border-top: var(--border);
        border-bottom: none;
    }
    .diagram-container:last-of-type .diagram-branch:before {
        top: 0;
        bottom: 0;
        left: -23px;
        margin: auto;
        transform: translate(-40%, 2px);
    }
    .diagram-container .diagram-branch:only-of-type::after {
        border-top: var(--border);
        border-left: none;
        height: 50%;
        top: 50%;
        left: -73px;
        width: 45px;
    }
}

@media (max-width: 768px) {
    .diagram {
        flex-direction: column;
        border-right: var(--border);
    }
    .diagram-container:first-of-type {
        width: 90%;
    }
    .diagram-container:first-of-type:after {
        content: '';
        height: 30%;
        width: 10%;
        position: absolute;
        border-bottom: var(--border);
        border-right: var(--border-none);
        top: 0;
        right: -3px;
    }
    .diagram-container:last-of-type {
        margin-top: 30px;
        padding: 0 70px 0 0;
    }
    .diagram-container:last-of-type .diagram-branch:before {
        top: 0;
        bottom: 0;
        left: auto;
        right: -23px;
        /* margin: auto; */
        transform: translate(40%, 2px);
    }
    .diagram-container .diagram-branch:only-of-type::after {
        height: 50%;
        width: 45px;
        top: 50%;
        left: auto;
        right: -73px;
        border-top: var(--border);
        border-left: none;
        border-right: var(--border-none);
    }
}

@media (max-width: 480px) {
    .diagram {
        width: 100%;
    }
    .diagram-container .diagram-branch {
        padding: 15px 20px;
        margin-bottom: 10px;
    }
    .diagram-branch-title,
    .diagram-branch-info {
        font-size: 16px;
    }
}