:root {
    --lightgray: #73808a;
    --border: 3px dashed var(--lightgray);
    --border-none: 5px solid white;
}

.diagram {
    width: 90%;
    position: relative;
    margin: 0 auto;
}

.diagram-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    padding: 70px 0;
}


.diagram-container {
    justify-content: space-between;
    border-bottom: var(--border);
}

.diagram-container:last-of-type {
    padding: 40px 0;
    border-bottom: none;
}

.diagram-container .diagram-branch::after {
    content: '';
    position: absolute;
    bottom: -73px;
    border-left: var(--border);
    width: 50%;
    height: 55px;
}

.diagram-container .diagram-branch:first-of-type::after {
    border-left: none;
    border-right: var(--border);
    border-bottom: var(--border-none);
    left: 0;
}

.diagram-container:first-of-type .diagram-branch:before {
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    bottom: -20px;
    background-color: var(--lightgray);
    border-radius: 100%;
    left: 50%;
    margin-left: -4px;
}

.diagram-container:first-of-type .diagram-branch:first-of-type:before {
    left: 50%;
    margin-left: -6px;
}

.diagram-container:last-of-type .diagram-branch:before {
    content: '';
    position: absolute;
    height: 19px;
    width: 19px;
    top: -23px;
    background-color: var(--lightgray);
    border-radius: 100%;
    transform: translateX(-40%);
}

.diagram-container .diagram-branch:last-of-type::after {
    border-left: var(--border);
    border-bottom: var(--border-none);
}

.diagram-container .diagram-branch:only-of-type::after {
    content: '';
    position: absolute;
    top: -45px;
    border-left: var(--border);
    width: 50%;
    left: 50%;
    height: 25px;
    border-right: none;
    border-bottom: none;
}

.diagram-container:last-of-type {
    justify-content: center;
}

.diagram-container .diagram-branch {
    width: 440px;
}

.diagram-container:last-of-type .diagram-branch {
    width: 650px;
}

.diagram-branch {
    max-width: 30%;
    height: fit-content;
    border-radius: 10px;
    background: #e72d2b;
    padding: 25px 35px;
    text-align: center;
    position: relative;
}

.diagram-branch-title {
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
    font-size: 24px;
}

.diagram-branch-info {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}