/* TYPOGRAPHY  */
@media (max-width: 575.98px) {
  body {
    font-size: 16px;
  }

  button,
  label,
  p {
    font-size: 16px;
    line-height: 24px;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    font-size: 18px;
    line-height: 24px;
  }
  h4 {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 18px;
  }
  button,
  label,
  p {
    font-size: 18px;
    line-height: 26px;
  }

  h2 {
    font-size: 24px;
    line-height: 40px;
  }
  h3,
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  body {
    font-size: 18px;
  }

  p,
  label,
  button {
    font-size: 18px;
    line-height: 26px;
  }

  li {
    font-size: 18px;
    line-height: 26px;
  }

  h1 {
    line-height: 120;
  }

  h3 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    line-height: 45px;
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 18px;
  }

  label,
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  button {
    font-size: 24px !important;
    line-height: 26px !important;
  }
  h1 {
    font-size: 64px;
    line-height: 120px;
  }
  h2 {
    font-size: 40px;
    line-height: 45px;
  }
  h4,
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

@media (min-width: 1200px) {
  button {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  body {
    font-size: 18px;
  }

  label {
    font-size: 18px !important;
    line-height: 26px !important;
  }

  h1 {
    font-size: 64px;
    line-height: 90px;
  }

  h2 {
    text-transform: uppercase;
    font-size: 40px;
    line-height: 48px;
  }

  h3 {
    text-transform: uppercase;
    font-size: 32px !important;
    line-height: 40px !important;
  }

  h4 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
}


@media (max-width: 530px) {
    .snm {
        margin: 0!important;
    }
}

.main-bg {
  background-color: var(--main-color) !important;
}

.main-color {
  color: var(--main-color) !important;
}

.center-text {
  text-align: center;
}

.breadcrumbs > li > a,
.breadcrumbs > li > a:first-child {
  color: #b6b6b6 !important;
  font-size: 18px;
}

.breadcrumbs li:last-child a {
  color: red !important;
}

.attention-info {
  margin-bottom: 70px;
  margin-top: 40px;
}

.attention-info .attention-text {
  margin-left: 40px;
}

.attention-info .attention-text .title {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--main-color);
}

.full-bg-grey .container-wide .bg-grey-title {
  color: var(--main-color);
}

#page-content .page-info-title::before,
#page-content.style-turquoise .page-info-title::before {
  background-color: var(--main-color);
}



.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt80 {
  margin-top: 80px;
}

.top-phone-number {
  background: url("../images/phone.png") no-repeat 10px 10px;
}

.top-address-company {
  background: url("../images/placeholder.png") no-repeat 10px 10px;
}

.lang_selector {
  height: 35px;
}

div.lang_selector span.current_lang {
  color: #495966;
  font-size: 13px;
  background: url("../images/hover_lang.png") no-repeat 0 0;
  background-size: 21px;
  padding: 3px;
}

div.lang_selector a.lang_to_choose {
  color: #495966;
  font-size: 14px;
}

.swiper-aside-right span.sprite img {
  width: 50px;
  height: 50px;
}

.list-inline-dash-info span {
  font-size: 18px;
  color: #1c2b39;
  margin-top: 10px;
  font-weight: 900;
}

.main-title-block {
  color: #1c2b39;
}

.list-inline-dashed-lg div {
  margin-right: 2%;
}

.contacts-google-maps {
  width: 100%;
  text-align: center;
}

.contacts-sortable-filter {
  list-style: none;
}

.contacts-sortable-filter li {
  float: left;
  width: 20%;
}

.main-products .align-items-sm-center {
  width: 120%;
  margin-left: 7%;
}

.calc_sum .btn-primary {
  border-radius: 30px;
}

.text-up {
  text-transform: uppercase;
}

.module-category-text h3 {
  color: #495966;
}

.payment-sum {
  background-color: white;
  border: 2px;
  border-color: #068598;
  border-radius: 28px;
}

/*.payment-sum-active {*/
/*background-color: #068598;*/
/*font-size: 24px;*/
/*color: white;*/
/*}*/

.osago-info-block {
  background-color: #edf2f1;
}

.osago-icon-block {
  position: absolute;
  top: -2%;
  left: 10%;
  display: block;
  width: 50px;
  height: 50px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 0;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.osago-icon-info-block {
  position: absolute;
  top: -2%;
  left: 10%;
  display: block;
  width: 50px;
  height: 50px;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /*-webkit-border-radius: 99em;*/
  /*-moz-border-radius: 99em;*/
  /*border-radius: 99em;*/
  /*border: 0;*/
  /*box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);*/
}

.osago-heda-info-block {
  font-size: 20px;
  font-weight: bold;
}

label {
  margin-left: 5%;
  margin-bottom: 0;
}

/*.section-image-aside img {*/
/*width: 100%;*/
/*}*/
.personal-face {
  width: 100%;
}

.pagination {
  margin-top: 3%;
}

.pagination li {
  background-color: #b6b6b6;
  width: 45px;
  height: 45px;
  padding: 4px 2px;
  border-radius: 50px;
  font-size: 18pt;
  margin: 2px;
}

.pagination li a {
  color: white;
}

.pagination li a:hover {
  color: white !important;
}

.pagination li.active {
  background-color: #e72d2b;
  width: 45px;
  height: 45px;
  padding: 4px 2px;
  border-radius: 50px;
  font-size: 18pt;
  margin: 2px;
}

.pagination .previous .disabled {
  color: #a1abb3;
}

.pagination .previous {
  color: #a1abb3;
}

.page .text-bermuda,
.text-fountain-blue {
  color: #e72d2b !important;
}

.page a.text-fountain-blue,
.page a.text-fountain-blue {
  color: #e72d2b !important;
}

.btn {
  border-radius: 50px;
}

.container-wide-custom h3 {
  text-transform: uppercase;
}

.error {
  margin-left: 5%;
  color: red;
}

/*ul.list {*/
/*text-align: left !important;*/
/*}*/

.news-text-bermuda {
  font-style: initial !important;
}

.section-mb-50 {
  margin-bottom: 50px !important;
}

.section-mb-mt-50 {
  margin-bottom: 50px !important;
  margin-top: 50px !important;
}

.news-btn {
  border-radius: 50px;
  background-color: #e72d2b !important;
  border-color: #e72d2b !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
}

.page .page-footer a.text-bermuda:hover,
.page-footer .page a.text-bermuda:focus {
  color: #e72d2b !important;
}

.contact-info {
  font-size: 24px !important;
}

.contact-info-bottom {
  font-size: 16px !important;
}

/*btn red*/
.btn-red-no-hover {
  border-radius: 50px;
  background-color: #e72d2b !important;
  border-color: #e72d2b !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: white !important;
}

.btn-red-no-hover:focus,
.btn-red-no-hover:hover {
  border-radius: 50px;
  background-color: #e72d2b !important;
  border-color: #e72d2b !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: white;
}

.btn-red-inverse {
  border-radius: 50px;
  background-color: white !important;
  border-color: #e72d2b !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: #e72d2b !important;
}

.btn-red-inverse:focus,
.btn-red-inverse:hover {
  border-radius: 50px;
  background-color: white !important;
  border-color: #e72d2b !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: #e72d2b !important;
}

/*btn red*/
/*btn yellow*/
.btn-yellow-no-hover {
  border-radius: 50px;
  background-color: #fdb515 !important;
  border-color: #fdb515 !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: white !important;
}

.btn-yellow-no-hover:focus,
.btn-yellow-no-hover:hover {
  border-radius: 50px;
  background-color: #fdb515 !important;
  border-color: #fdb515 !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: white !important;
}

.btn-yellow-inverse {
  border-radius: 50px;
  background-color: white !important;
  border-color: #fdb515 !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: #fdb515 !important;
}

.btn-yellow-inverse:focus,
.btn-yellow-inverse:hover {
  border-radius: 50px;
  background-color: white !important;
  border-color: #fdb515 !important;
  font-size: 16px !important;
  height: 45px !important;
  padding-top: 8px !important;
  color: #fdb515 !important;
}

/*btn yellow*/

.page-footer .list-marked li {
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

.list > li + li {
  /*margin: 0 10px 0 0;*/
}

.nav-first-item {
  font-weight: bold;
  color: black;
  padding: 15px 30px;
}

.rd-navbar-static .rd-navbar-megamenu,
.rd-navbar-fullwidth .rd-navbar-megamenu {
  left: 0;
  width: 100%;
}

.rd-navbar-static .rd-navbar-megamenu li a,
.rd-navbar-fullwidth .rd-navbar-megamenu li a {
  color: #a1abb3;
}

.rd-navbar-static .rd-navbar-megamenu li a:hover,
.rd-navbar-fullwidth .rd-navbar-megamenu li a:hover {
  color: #e72d2b !important;
}

.rd-navbar--has-megamenu a:hover {
  color: #1c2b39;
}

.pdf-file {
  padding: 1px 1px 1px 25px;
  background: url("../images/pdf_yellow.png") no-repeat left center;
}

.pdf-file-ks {
  padding: 1px 1px 1px 25px;
  background: url("../images/pdf_ks.png") no-repeat left center;
}

a.vzr-offer:active,
a.vzr-offer:visited {
  color: #7d7d7d;
}

.vzr-daysButton {
  color: #fdb515;
  font-size: 20px;
  width: 100px;
  height: 55px;
  border: 1px solid #fdb515;
  background-color: #fff;
  margin-left: 5%;
  padding: 12px;
  border-radius: 50px;
  float: left;
  cursor: pointer;
  font-weight: bold;
}

/*.vzr-daysButton:hover, .vzr-daysButton:focus {*/
/*width: 54px;*/
/*height: 54px;*/
/*border: 1px solid #a1abb3;*/
/*background-color: #fff;*/
/*margin-left: 5%;*/
/*padding: 15px;*/
/*border-radius: 5px;*/
/*float: left;*/
/*font-weight: bold;*/
/*cursor: pointer;*/
/*}*/

#travelTypeMulti div.active {
  border: 1px solid #fdb515;
  background-color: #fdb515;
  color: #ffffff;
  font-weight: bold;
}

/* search styles */

.rd-navbar-fullwidth .rd-navbar-inner .rd-navbar-nav-wrap, .rd-navbar-static .rd-navbar-inner .rd-navbar-nav-wrap {
  margin-right: 0 !important;
}
